<app-toolbar [title]="$title|async|translate"
             color="primary"
             [canGoBack]="false">

  <ion-buttons slot="end">

    <ng-container *ngIf="!selection.hasValue(); else hasSelection">

      <!-- Add -->
      <button mat-icon-button
              *ngIf="canEdit && !mobile"
              [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Refresh -->
      <button mat-icon-button *ngIf="!mobile"
              [title]="'COMMON.BTN_REFRESH'|translate"
              (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- reset filter -->
      <button mat-icon-button (click)="resetFilter()"
              *ngIf="filterCriteriaCount">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <button mat-icon-button (click)="filterExpansionPanel.toggle()">
        <mat-icon *ngIf="filterCriteriaCount; else emptyFilter"
                  [matBadge]="filterCriteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>

      <button mat-icon-button
              [title]="'COMMON.BTN_OPTIONS'|translate"
              [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container>

    <!-- if row selection -->
    <ng-template #hasSelection>

      <!-- terminate and synchronize -->
      <ion-button *ngIf="hasDirtySelection; else synchronizeButton"
                  expand="block"
                  [color]="offline ? 'danger100' : 'danger'"
                  (click)="terminateAndSynchronizeSelection()">
        <ion-text translate>QUALITY.BTN_TERMINATE_AND_SYNCHRONIZE</ion-text>
      </ion-button>

      <!-- synchronize -->
      <ng-template #synchronizeButton>
        <ion-button *ngIf="hasReadyToSyncSelection"
                    expand="block"
                    [color]="offline ? 'danger100' : 'danger'"
                    (click)="synchronizeSelection()">
          <ion-text translate>QUALITY.BTN_SYNCHRONIZE</ion-text>
        </ion-button>
      </ng-template>

      <!-- delete -->
      <button mat-icon-button class="hidden-xs hidden-sm"
              *ngIf="canDelete  && canUserCancelOrDelete"
              [title]="'COMMON.BTN_DELETE'|translate"
              (click)="deleteSelection($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

  </ion-buttons>
</app-toolbar>

<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- Update offline mode -->
  <button mat-menu-item
          *ngIf="hasOfflineMode"
          (click)="prepareOfflineMode($event)">
    <mat-icon><ion-icon name="cloud-download"></ion-icon></mat-icon>
    <ion-label translate>NETWORK.BTN_UPDATE_OFFLINE_MODE</ion-label>
  </button>

  <!-- Init offline mode -->
  <button mat-menu-item
          *ngIf="!hasOfflineMode"
          (click)="prepareOfflineMode($event)">
    <mat-icon>cloud_off</mat-icon>
    <ion-label translate>NETWORK.BTN_INIT_OFFLINE_MODE</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- trash
  <button mat-menu-item
          *ngIf="isAdmin || synchronizationStatus !== 'SYNC'"
          (click)="openTrashModal($event)">
    <mat-icon>delete_sweep</mat-icon>
    <ion-label translate>COMMON.BTN_SHOW_TRASH_DOTS</ion-label>
  </button> -->

  <!-- Force offline (DEV ONLY) -->
  <button mat-menu-item *ngIf="debug && !offline"
          (click)="toggleOfflineMode($event)">
    <mat-icon>signal_wifi_off</mat-icon>
    <ion-label translate>SETTINGS.OFFLINE_MODE</ion-label>
  </button>

</mat-menu>

<ion-content class="ion-no-padding"scroll-y="false"
             (swiperight)="onSwipeTab($event)"
             (swipeleft)="onSwipeTab($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="mobile">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Network status (+ Install and upgrade link)  -->
  <app-install-upgrade-card
    [isLogin]="isLogin"
    showInstallButton="false"
    showUpgradeWarning="true"
    showOfflineWarning="false"
    [showUpdateOfflineFeature]="showUpdateOfflineFeature"
    (onUpdateOfflineModeClick)="prepareOfflineMode($event, {toggleToOfflineMode: false, showToast: false})">
  </app-install-upgrade-card>

  <!-- error -->
  <ion-item *ngIf="errorSubject|async ; let error" lines="none" @slideUpDownAnimation>
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel
                       class="filter-panel"
                       [class.filter-panel-floating]="filterPanelFloating">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

      <ion-grid>
        <ion-row *ngIf="showFilterProgram">
          <ion-col>
            <!-- Program -->
            <mat-autocomplete-field
              [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.PROGRAM'|translate"
              formControlName="program"
              [config]="autocompleteFields.program"
              [clearable]="true">
              <ion-icon matPrefix name="contract"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="showFilterLocation">
          <ion-col>
            <!-- Location -->
            <mat-autocomplete-field
              [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.LOCATION'|translate"
              formControlName="location"
              [config]="autocompleteFields.location"
              [clearable]="true">
              <mat-icon matPrefix>room</mat-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>

        <!-- Period criteria -->
        <ion-row *ngIf="showFilterPeriod">
          <ion-col>
            <!-- Start date -->
            <mat-date-field [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.START_DATE'|translate"
                            formControlName="startDate"
                            [clearable]="true">
              <ion-icon matPrefix name="calendar-outline"></ion-icon>
            </mat-date-field>
          </ion-col>

          <ion-col>
            <!-- End date -->
            <mat-date-field [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.END_DATE'|translate"
                            formControlName="endDate"
                            [clearable]="true">
            </mat-date-field>
          </ion-col>
        </ion-row>

        <!-- Recorder criteria -->
        <ion-row *ngIf="showRecorder">
          <ion-col>
            <!-- Recorder department -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.RECORDER_DEPARTMENT'|translate"
              formControlName="recorderDepartment"
              [config]="autocompleteFields.department"
              [clearable]="true">
              <ion-icon matPrefix name="business"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>

          <ion-col>
            <!-- Recorder person -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.RECORDER_PERSON'|translate"
              formControlName="recorderPerson"
              [config]="autocompleteFields.person"
              [i18nPrefix]="'USER.'"
              [clearable]="true">
              <ion-icon matPrefix name="person"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="showObservers || showQuality">
          <!-- Observers criteria -->
          <ion-col *ngIf="showObservers">
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.OBSERVERS'|translate"
              [formControl]="filterObserversForm.at(0)"
              [config]="autocompleteFields.observers"
              [i18nPrefix]="'USER.'"
              [clearable]="true">
              <ion-icon matPrefix name="person"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>

          <!-- Data quality status -->
          <ion-col *ngIf="showQuality && filterDataQualityControl; let control">
            <mat-form-field>
              <mat-select [formControl]="control"
                          [placeholder]="'OBSERVED_LOCATION.TABLE.QUALITY'|translate" required>
                <mat-select-trigger>
                  <span *ngIf="statusById | mapGet: control.value; let item">
                    <ion-icon [name]="item.icon"></ion-icon>
                    {{ item.label | translate}}
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let item of statusList" [value]="item.id">
                  <ion-icon [name]="item.icon"></ion-icon>
                  {{ item.label |translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty"
                 [color]="empty && 'danger'"
                 class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (totalRowCount |
              numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- disable floating -->
      <button mat-icon-button color="accent"
              *ngIf="filterPanelFloating"
              (click)="toggleFilterPanelFloating()"
              class="hidden-xs hidden-sm hidden-md"
              [title]="(filterPanelFloating ? 'COMMON.BTN_EXPAND' : 'COMMON.BTN_HIDE') |translate">
        <mat-icon><span style="transform: rotate(90deg);">{{filterPanelFloating ? '&#xbb;' : '&#xab;'}}</span></mat-icon>
      </button>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="closeFilterPanel()"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="filterForm.dirty ? 'tertiary' : 'dark'"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="applyFilterAndClosePanel($event)"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>


  <!-- Tab nav - synchro status-->
  <nav mat-tab-nav-bar
       *ngIf="hasOfflineMode">
    <a mat-tab-link
       [active]="synchronizationStatus==='DIRTY'"
       (click)="setSynchronizationStatus('DIRTY')">
      <mat-icon>cloud_off</mat-icon>&nbsp;
      <mat-label translate>NETWORK.SYNCHRONIZATION_STATUS.DIRTY</mat-label>
    </a>
    <a mat-tab-link [active]="synchronizationStatus==='SYNC'"
       [disabled]="offline"
       (click)="setSynchronizationStatus('SYNC')">
      <mat-icon>cloud_done</mat-icon>&nbsp;
      <ion-text translate>NETWORK.SYNCHRONIZATION_STATUS.SYNC</ion-text>
    </a>
  </nav>

  <!-- progress bar -->
  <ion-list *ngIf="importing" lines="none">
    <ion-list-header>
      <ion-label>{{'NETWORK.INFO.IMPORTATION_PCT_DOTS'|translate: {pct: $importProgression | async} }}</ion-label>
    </ion-list-header>
    <ion-progress-bar [value]="($importProgression | async) / 100"></ion-progress-bar>
  </ion-list>

  <!-- table -->
  <div class="table-container" [class.has-offline-nav]="hasOfflineMode">

    <table mat-table  matSort matSortDisableClear
           [dataSource]="dataSource"
           [matSortActive]="defaultSortBy"
           [matSortDirection]="defaultSortDirection"
           [trackBy]="trackByFn">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [class.cdk-visually-hidden]="!isAdmin">
          <ion-label>#</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!isAdmin">{{ row.currentData.id | mathAbs }}</td>
      </ng-container>

      <!-- Quality Column -->
      <ng-container matColumnDef="quality">
        <th mat-header-cell *matHeaderCellDef><!-- FIXME pas triable pour l'instant -->
          <ion-label translate>OBSERVED_LOCATION.TABLE.QUALITY</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <app-entity-quality-icon [value]="row.currentData"></app-entity-quality-icon>
        </td>
      </ng-container>

      <!-- Program Column -->
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>OBSERVED_LOCATION.TABLE.PROGRAM</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-label>{{row.currentData.program | referentialToString: ['label'] }}</ion-label>
        </td>
      </ng-container>

      <!-- location -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>OBSERVED_LOCATION.TABLE.LOCATION</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-label>{{row.currentData.location | referentialToString: autocompleteFields.location.attributes }}</ion-label>
        </td>
      </ng-container>

      <!-- date time  -->
      <ng-container matColumnDef="startDateTime" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
          <ion-label translate>OBSERVED_LOCATION.TABLE.START_DATE_TIME</ion-label>
        </th>
        <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
          <ion-text>{{ row.currentData.startDateTime|dateFormat:{time: true} }}</ion-text>
        </td>
      </ng-container>

      <!-- Observers -->
      <ng-container matColumnDef="observers">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>OBSERVED_LOCATION.TABLE.OBSERVERS</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-text>{{ row.currentData.observers | personToString }}</ion-text>
        </td>
      </ng-container>

      <!-- Recorder -->
      <ng-container matColumnDef="recorderPerson">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>OBSERVED_LOCATION.TABLE.RECORDER_PERSON</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-text>
            <ng-container *ngIf="row.currentData.recorderPerson; let recorderPerson; else recorderDepartment">
              {{ recorderPerson | personToString }}
            </ng-container>
            <ng-template #recorderDepartment>
              {{ row.currentData.recorderDepartment?.label }}
            </ng-template>
          </ion-text>
        </td>
      </ng-container>

      <!-- Comments column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon color="primary" class="comment"
                    *ngIf="row.currentData.comments"
                    [title]="row.currentData.comments"></mat-icon>
        </td>
      </ng-container>

      <!-- Actions buttons column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>

          <!-- display columns -->
          <button mat-icon-button
                  [title]="'COMMON.DISPLAYED_COLUMNS_DOTS'|translate"
                  (click)="openSelectColumnsModal($event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
               class="mat-row-disabled"
               [class.mat-row-selected]="highlightedRow === row"
               (click)="clickRow($event, row)">
      </tr>
    </table>

    <ng-container *ngIf="loadingSubject|async; else noResult">
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ng-container>

    <ng-template #noResult>
      <ion-item *ngIf="totalRowCount === 0">
        <ion-text color="danger"
                  class="text-italic"
                  [innerHTML]="(hasOfflineMode && synchronizationStatus !== 'SYNC' ? 'OBSERVED_LOCATION.TABLE.NO_LOCAL_RESULT' : 'COMMON.NO_RESULT') | translate">
        </ion-text>
      </ion-item>
    </ng-template>
  </div>

</ion-content>

<ion-footer>
  <mat-paginator class="mat-paginator-footer"
                 [length]="totalRowCount" [pageSize]="defaultPageSize"
                 [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>

<!-- Add button -->
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="canEdit && mobile">
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

