<app-toolbar [title]="'OBSERVED_LOCATION.TABLE.TITLE'|translate" color="primary" (onValidate)="save()"
             [hasValidate]="!loading && dirty"
             [canGoBack]="false">
</app-toolbar>


<ion-content no-padding>
  <mat-toolbar>
    <button mat-icon-button *ngIf="canEdit && !selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()"
            class="hidden-xs hidden-sm">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_FILTER'|translate" (click)="filterExpansionPanel.toggle()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-icon-button *ngIf="canDelete && selection.hasValue()" [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection()"
            class="hidden-xs hidden-sm">
      <mat-icon>delete</mat-icon>
    </button>
    <!-- <mat-button-toggle value="edit" [title]="'COMMON.BTN_TABLE_EDIT'|translate" (change)="inlineEdition=inlineEditionBtn.checked"
      class="hidden-xs hidden-sm" [disabled]="dirty" #inlineEditionBtn>
      <mat-icon>edit</mat-icon>
    </mat-button-toggle> -->

    <ion-item *ngIf="error" hidden-xs hidden-sm lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <div class="toolbar-spacer"></div>

    <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel>
    <form class="form-container" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()" padding class="no-padding-xs">

      <!-- Program -->
      <mat-form-field style="min-width: 150px;">
        <input matInput [placeholder]="'TRIP.PROGRAM'|translate" [matAutocomplete]="autoFilterProgram" formControlName="program">
      </mat-form-field>

      <!-- Program combo -->
      <mat-autocomplete autoActiveFirstOption #autoFilterProgram="matAutocomplete" [displayWith]="programToString">
        <ion-row class="mat-autocomplete-header">
          <ion-col size="4" translate>REFERENTIAL.LABEL</ion-col>
          <ion-col translate>REFERENTIAL.NAME</ion-col>
        </ion-row>

        <mat-option *ngFor="let item of programs | async" [value]="item" no-padding>
          <ion-row>
            <ion-col size="4" [innerHTML]="item.label | highlight: {search: filterForm.controls.program.value }"></ion-col>
            <ion-col [innerHTML]="item.name | highlight: {search: filterForm.controls.program.value }" [title]="item.name"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>

      <!-- Start date -->
      <mat-date-time [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.START_DATE'|translate" [formControl]="filterForm.controls.startDate"
                     [displayTime]="false">
      </mat-date-time>

      <!-- End date -->
      <mat-date-time [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.END_DATE'|translate" [formControl]="filterForm.controls.endDate"
                     [displayTime]="false">
      </mat-date-time>

      <!-- Location -->
      <mat-form-field style="min-width: 300px;">
        <input matInput [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.LOCATION'|translate" [matAutocomplete]="autoFilterLocation"
               formControlName="location">
      </mat-form-field>

      <!-- Location combo -->
      <mat-autocomplete autoActiveFirstOption #autoFilterLocation="matAutocomplete" [displayWith]="referentialToString">
        <ion-row class="mat-autocomplete-header">
          <ion-col size="3" translate>REFERENTIAL.LABEL</ion-col>
          <ion-col translate>REFERENTIAL.NAME</ion-col>
        </ion-row>

        <mat-option *ngFor="let item of locations | async" [value]="item" no-padding>
          <ion-row>
            <ion-col size="3" [innerHTML]="item.label | highlight: {search: filterForm.controls.location.value }"></ion-col>
            <ion-col [innerHTML]="item.name | highlight: {search: filterForm.controls.location.value }"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>

      <button mat-raised-button [color]="filterForm.dirty ? 'primary' : undefined" type="submit">{{'COMMON.BTN_SEARCH'|translate}}</button>
    </form>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- table -->
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="startDateTime" matSortDirection="asc"
             matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef [class.hidden]="!canEdit">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row" [class.hidden]="!canEdit">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell  *matHeaderCellDef mat-sort-header [class.hidden]="!isAdmin">
        <span *ngIf="!loading">#</span>
        <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
      </mat-header-cell>
      <mat-cell  *matCellDef="let row" [class.hidden]="!isAdmin">{{ row.currentData.id }}</mat-cell>
    </ng-container>

    <!-- Quality Column -->
    <ng-container matColumnDef="quality">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>OBSERVED_LOCATION.TABLE.QUALITY</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-icon color="secondary" name="create" *ngIf="!row.currentData.controlDate" slot="icon-only" [title]="'QUALITY.MODIFIED'|translate"></ion-icon>
        <ion-icon color="tertiary" name="checkmark" *ngIf="row.currentData.controlDate && !row.currentData.validationDate" slot="icon-only" [title]="'QUALITY.CONTROLLED'|translate"></ion-icon>
        <ion-icon color="tertiary" name="checkmark-circle" *ngIf="row.currentData.validationDate && !row.currentData.qualificationDate" slot="icon-only" [title]="'QUALITY.VALIDATED'|translate"></ion-icon>
        <ion-icon [color]="qualityFlagToColor(row.currentData.qualityFlagId)" name="flag" *ngIf="row.currentData.validationDate && row.currentData.qualificationDate" slot="icon-only" [title]="'QUALITY.QUALIFIED'|translate"></ion-icon>
      </mat-cell>
    </ng-container>

    <!-- Program Column -->
    <ng-container matColumnDef="program">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>OBSERVED_LOCATION.TABLE.PROGRAM</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{programToString(row.currentData.program)}}
      </mat-cell>
    </ng-container>

    <!-- location -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>OBSERVED_LOCATION.TABLE.LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{referentialToString(row.currentData.location)}}
      </mat-cell>
    </ng-container>

    <!-- date time  -->
    <ng-container matColumnDef="startDateTime" >
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>OBSERVED_LOCATION.TABLE.START_DATE_TIME</ion-label>
      </mat-header-cell>
      <mat-cell class="mat-cell-date-time" *matCellDef="let row">
        {{ row.currentData.startDateTime|dateFormat:{time: true} }}
      </mat-cell>
    </ng-container>

    <!-- Observers -->
    <ng-container matColumnDef="observers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>OBSERVED_LOCATION.TABLE.OBSERVERS</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{ personsToString(row.currentData?.observers) }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-icon color="medium" name="chatboxes" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
        <button mat-icon-button small color="light" *ngIf="row.editing" [title]="'COMMON.BTN_UNDO'|translate" (click)="cancelOrDelete($event, row)">
          <mat-icon>undo</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled" (click)="clickRow($event, row)"
             (onblur)="confirmAndAddRow($event,row)"></mat-row>
  </mat-table>

  <ion-row no-padding>
    <ion-col></ion-col>
    <ion-col no-padding size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile *ngIf="inlineEdition">
  <form-buttons-bar (onCancel)="cancel()" (onSave)="save()" [disabled]="loading || !dirty"></form-buttons-bar>
</ion-footer>

<!-- Add Button  -->
<ion-fab vertical="bottom" horizontal="end" visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
