<app-toolbar [title]="$title | async" color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             [hasClose]="!loading && !dirty"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">
  <ion-buttons slot="end">
    <ion-spinner *ngIf="loading"></ion-spinner>

    <ion-button *ngIf="enabled && !isNewData || debug"
                [matMenuTriggerFor]="optionsMenu"
                [title]=" 'COMMON.BTN_OPTIONS'|translate">
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu">

  <!-- delete -->
  <button mat-menu-item
          [disabled]="isNewData || disabled"
          (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item
          [disabled]="!dirty"
          (click)="cancel($event)">
    <ion-label>
      <mat-icon><ion-icon slot="start" name="refresh"></ion-icon></mat-icon>&nbsp;
      <span translate>COMMON.BTN_RESET</span>
    </ion-label>
  </button>

</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">
  <mat-tab-group #tabGroup
                 class="mat-tab-fixed-content"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'"
                 [dynamicHeight]="false">

    <!-- TAB: general -->
    <mat-tab label="{{'OBSERVED_LOCATION.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>OBSERVED_LOCATION.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="error || (submitted && observedLocationForm.invalid)"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="error || observedLocationForm.error; let errorMsg" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="errorMsg | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">

            <!-- observed location -->
            <app-form-observed-location #observedLocationForm
                                        [programLabel]="$programLabel|async"
                                        [showError]="false"
                                        [showEndDateTime]="false"
                                        [debug]="debug"
                                        (onSubmit)="save($event)">
            </app-form-observed-location>
          </ion-col>

          <!-- quality data -->
          <ion-col size="12" size-xl="3" class="ion-no-padding">
            <app-entity-metadata [value]="data" [showRecorder]="showRecorder">
              <app-entity-quality-form>
              </app-entity-quality-form>
            </app-entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: Landings -->
    <mat-tab label="{{'OBSERVED_LOCATION.EDIT.TAB_LANDINGS'|translateContext: i18nContext.suffix }}" [disabled]="!showLandingTab">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="boat"></ion-icon>
        </mat-icon>
        <ion-label *ngIf="$ready|async; else skeletonText100">{{'OBSERVED_LOCATION.EDIT.TAB_LANDINGS'|translateContext: i18nContext.suffix }}</ion-label>

        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="table?.invalid"></ion-icon>
      </ng-template>


      <div class="ion-no-padding">

        <!-- error -->
        <ion-item *ngIf="table?.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="table?.error|translate"></ion-label>
        </ion-item>

        <ng-container [ngSwitch]='observedVesselsTableType|async'>

          <app-aggregated-landings-table #aggregatedLandingsTable
                                         *ngSwitchCase="'AGGREGATED_LANDINGS'"
                                         [debug]="debug"
                                         [programLabel]="$programLabel|async"
                                         (onNewRow)="onNewAggregatedLanding($event)">
          </app-aggregated-landings-table>

          <app-landings-table #landingsTable
                              *ngSwitchCase="'LANDINGS'"
                              [debug]="debug"
                              [programLabel]="$programLabel|async"
                              [showObserversColumn]="false"
                              [showDateTimeColumn]="false"
                              [showToolbar]="true"
                              (onOpenRow)="onOpenLanding($event)"
                              (onNewRow)="onNewLanding($event)"
                              (onNewTrip)="onNewTrip($event)">
          </app-landings-table>

        </ng-container>

      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button: add landing -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="selectedTabIndex === 1"
         @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #skeletonText100>
  &nbsp;<ion-skeleton-text style="min-width: 100px"></ion-skeleton-text>
</ng-template>
