

.mat-expansion-panel {
  margin-bottom: 5px;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    ion-label {
      line-height: 36px;
    }
  }
}

.table-container {
  height: calc(100% - var(--table-container-offset));

  --table-container-offset: 0;
  &.has-offline-nav {
    --table-container-offset: var(--mat-tab-link-height);
  }
}

.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-column-program {
    min-width: 90px;
  }

  .mat-column-vessel {
    min-width: 200px;
  }

  .mat-column-location {
    min-width: 150px;
  }

  .mat-column-actions {
    min-width: 40px;
    max-width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .mat-header-row,
  .mat-row {
    .mat-column-quality {
      max-width: 40px;
      padding-left: 0;

      mat-icon,
      ion-icon {
        font-size: 1.2em;
        height: 1.2em;
        width: 1.2em;
      }
    }
  }
}
