:root {
  width: 100%;
}

.table-container {
  --table-toolbar-height: 0px;

  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - 1px);

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}
.mat-table {
  .mat-column-person {
    min-width: 50px;
  }

  .mat-column-location,
  .mat-column-privilege {
    min-width: 110px;
  }
}
