<mat-toolbar *ngIf="showToolbar">

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">

    <!-- Add -->
    <button mat-icon-button *ngIf="!mobile && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button mat-icon-button color="light"
            *ngIf="!mobile"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>

  <ng-template #hasSelection>
    <!-- Delete -->
    <button mat-icon-button color="light"
            *ngIf="enabled" [title]="'COMMON.BTN_DELETE'|translate"
            (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ion-item *ngIf="!mobile && error; let error" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<div class="table-container" [class.has-toolbar]="showToolbar">

  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<table mat-table [dataSource]="dataSource"
       matSort
       matSortDirection="asc"
       matSortDisableClear
       [trackBy]="trackByFn">

  <ng-container matColumnDef="select" [sticky]="useSticky">
    <th mat-header-cell  *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell  *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- id -->
  <ng-container matColumnDef="id" [sticky]="useSticky">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <ion-label>#</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <ion-text>{{row.currentData.rankOrderOnPeriod}}</ion-text>
    </td>
  </ng-container>

  <!-- metier -->
  <ng-container matColumnDef="metier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.METIER</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-autocomplete-field *ngIf="inlineEdition else readOnly" floatLabel="never" class="min-width-large ion-text-wrap"
                              [autofocus]="row.id === -1 && row.editing"
                              [formControl]="row.validator.controls.metier"
                              [placeholder]="'TRIP.OPERATION.LIST.METIER'|translate"
                              [readonly]="!row.editing || mobile"
                              [config]="autocompleteFields.metier"
                              (blur)="onMetierChange($event, row)"
                              required>
      </mat-autocomplete-field>
      <ng-template #readOnly>
        <ion-label>{{row.currentData.metier.label}} - {{row.currentData.metier.name}}</ion-label>
      </ng-template>
    </td>
  </ng-container>

  <!-- physical gear -->
  <ng-container matColumnDef="gear">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.PHYSICAL_GEAR</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <ion-label>{{referentialToString(row.currentData.physicalGear?.gear || row.currentData.metier?.gear, displayAttributes.gear)}}</ion-label>
    </td>
  </ng-container>

  <!-- target species -->
  <ng-container matColumnDef="targetSpecies">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.TARGET_SPECIES</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <ion-label>{{referentialToString(row.currentData.metier, displayAttributes.taxonGroup)}}</ion-label>
    </td>
  </ng-container>

  <!-- Pmfm columns -->
  <ng-container  *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.id.toString()">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm|isDatePmfm">
      <ion-label [innerHTML]="pmfm|pmfmName: {html: true, withUnit: true}"></ion-label>
    </th>
    <td mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm|isDatePmfm"
              [class.mat-cell-computed]="pmfm|isComputedPmfm">
      <app-pmfm-field
        [readonly]="!row.editing"
        [pmfm]="pmfm" [control]="row.validator.controls.measurementValues.controls[pmfm.id]"
        [compact]="true" floatLabel="never"></app-pmfm-field>
    </td>

  </ng-container>


  <!-- Comments column -->
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-icon class="comment"
                *ngIf="row.currentData.comments"
                [title]="row.currentData.comments"></mat-icon>
    </td>
  </ng-container>

  <!-- Actions buttons column -->
<!--  <app-actions-column (confirmAndAddClick)="confirmAndAdd($event.event, $event.row)"-->
<!--                      (cancelOrDeleteClick)="cancelOrDelete($event.event, $event.row)"-->
<!--                      [canCancel]="false">-->
<!--  </app-actions-column>-->
  <ng-container matColumnDef="actions" [stickyEnd]="useSticky">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)" [hidden]="!inlineEdition">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)" [hidden]="!inlineEdition">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAdd($event, row)" [hidden]="!inlineEdition">
        <mat-icon>add</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled" (click)="clickRow($event, row)"></tr>
</table>

  <ng-container *ngIf="loadingSubject|async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="primary100" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      <ng-container *ngTemplateOutlet="addRowButton"></ng-container>
    </ion-item>
  </ng-template>
</div>

<ng-template #addRowButton>
  <span *ngIf="!mobile && enabled">&nbsp;
    <ion-button color="medium"
                (click)="addRow()">
      <ion-icon name="add" slot="start"></ion-icon>
      <span translate>COMMON.BTN_ADD</span>
    </ion-button>
  </span>
</ng-template>
