<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled"
          [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
    (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button *ngIf="selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
    (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<mat-table [dataSource]="dataSource" matSort matSortDirection="asc"
  matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell  *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell  *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text>{{row.currentData.rankOrderOnPeriod}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- metier -->
  <ng-container matColumnDef="metier">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.METIER</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">

      <mat-autocomplete-field floatLabel="never" class="min-width-large ion-text-wrap"
                              [appAutofocus]="row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.metier"
                              [placeholder]="'TRIP.OPERATION.LIST.METIER'|translate"
                              [required]="true" [readonly]="!row.editing"
                              [config]="autocompleteFields.metier" (blur)="onMetierChange($event, row)">
      </mat-autocomplete-field>

    </mat-cell>
  </ng-container>

  <!-- physical gear -->
  <ng-container matColumnDef="physicalGear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.PHYSICAL_GEAR</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{referentialToString(row.currentData.physicalGear?.gear || row.currentData.metier?.gear, displayAttributes.gear)}}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- target species -->
  <ng-container matColumnDef="targetSpecies">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.TARGET_SPECIES</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{referentialToString(row.currentData.metier, displayAttributes.taxonGroup)}}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
    <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm.isDate">
      <ion-label>{{getPmfmColumnHeader(pmfm)}}
        <small *ngIf="pmfm.hasUnit"><br />({{pmfm.unitLabel}})</small>
      </ion-label>
    </mat-header-cell>
<!--    <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.isDate">-->
<!--      {{measurementValueToString(row.currentData.measurementValues[pmfm.pmfmId], pmfm) }}-->
<!--    </mat-cell>-->

    <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.isDate"
              [class.mat-cell-computed]="pmfm.isComputed">
      <app-pmfm-field
        [readonly]="!row.editing"
        [pmfm]="pmfm" [formControl]="row.validator.controls.measurementValues.controls[pmfm.pmfmId]"
        [compact]="true" floatLabel="never"></app-pmfm-field>
    </mat-cell>

  </ng-container>


  <!-- Comments column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon class="comment"
                *ngIf="row.currentData.comments"
                [title]="row.currentData.comments">chat_bubble</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">

      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled" (click)="clickRow($event, row)"></mat-row>
</mat-table>

