<app-toolbar [title]="'TRIP.TITLE'|translate" color="primary" [hasValidate]="dirty && !loading" (onValidate)="save($event)">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" [disableRipple]="true" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="information-circle"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="tripForm.invalid && tripForm.dirty"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="tripForm.error" visible-xs visible-sm>
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" [innerHTML]="tripForm.error|translate"></ion-label>
      </ion-item>

      <ion-grid no-padding>

        <ion-row no-padding>
          <ion-col padding>
            <!-- trip -->
            <form-trip (onSubmit)="save($event)" #tripForm subForm>

              <!-- sale -->
              <form-sale [showVessel]="false" [showComment]="false" [showEndDateTime]="false" [required]="false" #saleForm>
              </form-sale>

              <!-- Measurements -->
              <ion-row>
                <ion-col size="12" size-lg="2">
                  <ion-label translate>TRIP.EDIT.OTHER_FEATURES</ion-label>
                </ion-col>
                <ion-col>
                  <form-measurements acquisitionLevel="TRIP" #measurementsForm></form-measurements>
                </ion-col>
              </ion-row>

            </form-trip>
          </ion-col>
          <ion-col no-padding size="12" size-xl="3">
            <form-metadata [data]="data"></form-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: Gear -->
    <mat-tab label="{{'TRIP.TAB_PHYSICAL_GEAR'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="settings"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_PHYSICAL_GEAR</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="gearForm.invalid && gearForm.dirty"></ion-icon>
      </ng-template>

      <ion-grid no-padding>

        <ion-row no-padding>
          <ion-col padding>

            <!-- physical gear -->
            <form-physical-gear (onSubmit)="save($event)" #gearForm>
            </form-physical-gear>
          </ion-col>

          <ion-col no-padding size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">

          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: operations -->
    <mat-tab label="{{'TRIP.TAB_OPERATIONS'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="locate"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_OPERATIONS</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="this.operationTable.error"></ion-icon>
      </ng-template>

      <div no-padding>
        <table-operations #operationTable>
        </table-operations>
      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm>
  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading "></form-buttons-bar>
</ion-footer>
