<app-toolbar [title]="'TRIP.TITLE'|translate" color="primary" [hasValidate]="dirty && !loading" (onValidate)="save($event)">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" [disableRipple]="true" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon slot="start" name="information-circle"></ion-icon>
        <ion-label translate>TRIP.TAB_GENERAL</ion-label>
      </ng-template>

      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col padding>
            <!-- trip -->
            <form-trip (onSubmit)="save($event)" #tripForm>

              <!-- sale -->
              <form-sale [showVessel]="false" [showComment]="false" [showEndDateTime]="false" #saleForm>
              </form-sale>

            </form-trip>
          </ion-col>
          <ion-col no-padding size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
            <form-metadata [data]="data"></form-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="settings"></ion-icon>
        <ion-label translate>TRIP.TAB_PHYSICAL_GEAR</ion-label>
      </ng-template>


    </mat-tab>

    <!-- TAB: operations -->
    <mat-tab label="{{'TRIP.TAB_OPERATIONS'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="locate"></ion-icon>
        <ion-label translate>TRIP.TAB_OPERATIONS</ion-label>
      </ng-template>

      <div no-padding>

        <table-operations #operationTable>

        </table-operations>

        <!-- buttons -->
        <ion-row>

          <ion-col *ngIf="error" padding>
            <mat-icon>warn</mat-icon>
            <mat-error>{{error|translate}}</mat-error>
          </ion-col>
        </ion-row>
      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm *ngIf="!loading && dirty">
  <ion-toolbar padding>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cancel()" type="button">
        {{'COMMON.BTN_CANCEL'|translate}}
      </ion-button>

      <ion-button fill="solid" size="large" (click)="save($event)" color="danger">
        {{'COMMON.BTN_SAVE'|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
