<app-toolbar [title]="'TRIP.TITLE'|translate" color="primary" (onValidate)="save($event)">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" [disableRipple]="true" [dynamicHeight]="true">

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="information-circle"></ion-icon>
        <span>{{'TRIP.TAB_GENERAL'|translate}}</span>
      </ng-template>

      <ion-row no-padding>
        <ion-col no-padding>
          <div padding>
            <!-- trip -->
            <form-trip (onSubmit)="save($event)" #tripForm>

              <!-- sale -->
              <form-sale [showVessel]="false" [showComment]="false" [showEndDateTime]="false" #saleForm>
              </form-sale>

            </form-trip>

            <!-- buttons -->
            <ion-row class="hidden-xs hidden-sm padding bar" style="text-align: right;" *ngIf="!loading && (tripForm.dirty || saleForm.dirty)">


              <button mat-button (click)="cancel()" type="button">
                {{'COMMON.BTN_CANCEL'|translate}}
              </button>

              <button mat-raised-button color="primary" (click)="save($event)">
                {{'COMMON.BTN_SAVE'|translate}}
              </button>
            </ion-row>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 no-padding>
          <form-metadata [data]="data"></form-metadata>
        </ion-col>
      </ion-row>

    </mat-tab>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="settings"></ion-icon>
        <span>{{'TRIP.TAB_PHYSICAL_GEAR'|translate}}</span>
      </ng-template>


    </mat-tab>

    <!-- TAB: operations -->
    <mat-tab label="{{'TRIP.TAB_OPERATIONS'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="locate"></ion-icon>
        <span>{{'TRIP.TAB_OPERATIONS'|translate}}</span>
      </ng-template>

      <div no-padding>

        <table-operations #operationTable>

        </table-operations>

        <!-- buttons -->
        <ion-row>

          <ion-col class="hidden-xs hidden-sm padding bar" style="text-align: right;" *ngIf="!loading && dirty">

            <button mat-button (click)="cancel()" type="button">
              {{'COMMON.BTN_CANCEL'|translate}}
            </button>

            <button mat-raised-button color="primary" (click)="save($event)">
              {{'COMMON.BTN_SAVE'|translate}}
            </button>
          </ion-col>

          <ion-col *ngIf="error" padding>
            <mat-icon>warn</mat-icon>
            <mat-error>{{error|translate}}</mat-error>
          </ion-col>
        </ion-row>
      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>
