<mat-toolbar>
  <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
    (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="selection.hasValue()" [title]="'COMMON.BTN_DELETE'|translate"
    (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- <mat-button-toggle value="edit" [title]="'COMMON.BTN_TABLE_EDIT'|translate" (change)="inlineEdition=inlineEditionBtn.checked"
    [disabled]="dirty" #inlineEditionBtn>
    <mat-icon>edit</mat-icon>
  </mat-button-toggle> -->

  <ion-item *ngIf="error" hidden-xs hidden-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm>
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<mat-table [dataSource]="dataSource" class="table-operations" matSort matSortActive="rankOrder" matSortDirection="asc"
  matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label *ngIf="!loading">#</ion-label>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.rankOrder }}</mat-cell>
  </ng-container>

  <!-- parent sample -->
  <ng-container matColumnDef="parentSample">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label>{{displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) ||
        ('TRIP.INDIVIDUAL_MONITORING.TABLE.PARENT_SAMPLE'|translate) }}</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['parentSample']" [matAutocomplete]="autoParentSample"
          [appAutofocus]="row.id == -1 && row.editing" [placeholder]="displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) || ('TRIP.INDIVIDUAL_MONITORING.TABLE.PARENT_SAMPLE'|translate)"
          (focus)="onParentSampleCellFocus($event, row)" (click)="$event.target.select()" (blur)="onParentSampleCellBlur($event, row)"
          required>
        <mat-error *ngIf="row.validator.controls['parentSample'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>

      <mat-autocomplete autoActiveFirstOption #autoParentSample="matAutocomplete" [displayWith]="parentSampleToString">
        <ion-row class="mat-autocomplete-header">
          <ion-col size="2">
            <ion-text>{{displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) || '#'}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text translate>TRIP.INDIVIDUAL_MONITORING.TABLE.TAXON_GROUP</ion-text>
          </ion-col>
        </ion-row>
        <mat-option *ngFor="let sample of filteredParentSamples | async" [value]="sample">
          <ion-row>
            <ion-col size="2" [innerHTML]="(displayParentPmfm && sample.measurementValues[displayParentPmfm.pmfmId] || sample.rankOrder) | highlight: {search: row.validator.controls['parentSample'].value }"></ion-col>
            <ion-col [innerHTML]="sample.taxonGroup.label | highlight: {search: row.validator.controls['parentSample'].value }"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>
    </mat-cell>

  </ng-container>

  <!-- Pmfms columns -->
  <ng-container *ngIf="!started">
    <ng-container matColumnDef="100">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="101">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="102">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="103">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="104">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="105">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="106">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="107">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="108">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"></mat-cell>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="started">
    <!-- Pmfm columns -->
    <ng-container *ngFor="let pmfm of cachedPmfms" matColumnDef="{{pmfm.pmfmId}}">
      <!-- Skip Tag-ID (already used in parent sample) -->
      <ng-container *ngIf="pmfm.pmfmId!=82">
        <mat-header-cell *matHeaderCellDef [class.mat-cell-date-time]="pmfm.type=='date'">
          <ion-label>{{getPmfmColumnHeader(pmfm)}}
            <small *ngIf="pmfm.unit && (pmfm.type == 'integer' || pmfm.type == 'double')"><br />({{pmfm.unit}})</small>
          </ion-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.type=='date'">
          <mat-form-field-measurement [pmfm]="pmfm" [formControl]="row.validator.controls['measurementValues'].controls[pmfm.pmfmId]"
            [compact]="true" floatLabel="never"></mat-form-field-measurement>
        </mat-cell>
      </ng-container>
    </ng-container>

  </ng-container>

  <!-- Comments column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-icon color="primary" name="chatboxes" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
      <button mat-icon-button small color="light" *ngIf="row.editing" [title]="'COMMON.BTN_ADD'|translate" (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button small color="light" *ngIf="row.editing" [title]="'COMMON.BTN_UNDO'|translate" (click)="cancelOrDelete($event, row)">
        <mat-icon>undo</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.mat-row-error]="row.validator.invalid"
    [class.mat-row-disabled]="!row.editing" (click)="onRowClick($event, row)"></mat-row>
</mat-table>

<ion-row no-padding>
  <!-- paginator -->
  <ion-col no-padding col-12>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 50, 100, 200]">
    </mat-paginator>
  </ion-col>
</ion-row>

<!-- <ion-row>
  <ion-col *ngFor="let pmfm of pmfms | async">
    {{pmfm.label}}
  </ion-col>
</ion-row> -->
<ion-fab right bottom visible-xs visible-sm>
  <button ion-fab color="light" (click)="addRow()">
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-fab>
