<app-toolbar [title]="$title | async" color="primary">

  <ion-buttons slot="end">
    <ion-button [matMenuTriggerFor]="selectTypeMenu"
                *ngIf="$types | async |isArrayLength: {greaterThan: 1}"
                color="accent" fill="solid">
      <ion-label translate>EXTRACTION.TABLE.BTN_SELECT_TYPE</ion-label>
      <mat-icon slot="end">arrow_drop_down</mat-icon>
    </ion-button>
    &nbsp;
  </ion-buttons>
</app-toolbar>

<!-- Types menu -->
<mat-menu #selectTypeMenu="matMenu" xPosition="after" >
  <!-- only one category -->
  <ng-container *ngIf="typesByCategory$ | async | isArrayLength: {equals: 1}; else manyCategories">
    <button mat-menu-item
            *ngFor="let type of (typesByCategory$ | async)[0].value"
            (click)="setType(type)">
      <ion-label class="ion-text-wrap">
        <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
        <span>{{type.name}}</span>
      </ion-label>
    </button>
  </ng-container>

  <!-- More than 1 categories -->
  <ng-template #manyCategories>
    <button mat-menu-item
            *ngFor="let item of typesByCategory$ | async"
            [matMenuTriggerFor]="typesButtons"
            [matMenuTriggerData]="{types: item.value}"
    >{{ ('EXTRACTION.CATEGORY.' + item.key) | uppercase | translate }}</button>
  </ng-template>
</mat-menu>

<mat-menu #typesButtons="matMenu" xPosition="after" class="mat-menu-size-400">
  <ng-template matMenuContent let-types="types">
    <button mat-menu-item
            *ngFor="let type of types"
            (click)="setType(type)">
      <ion-label class="ion-text-wrap">
        <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
        <span>{{type.name}}</span>
      </ion-label>
    </button>
  </ng-template>
</mat-menu>

<!-- aggregate menu -->
<mat-menu #aggregateMenu="matMenu" xPosition="before">
  <button mat-menu-item *ngIf="!type?.isSpatial" (click)="aggregate()">
    <ion-label translate>EXTRACTION.SPATIAL_AGGREGATION</ion-label>
  </button>
</mat-menu>

<ion-content class="ion-no-padding">

  <mat-toolbar>
    <mat-toolbar-row>

      <!-- Help button -->
      <button mat-icon-button
              *ngIf="type?.description"
              [matTooltip]="'COMMON.BTN_SHOW_HELP'|translate"
              (click)="openHelpModal($event)">
        <mat-icon>help_outline</mat-icon>
      </button>

      <button mat-icon-button color="light" [matTooltip]="'COMMON.BTN_EDIT'|translate"
              *ngIf="canEdit"
              (click)="openAggregationType(type)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button *ngIf="canEdit && isAdmin" [matTooltip]="'COMMON.BTN_DELETE'|translate"
              (click)="deleteAggregation()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="'EXTRACTION.BTN_DOWNLOAD_FILE'|translate" (click)="downloadAsFile()" download="true">
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="'COMMON.BTN_FILTER'|translate" (click)="filterExpansionPanel.toggle()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="type?.isSpatial"
              [matTooltip]="'EXTRACTION.BTN_OPEN_MAP'|translate"
              (click)="openMap($event)">
        <mat-icon>
          <ion-icon name="earth"></ion-icon>
        </mat-icon>
      </button>


      <!-- error -->
      <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
      </ion-item>

      <span class="toolbar-spacer"></span>

      <button mat-icon-button color="light" [matTooltip]="'COMMON.BTN_REFRESH'|translate"
              (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>

      <ion-button [matMenuTriggerFor]="aggregateMenu"
                  size="small"
                  color="light"
                  *ngIf="!type?.isSpatial"
                  [matTooltip]="'EXTRACTION.BTN_AGGREGATE_HELP'|translate">
        <ion-label>{{'EXTRACTION.BTN_AGGREGATE'|translate}}</ion-label>
        <mat-icon slot="end">arrow_drop_down</mat-icon>
      </ion-button>

      <button mat-icon-button [matTooltip]=" 'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-container *ngIf="type?.sheetNames as sheetNames">
    <nav mat-tab-nav-bar *ngIf="sheetNames.length > 1">
      <a mat-tab-link *ngFor="let item of sheetNames"
         (click)="setSheetName(item)"
         [active]="item === sheetName">
        <ion-text>{{getI18nSheetName(item)}}</ion-text>
        <mat-icon *ngIf="hasFilterCriteria(item)">filter_list</mat-icon>
      </a>
    </nav>
  </ng-container>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel >
    <mat-expansion-panel-header>
      <mat-panel-title class="hidden-xs hidden-sm hidden-mobile">
        <ion-label>
          <!-- Loading spinner -->
          <ion-spinner *ngIf="loading && !filterExpansionPanel.expanded"></ion-spinner>

          <!-- Counter -->
          <ng-container *ngIf="!loading && !filterExpansionPanel.expanded">
            <ion-text [color]="data?.total === 0 && 'danger'" *ngIf="data?.total === 0"><b>{{ 'COMMON.NO_RESULT' |
              translate }}</b></ion-text>
            <span *ngIf="data?.total > 0">
              {{ 'COMMON.RESULT_COUNT' | translate: {count: (data?.total | numberFormat)} }}
            </span>
            <small>
              {{(criteriaForm.hasFilterCriteria(sheetName) ? 'EXTRACTION.FILTER.WITH_FILTER_PARENTHESIS' :
              'EXTRACTION.FILTER.NO_FILTER_PARENTHESIS' ) | translate}}
            </small>
          </ng-container>

          <ion-card-subtitle *ngIf="filterExpansionPanel.expanded">
            <ion-text color="primary100">
              {{ 'EXTRACTION.FILTER.TITLE' | translate}}
            </ion-text>
          </ion-card-subtitle>
        </ion-label>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-extraction-criteria-form #criteriaForm
                                  [showSheetsTab]="false"
                                  [columns]="$columns|async"
                                  (onSubmit)="onRefresh.emit($event)">
    </app-extraction-criteria-form>

    <mat-action-row>
      <ion-label class="ion-padding">
        <!-- Loading spinner -->
        <ion-spinner [hidden]="!loading"></ion-spinner>

        <!-- Counter  -->
        <ion-text [hidden]="loading || dirty" [color]="data?.total === 0 && 'danger'">
          {{ (data?.total ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (data?.total |
            numberFormat)} }}
        </ion-text>
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="dirty ? 'tertiary' : undefined"
                  [fill]="dirty ? 'solid' : 'clear'"
                  (click)="onRefresh.emit()"
                  [disabled]="loading">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>


  <mat-table [dataSource]="dataSource" [hidden]="!data?.total"
             matSort
             matSortDisableClear>

    <!-- iterate on columns -->
    <ng-container *ngFor="let column of $columns | async" matColumnDef="{{column.columnName}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="column.type=='date'">
        <ion-label>{{ column.name }}</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="column.type=='date'"
                [class.mat-cell-numeric]="column.type=='integer'">
        <a ion-text (click)="onCellValueClick($event, column, row.currentData[column.index])"
           color="dark"
           [title]="row.currentData[column.index]">
          {{row.currentData[column.index]}}
        </a>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Paginator  -->
  <ion-row class="ion-no-padding" [class.cdk-visually-hidden]="!data?.total">
    <ion-col></ion-col>
    <ion-col class="ion-no-padding" size="auto">
      <mat-paginator [length]="data?.total" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200, 500]"
                     showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>


</ion-content>

<!--<ion-footer hidden-xs hidden-sm hidden-mobile>-->
<!--  <form-buttons-bar (onSave)="save($event)"-->
<!--                    [disabled]="!dirty || loading"-->
<!--                    (onCancel="cancel($event)"-->
<!--                    [disabledCancel]="!dirty || loading">-->

<!--    &lt;!&ndash; error &ndash;&gt;-->
<!--    <ion-item *ngIf="error">-->
<!--      <ion-icon color="danger" slot="start" name="alert"></ion-icon>-->
<!--      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>-->
<!--    </ion-item>-->

<!--  </form-buttons-bar>-->
<!--</ion-footer>-->
