
.mat-toolbar {
  form {
    .mat-form-field {
      min-width: 50px;
      width: 300px;
    }
  }
}


.mat-expansion-panel {
  margin-bottom: 5px;

  --expansion-panel-padding: 0!important;

  mat-action-row {
    height: 46px;

    ion-label {
      line-height: 36px;
    }
  }
}

.table-container {
  height: calc(100% - 50px);
}

.mat-table  {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-header-cell {
    background-color: whitesmoke;
  }
  .mat-header-cell,
  .mat-cell {
    padding-inline-start: var(--mat-cell-vertical-padding);
    //border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-cell {
    padding-inline-end: var(--mat-cell-vertical-padding);

    &.mat-cell-numeric {
      text-align: end;
    }

    a {
      color: var(--ion-color-dark) !important;
    }
    a:hover {
      text-decoration: underline;
      text-decoration-color: var(--ion-color-primary) !important;
      color: var(--ion-color-primary) !important;
      cursor: pointer !important;
    }
  }
}
