<app-toolbar color="primary">

  <ion-title>
    <span class="hidden-xs hidden-sm hidden-mobile"
          [innerHTML]="$title | async"></span>
  </ion-title>

  <ion-buttons slot="end">
    <!-- Help button -->
    <button mat-icon-button
            *ngIf="type?.description"
            class="hidden-xs hidden-sm hidden-mobile"
            [matTooltip]="'COMMON.BTN_SHOW_HELP'|translate"
            (click)="openHelpModal($event)">
      <mat-icon>help_outline</mat-icon>
    </button>

    <!-- open map -->
    <button mat-icon-button
            *ngIf="type?.isSpatial"
            class="hidden-xs hidden-sm hidden-mobile"
            [matTooltip]="'EXTRACTION.BTN_OPEN_MAP'|translate"
            (click)="openMap($event)">
      <mat-icon>
        <ion-icon name="earth"></ion-icon>
      </mat-icon>
    </button>

    <!-- reset filter -->
    <button mat-icon-button (click)="resetFilter()"
            *ngIf="criteriaCount$|async">
      <mat-icon color="accent">filter_list_alt</mat-icon>
      <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
    </button>

    <!-- show filter -->
    <button mat-icon-button (click)="filterExpansionPanel.toggle()">
      <mat-icon *ngIf="criteriaCount$|async; let criteriaCount; else noCriteriaIcon"
                [matBadge]="criteriaCount"
                matBadgeColor="accent"
                matBadgeSize="small"
                matBadgePosition="above after">filter_list_alt</mat-icon>
      <ng-template #noCriteriaIcon>
        <mat-icon>filter_list_alt</mat-icon>
      </ng-template>
    </button>

    &nbsp;

    <ion-button [matMenuTriggerFor]="selectTypeMenu"
                *ngIf="$types | async |isArrayLength: {greaterThan: 1}"
                color="accent" fill="solid">
      <ion-icon slot="start" name="server"></ion-icon>
      <ion-label [innerHTML]="'EXTRACTION.TABLE.BTN_SELECT_TYPE'|translate"></ion-label>
      <mat-icon slot="end">arrow_drop_down</mat-icon>
    </ion-button>
    &nbsp;
    <!-- options menu -->
    <ion-button *ngIf="canEdit"
                [matMenuTriggerFor]="optionMenu">
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Types menu -->
<mat-menu #selectTypeMenu="matMenu" xPosition="after" >
  <!-- only one category -->
  <ng-container *ngIf="typesByCategory$ | async | isArrayLength: {equals: 1}; else manyCategories">
    <button mat-menu-item
            *ngFor="let type of (typesByCategory$ | async)[0].value"
            (click)="setType(type)">
      <ion-label class="ion-text-wrap">
        <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
        <span>{{type.name}}</span>
      </ion-label>
    </button>
  </ng-container>

  <!-- More than 1 categories -->
  <ng-template #manyCategories>
    <button mat-menu-item
            *ngFor="let item of typesByCategory$ | async"
            [matMenuTriggerFor]="typesButtons"
            [matMenuTriggerData]="{types: item.value}"
    >{{ ('EXTRACTION.CATEGORY.' + item.key) | uppercase | translate }}</button>
  </ng-template>
</mat-menu>

<mat-menu #typesButtons="matMenu" xPosition="after" class="mat-menu-size-400">
  <ng-template matMenuContent let-types="types">
    <button mat-menu-item
            *ngFor="let type of types"
            (click)="setType(type)">
      <ion-label class="ion-text-wrap">
        <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
        <span>{{type.name}}</span>
      </ion-label>
    </button>
  </ng-template>
</mat-menu>

<!-- aggregate menu -->
<mat-menu #aggregateMenu="matMenu" xPosition="before">
  <button mat-menu-item *ngIf="canCreateProduct && !type?.isSpatial" (click)="aggregateAndSave($event)">
    <ion-label translate>EXTRACTION.SPATIAL_AGGREGATION</ion-label>
  </button>
  <button mat-menu-item *ngIf="canCreateProduct && type?.category === 'LIVE'" (click)="save($event)">
    <ion-label translate>EXTRACTION.NEW_PRODUCT</ion-label>
  </button>
</mat-menu>


<!-- options menu -->
<mat-menu #optionMenu="matMenu">


  <button mat-menu-item
          class="visible-xs visible-sm visible-mobile"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <!-- open map -->
  <button mat-menu-item
          class="visible-xs visible-sm visible-mobile"
          *ngIf="type?.isSpatial"
          (click)="openMap($event)">
    <mat-icon>
      <ion-icon name="earth"></ion-icon>
    </mat-icon>
  </button>

  <!-- help -->
  <button mat-menu-item
          *ngIf="type?.description"
          class="visible-xs visible-sm visible-mobile"
          (click)="openHelpModal($event)">
    <mat-icon>help_outline</mat-icon>
  </button>

  <button mat-menu-item
          *ngIf="canEdit"
          (click)="openProduct(type)">
    <mat-icon>edit</mat-icon>
    <ion-label translate>COMMON.BTN_EDIT</ion-label>
  </button>

  <button mat-menu-item *ngIf="canEdit || isAdmin"
          (click)="delete($event)">
    <mat-icon>delete</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>


</mat-menu>

<ion-content class="ion-no-padding" scroll-y="false">
  <ng-container *ngIf="type?.sheetNames as sheetNames">
    <nav mat-tab-nav-bar *ngIf="sheetNames | isArrayLength:{greaterThan: 1} ">
      <a mat-tab-link *ngFor="let item of sheetNames"
         (click)="setSheetName(item)"
         [active]="item === sheetName">
        <ion-text>{{getI18nSheetName(item)}}</ion-text>
        <mat-icon *ngIf="hasFilterCriteria(item)">filter_list_alt</mat-icon>
      </a>
    </nav>
  </ng-container>

  <!-- filter panel -->
  <mat-expansion-panel #filterExpansionPanel class="filter-panel">
    <app-extraction-criteria-form #criteriaForm
                                  [showSheetsTab]="false"
                                  [columns]="$columns|async"
                                  (onSubmit)="onRefresh.emit($event)">
    </app-extraction-criteria-form>

    <mat-action-row>
      <ion-label class="ion-padding">
        <!-- Loading spinner -->
        <ion-spinner [hidden]="!loading"></ion-spinner>

        <!-- Counter  -->
        <ion-text [hidden]="loading || dirty" [color]="data?.total === 0 && 'danger'">
          {{ (data?.total ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (data?.total |
            numberFormat)} }}
        </ion-text>
      </ion-label>

      <div class="toolbar-spacer"></div>
      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="filterExpansionPanel.close()"
                  [disabled]="loading">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="dirty ? 'tertiary' : 'dark'"
                  [fill]="dirty ? 'solid' : 'clear'"
                  (click)="applyFilterAndClosePanel($event)"
                  [disabled]="loading">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" [hidden]="!data?.total"
               matSort
               matSortDisableClear>

      <!-- iterate on columns -->
      <ng-container *ngFor="let column of $columns | async" matColumnDef="{{column.columnName}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [class.mat-cell-date-time]="column.type=='date'">
          <ion-label>{{ column.name }}</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-cell-date-time]="column.type=='date'"
                  [class.mat-cell-numeric]="column.type=='integer'">
          <a ion-text (click)="onCellValueClick($event, column, row.currentData[column.index])"
             color="dark"
             [title]="row.currentData[column.index]">
            {{row.currentData[column.index]}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button
                  [matTooltip]=" 'COMMON.DISPLAYED_COLUMNS'|translate"
                  (click)="openSelectColumnsModal($event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          class="mat-row-disabled"></tr>
    </table>

    <ng-container *ngIf="loading; else noResult">
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ng-container>

    <ng-template #noResult>
      <ion-item *ngIf="data && data.total === 0">
        <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      </ion-item>
    </ng-template>
  </div>

</ion-content>

<ion-footer>

  <!-- Paginator -->
  <mat-paginator [length]="data?.total" [pageSize]="defaultPageSize" [pageSizeOptions]="defaultPageSizeOptions"
                 class="mat-paginator-footer"
                 showFirstLastButtons>
  </mat-paginator>

  <!-- Action buttons -->
  <ion-toolbar class="hidden-xs hidden-sm hidden-mobile">
    <ion-row class="ion-no-padding" nowrap>
      <ion-col>
        <ion-item *ngIf="error" lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="onRefresh.emit()" (keyup.enter)="onRefresh.emit()"
                    [disabled]="loading">
          <ion-icon slot="start" name="refresh"></ion-icon>
          <ion-label translate>COMMON.BTN_REFRESH</ion-label>
        </ion-button>

        <ion-button fill="solid" color="tertiary"
                    (click)="downloadAsFile($event)"
                    (keyup.enter)="downloadAsFile($event)"
                    download="true"
                    [disabled]="loading">
          <mat-icon>get_app</mat-icon>
          <ion-label [innerHTML]="'COMMON.BTN_DOWNLOAD'|translate|uppercase"
                     [matTooltip]="'EXTRACTION.BTN_DOWNLOAD_HELP'|translate"></ion-label>
        </ion-button>

        <ion-button *ngIf="canCreateProduct"
                    fill="solid" color="danger"
                    [matMenuTriggerFor]="aggregateMenu"
                    [matTooltip]="'EXTRACTION.BTN_SAVE_HELP'|translate"
                    [disabled]="loading">
          <ion-label [innerHTML]="'COMMON.BTN_SAVE'|translate"></ion-label>
          <mat-icon slot="end">arrow_drop_down</mat-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
