<ng-container [ngSwitch]="type">

  <div *ngSwitchCase="'hidden'" class="cdk-visually-hidden">
    <!-- nothing to display (hidden) -->
  </div>

  <div *ngSwitchCase="'array'">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col *ngFor="let childControl of formArray.controls ; index as j; last as last"
                 size="auto">
          <ion-row>
            <ion-col size="auto" class="ion-align-self-center">
              <app-pmfm-field [pmfm]="pmfm" #pmfmField
                              [control]="childControl"
                              [required]="required"
                              [readonly]="readonly"
                              [tabindex]="tabindex+j"
                              [floatLabel]="floatLabel"
                              [autofocus]="autofocus"
                              [placeholder]="placeholder">
              </app-pmfm-field>
            </ion-col>

            <ion-col size="auto" class="ion-align-self-center">
              <button type="button" mat-icon-button
                      [title]="'COMMON.BTN_ADD'|translate"
                      *ngIf="last && formArrayHelper.size() < acquisitionNumber || acquisitionNumber === -1"
                      (click)="formArrayHelper.add()">
                <mat-icon>add</mat-icon>
              </button>
              <button type="button" mat-icon-button
                      [title]="'COMMON.BTN_DELETE'|translate"
                      (click)="formArrayHelper.removeAt(j)"
                      tabindex="-1">
                <mat-icon>close</mat-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <!-- integer -->
  <mat-form-field *ngSwitchCase="'integer'" [floatLabel]="floatLabel">
    <input matInput #matInput
           autocomplete="off" type="number"
           pattern="[0-9]*"
           step="1"
           [min]="pmfm.minValue"
           [max]="pmfm.maxValue"
           [appAutofocus]="autofocus"
           [placeholder]="placeholder"
           (keydown.enter)="onPressEnter.emit($event)"
           (keypress)="filterNumberInput($event, false)"
           [formControl]="formControl"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('min')">
      {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') | translate:formControl.errors['min'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('max')">
      {{(compact ? 'ERROR.FIELD_MAX_COMPACT' : 'ERROR.FIELD_MAX') | translate:formControl.errors['max'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('pattern')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
    <mat-error *ngIf="formControl.hasError('integer')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>

    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- double -->
  <mat-form-field *ngSwitchCase="'double'" [floatLabel]="floatLabel">

    <input matInput #matInput
           type="number"
           decimal="true"
           autocomplete="off"
           [min]="pmfm.minValue"
           [max]="pmfm.maxValue"
           [appAutofocus]="autofocus"
           [placeholder]="placeholder"
           [step]="numberInputStep"
           (keyup.enter)="onPressEnter.emit($event)"
           (keypress)="filterNumberInput($event, true)"
           [formControl]="formControl"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('min')">
      {{ (compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN')| translate:formControl.errors['min'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('max')">
      {{(compact ? 'ERROR.FIELD_MAX_COMPACT' : 'ERROR.FIELD_MAX') | translate:formControl.errors['max'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('maxDecimals')">
      {{ (compact ? 'ERROR.FIELD_MAXIMUM_DECIMALS_COMPACT' : 'ERROR.FIELD_MAXIMUM_DECIMALS')| translate:{max:
      pmfm.maximumNumberDecimals} }}</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- duration -->
  <mat-duration-field *ngSwitchCase="'duration'" #matInput
                      [formControl]="formControl"
                      [placeholder]="placeholder"
                      [floatLabel]="floatLabel"
                      [required]="required"
                      [readonly]="readonly"
                      [compact]="compact"
                      [tabindex]="tabindex">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-duration-field>

  <!-- boolean -->
  <mat-boolean-field *ngSwitchCase="'boolean'" #matInput
                     [style]="style"
                     [formControl]="formControl"
                     [placeholder]="placeholder"
                     [floatLabel]="floatLabel"
                     [required]="required"
                     [compact]="compact"
                     [tabindex]="tabindex"
                     [buttonsColCount]="maxVisibleButtons">
    <div matSuffix>
      <!-- Add a fake fab button, to have same alignment as a pmfm QV field -->
      <ion-fab-button color="light" size="small" *ngIf="maxVisibleButtons"
                      style="visibility: hidden;">
      </ion-fab-button>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-boolean-field>

  <!-- date -->
  <mat-date-field *ngSwitchCase="'date'" #matInput
                  [formControl]="formControl"
                  [placeholder]="compact ? ('COMMON.DATE_PLACEHOLDER'|translate): placeholder"
                  [floatLabel]="floatLabel"
                  [required]="required"
                  [readonly]="readonly"
                  [compact]="compact"
                  [tabindex]="tabindex"
                  [autofocus]="autofocus">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-date-field>

  <mat-date-time-field *ngSwitchCase="'dateTime'" #matInput
                       [formControl]="formControl"
                       [placeholder]="compact ? ('COMMON.DATE_PLACEHOLDER'|translate): placeholder"
                       [floatLabel]="floatLabel"
                       [required]="required"
                       [readonly]="readonly"
                       [compact]="compact"
                       [tabindex]="tabindex"
                       [autofocus]="autofocus">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-date-time-field>

  <!-- qualitative value -->
  <app-pmfm-qv-field *ngSwitchCase="'qualitative_value'" #matInput
                     [pmfm]="pmfm"
                     [autofocus]="autofocus"
                     [formControl]="formControl"
                     [floatLabel]="floatLabel"
                     [placeholder]="placeholder"
                     [required]="required"
                     [readonly]="readonly"
                     [compact]="compact"
                     [tabindex]="tabindex"
                     [style]="style"
                     [maxVisibleButtons]="maxVisibleButtons"
                     [buttonsColCount]="maxVisibleButtons"
                     (keyup.enter)="onPressEnter.emit($event)">
    <div matAfter>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </app-pmfm-qv-field>

  <!-- string -->
  <mat-form-field *ngSwitchCase="'string'" [floatLabel]="floatLabel">
    <input matInput #matInput
           autocomplete="off"
           [appAutofocus]="autofocus"
           [formControl]="formControl"
           [placeholder]="placeholder"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)"
           (keypress)="filterAlphanumericalInput($event)"
           (keyup.enter)="onPressEnter.emit($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('maxlength')">
      {{ (compact ? 'ERROR.FIELD_MAX_LENGTH_COMPACT' : 'ERROR.FIELD_MAX_LENGTH') |translate:formControl.errors['maxlength'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('minlength')">
      {{ (compact ? 'ERROR.FIELD_MIN_LENGTH_COMPACT' : 'ERROR.FIELD_MIN_LENGTH') |translate:formControl.errors['minlength'] }}</mat-error>

    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- latitude -->
  <mat-latlong-field *ngSwitchCase="'latitude'"
                     [floatLabel]="floatLabel"
                     [formControl]="formControl"
                     type="latitude"
                     [placeholder]="placeholder"
                     [required]="required"
                     [tabindex]="tabindex"
                     [latLongPattern]="latLongFormat"
                     [defaultSign]="defaultLatitudeSign">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-latlong-field>

  <!-- longitude -->
  <mat-latlong-field *ngSwitchCase="'longitude'"
                     [floatLabel]="floatLabel"
                     [formControl]="formControl"
                     type="longitude"
                     [placeholder]="placeholder"
                     [required]="required"
                     [tabindex]="tabindex"
                     [latLongPattern]="latLongFormat"
                     [defaultSign]="defaultLongitudeSign">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-latlong-field>

  <!-- other -->
  <div *ngSwitchDefault>
    <mat-error *ngIf="type">Unknown type {{type}} for PMFM {{pmfm?.id}}. Please report this error.</mat-error>
    <mat-error *ngIf="!type">Error on field for PMFM {{pmfm?.id}}. Please report this error.</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </div>

</ng-container>
