<ng-container [ngSwitch]="type">

  <!-- hidden -->
  <mat-form-field *ngSwitchCase="'hidden'" [floatLabel]="floatLabel" class="cdk-visually-hidden">
    <input matInput type="text" hidden
           [placeholder]="placeholder"
           [formControl]="formControl"
           [required]="required">
  </mat-form-field>

  <!-- integer -->
  <mat-form-field *ngSwitchCase="'integer'" [floatLabel]="floatLabel">
    <input matInput #matInput
           autocomplete="off" type="number"
           [min]="pmfm.minValue"
           [max]="pmfm.maxValue"
           pattern="[0-9]*"
           step="1"
           [placeholder]="placeholder"
           (keydown.enter)="onPressEnter.emit($event)"
           (keypress)="filterNumberInput($event, false)"
           [formControl]="formControl"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('min')">
      {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') | translate:formControl.errors['min'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('max')">
      {{(compact ? 'ERROR.FIELD_MAX_COMPACT' : 'ERROR.FIELD_MAX') | translate:formControl.errors['max'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('pattern')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
    <mat-error *ngIf="formControl.hasError('integer')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>

    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- double -->
  <mat-form-field *ngSwitchCase="'double'" [floatLabel]="floatLabel">

    <input matInput #matInput
           type="number"
           autocomplete="off" [min]="pmfm.minValue" [max]="pmfm.maxValue"
           decimal="true"
           [placeholder]="placeholder"
           [step]="numberInputStep"
           (keyup.enter)="onPressEnter.emit($event)"
           (keypress)="filterNumberInput($event, true)"
           [formControl]="formControl"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('min')">
      {{ (compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN')| translate:formControl.errors['min'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('max')">
      {{(compact ? 'ERROR.FIELD_MAX_COMPACT' : 'ERROR.FIELD_MAX') | translate:formControl.errors['max'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('maxDecimals')">
      {{ (compact ? 'ERROR.FIELD_MAXIMUM_DECIMALS_COMPACT' : 'ERROR.FIELD_MAXIMUM_DECIMALS')| translate:{max:
      pmfm.maximumNumberDecimals} }}</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- duration -->
  <mat-duration-field *ngSwitchCase="'duration'" #matInput
                      [formControl]="formControl"
                      [placeholder]="placeholder"
                      [floatLabel]="floatLabel"
                      [required]="required"
                      [readonly]="readonly"
                      [compact]="compact"
                      [tabindex]="tabindex">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-duration-field>

  <!-- boolean -->
  <mat-boolean-field *ngSwitchCase="'boolean'" #matInput
                     [formControl]="formControl"
                     [placeholder]="placeholder"
                     [floatLabel]="floatLabel"
                     [required]="required"
                     [compact]="compact"
                     [tabindex]="tabindex">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-boolean-field>

  <!-- date -->
  <mat-date-time-field *ngSwitchCase="'date'" #matInput
                       [formControl]="formControl"
                       [placeholder]="compact ? ('COMMON.DATE_PLACEHOLDER'|translate): placeholder"
                       [floatLabel]="floatLabel"
                       [required]="required"
                       [readonly]="readonly"
                       [displayTime]="displayTime()"
                       [compact]="compact"
                       [tabindex]="tabindex">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-date-time-field>

  <!-- qualitative value -->
  <app-pmfm-qv-field *ngSwitchCase="'qualitative_value'" #matInput
                                 [pmfm]="pmfm"
                                 [formControl]="formControl"
                                 [floatLabel]="floatLabel"
                                 [placeholder]="placeholder"
                                 [required]="required"
                                 [readonly]="readonly"
                                 [compact]="compact"
                                 [tabindex]="tabindex"
                                 (keyup.enter)="onPressEnter.emit($event)">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </app-pmfm-qv-field>

  <!-- string -->
  <mat-form-field *ngSwitchCase="'string'" [floatLabel]="floatLabel">
    <input matInput #matInput
           autocomplete="off"
           [formControl]="formControl"
           [placeholder]="placeholder"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)"
           (keypress)="filterAlphanumericalInput($event)"
           (keyup.enter)="onPressEnter.emit($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- latitude -->
  <mat-latlong-field *ngSwitchCase="'latitude'"
               [floatLabel]="floatLabel"
               [formControl]="formControl"
               type="latitude"
               [placeholder]="placeholder"
               [required]="required"
               [tabindex]="tabindex"
               [latLongPattern]="latLongFormat">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-latlong-field>

  <!-- longitude -->
  <mat-latlong-field *ngSwitchCase="'longitude'"
               [floatLabel]="floatLabel"
               [formControl]="formControl"
               type="longitude"
               [placeholder]="placeholder"
               [required]="required"
               [tabindex]="tabindex"
               [latLongPattern]="latLongFormat">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-latlong-field>

  <!-- other -->
  <div *ngSwitchDefault>
    <mat-error *ngIf="type">Unknown type {{type}} for PMFM {{pmfm?.pmfmId}}. Please report this error.</mat-error>
    <mat-error *ngIf="!type">Error on field for PMFM {{pmfm?.pmfmId}}. Please report this error.</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </div>

</ng-container>
