<!-- readonly -->
<mat-form-field *ngIf="readonly; else writable">
  <input matInput hidden type="text" readonly="true" [formControl]="formControl">
  <ion-label>{{ displayWith(value) }}</ion-label>
</mat-form-field>

<ng-template #writable >
  <ng-container [ngSwitch]="style">

    <!-- Autocomplete combo -->
    <ng-container *ngSwitchCase="'autocomplete'">
      <mat-form-field [floatLabel]="floatLabel">

        <input matInput #matInput type="text"
               [formControl]="formControl"
               [placeholder]="placeholder"
               [matAutocomplete]="autoCombo"
               [appAutofocus]="autofocus"
               (click)="selectInputContent($event) && onShowDropdown.emit($event)"
               (focus)="onShowDropdown.next($event)"
               (blur)="_onBlur($event)"
               [required]="required"
               [tabindex]="_tabindex"
               (keyup.enter)="this.onPressEnter.emit($event)">

        <button mat-button matSuffix mat-icon-button tabindex="-1"
                type="button"
                *ngIf="clearable"
                (click)="clear()"
                [hidden]="formControl.disabled || !formControl.value">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button matSuffix  mat-icon-button tabindex="-1"
                type="button"
                (click)="onShowDropdown.emit($event)"
                [hidden]="formControl.disabled">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <ng-content select="[matSuffix]"></ng-content>

        <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
      </mat-form-field>

      <!-- combo -->
      <mat-autocomplete #autoCombo="matAutocomplete"
                        autoActiveFirstOption
                        [displayWith]="displayWith">
        <ion-row class="mat-autocomplete-header ion-no-padding">
          <ion-col *ngFor="let attr of searchAttributes"
                   size="{{attr==='label'?3:undefined}}">
            <ion-text>{{ ('REFERENTIAL.' + attr) | uppercase | translate }}</ion-text>
          </ion-col>
        </ion-row>

        <mat-option *ngFor="let item of items | async" [value]="item" class="ion-no-padding">
          <ion-row>
              <ion-col *ngFor="let attr of searchAttributes"
                       size="{{attr==='label' ? 3 : undefined}}"
                       [innerHTML]="item | mapGet: attr | highlight: formControl.value"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>
    </ng-container>

    <!-- Basic select -->
    <mat-form-field *ngSwitchCase="'select'" [floatLabel]="floatLabel">

      <mat-select #matInput [required]="required"
                  [placeholder]="placeholder"
                  [formControl]="formControl"
                  (blur)="_onBlur($event)"
                  [tabindex]="_tabindex"
                  [compareWith]="compareWith">
        <mat-select-trigger>{{ displayWith(value) }}</mat-select-trigger>

        <!-- header -->
        <ion-row class="mat-select-header ion-no-padding">
          <ng-container *ngFor="let attr of searchAttributes" [ngSwitch]="attr">
            <ion-col size="3" *ngSwitchCase="'label'">
              <ion-label translate>REFERENTIAL.LABEL</ion-label>
            </ion-col>
            <ion-col *ngSwitchCase="'name'">
              <ion-label translate>REFERENTIAL.NAME</ion-label>
            </ion-col>
          </ng-container>
        </ion-row>

        <!-- None option -->
        <mat-option *ngIf="!required" class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col *ngIf="compact" size="3"></ion-col>
            <ion-col *ngIf="!compact" size="3" size-lg="2"></ion-col>
            <ion-col class="ion-no-padding">
              <ion-label><i translate>COMMON.EMPTY_OPTION</i></ion-label>
            </ion-col>
          </ion-row>
        </mat-option>

        <!-- options -->
        <mat-option *ngFor="let item of pmfm.qualitativeValues" [value]="item" class="ion-no-padding" >
          <ion-row class="ion-no-padding">
            <ng-container *ngFor="let attr of searchAttributes" [ngSwitch]="attr">
              <ng-container *ngSwitchCase="'label'">
                <ion-col *ngIf="compact" size="3">{{item.label}}</ion-col>
                <ion-col *ngIf="!compact" size="3" size-lg="2">{{item.label}}</ion-col>
              </ng-container>
              <ion-col *ngSwitchCase="'name'">
                <ion-label>{{item.name}}</ion-label>
              </ion-col>
            </ng-container>
          </ion-row>
        </mat-option>
      </mat-select>

      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
    </mat-form-field>

    <!-- Buttons -->
    <mat-form-field *ngSwitchCase="'button'"
                    [floatLabel]="floatLabel === 'never' ? 'never' : 'always'">
      <input matInput type="text" hidden
             [formControl]="formControl"
             [placeholder]="placeholder"
             [required]="required">
      <div class="mat-form-field-buttons"
           [style.--buttons-col-count]="buttonsColCount"
           *ngIf="!formControl.disabled; else disabledLabel">
        <ng-container *ngFor="let item of pmfm.qualitativeValues; index as i; trackBy: getQvId;">
          <ion-button #button
                      *ngIf="showAllButtons || selectedIndex === i || i < maxVisibleButtons"
                      class="mat-form-field-button"
                      [tabindex]="_tabindex && (_tabindex + i)"
                      [color]="selectedIndex === -1 ? 'tertiary': (selectedIndex === i ? 'accent' : 'light')"
                      (click)="writeValue(item)"
                      (keyup.enter)="writeValue(item, $event)">
            {{item.name || item.label}}
          </ion-button>
        </ng-container>
      </div>
      <ng-template #disabledLabel>
        <ion-label><i translate>COMMON.EMPTY_OPTION</i></ion-label>
      </ng-template>

      <ng-content matSuffix select="[matAfter]"></ng-content>

      <ion-fab-button matSuffix color="light" size="small" *ngIf="!compact && maxVisibleButtons !== 999"
                      [class.hidden]="maxVisibleButtons === 999"
                      (click)="showAllButtons=!showAllButtons">
        <ion-icon [name]="showAllButtons && 'chevron-up-outline' || 'chevron-down-outline'"></ion-icon>
      </ion-fab-button>

      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    </mat-form-field>
  </ng-container>

</ng-template>
