.mat-focus-indicator.cdk-visually-hidden {
  position: absolute !important;
}

.mat-form-field {
  .mat-form-field-buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .mat-form-field-button {
      --flex-basis: calc(100% / var(--buttons-col-count, 12));
      flex: 0 1 var(--flex-basis);
      max-width: calc(min(var(--flex-basis), 150px));
      white-space: normal;
      margin: 4px 0;
      height: 40px;
    }
  }

  .fab-button-small {
    margin: 0 5px;
  }
}

