.mat-focus-indicator.cdk-visually-hidden {
  position: absolute !important;
}

.mat-form-field {
  .fab-button-small {
    /* hiden button, but keep button width (for alignment with other fields) */
    &.hidden {
      visibility: hidden;
    }
  }
}

