:root {
}

.table-container {
  height: calc(100vh - var(--table-container-offset, 0));

  &.has-offline-nav {
    --table-container-offset: 49px;
  }
}

.mat-expansion-panel {
  margin-bottom: 5px;
  --expansion-panel-padding: 0 !important;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    height: 46px;
    ion-label {
      line-height: 36px;
    }
  }
}

.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-header-cell.cdk-visually-hidden,
  .mat-cell.cdk-visually-hidden {
    visibility: hidden;
    display: none;
  }

  .mat-header-row,
  .mat-row {
    .mat-column-status {
      max-width: 40px;
    }
  }
}
