<!-- Tab nav - synchro status-->
<nav mat-tab-nav-bar *ngIf="hasOfflineMode && synchronizationStatus; let syncStatus">
  <a mat-tab-link [active]="syncStatus === 'DIRTY'" (click)="setSynchronizationStatus('DIRTY')">
    <mat-icon>cloud_off</mat-icon>
    &nbsp;
    <mat-label translate>NETWORK.SYNCHRONIZATION_STATUS.DIRTY</mat-label>
  </a>
  <a mat-tab-link [active]="syncStatus === 'SYNC'" [disabled]="offline" (click)="setSynchronizationStatus('SYNC')">
    <mat-icon>cloud_done</mat-icon>
    &nbsp;
    <ion-text translate>NETWORK.SYNCHRONIZATION_STATUS.SYNC</ion-text>
  </a>
</nav>

<mat-toolbar *ngIf="showToolbar">
  <div class="toolbar-spacer"></div>

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">
    <button mat-icon-button hidden-xs hidden-sm hidden-mobile *ngIf="canEdit" [title]="'COMMON.BTN_ADD' | translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!--<button mat-icon-button [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>-->

    <!-- reset filter -->
    <button mat-icon-button (click)="resetFilter()" *ngIf="filterCriteriaCount">
      <mat-icon color="accent">filter_list_alt</mat-icon>
      <mat-icon class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold">close</mat-icon>
    </button>

    <button mat-icon-button (click)="filterExpansionPanel.toggle()">
      <mat-icon
        *ngIf="filterCriteriaCount; else emptyFilter"
        [matBadge]="filterCriteriaCount"
        matBadgeColor="accent"
        matBadgeSize="small"
        matBadgePosition="above after"
      >
        filter_list_alt
      </mat-icon>
      <ng-template #emptyFilter>
        <mat-icon>filter_list_alt</mat-icon>
      </ng-template>
    </button>
  </ng-container>
  <ng-template #hasSelection>
    <button mat-icon-button *ngIf="canDelete" [title]="'COMMON.BTN_DELETE' | translate" (click)="deleteSelection($event)" class="hidden-xs hidden-sm">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>
</mat-toolbar>

<!-- search -->
<mat-expansion-panel #filterExpansionPanel class="filter-panel">
  <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- search text -->
          <mat-form-field>
            <ion-icon matPrefix name="search"></ion-icon>
            <input matInput [placeholder]="'VESSEL.LIST.FILTER.SEARCH_TEXT' | translate" formControlName="searchText" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              tabindex="-1"
              type="button"
              (click)="filterForm.controls.searchText.reset()"
              [hidden]="filterForm.disabled || !filterForm.controls.searchText.value"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- date -->
        <ion-col>
          <mat-date-field formControlName="date" [placeholder]="'VESSEL.LIST.FILTER.DATE' | translate" [clearable]="true">
            <ion-icon matPrefix name="calendar"></ion-icon>
          </mat-date-field>
        </ion-col>

        <!-- status -->
        <ion-col>
          <mat-form-field>
            <mat-select formControlName="statusId" [placeholder]="'REFERENTIAL.STATUS' | translate">
              <mat-option [value]="null">
                <i><span translate>COMMON.EMPTY_OPTION</span></i>
              </mat-option>
              <mat-option *ngFor="let item of statusList" [value]="item.id">
                <ion-icon [name]="item.icon"></ion-icon>
                {{ item.label | translate }}
              </mat-option>
            </mat-select>

            <button
              matSuffix
              mat-icon-button
              tabindex="-1"
              type="button"
              (click)="clearFilterStatus($event)"
              [hidden]="filterForm.controls.statusId.disabled || !filterForm.controls.statusId.value"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <mat-action-row>
    <!-- Counter -->
    <ion-label [hidden]="(loadingSubject | async) || filterForm.dirty" [color]="empty ? 'danger' : 'primary'" class="ion-padding">
      {{ (empty ? 'COMMON.NO_RESULT' : 'COMMON.RESULT_COUNT') | translate: { count: (totalRowCount | numberFormat) } }}
    </ion-label>

    <div class="toolbar-spacer"></div>

    <!-- Close panel -->
    <ion-button mat-button fill="clear" color="dark" (click)="filterExpansionPanel.close()" [disabled]="loadingSubject | async">
      <ion-text translate>COMMON.BTN_CLOSE</ion-text>
    </ion-button>

    <!-- Search button -->
    <ion-button
      mat-button
      [color]="filterForm.dirty ? 'tertiary' : 'dark'"
      [fill]="filterForm.dirty ? 'solid' : 'clear'"
      (click)="applyFilterAndClosePanel($event)"
      [disabled]="loadingSubject | async"
    >
      <ion-text translate>COMMON.BTN_APPLY</ion-text>
    </ion-button>
  </mat-action-row>
</mat-expansion-panel>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
</ion-item>

<div class="table-container" [class.has-offline-nav]="hasOfflineMode">
  <table
    mat-table
    #table
    [dataSource]="dataSource"
    class="trips-table"
    matSort
    matSortActive="features.exteriorMarking"
    matSortDirection="asc"
    matSortDisableClear
    [trackBy]="trackByFn"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.currentData.id | mathAbs }}
      </td>
    </ng-container>

    <!-- Start date column -->
    <ng-container matColumnDef="features.startDate">
      <th mat-header-cell class="mat-cell-date-time" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.FEATURES.START_DATE</span>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        <ion-text>{{ row.currentData?.features.startDate | dateFormat }}</ion-text>
      </td>
    </ng-container>

    <!-- Status column  -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.STATUS</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="statusById[row.currentData.statusId]; let status">
          <ion-icon matPrefix *ngIf="status" [color]="statusToColor(status.id)" [name]="status.icon" [title]="status.label | translate"></ion-icon>
        </ng-container>
      </td>
    </ng-container>

    <!-- End date column -->
    <ng-container matColumnDef="features.endDate">
      <th mat-header-cell class="mat-cell-date-time" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.FEATURES.END_DATE</span>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        <ion-text>{{ row.currentData?.features.endDate | dateFormat }}</ion-text>
      </td>
    </ng-container>

    <!-- Exterior marking column -->
    <ng-container matColumnDef="features.exteriorMarking">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.FEATURES.EXTERIOR_MARKING</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData.features?.exteriorMarking }}</ion-text>
      </td>
    </ng-container>

    <!-- Registration Code column -->
    <ng-container matColumnDef="registration.registrationCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.REGISTRATION.REGISTRATION_CODE</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData.registration?.registrationCode }}</ion-text>
      </td>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="features.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.FEATURES.NAME</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData.features?.name }}</ion-text>
      </td>
    </ng-container>

    <!-- Vessel Type -->
    <ng-container matColumnDef="vesselType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.VESSEL_TYPE</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData.vesselType | referentialToString: ['name'] }}</ion-text>
      </td>
    </ng-container>

    <!-- base port location -->
    <ng-container matColumnDef="features.basePortLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.FEATURES.BASE_PORT_LOCATION</span>
      </th>
      <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <ion-text>{{ row.currentData.features?.basePortLocation | referentialToString: autocompleteFields.location.attributes }}</ion-text>
      </td>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef></th>
      <td mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        <mat-icon class="comment" *ngIf="row.currentData.features?.comments" [title]="row.currentData.features?.comments">chat_bubble</mat-icon>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS' | translate" (click)="openSelectColumnsModal($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="light" *ngIf="row.editing" [title]="'COMMON.BTN_UNDO' | translate" (click)="cancelOrDelete($event, row)">
          <mat-icon>undo</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="mat-row-disabled" (click)="clickRow($event, row)"></tr>
  </table>
</div>

<!-- paginator -->
<ion-footer *ngIf="showPaginator">
  <mat-paginator
    class="mat-paginator-footer"
    [length]="totalRowCount"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="defaultPageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</ion-footer>

<!-- Add Button  -->
<ion-fab vertical="bottom" horizontal="end" *ngIf="canEdit && showFabButton && mobile">
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
