<app-toolbar [title]="'VESSEL.LIST.TITLE'|translate"
             color="primary"
             [canGoBack]="false">
  <ion-buttons slot="end">
    <ng-container *ngIf="!table.selection.hasValue(); else hasSelection">
      <button mat-icon-button
              *ngIf="canEdit && !mobile"
              [title]="'COMMON.BTN_ADD'|translate" (click)="table.addRow()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Refresh -->
      <button mat-icon-button *ngIf="!mobile"
              [title]="'COMMON.BTN_REFRESH'|translate"
              (click)="table.onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- reset filter -->
      <button mat-icon-button (click)="table.resetFilter()"
              *ngIf="table.filterCriteriaCount">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <button mat-icon-button (click)="table.filterExpansionPanel.toggle()">
        <mat-icon *ngIf="table.filterCriteriaCount; else emptyFilter"
                  [matBadge]="table.filterCriteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>

    </ng-container>
    <ng-template #hasSelection>
      <button mat-icon-button *ngIf="canDelete" [title]="'COMMON.BTN_DELETE'|translate" (click)="table.deleteSelection($event)"
              class="hidden-xs hidden-sm">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </ion-buttons>
</app-toolbar>

<ion-content class="ion-no-padding" scroll-y="false"
             (swiperight)="onSwipeTab($event)"
             (swipeleft)="onSwipeTab($event)">

  <app-vessels-table #table
                     [canEdit]="canEdit"
                     [showFabButton]="true"
                     [canDelete]="canDelete"
                     [showPaginator]="false"
                     [showToolbar]="false"
                     [paginator]='paginator'
                     (onOpenRow)="onOpenRow($event)">
  </app-vessels-table>

</ion-content>


<!-- paginator -->
<ion-footer>
  <mat-paginator #paginator class="mat-paginator-footer"
                 [length]="table.totalRowCount" [pageSize]="table.defaultPageSize"
                 [pageSizeOptions]="table.defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>

