
.table-container {
  --table-toolbar-height: 0px;
  --table-offline-nav: 0px;
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - var(--table-offline-nav, 0px) - var(--table-paginator-height, 0px));

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-offline-nav {
    --table-offline-nav: var(--mat-tab-link-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-expansion-panel {
  margin-bottom: 5px;
  --expansion-panel-padding: 0!important;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    height: 46px;
    ion-label {
      line-height: 36px;
    }
  }
}

.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-header-cell.cdk-visually-hidden,
  .mat-cell.cdk-visually-hidden {
    visibility: hidden;
    display: none;
  }

  .mat-header-row,
  .mat-row {
    .mat-column-status {
      max-width: 40px;
    }
  }

}
