# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.local/
.local/android
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
www/
src/app/**/*.js
$RECYCLE.BIN/

.DS_Store
.directory
Thumbs.db
UserInterfaceState.xcuserstate
yarn.lock
resources/android/build/local
package-lock.json
