include:
  - project: Zenika/forge/ci-cd
    ref: main
    file: /pipelines/java.yml


variables:

  ## Application
  APP_SHARED_MODULE: sumaris-core-shared
  APP_WAR_MODULE: sumaris-server
  ARTIFACT_WAR_FILE: $APP_WAR_MODULE/target/*.war
  ARTIFACT_CONFIG_FILES: $APP_WAR_MODULE/target/classes/*.properties
  IFREMER_IMAGE_REGISTRY: gitlab-registry.ifremer.fr/ifremer-commons/docker/images/

  ## Build
  JAVA_BUILDER_BUILD_COMMAND: clean install -DskipTests
  JAVA_BUILDER_ARTIFACTS_PATH: $APP_WAR_MODULE/target
  JAVA_BUILDER_BUILD_IMAGE: $CI_REGISTRY_IMAGE/build:develop
  RUNNER_TAG: sih_public_runner

  ## Container Image
  CONTAINER_IMAGE_BUILD_ARGS: >-
    --build-arg ENTRYPOINT=$APP_WAR_MODULE/src/main/docker/run/app.sh
    --build-arg WAR_FILE=$ARTIFACT_WAR_FILE
    --build-arg CONFIG_FILES=$ARTIFACT_CONFIG_FILES
    --build-arg IMAGE_REGISTRY=$IFREMER_IMAGE_REGISTRY
  CONTAINER_IMAGE_DOCKER_FILE_PATH: $APP_WAR_MODULE/src/main/docker/run/Dockerfile
  CONTAINER_IMAGE_BUILD_CONTEXT: $JAVA_BUILDER_ARTIFACTS_PATH