target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.idea/
**/*.iml
**/.gradle
**/gradle*
/*.log
.local/
.jpb/

# SUMARiS specific ignore path
sumaris.log.file_IS_UNDEFINED
sumaris-core/src/test/db*
sumaris-core/src/test/scripts/*.log
sumaris-core/src/test/scripts/nohup.out
sumaris-core/src/test/scripts/hsqldb-*.jar

sumaris-server/*.log

sumaris-importation/src/test/data/import/GBR-mix-test-HH.csv.tmp
sumaris-importation/src/test/data/import/GBR-mix-test-HL.csv.tmp
sumaris-importation/src/test/data/import/GBR-mix-test-SL.csv.tmp
sumaris-importation/src/test/data/import/GBR-mix-test-TR.csv.tmp