image: trion/ng-cli

stages:
  - build
  - test
  - docs
  - prepare
  - release
  - deploy

.build:
  stage: build
  tags:
    - sih_public_runner
  script:
    - echo "installation and build in progress"
    - npm install
    - npm run build.${BUILD_ENVIRONMENT}
  variables:
    BUILD_ENVIRONMENT: aot

build_auto:
  extends: .build
  only:
    - develop
    - develop-imagine
  except:
    - schedules

schedule_build:
  extends: .build
  only:
    - schedules

build_registry:
    extends: .build
    after_script:
      - echo "Deploy artefact in progress"
      - APP_VERSION=$(node -e "console.log(require('./package.json').version)")
      - cd ${CI_PROJECT_DIR}/www
      - zip -q -r ${ZIP_FILE} .
      - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file ${ZIP_FILE} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${APP_VERSION}/${CI_PROJECT_NAME}.zip"'
    variables:
      ZIP_FILE: ${CI_PROJECT_DIR}/www/${CI_PROJECT_NAME}.zip
      BUILD_ENVIRONMENT: prod
    artifacts:
      paths:
        - www/*.zip
    only:
        - develop
        - develop-imagine
    when: manual

pages:
    stage: docs
    tags:
        - sih_public_runner
    image: python:3.7-alpine
    before_script:
        - apk --update --upgrade add gcc musl-dev jpeg-dev zlib-dev libffi-dev cairo-dev pango-dev gdk-pixbuf-dev
        - pip install --upgrade pip
        - pip install --upgrade mkdocs
        - pip install --upgrade mkdocs-pdf-export-plugin==0.5.5
    script:
        - mkdocs -v build
        - mv site public
    artifacts:
        paths:
            - public
    only:
        - develop
        - develop-imagine
    when: manual

package:
    stage: prepare
    tags:
        - sih_public_runner
    before_script:
        - git checkout -B "$CI_BUILD_REF_NAME"
        - git config --global user.email "lbruvryl@ifremer.fr"
        - git config --global user.name "Leo BRUVRY-LAGADEC"
        - echo "TAG=$RELEASE_VERSION" >> variables.env
    script:
        - echo "Release in progress"
        - mvn -P prod release:clean -Dslf4jJclScope=provided
        - mvn -P prod -s ./settings.xml release:prepare --batch-mode -Dtag=emso-charts-$RELEASE_VERSION -DreleaseVersion=$RELEASE_VERSION -DdevelopmentVersion=$NEW_DEV_VERSION -DscmCommentPrefix="[ci skip] to "
        - mvn -P prod -s ./settings.xml release:perform -Dslf4jJclScope=provided -X -DscmCommentPrefix="[ci skip] to "
    artifacts:
        paths:
            - web-services/target/*.war
        reports:
            dotenv: variables.env
    only:
        - develop
        - develop-imagine
    allow_failure: false
    when: manual

release:
    stage: release
    tags:
        - sih_public_runner
    image: registry.gitlab.com/gitlab-org/release-cli:latest
    needs:
        - job: package
          artifacts: true
    script:
        - echo "running release for emso-charts-$TAG"
    release:
        name: "Release emso-charts-$TAG"
        description: "Created using the release-cli $EXTRA_DESCRIPTION"
        tag_name: "emso-charts-$TAG"
        ref: "$CI_COMMIT_SHA"
    only:
        - develop
        - develop-imagine
deploy:
    stage: deploy
    tags:
        - sih_public_runner
    script:
        - echo "Deploy in progress"
        - mvn -s ./settings.xml deploy:deploy-file -DgroupId=fr.ifremer -DartifactId=emso-charts -Dversion=$TAG -Dfile=web-services/target/ROOT.war -DrepositoryId=gitlab-maven -Durl=https://gitlab.ifremer.fr/api/v4/projects/1226/packages/maven
    only:
        - develop
        - develop-imagine
    when: manual
