target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.idea/
**/*.iml
**/.gradle
/*.log
.local/

# SUMARiS specific ignore path
sumaris-core/src/test/db*
sumaris-core/src/test/scripts/server.log
sumaris-core/src/test/scripts/nohup.out
sumaris-core/src/test/scripts/hsqldb-2.4.0.jar

sumaris-core/src/test/scripts/hsqldb-2.4.1.jar
sumaris-core-server/gradlew.bat
sumaris-core-server/gradlew
sumaris-core-server/gradle/wrapper/gradle-wrapper.properties
sumaris-core-server/gradle/wrapper/gradle-wrapper.jar
