

/* Plugin tab button */
.yasr .plugin_icon.txtIcon {
    margin-top: -7px; /* Align to text */
}
.yasr .icon {
    height: 15px;
    width: 15px;
    display: inline-flex;
    background-size: contain;
}
.yasr small .icon {
    height: 12px;
    width: 12px;
}

/* Plugin content style */

.yasr .taxon-plugin .gray {
    color: gray;
}

.yasr .taxon-plugin .exact-match a {
}
.yasr .taxon-plugin .exact-match ul {
    padding-left: 15px;
}
.yasr .taxon-plugin .exact-match ul li {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
}