.yasr ::after, yasr ::before {
    box-sizing: unset;
}


/* debug mode */

#debug {
    max-height: 300px;
}
#debug .col {
    padding: 0;
}

#output {
   overflow-y: scroll;
   max-height: 300px;
}
#output * {
    padding-left: 5px;
    font-size: 12pt;
    line-height: 12pt;
}