.yasr ::after, yasr ::before {
    box-sizing: unset;
}

.container {
    min-height: calc(100vh - 58px/*menu*/);
}

/* debug mode */

#debug {
    max-height: 300px;
}
#debug .col {
    padding: 0;
}

#output {
   overflow-y: scroll;
   max-height: 300px;
}
#output * {
    padding-left: 5px;
    font-size: 12pt;
    line-height: 12pt;
}


/* The animation code */

#details {
    position: absolute;
    top: 58px;
    left: calc(60vw);
    width: calc(40vw);
    height: calc(100vh - 58px);
    margin: 0;
    padding: 0;
    z-index: 999;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: white;
    right: 0;
}
#details.d-none {
    display: block !important;
    visibility: visible !important;
    overflow-x: hidden;
    left: calc(100vw);
    background-color: lightgray;
    width: 0 !important;
}
#details.loading {
    background-color: lightgray;
    left: calc(100vw - 55px);
    width : 55px;
    opacity: 0.7;
    align-content: center;
    right: 0;
    overflow: hidden;
}
#details .backdrop {
    background-color: #0c0c0c;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: calc(100vw * -1);
    width: calc(100vw);
    height: calc(100vh);
    z-index: 99;
}
#details.loading .backdrop,
#details.d-none .backdrop {
    display: none;
    visibility: hidden;
    opacity: 0;
}

#details .spinner-border {
    display: none;
    visibility: hidden;
}
#details.loading .spinner-border {
    display: block;
    visibility: visible;
    padding: 10px;
    margin: 10px;
    position: relative;
}
#details .btn-close {
    position: absolute;
    top: 12px;
    z-index: 10000;
    right: 25px;
    left: unset;
}
#details.loading .btn-close {
    opacity: 0;
}

#details iframe {
    width: 100%;
    height: 100%;
}

#details iframe {
}


/* --- Drop zone --- */
.files .row {
    padding: 8px;
}
.files .row > .col {
    border-top: 1px solid #ddd;
}
.files .row:nth-child(odd) {
    background: #f9f9f9;
}

/* Hide the progress bar when finished */
.files .row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
.files .row .delete {
    display: none;
}

.files .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}
#previews .file-row.dz-success .delete {
    display: block;
}