<mat-form-field [floatLabel]="showSlides && (!floatLabel || floatLabel === 'auto') ? 'always': floatLabel"
                [class.mat-form-field-disabled]="disabled">
  <mat-label *ngIf="placeholder && floatLabel!=='never'">
    {{placeholder}}
  </mat-label>
  <input matInput #fakeInput type="text"
         [formControl]="formControl"
         [readonly]="true"
         (focus)="_onFocusFakeInput($event)"
         [required]="required"
         [class.cdk-visually-hidden]="showSlides"
         [tabindex]="tabindex">

  <div class="slides-container" [class.hidden]="!showSlides">
    <ion-slides #slides
                [options]="slidesOptions"
                (ionSlidesDidLoad)="slidesLoaded()"
                (ionSlideReachStart)="reachStart(true)"
                (ionSlideReachEnd)="reachEnd(true)"
                (ionSlideNextEnd)="reachStart(false)"
                (ionSlidePrevEnd)="reachEnd(false)"
                (ionSlideDidChange)="slideChanged()"
    >
      <ion-slide *ngFor="let item of $items | async">
        <ion-label>{{ displayWith(item) }}</ion-label>
      </ion-slide>

    </ion-slides>
  </div>

  <button #prevButton
          mat-icon-button
          type="button"
          class="button-prev"
          [hidden]="!showSlides"
          [disabled]="previousDisabled"
          (click)="previous()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button #nextButton
          mat-icon-button
          type="button"
          class="button-next"
          [hidden]="!showSlides"
          [disabled]="nextDisabled"
          (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button matSuffix mat-icon-button tabindex="-1"
          type="button"
          *ngIf="clearable"
          (click)="clearValue($event)"
          [hidden]="disabled || !formControl.value">
    <mat-icon>close</mat-icon>
  </button>

  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>

</mat-form-field>
