<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{'TRIP.TRASH.TITLE' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <!-- loading spinner -->
      <ion-spinner *ngIf="loadingSubject|async"></ion-spinner>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- display columns -->
  <button mat-menu-item
          (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

</mat-menu>

<ion-content class="ion-no-padding">

  <mat-toolbar>

    <!-- if NO row selection -->
    <ng-container *ngIf="!selection.hasValue(); else hasSelection">
      <button mat-icon-button [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>
    </ng-container>

    <!-- if row selection -->
    <ng-template #hasSelection>

      <!-- restore -->
      <ion-button [fill]="selection.isEmpty() ? 'clear' : 'solid'"
                  [disabled]="selection.isEmpty()"
                  (click)="closeAndRestore($event, selection.selected)"
                  color="tertiary">
        <ion-label translate>COMMON.BTN_RESTORE</ion-label>
      </ion-button>

      <!-- delete -->
      <button mat-icon-button class="hidden-xs hidden-sm" *ngIf="canDelete"
              [matTooltip]="'COMMON.BTN_DELETE_FOREVER'|translate" (click)="cleanRemoteTrash($event, selection.selected)">
        <mat-icon>delete_forever</mat-icon>
      </button>

    </ng-template>

    <!-- error -->
    <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <div class="toolbar-spacer"></div>

    <button mat-icon-button
            [title]="'COMMON.BTN_OPTIONS'|translate"
            [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>


  <!-- table -->
  <mat-table [dataSource]="dataSource" matSort
             matSortActive="updateDate"
             [matSortDirection]="defaultSortDirection"
             matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef >
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!showIdColumn">
        <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!showIdColumn">{{ row.currentData.id | mathAbs }}</mat-cell>
    </ng-container>

    <!-- Update date Column -->
    <ng-container matColumnDef="updateDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.TRASH.DELETION_DATE</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.currentData.updateDate | dateFormat:{time:true} }}</mat-cell>
    </ng-container>

    <!-- Program Column -->
    <ng-container matColumnDef="program">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.PROGRAM</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.currentData.program | referentialToString:['label']}}
      </mat-cell>
    </ng-container>

    <!-- Vessel Column -->
    <ng-container matColumnDef="vessel">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.VESSEL</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-label>{{row.currentData.vesselSnapshot | referentialToString:displayedAttributes.vesselSnapshot }}</ion-label>
      </mat-cell>
    </ng-container>

    <!-- departure location -->
    <ng-container matColumnDef="departureLocation">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.DEPARTURE_LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.currentData.departureLocation | referentialToString:displayedAttributes.location }}
      </mat-cell>
    </ng-container>

    <!-- departure date time  -->
    <ng-container matColumnDef="departureDateTime">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.DEPARTURE_DATE_TIME</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{row.currentData.departureDateTime|dateFormat:{time:true} }}</ion-text>
      </mat-cell>

    </ng-container>

    <!-- return date time -->
    <ng-container matColumnDef="returnDateTime">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.RETURN_DATE_TIME</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.returnDateTime|dateFormat:{time: true} }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Observers -->
    <ng-container matColumnDef="observers">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.OBSERVERS</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.observers | personToString }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon color="primary" *ngIf="row.currentData.comments" [title]="row.currentData.comments">comment</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn"
                [title]="'COMMON.BTN_RESTORE'|translate"
                (click)="restore($event, [row])">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button color="warn"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="cleanRemoteTrash($event, [row])">
          <mat-icon>close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             class="mat-row-disabled"
             [class.mat-row-selected]="selection.isSelected(row)"
             (click)="clickRow($event, row)">
    </mat-row>
  </mat-table>

  <ion-row class="ion-no-padding">
    <ion-col [class.cdk-visually-hidden]="mobile"></ion-col>
    <ion-col class="ion-no-padding" size="auto">
      <mat-paginator [length]="totalRowCount" [pageSize]="defaultPageSize" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>
</ion-content>


<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">

        <!-- Clean local trash -->
        <ion-button fill="clear" color="danger"
                    *ngIf="isOfflineMode"
                    (click)="cleanLocalTrash($event)">
          <mat-icon slot="start">delete_forever</mat-icon>
          <ion-label translate>COMMON.BTN_CLEAN_TRASH</ion-label>
        </ion-button>

        <ion-button fill="clear" color="dark"
                    (click)="cancel()">
          <ion-label translate>COMMON.BTN_CLOSE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
