<app-toolbar visible-xs visible-sm visible-mobile>
  <ion-button mat-icon-button [matMenuTriggerFor]="matmenu">
    <mat-icon slot="icon-only">public</mat-icon>
  </ion-button>
</app-toolbar>

<!-- change locale menu -->
<mat-menu #matmenu="matMenu">
  <button mat-menu-item (click)="changeLanguage('en')">
    <mat-icon>flag</mat-icon>
    <ion-label>
      English
    </ion-label>
  </button>
  <button mat-menu-item (click)="changeLanguage('fr')">
    <mat-icon>flag</mat-icon>
    <ion-label>
      Français
    </ion-label>
  </button>
</mat-menu>

<ion-content [ngStyle]="contentStyle"
             no-padding-xs>
    <!-- loading spinner -->
    <div class="loading-page" [class.hidden]="!loading">
      <div class="spinner" *ngIf="loading && showSpinner">
        <p>Loading...</p>
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>

    <!-- Desktop: translucent top toolbar -->
    <div hidden-xs hidden-sm hidden-mobile>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>

        <ion-buttons slot="end">
          <!-- change locale button -->
          <ion-button color="secondary" fill="solid" [matMenuTriggerFor]="matmenu">
            <mat-icon slot="start">public</mat-icon>
            <ion-label>&nbsp;{{ currentLocaleCode | uppercase }}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

    <!-- Welcome card -->
    <ion-card @fadeInAnimation *ngIf="!loading" class="welcome ion-padding ion-text-center ion-align-self-center">
      <ion-card-header>
        <ion-card-title [innerHTML]="'HOME.WELCOME'|translate: {appName: appName}" class="ion-text-center">
        </ion-card-title>
        <ion-card-subtitle [innerHTML]="description">
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-text color="primary">
          <img class="logo" src="{{ logo }}"/>
        </ion-text>
        <ion-text *ngIf="!isLogin">
          <br/>
          <span translate>HOME.REGISTER_HELP</span>
        </ion-text>
      </ion-card-content>

      <ion-footer class="ion-padding-top">

        <ion-button expand="block" color="primary" *ngIf="!isLogin" (click)="register()">
          <span translate>HOME.BTN_REGISTER</span>
        </ion-button>

        <ion-button expand="block" color="light" [routerLink]="['/']" *ngIf="!isLogin" (click)="login()">
          <span translate>AUTH.BTN_LOGIN</span>
        </ion-button>

        <ion-button expand="block" color="secondary" [routerLink]="['/account']" *ngIf="isLogin">
          <ion-icon name="contact" slot="start"></ion-icon>
          <span translate>HOME.BTN_MY_ACCOUNT</span>
        </ion-button>

        <p *ngIf="isLogin" hidden-xs hidden-sm hidden-mobile>
          <ion-text [innerHTML]="'HOME.NOT_THIS_ACCOUNT_QUESTION' | translate: {displayName: displayName}"></ion-text>
          <br/>
          <ion-text>
            <a href="#" (click)="logout($event)">
              <span translate>HOME.BTN_DISCONNECT</span>
            </a>
          </ion-text>
        </p>
      </ion-footer>
    </ion-card>

  <ion-grid *ngIf="!loading && pageHistory.length; else bottomBanner"
            class="history-container ion-align-self-center">
    <ion-row>
      <ion-col size="12" size-xl="" *ngFor="let page of pageHistory; trackBy: getPagePath"
               class="ion-text-center">
        <ion-card class="ion-align-self-start ion-text-start" @fadeInAnimation>
          <ion-card-header class="ion-no-padding">
            <!-- top bar -->
            <ion-card-subtitle>
              <button type="button" tabindex="-1"
                      (click)="settings.removeHistory(page.path)"
                      mat-icon-button class="ion-float-start ion-no-margin">
                <mat-icon>close</mat-icon>
              </button>
              <ion-label [innerHTML]="page.subtitle"></ion-label>
              <ion-label class="ion-float-end" [title]="page.time|dateFormat:{time: true}">
                <ion-icon name="time"></ion-icon> {{ page.time|dateFromNow }}
              </ion-label>
            </ion-card-subtitle>

            <!-- main page -->
            <ion-card-title class="ion-no-margin">
              <ion-item  detail="true"
                         tappable class="text-1x"
                         [routerLink]="page.path"
                         routerDirection="forward" lines="none">
                <!-- page icon-->
                <ion-icon *ngIf="page.icon"    slot="start" [name]="page.icon"></ion-icon>
                <mat-icon *ngIf="page.matIcon" slot="start">{{page.matIcon}}</mat-icon>

                <ion-label color="primary" [innerHTML]="page.title"></ion-label>
              </ion-item>
            </ion-card-title>
          </ion-card-header>

          <!-- children pages -->
          <ion-card-content class="ion-no-padding ion-padding-start" *ngIf="page.children?.length">
            <ion-list class="ion-no-padding">
              <ion-item  detail="true"
                         *ngFor="let childPage of page.children"
                         tappable class="text-1x"
                        [routerLink]="childPage.path"
                        routerDirection="forward">
                <!-- page icon-->
                <ion-icon *ngIf="childPage.icon"    slot="start" color="dark" [name]="childPage.icon"></ion-icon>
                <mat-icon *ngIf="childPage.matIcon" slot="start" color="dark">{{childPage.matIcon}}</mat-icon>

                <ion-label color="dark" [innerHTML]="childPage.title"></ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Display configured Departments logos -->
  <ng-template #bottomBanner>
    <div class="bottom-banner ion-text-center ion-padding" *ngIf="!loadingBanner" @fadeInAnimation>
      <a href="{{ item.siteUrl }}" *ngFor="let item of $partners | async ">
        <img class="logo" src="{{ item.logo }}" alt="{{item.label}}"  [title]="item.label" />
      </a>
    </div>
  </ng-template>

</ion-content>
