<app-toolbar>
  <ion-button mat-icon-button [matMenuTriggerFor]="matmenu">
    <mat-icon>public</mat-icon>
  </ion-button>
  <mat-menu #matmenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      <mat-icon>flag</mat-icon>
      <span>
        English
      </span>
    </button>
    <button mat-menu-item (click)="changeLanguage('fr')">
      <mat-icon>flag</mat-icon>
      <span>
        Français
      </span>
    </button>
  </mat-menu>
</app-toolbar>

<ion-content padding [ngStyle]="{'background-image': 'url('+bgImage+')'}" class="no-padding-xs">


  <p class="hidden-xs">&nbsp;</p>

  <ion-card>
    <ion-card-header>
      <h1 translate>HOME.WELCOME</h1>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="primary">
        <img class="logo" src="./assets/img/logo.png" [title]="'APP_NAME'|translate" />
        <br/>
        <span [innerHTML]="'HOME.DESCRIPTION'|translate"></span>
      </ion-text>
    </ion-card-content>

    <ion-footer>
      <ion-button expand="full" color="primary" [routerLink]="['/account']" *ngIf="!isLogin">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <span translate>AUTH.BTN_LOGIN</span>
      </ion-button>

      <ion-button expand="full" color="secondary" [routerLink]="['/account']" *ngIf="isLogin">
        <ion-icon name="contact" slot="start"></ion-icon>
        <span translate>HOME.BTN_MY_ACCOUNT</span>
      </ion-button>

      <p *ngIf="!isLogin">
        <span translate>AUTH.NO_ACCOUNT_QUESTION</span>
        <a href="#" (click)="register()">
          <span translate>AUTH.BTN_REGISTER</span>
        </a>
      </p>

      <p *ngIf="isLogin" ion-text color="primary" class="hidden-xs hidden-sm">
        <span [innerHTML]="'HOME.NOT_THIS_ACCOUNT_QUESTION' | translate: {displayName: displayName}"></span>
        <br/>
        <a ion-text color="danger" href="#" (click)="logout($event)">
          <span translate>HOME.BTN_DISCONNECT</span>
        </a>
      </p>
    </ion-footer>
  </ion-card>

  <p class="hidden-xs">&nbsp;</p>

  <div class="bottom-banner">
    <img class="logo" src="./assets/img/logo/logo-interreg2seas.png">
    <img class="logo" src="./assets/img/logo/logo-fromnord.png">
    <img class="logo" src="./assets/img/logo/logo-ilvo-text.png">
    <img class="logo" src="./assets/img/logo/logo-ifremer.png">
    <img class="logo" src="./assets/img/logo/logo-nausicaa.png">
    <img class="logo" src="./assets/img/logo/logo-redercentrale.png">
  </div>

</ion-content>
