<app-toolbar color="primary" class="visible-xs"></app-toolbar>

<ion-content padding class="bg-image-cover center" [ngStyle]="{'background-image': 'url('+bgImage+')'}">


  <p class="hidden-xs">&nbsp;</p>

  <ion-card>
    <ion-card-header>
      <h4 translate>HOME.WELCOME</h4>
    </ion-card-header>
    <ion-card-content>
      <p ion-text [innerHTML]="'HOME.DESCRIPTION'|translate"></p>

      <p>
        <img id="logo" src="./assets/img/logo.png" [title]="'APP_NAME'|translate" />
      </p>
    </ion-card-content>

    <ion-footer>
      <ion-button size="full" color="primary" [routerLink]="['/account']" *ngIf="!isLogin">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <span translate>AUTH.BTN_LOGIN</span>
      </ion-button>

      <ion-button size="full" color="secondary" [routerLink]="['/account']" *ngIf="isLogin">
        <ion-icon name="contact" slot="start"></ion-icon>
        <span translate>HOME.BTN_MY_ACCOUNT</span>
      </ion-button>

      <p *ngIf="!isLogin">
        <span translate>AUTH.NO_ACCOUNT_QUESTION</span>
        <a href="#" (click)="register()">
          <span translate>AUTH.BTN_REGISTER</span>
        </a>
      </p>

      <p *ngIf="isLogin" ion-text color="primary" class="hidden-xs hidden-sm">
        <span [innerHTML]="'HOME.NOT_THIS_ACCOUNT_QUESTION' | translate: {displayName: displayName}"></span>
        <br/>
        <a ion-text color="danger" href="#" (click)="logout($event)">
          <span translate>HOME.BTN_DISCONNECT</span>
        </a>
      </p>
    </ion-footer>
  </ion-card>

  <p class="hidden-xs">&nbsp;</p>

  <div class="bottom-banner">
    <img class="logo" src="./assets/img/logo/logo-interreg2seas.png">
    <img class="logo" src="./assets/img/logo/logo-fromnord.png">
    <img class="logo" src="./assets/img/logo/logo-ilvo-text.png">
    <img class="logo" src="./assets/img/logo/logo-ifremer.png">
    <img class="logo" src="./assets/img/logo/logo-nausicaa.png">
    <img class="logo" src="./assets/img/logo/logo-redercentrale.png">
  </div>

</ion-content>
