

ion-col>ion-label {
  word-wrap: break-word;
  white-space: normal;
}
.mat-tab-group {
  --mat-tab-body-content-height-root: calc(100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px) - 2px);
  --mat-tab-body-content-height: var(--mat-tab-body-content-height-root);

  .mat-tab-group-body-catches.has-filter {
    --app-catches-filter-height: 65.5px;
  }

  .mat-tab-group {
    --mat-tab-body-content-height: calc(var(--mat-tab-body-content-height-root) - var(--table-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-catches-filter-height, 0px) - 1px);
  }
}



//.mat-tab-group {
//
//  .mat-tab-body .mat-tab-body-content {
//    min-height: var(--ion-tab-min-height, 250px);
//  }
//}
