<app-toolbar [title]="$title | async" color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             [hasClose]="!loading && !dirty"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner slot="end" *ngIf="loading"></ion-spinner>

  <button slot="end" mat-icon-button *ngIf="enabled && !isNewData || debug"
          [matMenuTriggerFor]="optionsMenu"
          [title]=" 'COMMON.BTN_OPTIONS'|translate">
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- delete -->
  <button mat-menu-item (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item (click)="cancel($event)" [disabled]="!dirty">
    <ion-label>
      <mat-icon>
        <ion-icon slot="start" name="refresh"></ion-icon>
      </mat-icon>&nbsp;
      <span translate>COMMON.BTN_RESET</span>
    </ion-label>
  </button>

  <!-- DEV only -->
  <button mat-menu-item *ngIf="debug && !isNewData && data?.id > 0"
          (click)="copyLocally()">
    <ion-label>Save locally (#developer)
    </ion-label>
  </button>
  <button mat-menu-item *ngIf="debug && network.online"
          (click)="devToggleOfflineMode()">
    <ion-label translate>SETTINGS.OFFLINE_MODE</ion-label>
  </button>
</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">
  <mat-tab-group #tabGroup
                 class="mat-tab-disabled-hidden mat-tab-fixed-content"
                 [class.mobile]="mobile"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'"
                 dynamicHeight="false">

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>TRIP.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger"
                  *ngIf="submitted && (tripForm.invalid || measurementsForm.invalid || fishingAreaForm.invalid)"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="error || tripForm.error || measurementsForm.error || fishingAreaForm.error; let errorMsg" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="errorMsg | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">

        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">
            <!-- trip -->
            <form-trip #tripForm
                       (onSubmit)="save($event)"
                       [showError]="false"
                       [showAddVessel]="false"
                       [returnFieldsRequired]="true">

              <!-- Main fishing area  -->
              <app-fishing-area-form #fishingAreaForm
                                     [showError]="false"
                                     [showDepthGradient]="false"
                                     [showNearbySpecificArea]="false"
                                     [required]="false"
                                     [debug]="debug">
              </app-fishing-area-form>

              <!-- Other features (Measurements) -->
              <ion-grid class="ion-no-padding ion-padding-top">
                <ion-row>
                  <ion-col size="12" size-md="2" size-lg="3">
                    <ion-label class="ion-float-end" translate>TRIP.EDIT.OTHER_FEATURES</ion-label>
                  </ion-col>
                  <ion-col>
                    <app-form-measurements #measurementsForm
                                           entityName="VesselUseMeasurement"
                                           [forceOptional]="usageMode|isOnField"
                                           [acquisitionLevel]="acquisitionLevel"
                                           [debug]="debug"
                                           [programLabel]="$programLabel|async"
                                           [tabindex]="30">
                    </app-form-measurements>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </form-trip>
          </ion-col>
          <ion-col size="12" size-xl="3" class="ion-no-padding">
            <app-entity-metadata [value]="data">
              <app-entity-quality-form>
              </app-entity-quality-form>
            </app-entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: operations (effort) -->
    <mat-tab label="{{'TRIP.TAB_OPERATION_GROUPS'|translate}}" [disabled]="!showOperationGroupTab">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="locate"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_OPERATION_GROUPS</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger"
                  *ngIf="submitted && operationGroupTable.invalid"></ion-icon>
      </ng-template>

      <app-operation-group-table #operationGroupTable
                                 [programLabel]="$programLabel | async"
                                 acquisitionLevel="OPERATION"
                                 [metiers]="$metiers.asObservable()"
                                 [showToolbar]="!mobile"
                                 (onOpenRow)="onOpenOperationGroup($event)"
                                 (onNewRow)="onNewOperationGroup($event)">
      </app-operation-group-table>
    </mat-tab>

    <!-- TAB: catches -->
    <mat-tab label="{{'TRIP.TAB_CATCHES'|translate}}" [disabled]="!showCatchTab">
      <ng-template mat-tab-label>
        <ion-icon slot="start" name="scan"></ion-icon>
        <ion-label translate>TRIP.TAB_CATCHES</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger"
                  *ngIf="submitted && (productsTable.invalid || packetsTable.invalid)"></ion-icon>
      </ng-template>

      <div class="mat-tab-group-body-catches" [class.has-filter]="showCatchFilter">
        <form class="form-container" [formGroup]="catchFilterForm" *ngIf="showCatchFilter">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="2" size-lg="3">
                <ion-label class="ion-float-end" translate>TRIP.LANDED_CATCH.OPERATION_GROUP_FILTER</ion-label>
              </ion-col>
              <ion-col>
                <mat-autocomplete-field floatLabel="never" [clearable]="true"
                                        [placeholder]="'COMMON.EMPTY_OPTION'|translate"
                                        [config]="autocompleteFields.operationGroupFilter"
                                        formControlName="operationGroup">
                  <ion-icon matPrefix name="locate"></ion-icon>
                </mat-autocomplete-field>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>

        <mat-tab-group #catchTabGroup
                       animationDuration="0s"
                       (selectedTabChange)="onSubTabChange($event)">

          <!-- SUB-TAB: products -->
          <mat-tab label="{{'TRIP.LANDED_CATCH.TAB_PRODUCT'|translate}}">
            <ng-template mat-tab-label>
              <ion-label
                [matBadge]='productsTable?.value?.length'
                [matBadgeHidden]="!productsTable?.value?.length"
                matBadgeOverlap='false'
                matBadgeColor="accent"
                matBadgeSize="small"
                matBadgePosition="above after"
                translate>TRIP.LANDED_CATCH.TAB_PRODUCT
              </ion-label>
              <ion-icon slot="end" name="alert-circle" color="danger"
                        *ngIf="submitted && productsTable.invalid"></ion-icon>
            </ng-template>

            <app-products-table #productsTable
                                [debug]="debug"
                                [programLabel]="$programLabel | async"
                                acquisitionLevel="PRODUCT"
                                [$parents]="$operationGroups"
                                [parentFilter]="$productFilter | async"
                                [parentAttributes]="operationGroupAttributes"
                                [showSaleType]='false'
                                [showToolbar]="!mobile"
                                [useSticky]="true">
            </app-products-table>
          </mat-tab>

          <mat-tab label="{{'TRIP.LANDED_CATCH.TAB_BATCH'|translate}}">
            <ng-template mat-tab-label>
              <ion-label
                [matBadge]='packetsTable?.value?.length'
                [matBadgeHidden]="!packetsTable?.value?.length"
                matBadgeOverlap='false'
                matBadgeColor="accent"
                matBadgeSize="small"
                matBadgePosition="above after"
                translate>TRIP.LANDED_CATCH.TAB_BATCH
              </ion-label>
              <ion-icon slot="end" name="alert-circle" color="danger"
                        *ngIf="submitted && packetsTable.invalid"></ion-icon>
            </ng-template>

            <app-packets-table #packetsTable
                               [debug]="debug"
                               [program]="$programLabel | async"
                               [$parents]="$operationGroups"
                               [parentFilter]="$packetFilter | async"
                               [parentAttributes]="operationGroupAttributes"
                               [showToolbar]="!mobile"
                               [useSticky]="true">
            </app-packets-table>

          </mat-tab>

        </mat-tab-group>
      </div>

    </mat-tab>

    <!-- TAB: expenses -->
    <mat-tab label="{{'TRIP.TAB_SALES'|translate}}" [disabled]="!showSaleTab">
      <ng-template mat-tab-label>
        <mat-icon slot='start'>local_offer</mat-icon>
        <ion-label translate>TRIP.TAB_SALES</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && expenseForm.invalid"></ion-icon>
      </ng-template>

      <app-expected-sale-form #expectedSaleForm
                              [programLabel]='$programLabel|async'
                              [showError]="true"
                              [mobile]="mobile"
      >
      </app-expected-sale-form>
    </mat-tab>

    <!-- TAB: expenses -->
    <mat-tab label="{{'TRIP.TAB_EXPENSES'|translate}}" [disabled]="!showExpenseTab">
      <ng-template mat-tab-label>
        <ion-icon slot="start" name="card"></ion-icon>
        <ion-label translate>TRIP.TAB_EXPENSES</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && expenseForm.invalid"></ion-icon>
      </ng-template>

      <app-expense-form #expenseForm
                        entityName="VesselUseMeasurement"
                        [programLabel]="$programLabel|async"
                        acquisitionLevel="EXPENSE"
                        [forceOptional]="usageMode|isOnField"
                        [showError]="true"
                        [debug]="debug"
                        (selectedTabChange)="onSubTabChange($event)">
      </app-expense-form>

    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error | translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="enabled && (selectedTabIndex === 1 || selectedTabIndex === 2)" @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>

  <ion-fab-button color="tertiary" (click)="onNewFabButtonClick($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>
