<form class="form-container" [formGroup]="form">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <!-- Global -->
  <ion-grid class="ion-no-padding ion-padding-top">
    <ng-container *ngIf="$estimatedTotalPmfm | async; let estimatedTotalPmfm">
      <ion-row>
        <ion-col size="12" size-md="2" size-lg="3">
          <ion-label class="ion-float-end" translate>EXPENSE.TOTAL_ESTIMATION</ion-label>
        </ion-col>
        <ion-col>
          <mat-form-field-measurement [pmfm]="estimatedTotalPmfm"
                                      [formControlName]="estimatedTotalPmfm.pmfmId.toString()"
                                      [hidden]="estimatedTotalPmfm.hidden"
                                      [compact]="compact"
                                      [tabindex]="tabindex+2">
          </mat-form-field-measurement>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>EXPENSE.TOTAL_CALCULATED</ion-label>
      </ion-col>
      <ion-col>
        <mat-form-field [class.computed]="true">
          <input matInput
                 [formControl]="form.get('calculatedTotal')"
                 readonly>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>


  <mat-tab-group #expenseTabGroup animationDuration="0s" dynamicHeight>

    <!-- SUB-TAB: fluid -->
    <mat-tab label="{{'EXPENSE.TAB_FLUID'|translate}}">
      <ion-grid class="ion-no-padding ion-padding-top form-container">

        <!-- fuel -->
        <ion-row [hidden]="!($fuelTypePmfm | async) && !($fuelPmfms | async)">
          <ion-col size="12" size-md="2" size-lg="3">
            <ng-container *ngIf="$fuelTypePmfm | async; let fuelTypePmfm">
              <mat-form-field-measurement-qv #fuelTypeField
                                             [pmfm]="fuelTypePmfm"
                                             [style]="mobile? 'button' : 'autocomplete'"
                                             [formControlName]="fuelTypePmfm.pmfmId.toString()"
                                             [compact]="false"
                                             [tabindex]="tabindex+2">
              </mat-form-field-measurement-qv>
            </ng-container>
          </ion-col>
          <ng-container *ngIf="$fuelPmfms | async; let fuelPmfms;">
            <ion-col *ngFor="let pmfm of fuelPmfms; index as i;">
              <!-- qualitative value (force 'button' style, on mobile)-->
              <ng-container *ngIf="pmfm.isQualitative; else otherField">
                <mat-form-field-measurement-qv [pmfm]="pmfm"
                                               [formControlName]="pmfm.pmfmId.toString()"
                                               [hidden]="pmfm.hidden"
                                               [style]="mobile? 'button' : 'autocomplete'"
                                               [compact]="compact"
                                               [tabindex]="tabindex+2 + i*2">
                </mat-form-field-measurement-qv>
              </ng-container>
              <!-- NOT qualitative value -->
              <ng-template #otherField>
                <mat-form-field-measurement [pmfm]="pmfm"
                                            [formControlName]="pmfm.pmfmId.toString()"
                                            [hidden]="pmfm.hidden"
                                            [compact]="compact"
                                            [class.computed]="fuelTuple[pmfm.pmfmId.toString()] && fuelTuple[pmfm.pmfmId.toString()].computed"
                                            [tabindex]="tabindex+2 + i*2">
                </mat-form-field-measurement>
              </ng-template>
            </ion-col>
          </ng-container>
        </ion-row>

        <!-- engine oil -->
        <ng-container *ngIf="$engineOilPmfms | async; let engineOilPmfms;">
          <ion-row>
            <ion-col size="12" size-md="2" size-lg="3">
              <ion-label class="ion-float-end" translate>EXPENSE.FLUID.ENGINE_OIL</ion-label>
            </ion-col>
            <ion-col *ngFor="let pmfm of engineOilPmfms; index as i;">
              <!-- qualitative value (force 'button' style, on mobile)-->
              <ng-container *ngIf="pmfm.isQualitative; else otherField">
                <mat-form-field-measurement-qv [pmfm]="pmfm"
                                               [formControlName]="pmfm.pmfmId.toString()"
                                               [hidden]="pmfm.hidden"
                                               [style]="mobile? 'button' : 'autocomplete'"
                                               [compact]="compact"
                                               [tabindex]="tabindex+2 + i*2">
                </mat-form-field-measurement-qv>
              </ng-container>
              <!-- NOT qualitative value -->
              <ng-template #otherField>
                <mat-form-field-measurement [pmfm]="pmfm"
                                            [formControlName]="pmfm.pmfmId.toString()"
                                            [hidden]="pmfm.hidden"
                                            [compact]="compact"
                                            [class.computed]="engineOilTuple[pmfm.pmfmId.toString()] && engineOilTuple[pmfm.pmfmId.toString()].computed"
                                            [tabindex]="tabindex+2 + i*2">
                </mat-form-field-measurement>
              </ng-template>
            </ion-col>
          </ion-row>
        </ng-container>

        <!-- hydraulic oil -->
        <ng-container *ngIf="$hydraulicOilPmfms | async; let hydraulicOilPmfms;">
          <ion-row>
            <ion-col size="12" size-md="2" size-lg="3">
              <ion-label class="ion-float-end" translate>EXPENSE.FLUID.HYDRAULIC_OIL</ion-label>
            </ion-col>
            <ion-col *ngFor="let pmfm of hydraulicOilPmfms; index as i;">
              <!-- qualitative value (force 'button' style, on mobile)-->
              <ng-container *ngIf="pmfm.isQualitative; else otherField">
                <mat-form-field-measurement-qv [pmfm]="pmfm"
                                               [formControlName]="pmfm.pmfmId.toString()"
                                               [hidden]="pmfm.hidden"
                                               [style]="mobile? 'button' : 'autocomplete'"
                                               [compact]="compact"
                                               [tabindex]="tabindex+2 + i*2">
                </mat-form-field-measurement-qv>
              </ng-container>
              <!-- NOT qualitative value -->
              <ng-template #otherField>
                <mat-form-field-measurement [pmfm]="pmfm"
                                            [formControlName]="pmfm.pmfmId.toString()"
                                            [hidden]="pmfm.hidden"
                                            [compact]="compact"
                                            [class.computed]="hydraulicOilTuple[pmfm.pmfmId.toString()] && hydraulicOilTuple[pmfm.pmfmId.toString()].computed"
                                            [tabindex]="tabindex+2 + i*2">
                </mat-form-field-measurement>
              </ng-template>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
    </mat-tab>

    <!-- SUB-TAB: ice -->
    <mat-tab label="{{'EXPENSE.TAB_ICE'|translate}}">
      <ion-grid class="ion-no-padding ion-padding-top form-container">
        <ng-container *ngIf="$iceTypePmfms | async">
          <ion-row>
            <ion-col size="12" size-md="2" size-lg="3">
            </ion-col>
            <ion-col>
              <!-- ice amount -->
              <mat-form-field>
                <input matInput
                       type="number"
                       autocomplete="off" [min]="0"
                       decimal="true"
                       [placeholder]="'EXPENSE.ICE.AMOUNT' | translate"
                       [step]="0.1"
                       (keypress)="filterNumberInput($event, true)"
                       [formControl]="form.get('iceAmount')"
                       [tabIndex]="tabindex+4"
                       (click)="selectInputContent($event)">
                <mat-error *ngIf="form.get('iceAmount').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
                <mat-error *ngIf="form.get('iceAmount').hasError('min')">
                  {{ (compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN')| translate:form.get('iceAmount').errors['min'] }}</mat-error>
                <mat-error *ngIf="form.get('iceAmount').hasError('maxDecimals')">
                  {{ (compact ? 'ERROR.FIELD_MAXIMUM_DECIMALS_COMPACT' : 'ERROR.FIELD_MAXIMUM_DECIMALS')| translate:{max: 2} }}</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-autocomplete-field clearable="true"
                                      [placeholder]="'EXPENSE.ICE.TYPE'|translate"
                                      [config]="autocompleteFields.iceType"
                                      formControlName="iceType">
              </mat-autocomplete-field>
              <mat-error *ngIf="form.get('iceType').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </ion-col>
          </ion-row>
        </ng-container>
        <ng-container *ngIf="$iceTotalPmfm | async; let iceTotalPmfm">
          <ion-row>
            <ion-col size="12" size-md="2" size-lg="3">
            </ion-col>
            <ion-col>
              <mat-form-field-measurement [pmfm]="iceTotalPmfm"
                                          [formControlName]="iceTotalPmfm.pmfmId.toString()"
                                          [hidden]="iceTotalPmfm.hidden"
                                          [compact]="compact"
                                          [tabindex]="tabindex+2">
              </mat-form-field-measurement>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
    </mat-tab>

    <!-- SUB-TAB: bait -->
    <mat-tab label="{{'EXPENSE.TAB_BAIT'|translate}}">

    </mat-tab>

    <!-- SUB-TAB: misc -->
    <mat-tab label="{{'EXPENSE.TAB_MISC'|translate}}">
      <ion-grid class="ion-no-padding ion-padding-top form-container">
        <ion-row>
          <ion-col size="12" size-md="2" size-lg="3">
            <ion-label class="ion-float-end" translate>EXPENSE.MISC.OTHER</ion-label>
          </ion-col>
          <ion-col>
            <ng-container *ngIf="$miscPmfms | async; let miscPmfms">
              <div *ngFor="let pmfm of miscPmfms; index as i;">
                <!-- qualitative value (force 'button' style, on mobile)-->
                <ng-container *ngIf="pmfm.isQualitative; else otherField">
                  <mat-form-field-measurement-qv [pmfm]="pmfm"
                                                 [formControlName]="pmfm.pmfmId.toString()"
                                                 [hidden]="pmfm.hidden"
                                                 [style]="mobile? 'button' : 'autocomplete'"
                                                 [compact]="compact"
                                                 [tabindex]="tabindex+2 + i*2">
                  </mat-form-field-measurement-qv>
                </ng-container>
                <!-- NOT qualitative value -->
                <ng-template #otherField>
                  <mat-form-field-measurement [pmfm]="pmfm"
                                              [formControlName]="pmfm.pmfmId.toString()"
                                              [hidden]="pmfm.hidden"
                                              [compact]="compact"
                                              [tabindex]="tabindex+2 + i*2">
                  </mat-form-field-measurement>
                </ng-template>
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

  </mat-tab-group>

</form>
