<form class="form-container" [formGroup]="form">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <!-- Top form -->
  <div class="ion-padding">
    <ion-grid class="form-container">
      <ion-row *ngIf="$estimatedTotalPmfm | async; let estimatedTotalPmfm">
        <ion-col size="12" size-md="3" size-lg="4">
          <ion-label class="ion-float-end" translate>EXPENSE.TOTAL_ESTIMATION</ion-label>
        </ion-col>
        <ion-col>
          <app-pmfm-field [pmfm]="estimatedTotalPmfm"
                          [formControlName]="estimatedTotalPmfm.id.toString()"
                          [hidden]="estimatedTotalPmfm.hidden"
                          [compact]="compact"
                          [tabindex]="tabindex+2">
          </app-pmfm-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="3" size-lg="4">
          <ion-label class="ion-float-end" translate>EXPENSE.TOTAL_CALCULATED</ion-label>
        </ion-col>
        <ion-col>
          <mat-form-field [class.computed]="true">
            <input matInput
                   formControlName="calculatedTotal"
                   readonly>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <mat-tab-group #tabGroup
                 [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="selectedTabChange.emit($event)"
                 [dynamicHeight]='false'>

    <!-- SUB-TAB: fluid -->
    <mat-tab label="{{'EXPENSE.TAB_FLUID'|translate}}">
      <div class="ion-padding">
        <ion-grid class="form-container">

          <!-- fuel -->
          <ion-row [hidden]="!($fuelTypePmfm | async) && !($fuelPmfms | async)">
            <ion-col size="12" size-md="3" size-lg="3">
              <app-pmfm-qv-field  *ngIf="$fuelTypePmfm | async; let fuelTypePmfm"
                                  [pmfm]="fuelTypePmfm"
                                 [style]="mobile ? 'button' : 'autocomplete'"
                                 [formControlName]="fuelTypePmfm.id.toString()"
                                 [compact]="false"
                                 [tabindex]="tabindex+2"
                                 [maxVisibleButtons]="2">
              </app-pmfm-qv-field>
            </ion-col>
            <ng-container *ngIf="$fuelPmfms | async; let fuelPmfms;">
              <ion-col *ngFor="let pmfm of fuelPmfms; index as i;">
                <!-- qualitative value (force 'button' style, on mobile)-->
                <app-pmfm-qv-field *ngIf="pmfm.isQualitative; else otherField"
                                   [pmfm]="pmfm"
                                   [formControlName]="pmfm.id.toString()"
                                   [hidden]="pmfm.hidden"
                                   [style]="mobile ? 'button' : 'autocomplete'"
                                   [compact]="compact"
                                   [tabindex]="tabindex+2 + i*2">
                </app-pmfm-qv-field>
                <!-- NOT qualitative value -->
                <ng-template #otherField>
                  <app-pmfm-field [pmfm]="pmfm"
                                              [formControlName]="pmfm.id.toString()"
                                              [hidden]="pmfm.hidden"
                                              [compact]="compact"
                                              [class.computed]="fuelTuple[pmfm.id.toString()] && fuelTuple[pmfm.id.toString()].computed"
                                              [tabindex]="tabindex+2 + i*2">
                  </app-pmfm-field>
                </ng-template>
              </ion-col>
            </ng-container>
          </ion-row>

          <!-- engine oil -->
          <ion-row  *ngIf="$engineOilPmfms | async; let engineOilPmfms;">
            <ion-col size="12" size-md="3" size-lg="3">
              <ion-label class="ion-float-end" translate>EXPENSE.FLUID.ENGINE_OIL</ion-label>
            </ion-col>
            <ion-col *ngFor="let pmfm of engineOilPmfms; index as i;">
              <!-- qualitative value (force 'button' style, on mobile)-->
              <ng-container *ngIf="pmfm.isQualitative; else otherField">
                <app-pmfm-qv-field [pmfm]="pmfm"
                                               [formControlName]="pmfm.id.toString()"
                                               [hidden]="pmfm.hidden"
                                               [style]="mobile ? 'button' : 'autocomplete'"
                                               [compact]="compact"
                                               [tabindex]="tabindex+2 + i*2">
                </app-pmfm-qv-field>
              </ng-container>
              <!-- NOT qualitative value -->
              <ng-template #otherField>
                <app-pmfm-field [pmfm]="pmfm"
                                            [formControlName]="pmfm.id.toString()"
                                            [hidden]="pmfm.hidden"
                                            [compact]="compact"
                                            [class.computed]="engineOilTuple[pmfm.id.toString()] && engineOilTuple[pmfm.id.toString()].computed"
                                            [tabindex]="tabindex+2 + i*2">
                </app-pmfm-field>
              </ng-template>
            </ion-col>
          </ion-row>

          <!-- hydraulic oil -->
          <ion-row *ngIf="$hydraulicOilPmfms | async; let hydraulicOilPmfms;">
            <ion-col size="12" size-md="3" size-lg="3">
              <ion-label class="ion-float-end" translate>EXPENSE.FLUID.HYDRAULIC_OIL</ion-label>
            </ion-col>
            <ion-col *ngFor="let pmfm of hydraulicOilPmfms; index as i;">
              <!-- qualitative value (force 'button' style, on mobile)-->
              <app-pmfm-qv-field *ngIf="pmfm.isQualitative; else otherField"
                                 [pmfm]="pmfm"
                                 [formControlName]="pmfm.id.toString()"
                                 [hidden]="pmfm.hidden"
                                 [style]="mobile ? 'button' : 'autocomplete'"
                                 [compact]="compact"
                                 [tabindex]="tabindex+2 + i*2">
              </app-pmfm-qv-field>
              <!-- NOT qualitative value -->
              <ng-template #otherField>
                <app-pmfm-field [pmfm]="pmfm"
                                            [formControlName]="pmfm.id.toString()"
                                            [hidden]="pmfm.hidden"
                                            [compact]="compact"
                                            [class.computed]="hydraulicOilTuple[pmfm.id.toString()] && hydraulicOilTuple[pmfm.id.toString()].computed"
                                            [tabindex]="tabindex+2 + i*2">
                </app-pmfm-field>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

    <!-- SUB-TAB: ice -->
    <mat-tab label="{{'EXPENSE.TAB_ICE'|translate}}">
      <div class="ion-padding">
        <app-typed-expense-form #iceExpenseForm
                                expenseType="ice"
                                entityName="VesselUseMeasurement"
                                [programLabel]="programLabel"
                                acquisitionLevel="ICE_EXPENSE"
                                [forceOptional]="forceOptional"
                                [compact]="compact"
                                [debug]="debug"
                                [tabindex]="tabindex+4">
        </app-typed-expense-form>
      </div>
    </mat-tab>

    <!-- SUB-TAB: bait -->
    <mat-tab label="{{'EXPENSE.TAB_BAIT'|translate}}">
      <ion-grid class="form-container">
        <ion-row *ngFor="let baitForm of baitsFormArray?.controls; index as i; first as first; odd as odd"
                 class="typed-expense-row"
                 [class.odd]="odd">
          <ion-col class="ion-padding-top">
            <div class="ion-padding">
              <app-typed-expense-form #baitExpenseForm
                                      expenseType="bait"
                                      [rankOrder]="i + 1"
                                      entityName="VesselUseMeasurement"
                                      [programLabel]="programLabel"
                                      acquisitionLevel="BAIT_EXPENSE"
                                      [forceOptional]="forceOptional"
                                      [compact]="compact"
                                      [debug]="debug"
                                      [tabindex]="tabindex+4+i*3">
              </app-typed-expense-form>
            </div>
          </ion-col>
          <!-- buttons -->
          <ion-col size="1" class="ion-align-self-center">
            <button type="button" mat-icon-button [tabindex]="tabindex+4+i*3+1" [disabled]="disabled"
                    [title]="'COMMON.BTN_ADD'|translate"
                    (click)="addBait()">
              <mat-icon>add</mat-icon>
            </button>
            <button type="button" mat-icon-button [tabindex]="tabindex+4+i*3+2" [disabled]="disabled"
                    [title]="'COMMON.BTN_DELETE'|translate"
                    (click)="removeBait(i)">
              <mat-icon>close</mat-icon>
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </mat-tab>

    <!-- SUB-TAB: misc -->
    <mat-tab label="{{'EXPENSE.TAB_MISC'|translate}}">
      <div class="ion-padding">
        <ion-grid class="form-container">
          <ion-row >
            <ion-col size="12" size-md="2" size-lg="3">
              <ion-label class="ion-float-end" translate>EXPENSE.MISC.OTHER</ion-label>
            </ion-col>
            <ion-col>
              <ng-container *ngIf="$miscPmfms | async; let miscPmfms">
                <div *ngFor="let pmfm of miscPmfms; index as i;">
                  <!-- qualitative value (force 'button' style, on mobile)-->
                  <ng-container *ngIf="pmfm.isQualitative; else otherField">
                    <app-pmfm-qv-field [pmfm]="pmfm"
                                                   [formControlName]="pmfm.id.toString()"
                                                   [hidden]="pmfm.hidden"
                                                   [style]="mobile ? 'button' : 'autocomplete'"
                                                   [compact]="compact"
                                                   [tabindex]="tabindex+2 + i*2">
                    </app-pmfm-qv-field>
                  </ng-container>
                  <!-- NOT qualitative value -->
                  <ng-template #otherField>
                    <app-pmfm-field [pmfm]="pmfm"
                                                [formControlName]="pmfm.id.toString()"
                                                [hidden]="pmfm.hidden"
                                                [compact]="compact"
                                                [tabindex]="tabindex+2 + i*2">
                    </app-pmfm-field>
                  </ng-template>
                </div>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

  </mat-tab-group>

</form>
