<form class="form-container" [formGroup]="form">

  <ion-grid class="ion-no-padding ion-padding-top form-container">
    <ion-row *ngIf="$packagingPmfms | async">
      <!-- type -->
      <ion-col size="12" size-md="4" size-lg="3"
               *ngIf="$typePmfm | async; let typePmfm">
        <app-pmfm-qv-field [pmfm]="typePmfm"
                           [formControlName]="typePmfm.id.toString()"
                           [hidden]="typePmfm.hidden"
                           [style]="mobile ? 'button' : 'autocomplete'"
                           [compact]="compact"
                           [maxVisibleButtons]="3"
                           [tabindex]="tabindex+1">
        </app-pmfm-qv-field>
      </ion-col>
      <ion-col>
        <!-- amount -->
        <app-form-field [definition]="amountDefinition">
        </app-form-field>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field [clearable]="false"
                                placeholder="{{ ('EXPENSE.' + expenseType + '.PACKAGING') | uppercase | translate }}"
                                [config]="autocompleteFields.packaging"
                                formControlName="packaging">
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="$totalPmfm | async; let totalPmfm">
      <ion-col size="12" size-md="4" size-lg="3"
               [class.cdk-visually-hidden]="!($typePmfm|async)">
      </ion-col>
      <ion-col>
        <app-pmfm-field [pmfm]="totalPmfm"
                        [formControlName]="totalPmfm.id.toString()"
                        [hidden]="totalPmfm.hidden"
                        [compact]="compact"
                        [tabindex]="tabindex+2">
        </app-pmfm-field>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
