<ion-label text-wrap *ngIf="!loading">
  <br/>

  <!-- control date -->
  <ion-text *ngIf="data.controlDate">
    <ion-icon name="checkmark"></ion-icon>&nbsp;
    <span translate>QUALITY.CONTROLLED_ON</span>
    <span>
      <b>{{ data.controlDate | dateFormat: {pattern: 'L LT'} }}</b>
    </span>
  </ion-text>
  <!-- validation date -->
  <ion-text *ngIf="data.validationDate">
    <br/>
    <ion-icon name="checkmark-circle"></ion-icon>&nbsp;
    <span translate>QUALITY.VALIDATED_ON</span>
    <span>
      <b>{{ data.validationDate | dateFormat: {pattern: 'L LT'} }}</b>
    </span>
  </ion-text>
  <!--qualification date -->
  <ion-text *ngIf="data.qualificationDate">
    <br/>
    <ion-icon name="calendar"></ion-icon>&nbsp;
    <span translate>QUALITY.QUALIFIED_ON</span>
    <span>
      <b>{{ data.qualificationDate | dateFormat: {pattern: 'L LT'} }}</b>
    </span>
  </ion-text>
  <ion-text *ngIf="data.qualityFlag && data.qualityFlag.id">
    <br/>
    <span translate>QUALITY.QUALITY_FLAG</span>
    <span>
        <b>{{ data.qualityFlag.label }}</b>
      </span>
  </ion-text>
</ion-label>

<p>
  <ion-button *ngIf="canControl" (click)="control($event)" expand="block" color="tertiary">
    <ion-text translate>QUALITY.CONTROL</ion-text>
  </ion-button>
  <ion-button *ngIf="canValidate" (click)="validate($event)" expand="block" color="success">
    <ion-text translate>QUALITY.VALIDATE</ion-text>
  </ion-button>
  <ion-button *ngIf="canUnvalidate" (click)="unvalidate($event)" expand="block" color="danger">
    <ion-text translate>QUALITY.UNVALIDATE</ion-text>
  </ion-button>
  <ion-button  *ngIf="canQualify" (click)="qualify()" expand="block">
    <ion-icon name="ribbon" slot="start"></ion-icon>
    <ion-text translate>QUALITY.QUALIFY</ion-text>
  </ion-button>
</p>
