<ng-container *ngIf="canShow">

  <!-- control date -->
  <ng-container *ngIf="data.controlDate">
    <br/>
    <ion-text color="primary">
      <ion-icon name="calendar"></ion-icon>&nbsp;
      <span translate>QUALITY.CONTROLLED_ON</span>
      <span>
          <b>{{ data.controlDate | dateFormat: {pattern: 'L LT'} }}</b>
        </span>
    </ion-text>
  </ng-container>
  <ng-container *ngIf="canControl">
    <br/>
    <ion-button (click)="control()" expand="full">
      <ion-icon name="calculator" slot="start"></ion-icon>
      <span translate>QUALITY.CONTROL</span>
    </ion-button>
  </ng-container>

  <!-- validation date -->
  <ng-container *ngIf="data.validationDate">
    <br/>
    <ion-text color="primary">
      <ion-icon name="calendar"></ion-icon>&nbsp;
      <span translate>QUALITY.VALIDATED_ON</span>
      <span>
          <b>{{ data.validationDate | dateFormat: {pattern: 'L LT'} }}</b>
        </span>
    </ion-text>
  </ng-container>
  <ng-container *ngIf="canValidate">
    <br/>
    <ion-button (click)="validate()" expand="full">
      <ion-icon name="thumbs-up" slot="start"></ion-icon>
      <span translate>QUALITY.VALIDATE</span>
    </ion-button>
  </ng-container>
  <ng-container *ngIf="canUnvalidate">
    <br/>
    <ion-button (click)="unvalidate()" expand="full">
      <ion-icon name="thumbs-down" slot="start"></ion-icon>
      <span translate>QUALITY.UNVALIDATE</span>
    </ion-button>
  </ng-container>

  <!--qualification date -->
  <ng-container *ngIf="data.qualificationDate">
    <br/>
    <ion-text color="primary">
      <ion-icon name="calendar"></ion-icon>&nbsp;
      <span translate>QUALITY.QUALIFIED_ON</span>
      <span>
          <b>{{ data.qualificationDate | dateFormat: {pattern: 'L LT'} }}</b>
        </span>
    </ion-text>
  </ng-container>
  <ng-container *ngIf="data.qualityFlag && data.qualityFlag.id">
    <br/>
    <ion-text color="primary">
      <span translate>QUALITY.QUALITY_FLAG</span>
      <span>
          <b>{{ data.qualityFlag.label }}</b>
        </span>
    </ion-text>
  </ng-container>
  <ng-container *ngIf="canQualify">
    <br/>
    <ion-button (click)="qualify()" *ngIf="!data.qualificationDate" expand="full">
      <ion-icon name="ribbon" slot="start"></ion-icon>
      <span translate>QUALITY.QUALIFY</span>
    </ion-button>
  </ng-container>

</ng-container>
