<app-toolbar [title]="$title | async"
             color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onClose)="close($event)"
             [hasClose]="!loading && !dirty"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">
  <ion-spinner slot="end" *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group #tabGroup
                 class="mat-tab-fixed-content mat-tab-disabled-hidden mat-tab-group-root"
                 [class.mobile]="mobile"
                 [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'REFERENTIAL.PMFM.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>REFERENTIAL.PMFM.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && referentialForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <!-- error -->
        <ion-item *ngIf="referentialForm.error || error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="(referentialForm.error || error) | translate"></ion-label>
        </ion-item>

        <ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-padding-top">

              <form [formGroup]="form">

                <!-- base form -->
                <app-referential-form #referentialForm
                                      [entityName]="entityName"
                                      [showError]="false"
                                      [debug]="debug"
                                      (onSubmit)="save($event)">

                  <!-- Other fields -->
                  <ion-row>
                    <ion-col>
                      <!-- Type -->
                      <app-form-field [definition]="fieldDefinitions.level"
                                      formControlName="levelId"
                                      required>
                      </app-form-field>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <!-- Parent -->
                      <app-form-field [definition]="fieldDefinitions.parent"
                                      formControlName="parent">
                      </app-form-field>
                    </ion-col>
                  </ion-row>

               </app-referential-form>
              </form>
            </ion-col>

            <!-- entity metadata-->
            <ion-col class="ion-no-padding" size="12" size-xl="3">
              <app-entity-metadata [value]="data"></app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </mat-tab>

    <!-- TAB: Weight/Length relation -->
    <mat-tab label="{{'REFERENTIAL.TAXON_GROUP.TAB_ROUND_WEIGHT_CONVERSION'|translate}}"
             [disabled]="!(rwcTable.readySubject|async)">
      <ng-template mat-tab-label>
        <mat-icon>list</mat-icon>
        <ion-label translate>REFERENTIAL.TAXON_GROUP.TAB_ROUND_WEIGHT_CONVERSION</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && rwcTable?.invalid"></ion-icon>
      </ng-template>

      <div class="ion-no-padding">

        <!-- error -->
        <ion-item *ngIf="mobile && rwcTable?.error" lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="rwcTable.error|translate"></ion-label>
        </ion-item>

        <app-round-weight-conversion-table #rwcTable
                                            [taxonGroupId]="this.form.controls.id.valueChanges|async"
                                            [showTaxonGroupIdColumn]="false"
                                            [canDownload]="true"
                                            [canUpload]="true">

        </app-round-weight-conversion-table>

      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>
