<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="showError && error; let errorMsg" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="errorMsg|translate"></ion-label>
  </ion-item>

  <ion-grid>
    <!-- Status-->
    <ion-row *ngIf="canEditStatus">
      <ion-col>
        <mat-form-field>
          <mat-select [placeholder]="'REFERENTIAL.STATUS'|translate"
                      formControlName="statusId"
                      (selectionChange)="markAsDirty()"
                      required>
            <mat-select-trigger>
              <span *ngIf="form.controls.statusId.value &gt;= 0">{{ statusById[form.controls.statusId.value]?.label | translate}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of statusList" [value]="item.id">
              <ion-icon [name]="item.icon"></ion-icon>
              {{ item.label | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.statusId.touched && form.controls.statusId.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- Registration -->
    <ion-row *ngIf="registrationForm; let registrationForm" [formGroup]="registrationForm">
      <ion-col>
        <mat-form-field>
          <input matInput [placeholder]="'VESSEL.VESSEL_REGISTRATION_PERIOD.REGISTRATION_CODE'|translate"
                 formControlName="registrationCode"
                 autocomplete="off"
                 required>
          <mat-error *ngIf="registrationForm.controls.registrationCode.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          [placeholder]="'VESSEL.VESSEL_REGISTRATION_PERIOD.REGISTRATION_LOCATION'|translate"
          formControlName="registrationLocation"
          [config]="autocompleteFields.registrationLocation"
          [required]="true">
          <mat-icon matPrefix>room</mat-icon>
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="auto">
        <mat-date-field [placeholder]="'VESSEL.VESSEL_REGISTRATION_PERIOD.START_DATE'|translate"
                        formControlName="startDate"
                        [required]="true">
          <mat-error *ngIf="form.get('vesselRegistrationPeriod.startDate').hasError('dateIsAfter')">
            {{'ERROR.FIELD_NOT_VALID_DATE_AFTER' | translate: form.get('vesselRegistrationPeriod.startDate').errors.dateIsAfter }}
          </mat-error>
        </mat-date-field>
      </ion-col>
    </ion-row>

    <!-- Exterior marking -->
    <ion-row *ngIf="featuresForm; let featuresForm" [formGroup]="featuresForm">
      <ion-col>
        <mat-form-field>
          <input matInput [placeholder]="'VESSEL.VESSEL_FEATURES.EXTERIOR_MARKING'|translate"
                 formControlName="exteriorMarking"
                 autocomplete="off" required>
          <mat-error *ngIf="featuresForm.controls.exteriorMarking.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
      <ion-col size="auto">
        <mat-date-field [placeholder]="'VESSEL.VESSEL_FEATURES.START_DATE'|translate"
                        formControlName="startDate"
                        [required]="true">
          <mat-error *ngIf="featuresForm.controls.startDate.hasError('dateIsAfter')">
            {{'ERROR.FIELD_NOT_VALID_DATE_AFTER' | translate: featuresForm.controls.startDate.errors.dateIsAfter }}
          </mat-error>
        </mat-date-field>
      </ion-col>
    </ion-row>

    <!-- Name -->
    <ion-row *ngIf="featuresForm; let featuresForm" [formGroup]="featuresForm">
      <ion-col>
        <mat-form-field>
          <input matInput autocomplete="off"
                 formControlName="name"
                 [placeholder]="'VESSEL.VESSEL_FEATURES.NAME'|translate"
                 required>
          <mat-error *ngIf="featuresForm.controls.name.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- Vessel type -->
    <ion-row>
      <ion-col>
        <mat-autocomplete-field
          [placeholder]="'VESSEL.VESSEL_TYPE'|translate"
          formControlName="vesselType"
          [config]="autocompleteFields.vesselType"
          [required]="true">
          <ion-icon matPrefix name="bookmark"></ion-icon>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Base port location -->
    <ion-row [formGroup]="form.controls.vesselFeatures">
      <ion-col>
        <mat-autocomplete-field
          [placeholder]="'VESSEL.VESSEL_FEATURES.BASE_PORT_LOCATION'|translate"
          formControlName="basePortLocation"
          [config]="autocompleteFields.basePortLocation"
          [required]="true">
          <mat-icon matPrefix>room</mat-icon>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Features -->
    <ion-row [formGroup]="form.controls.vesselFeatures">
      <!-- length over all -->
      <ion-col size="12" size-md="4">
        <mat-form-field>
          <input matInput type="number" step="0.1" min="0" autocomplete="off"  [placeholder]="'VESSEL.VESSEL_FEATURES.LENGTH_OVER_ALL'|translate"
                 formControlName="lengthOverAll" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.get('vesselFeatures.lengthOverAll').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.lengthOverAll').hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.lengthOverAll').hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Administrative power -->
      <ion-col size="12" size-md="4">
        <mat-form-field>
          <input matInput type="number" step="1" min="0" autocomplete="off" [placeholder]="'VESSEL.VESSEL_FEATURES.ADMINISTRATIVE_POWER'|translate"
                 formControlName="administrativePower" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.get('vesselFeatures.administrativePower').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.administrativePower').hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.administrativePower').hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Gross tonnage (GT) -->
      <ion-col size="12" size-md="4">
        <mat-form-field>
          <input type="number" step="0.1" min="0" autocomplete="off" matInput [placeholder]="'VESSEL.VESSEL_FEATURES.GROSS_TONNAGE_GT'|translate"
                 formControlName="grossTonnageGt" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.get('vesselFeatures.grossTonnageGt').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.grossTonnageGt').hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.grossTonnageGt').hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Gross tonnage (GRT)
      <ion-col size="12" size-md="4" hidden>
        <mat-form-field>
          <input type="number" step="0.1" min="0" autocomplete="off" matInput [placeholder]="'VESSEL.VESSEL_FEATURES.GROSS_TONNAGE_GRT'|translate"
                 formControlName="grossTonnageGrt" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.get('vesselFeatures.grossTonnageGrt').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.get('vesselFeatures.grossTonnageGrt').hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.get(['features.grossTonnageGrt').hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>-->
    </ion-row>


    <!-- Comments -->
    <ion-row [formGroup]="form.controls.vesselFeatures">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000" [placeholder]="'VESSEL.VESSEL_FEATURES.COMMENTS'|translate"
            formControlName="comments">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.get('vesselFeatures.comments').hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
