

<mat-toolbar *ngIf="showToolbar">

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">

    <!-- Add -->
    <button mat-icon-button
            *ngIf="!mobile && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button mat-icon-button color="light"
            *ngIf="!mobile"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>

    <!-- Delete -->
    <button mat-icon-button *ngIf="enabled && canUserCancelOrDelete"
            [title]="'COMMON.BTN_DELETE'|translate"
            (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ion-item *ngIf="!mobile && error; let error" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

</mat-toolbar>


<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- display columns -->
  <button mat-menu-item
          (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

  <!--<mat-divider></mat-divider>-->

  <!-- trash
  <button mat-menu-item
          (click)="openTrashModal($event)">
    <mat-icon>delete_sweep</mat-icon>
    <ion-label translate>COMMON.BTN_SHOW_TRASH_DOTS</ion-label>
  </button> -->

</mat-menu>


<!-- error -->
<ion-item *ngIf="error && showError && mobile" lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
</ion-item>

<div class="table-container"
     [class.has-toolbar]="showToolbar"
     [class.has-paginator]="showPaginator">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="mobile">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <table mat-table  matSort matSortDisableClear
         [dataSource]="dataSource"
         [matSortActive]="defaultSortBy"
         [matSortDirection]="defaultSortDirection"
         [trackBy]="trackByFn">

    <ng-container matColumnDef="select" [sticky]="useSticky && !mobile" >
      <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit || (mobile && !showToolbar)">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit || (mobile && !showToolbar)">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- rankOrder Column = id -->
    <ng-container matColumnDef="id" [sticky]="useSticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          [class.ion-padding-start]="!canEdit || mobile">
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.ion-padding-start]="!canEdit || mobile">{{ row.currentData?.rankOrder || row.currentData.id | mathAbs }}</td>
    </ng-container>

    <!-- Vessel Column -->
    <ng-container matColumnDef="vessel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>LANDING.TABLE.VESSEL</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{row.currentData?.vesselSnapshot | referentialToString: vesselSnapshotAttributes }}</ion-label>
      </td>
    </ng-container>

    <!-- Vessel type Column -->
    <ng-container matColumnDef="vesselType">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>LANDING.TABLE.VESSEL_TYPE</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{row.currentData?.vesselSnapshot?.vesselType | referentialToString: ['name'] }}</ion-label>
      </td>
    </ng-container>

    <!-- Vessel base port Column -->
    <ng-container matColumnDef="vesselBasePortLocation">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>LANDING.TABLE.VESSEL_BASE_PORT_LOCATION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{row.currentData.vesselSnapshot?.basePortLocation | referentialToString: locationAttributes }}</ion-text>
      </td>
    </ng-container>

    <!-- Landing location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>LANDING.TABLE.LOCATION</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{row.currentData?.location | referentialToString: locationAttributes }}</ion-label>
      </td>
    </ng-container>

    <!-- date time  -->
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>LANDING.TABLE.DATE_TIME</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        <ion-text *ngIf="getLandingDate(row.currentData); let landingDateTime">{{ landingDateTime | dateFormat: {time: true} }}
          <ion-text *ngIf="mobile" class="computed"><br/><small>{{ landingDateTime | dateFromNow }}</small></ion-text>
        </ion-text>
      </td>
    </ng-container>

    <!-- Observers -->
    <ng-container matColumnDef="observers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label>{{'LANDING.TABLE.OBSERVERS' | translateContext: i18nColumnSuffix }}</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.observers | personToString }}</ion-text>
      </td>
    </ng-container>

    <!-- CREATION_DATE -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <span translate>LANDING.TABLE.CREATION_DATE</span>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        {{  row.currentData.creationDate | dateFormat: {time: false} }}
      </td>
    </ng-container>

    <!-- recorder -->
    <ng-container matColumnDef="recorderPerson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>LANDING.TABLE.RECORDER_PERSON</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.recorderPerson | personToString }}</ion-text>
      </td>
    </ng-container>

    <!-- Pmfm columns -->
    <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.id.toString()">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm|isDatePmfm">
        <ion-label>{{pmfm | pmfmName: {html: true, i18nPrefix: i18nColumnPrefix, i18nContext: i18nColumnSuffix} }}</ion-label>
      </th>
      <td mat-cell *matCellDef="let row"
                [class.mat-cell-date-time]="pmfm|isDatePmfm"
                [class.mat-cell-computed]="pmfm|isComputedPmfm">
        <app-pmfm-field
          *ngIf="row.editing; else readOnly"
          [pmfm]="pmfm"
          [formControl]="row.validator.controls.measurementValues.controls[pmfm.id.toString()]"
          floatLabel="never">
        </app-pmfm-field>
        <ng-template #readOnly>
          <ion-text [innerHTML]="row.currentData.measurementValues[pmfm.id] | pmfmValue:{pmfm:pmfm, html: true, propertyNames: qualitativeValueAttributes}"></ion-text>
        </ng-template>
      </td>
    </ng-container>

    <!-- Sample count column -->
    <ng-container matColumnDef="samplesCount">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>LANDING.TABLE.SAMPLES_COUNT</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData.samplesCount }}</ion-text>
      </td>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="comment"
                  *ngIf="row.currentData.comments"
                  [title]="row.currentData.comments"></mat-icon>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions" [stickyEnd]="useSticky">
      <th mat-header-cell *matHeaderCellDef>

        <button mat-icon-button
                [title]="'COMMON.DISPLAYED_COLUMNS'|translate"
                (click)="openSelectColumnsModal($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-spinner *ngIf="row.validator?.pending" name="dots"
                     [ngClass]="{'center':true}"></ion-spinner>

        <!-- undo or delete -->
        <button mat-icon-button color="light" *ngIf="row.validator?.invalid && canUserCancelOrDelete"
                [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
                (click)="cancelOrDelete($event, row)">
          <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
          <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
        </button>
        <!-- validate -->
        <button mat-icon-button color="light" *ngIf="row.validator?.valid && row.id !== -1"
                [title]="'COMMON.BTN_VALIDATE'|translate"
                (click)="confirmEditCreate($event, row)">
          <mat-icon>check</mat-icon>
        </button>

        <!-- Edit trip button -->
        <button mat-icon-button
                *ngIf="!row.editing && row.id !== -1 && isTripDetailEditor"
                [color]="row.currentData.tripId && 'primary'"
                [title]="'COMMON.BTN_EDIT'|translate"
                (click)="confirmAndEditTrip($event, row)">
          <ion-icon name="boat" slot="icon-only" ></ion-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.mat-row-error]="row.validator?.invalid"
             [class.mat-row-dirty]="row.validator?.dirty"
             [class.mat-row-disabled]="!row.editing"
             (click)="clickRow($event, row)"></tr>

  </table>

  <ng-container *ngIf="loadingSubject|async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="primary100" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      <ng-container *ngTemplateOutlet="addRowButton"></ng-container>
    </ion-item>
  </ng-template>

</div>

<ion-footer *ngIf="showPaginator">
  <mat-paginator #paginator class="mat-paginator-footer"
                 [length]="totalRowCount" [pageSize]="pageSize"
                 [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>

<!-- Add Button  -->
<ion-fab slot="fixed"
         vertical="bottom" horizontal="end"
         *ngIf="enabled && showFabButton"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ng-template #addRowButton>
  <span *ngIf="!mobile && enabled">&nbsp;
    <ion-button color="medium"
                (click)="addRow()">
      <ion-icon name="add" slot="start"></ion-icon>
      <span translate>COMMON.BTN_ADD</span>
    </ion-button>
  </span>
</ng-template>
