<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="canEdit && !selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="canDelete && selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<!-- First table header
<mat-table class="table-survival-test">
  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef></mat-header-cell>
  </ng-container>
  <ng-container matColumnDef="rankOrder">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>
  <ng-container *ngFor="let pmfm of pmfmHeaders | async" matColumnDef="{{pmfm.pmfmId}}">
    <mat-header-cell *matHeaderCellDef class="col-{{pmfm.count}}">
      <ion-label>{{pmfm.name | translate}}</ion-label>
    </mat-header-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedHeaderColumns"></mat-header-row>
</mat-table> -->


<mat-table [dataSource]="dataSource" matSort matSortActive="rankOrder" matSortDirection="asc"
           matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label *ngIf="!loading">#</ion-label>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData.rankOrder || row.currentData.id }}</mat-cell>
  </ng-container>

  <!-- Vessel Column -->
  <ng-container matColumnDef="vessel">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>LANDING.TABLE.VESSEL</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{vesselSnapshotToString(row.currentData.vesselSnapshot)}}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- date time  -->
  <ng-container matColumnDef="dateTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
      <span translate>LANDING.TABLE.DATE_TIME</span>
    </mat-header-cell>
    <mat-cell class="mat-cell-date-time" *matCellDef="let row">
      {{ row.currentData.dateTime | dateFormat: {time: true} }}
    </mat-cell>
  </ng-container>

  <!-- Observers -->
  <ng-container matColumnDef="observers">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>LANDING.TABLE.OBSERVERS</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ personsToString(row.currentData.observers) }}
    </mat-cell>
  </ng-container>

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
    <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm.isDate">
      <ion-label>{{getPmfmColumnHeader(pmfm)}}
        <small *ngIf="pmfm.hasUnit"><br />({{pmfm.unit}})</small>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.isDate">
      {{measurementValueToString(row.currentData.measurementValues[pmfm.pmfmId], pmfm) }}
    </mat-cell>
  </ng-container>

  <!-- Comment column --><!-- Comments column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-icon color="medium" name="chatboxes" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           class="mat-row-disabled"
           (click)="clickRow($event, row)"></mat-row>

</mat-table>


<!-- Add Button  -->
<ion-fab slot="fixed"
         vertical="bottom" horizontal="end"
         *ngIf="enabled && showFabButton"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

