<app-toolbar [title]="title$ | async" color="primary" [hasValidate]="!loading && dirty" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner slot="end" *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)"
                 class="mat-tab-disabled-hidden"
                 dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'LANDING.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>LANDING.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && landingForm.invalid"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="landingForm.error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding ion-padding-top">

            <!-- landing form-->
            <app-landing2-form #landingForm
                               [program]="programSubject|async"
                               [showError]="false"
                               [showLocation]="true"
                               [showComment]="false"
                               [debug]="debug"
                               (onSubmit)="save($event)">
            </app-landing2-form>
          </ion-col>

          <ion-col class="ion-no-padding" size="12" size-xl="3">

            <!-- TODO BLA : check if useful -->
            <app-strategy-summary-card #strategyCard [editor]="this"
                                       [title]="i18nPrefix+'STRATEGY_SUMMARY_TITLE'|translate">
            </app-strategy-summary-card>

            <app-entity-metadata [value]="data" >
              <app-entity-quality-form #qualityForm [editor]="this" *ngIf="showQualityForm">
              </app-entity-quality-form>
            </app-entity-metadata>
          </ion-col>

        </ion-row>
      </ion-grid>

      <div #firstTabInjection></div>

    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab [label]="i18nPrefix + 'TAB_SAMPLES'|translate"
             [disabled]="isNewData || forceOneTab">
      <ng-template mat-tab-label>
        <mat-icon>center_focus_strong</mat-icon>
        <ion-label>{{i18nPrefix + 'TAB_SAMPLES'|translate}}</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <div #tabContent>
        <app-samples2-table #samplesTable [debug]="debug"
                            [usageMode]="usageMode"
                            [showLabelColumn]="true"
                            [defaultSampleDate]="data?.dateTime"
                            (onInitForm)="onStartSampleEditingForm($event)">
        </app-samples2-table>

        <!-- final space-->
        <p visible-xs visible-sm visible-mobile>&nbsp;</p>
      </div>
    </mat-tab>

    <!-- TAB: comments -->
    <mat-tab label="{{'COMMON.COMMENTS'|translate}}"
             [disabled]="!forceOneTab">
      <ng-template mat-tab-label>
        <mat-icon>chat_bubble</mat-icon>
        <ion-label translate>COMMON.COMMENTS</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="form.controls.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding form-container">
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4"
                    maxlength="2000"
                    tabindex="100"
                    [placeholder]="'COMMON.COMMENTS'|translate"
                    [formControl]="form.controls.comments"></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>
