<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid>
    <!-- SAMPLING ROW CODE -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label class="ion-float-end" translate>LANDING.SAMPLE_ROW_CODE_TITLE</ion-label>
      </ion-col>
      <ion-col>
        <mat-error *ngIf="form.controls.sampleRowCode.hasError('noEffort')">
          {{form.controls.sampleRowCode.errors['noEffort']}}
        </mat-error>
        <mat-autocomplete-field *ngIf="form.controls.sampleRowCode as effortControl"
          formControlName="sampleRowCode"
          [formControl]="effortControl"
          [placeholder]="('LANDING.SAMPLE_ROW_CODE_TITLE'|translate)"
          [config]="autocompleteFields.sampleRowCode"
          [readonly]="hasSamples"
          [required]="true">
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>



    <!-- VESSEL -->
    <!-- Model landing.vessel_fk -->
    <ion-row *ngIf="showVessel">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          [placeholder]="'TRIP.VESSEL'|translate"
          formControlName="vesselSnapshot"
          [config]="autocompleteFields.vesselSnapshot"
          required>
          <ion-icon matPrefix name="boat"></ion-icon>
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="auto" class="ion-align-self-center">
        <button mat-icon-button tabindex="-1" [title]="'COMMON.BTN_ADD'|translate" (click)="addVesselModal()"
                type="button">
          <mat-icon>add</mat-icon>
        </button>
      </ion-col>
    </ion-row>

    <!-- LOCATION -->
    <!-- Model observed_location.location_fk -->
    <ion-row *ngIf="showLocation">
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label></ion-label>
      </ion-col>
      <!-- location -->
      <ion-col *ngIf="showLocation">
        <mat-autocomplete-field formControlName="location"
                                [placeholder]="'LANDING.LOCATION'|translate"
                                [config]="autocompleteFields.location"
                                [tabindex]="tabindex+1"
                                required>
          <mat-icon matPrefix>room</mat-icon>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

  <!-- FISHING AREA readonly from strategy -->
<ion-row *ngFor="let fishingAreaForm of fishingAreasFormArray?.controls; index as i; first as first">
  <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
    <ion-label>&nbsp;</ion-label>
  </ion-col>
  <ion-col [formGroup]="fishingAreaHelper.at(i)">
    <mat-autocomplete-field
      formControlName="location"
      [placeholder]="('PROGRAM.STRATEGY.APPLIED_STRATEGIES'|translate) + (i+1)"
      [readonly]="true"
      [tabindex]="tabindex+10+i*3"
      [required]="true">
    </mat-autocomplete-field>
  </ion-col>
</ion-row>

    <ion-row *ngFor="let taxonNameForm of taxonNamesForm?.controls; index as i; first as first">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col [formGroup]="taxonNameHelper.at(i)">
        <mat-autocomplete-field
          formControlName="taxonName"
          [placeholder]="('LANDING.TARGET_SPECIES'|translate)"
          [readonly]="true"
          [config]="autocompleteFields.taxonName"
          [tabindex]="tabindex+10+i*3"
          [required]="true">
          <!--<button matAfter type="button" mat-icon-button
                  tabindex="-1"
                  [disabled]="!canFilterTaxonName"
                  [title]="'PLANIFICATION.BTN_FILTER'|translate"
                  (click)="toggleFilteredItems('taxonName')"
                  [color]="enableTaxonNameFilter ? 'primary' : undefined">
            <mat-icon>filter_list</mat-icon>
          </button> -->
        </mat-autocomplete-field>
      </ion-col>

    </ion-row>


    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4"
                    maxlength="2000"
                    tabindex="100"
                    [placeholder]="'COMMON.COMMENTS'|translate"
                    formControlName="comments"></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls['comments'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
