.table-container {
  height: calc(100% - var(--table-toolbar-height) - var(--app-paginator-height, 0px) - var(--table-container-top, 0px));

  --table-toolbar-height: 0px;
  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}
