<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid>

    <!-- PROGRAM -->
    <ion-row *ngIf="showProgram">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field formControlName="program"
                                [placeholder]="'LANDING.PROGRAM'|translate"
                                [config]="autocompleteFields.program"
                                [tabindex]="tabindex"
                                required>
          <ion-icon matPrefix name="contract"></ion-icon>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- VESSEL -->
    <ion-row *ngIf="showVessel">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          [placeholder]="'TRIP.VESSEL'|translate"
          formControlName="vesselSnapshot"
          [config]="autocompleteFields.vesselSnapshot"
          required>
          <ion-icon matPrefix name="boat"></ion-icon>
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="auto" class="ion-align-self-center" *ngIf="allowAddNewVessel">
        <button mat-icon-button tabindex="-1" [title]="'COMMON.BTN_ADD'|translate" (click)="addVesselModal()"
                type="button">
          <mat-icon>add</mat-icon>
        </button>
      </ion-col>
    </ion-row>

    <!-- LOCATION + date/time-->
    <ion-row *ngIf="showLocation || showDateTime">
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>LANDING.LANDING</ion-label>
      </ion-col>
      <!-- location -->
      <ion-col *ngIf="showLocation">
        <mat-autocomplete-field formControlName="location"
                                [placeholder]="'OBSERVED_LOCATION.LOCATION'|translate"
                                [config]="autocompleteFields.location"
                                [tabindex]="tabindex+1"
                                required>
          <mat-icon matPrefix>room</mat-icon>
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="12" size-sm="" *ngIf="showDateTime">
        <mat-date-time-field [placeholder]="'LANDING.DATE_TIME'|translate"
                             formControlName="dateTime"
                             [required]="true">
          <mat-icon *ngIf="!showLocation && !mobile" matPrefix>event</mat-icon>
        </mat-date-time-field>
      </ion-col>
    </ion-row>

    <!-- Observers -->
    <ng-container *ngIf="showObservers">
      <ion-row *ngFor="let observerForm of observersForm?.controls; let i=index">
        <ion-col size="12" size-md="2" size-lg="3" class="ion-align-self-end">
          <ion-label class="ion-float-end" *ngIf="!i" translate>OBSERVED_LOCATION.OBSERVERS</ion-label>
        </ion-col>
        <ion-col >
          <mat-autocomplete-field [formControl]="observersHelper.at(i)"
                                  [placeholder]="('OBSERVED_LOCATION.OBSERVER_PLACEHOLDER'|translate) + (i+1)"
                                  [appAutofocus]="observerFocusIndex === i"
                                  [config]="autocompleteFields.person"
                                  [tabindex]="tabindex+10+i*3"
                                  [i18nPrefix]="'USER.'"
                                  [required]="i === 0">
            <ion-icon matPrefix name="person"></ion-icon>
          </mat-autocomplete-field>
        </ion-col>
        <ion-col size="auto" class="ion-align-self-center">
          <button type="button" mat-icon-button [tabindex]="tabindex+10++i*3+1" [disabled]="disabled"
                  [title]="'COMMON.BTN_ADD'|translate"
                  (click)="addObserver()">
            <mat-icon>add</mat-icon>
          </button>
          <button type="button" mat-icon-button [tabindex]="tabindex+10++i*3+2" [disabled]="disabled"
                  [title]="'COMMON.BTN_DELETE'|translate"
                  (click)="observersHelper.removeAt(i)">
            <mat-icon>close</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Measurements -->
    <ion-row *ngIf="showMeasurements">
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>LANDING.EDIT.OTHER_FEATURES</ion-label>
      </ion-col>
      <ion-col>

        <ion-spinner *ngIf="loading"></ion-spinner>

        <!-- pmfms -->
        <app-pmfm-field *ngFor="let pmfm of $pmfms | async; index as i;"
                                    [pmfm]="pmfm"
                                    [formControl]="form.get('measurementValues.'+ pmfm.pmfmId.toString())"
                                    [compact]="compact"
                                    [tabindex]="50 + i*2"
                                    [floatLabel]="floatLabel">
        </app-pmfm-field>
      </ion-col>
    </ion-row>

    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4"
                    maxlength="2000"
                    tabindex="100"
                    [placeholder]="'COMMON.COMMENTS'|translate"
                    formControlName="comments"></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls['comments'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
