<app-toolbar [title]="$title | async"
             color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             [hasClose]="!loading && !dirty"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">

  <ion-buttons slot="end">
    <ion-spinner *ngIf="loading"></ion-spinner>

    <ion-button *ngIf="enabled && !isNewData || debug"
                [matMenuTriggerFor]="optionsMenu"
                [title]=" 'COMMON.BTN_OPTIONS'|translate">
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu">

  <!-- delete -->
  <button mat-menu-item
          [disabled]="isNewData || disabled"
          (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item
          [disabled]="!dirty"
          (click)="cancel($event)">
    <ion-label>
      <mat-icon><ion-icon slot="start" name="refresh"></ion-icon></mat-icon>&nbsp;
      <span translate>COMMON.BTN_RESET</span>
    </ion-label>
  </button>

</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">

  <mat-tab-group #tabGroup
                 class="mat-tab-fixed-content"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'"
                 [dynamicHeight]="false">

    <!-- TAB: general -->
    <mat-tab label="{{'LANDING.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>LANDING.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && landingForm.invalid; else warningIcon"></ion-icon>
        <ng-template #warningIcon>
          <mat-icon *ngIf="warning"
                [style.color]="'var(--ion-color-tertiary)'"
                [title]="warning|translate">warning</mat-icon>
        </ng-template>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="landingForm.error||error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="(landingForm.error||error) | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">

            <!-- landing form-->
            <app-landing-form #landingForm
                              [programLabel]="$programLabel|async"
                              [i18nSuffix]="i18nContext.suffix"
                              [requiredStrategy]="true"
                              [showMeasurements]="true"
                              [showError]="false"
                              [showProgram]="false"
                              [showStrategy]="true"
                              [showMetier]="true"
                              [showFishingArea]="true"
                              [allowManyMetiers]="false"
                              (onSubmit)="save($event)"
                              [debug]="debug">

              <!-- zero effort (warning) -->
              <mat-hint afterStrategy *ngIf="landingForm.strategyControl.valid && zeroEffortWarning">
                <ion-icon color="tertiary" name="warning"></ion-icon>&nbsp;
                <ion-text color="tertiary" translate>LANDING.ERROR.ZERO_STRATEGY_EFFORT_ERROR</ion-text>
              </mat-hint>
              <!-- no effort (error) -->
              <mat-error afterStrategy *ngIf="noEffortError" translate>LANDING.ERROR.NO_STRATEGY_EFFORT_ERROR</mat-error>
            </app-landing-form>
          </ion-col>

          <ion-col class="ion-no-padding" size="12" size-xl="5">

            <ion-grid class="ion-no-padding">
              <ion-row class="ion-no-padding">
                <!-- strategy summary -->
                <ion-col class="ion-no-padding">
                  <app-strategy-summary-card #strategyCard
                                             [editor]="this"
                                             [value]="$strategy|async"
                                             [title]="'LANDING.EDIT.STRATEGY_SUMMARY_TITLE'|translateContext: i18nContext.suffix"
                                             [calcifiedTypesDisplayed]="true">
                    <!-- age fractions -->
                    <ng-container *ngIf="strategyCard.data?.pmfms | isNotEmptyArray">
                      <ion-label color="primary">{{'LANDING.EDIT.CALCIFIED_TYPE'|translateContext: i18nContext.suffix}}</ion-label>
                      <ion-label class="status">
                        <ul>
                          <ng-container *ngFor="let calcifiedType of strategyCard.data.pmfms; let i=index">
                          <li *ngIf="calcifiedType.fraction && !calcifiedType.pmfm">
                            <span>{{calcifiedType.fraction | referentialToString:strategyCard.displayAttributes.fraction }}</span>
                          </li>
                          </ng-container>
                        </ul>
                      </ion-label>
                    </ng-container>
                  </app-strategy-summary-card>
                </ion-col>

                <!-- data quality -->
                <ion-col class="ion-no-padding" *ngIf="showEntityMetadata">
                  <app-entity-metadata [value]="data">
                    <app-entity-quality-form [editor]="this" *ngIf="showQualityForm">
                    </app-entity-quality-form>

                    <!-- not observer (warning) -->
                    <ion-text color="tertiary" *ngIf="warning">
                      <br/>
                      <ion-icon name="warning"></ion-icon>&nbsp;
                        {{warning|translate}}
                    </ion-text>
                  </app-entity-metadata>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab #samplesTab
             [label]="'LANDING.EDIT.TAB_SAMPLES'|translateContext: i18nContext.suffix"
             [disabled]="!showSamplesTable">
      <ng-template mat-tab-label>
        <mat-icon >center_focus_strong</mat-icon>
        <ion-label [matBadge]="samplesTable.visibleRowCount"
                   [matBadgeHidden]="samplesTable.invalid || !samplesTable.visibleRowCount"
                   matBadgeOverlap="false"
                   matBadgeColor="primary"
                   matBadgeSize="small"
                   matBadgePosition="above after">{{samplesTab.textLabel}}</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="samplesTable.error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="samplesTable.error|translate"></ion-label>
      </ion-item>

      <app-samples-table  #samplesTable
                          [disabled]="noEffortError"
                          [showError]="mobile"
                          [showLabelColumn]="false"
                          [showSampleDateColumn]="false"
                          [showTaxonNameColumn]="false"
                          [showTaxonGroupColumn]="false"
                          [showPmfmDetails]="true"
                          [showDisplayColumnModal]="false"
                          [canAddPmfm]="true"
                          [defaultSampleDate]="data?.dateTime"
                          [usageMode]="usageMode"
                          [useSticky]="true"
                          [compactFields]="false"
                          (onPrepareRowForm)="onPrepareSampleForm($event)"
                          [debug]="debug">
      </app-samples-table>

      <!-- final space-->
      <p visible-xs visible-sm visible-mobile>&nbsp;</p>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="landingForm.error||error||(samplesTable.error$|async); let error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="showSamplesTable && selectedTabIndex === 1"
         @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="samplesTable.addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
