.mat-tab-group {
  --table-container-offset: 0px;
  --mat-tab-body-content-height: calc(100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px) - 1px);
}

ion-label.status {
  font-size: 12px !important;
  color: var(--ion-color-step-850);

  ul {
    padding-inline-start: 16px;
  }
}


