<app-toolbar [title]="title$ | async"
             color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             [hasClose]="!loading && !dirty"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">

  <ion-buttons slot="end">
    <ion-spinner *ngIf="loading"></ion-spinner>

    <ion-button *ngIf="enabled && !isNewData || debug"
                [matMenuTriggerFor]="optionsMenu"
                [title]=" 'COMMON.BTN_OPTIONS'|translate">
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu">

  <!-- delete -->
  <button mat-menu-item
          [disabled]="isNewData || disabled"
          (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item
          [disabled]="!dirty"
          (click)="cancel($event)">
    <ion-label>
      <mat-icon><ion-icon slot="start" name="refresh"></ion-icon></mat-icon>&nbsp;
      <span translate>COMMON.BTN_RESET</span>
    </ion-label>
  </button>

</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">

  <mat-tab-group #tabGroup
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="tabGroupAnimationDuration"
                 class="mat-tab-disabled-hidden"
                 dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'LANDING.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>LANDING.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && landingForm.invalid"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="landingForm.error||error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="(landingForm.error||error) | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">

            <!-- landing form-->
            <app-landing-form #landingForm
                              [programLabel]="$programLabel|async"
                              [i18nPrefix]="i18nPrefix"
                              [requiredStrategy]="true"
                              [showMeasurements]="false"
                              [showError]="false"
                              [showComment]="!oneTabMode"
                              [showStrategy]="true"
                              (onSubmit)="save($event)"
                              [debug]="debug">
            </app-landing-form>
          </ion-col>

          <ion-col class="ion-no-padding" size="12" size-xl="5">

            <ion-grid class="ion-no-padding">
              <ion-row class="ion-no-padding">
                <!-- strategy summary -->
                <ion-col class="ion-no-padding">
                  <app-strategy-summary-card #strategyCard
                                             [editor]="this"
                                             [title]="i18nPrefix+'STRATEGY_SUMMARY_TITLE'|translate">
                  </app-strategy-summary-card>
                </ion-col>

                <!-- data quality -->
                <ion-col class="ion-no-padding">
                  <app-entity-metadata [value]="data">
                    <app-entity-quality-form [editor]="this" *ngIf="showQualityForm">
                    </app-entity-quality-form>
                  </app-entity-metadata>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div #firstTabInjection></div>

    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab [label]="i18nPrefix + 'TAB_SAMPLES'|translate"
             [disabled]="oneTabMode">
      <ng-template mat-tab-label>
        <mat-icon *ngIf="showSamplesTable && !oneTabMode">center_focus_strong</mat-icon>
        <ion-label *ngIf="showSamplesTable && !oneTabMode; else skeletonText100">{{i18nPrefix + 'TAB_SAMPLES'|translate}}</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <div #tabContent>

        <!-- error -->
        <ion-item *ngIf="samplesTable.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="samplesTable.error|translate"></ion-label>
        </ion-item>

        <app-sampling-samples-table #samplesTable
                                    [class.cdk-visually-hidden]="!showSamplesTable"
                                    [showLabelColumn]="true"
                                    [showDateTimeColumn]="false"
                                    [defaultSampleDate]="data?.dateTime"
                                    [defaultLocation]="data?.location"
                                    [pmfmGroups]="$pmfmGroups|async"
                                    [usageMode]="usageMode"
                                    [useSticky]="true"
                                    (onPrepareRowForm)="onPrepareSampleForm($event)"
                                    [debug]="debug">
        </app-sampling-samples-table>

        <!-- final space-->
        <p visible-xs visible-sm visible-mobile>&nbsp;</p>
      </div>
    </mat-tab>

    <!-- TAB: comments -->
    <mat-tab label="{{'COMMON.COMMENTS'|translate}}"
             [disabled]="!showSamplesTable || !oneTabMode">
      <ng-template mat-tab-label>
        <mat-icon color="primary" *ngIf="form.controls.comments.valueChanges | async | isNotNilOrBlank; else emptyComment">chat_bubble</mat-icon>
        <ng-template #emptyComment>
          <mat-icon>chat_bubble_outline</mat-icon>
        </ng-template>
        <ion-label translate>COMMON.COMMENTS</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="form.controls.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding form-container">
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4"
                    maxlength="2000"
                    tabindex="100"
                    [placeholder]="'COMMON.COMMENTS'|translate"
                    [formControl]="form.controls.comments"></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="showSamplesTable && ((oneTabMode && selectedTabIndex === 0) || (!oneTabMode && selectedTabIndex === 1))"
         @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="samplesTable.addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #skeletonText100>
  &nbsp;<ion-skeleton-text style="min-width: 100px"></ion-skeleton-text>
</ng-template>
