ion-card {

  ion-card-content {
    background-color: var(--ion-color-light-tint);

    ion-label.status {
      font-size: 12px !important;
      color: var(--ion-color-step-850);

      ul {
        padding-inline-start: 16px;
      }
    }
  }
}
