<app-toolbar [title]="'MENU.SERVER_SETTINGS' | translate" color="primary" [canGoBack]="false">
</app-toolbar>

<ion-content>

  <form class="form-container" padding [formGroup]="form" (ngSubmit)="save($event, form.value)">

    <mat-form-field>
      <input matInput [placeholder]="'CONFIGURATION.APP_NAME' | translate" formControlName="label" readonly/>
    </mat-form-field>

    <mat-form-field>
      <input matInput [placeholder]="'CONFIGURATION.DESCRIPTION' | translate" formControlName="name"/>
    </mat-form-field>

    <!-- properties divider-->
    <h3>
      <ion-text translate>CONFIGURATION.PROPERTIES_DIVIDER</ion-text>
    </h3>

    <!-- Properties -->
    <ion-grid formArrayName="properties" no-padding>
      <ng-container *ngFor="let propertyForm of propertiesForm?.controls; let i=index">
        <ion-row no-padding [formGroupName]="i">

          <!-- property key -->
          <ion-col no-padding>
            <mat-form-field floatLabel="never">
              <mat-select formControlName="key"
                          [placeholder]="'CONFIGURATION.PROPERTY_KEY'|translate"
                          (selectionChange)="updatePropertyOption(i)">
                <mat-option *ngFor="let item of options" [value]="item.key">{{ item.label | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <!-- property value -->
          <ion-col no-padding padding-left>
            <mat-option-form-field *ngIf="getPropertyOption(i); let option"
                                   floatLabel="never"
                                   [option]="option"
                                   [formControl]="propertyForm.controls.value"
                                   [placeholder]="'PROGRAM.PROPERTY_VALUE' | translate"
                                   [required]="true">
            </mat-option-form-field>
          </ion-col>

          <ion-col size="2" no-padding>
            <button type="button" mat-icon-button color="light"
                    [disabled]="loading"
                    [title]="'COMMON.BTN_DELETE'|translate"
                    (click)="propertiesFormHelper.removeAt(i)">
              <mat-icon>close</mat-icon>
            </button>
            <button *ngIf="propertiesFormHelper.isLast(i)"
                    type="button"
                    mat-icon-button
                    color="light"
                    [disabled]="loading"
                    [title]="'CONFIGURATION.BTN_ADD_PROPERTY'|translate"
                    (click)="propertiesFormHelper.add()">
              <mat-icon>add</mat-icon>
            </button>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>

    <!-- Partners logos -->
    <h3>
      <ion-text translate>CONFIGURATION.LOGO_PARTNERS</ion-text>
    </h3>

    <div class="bottom-banner">
      <div class="partner-logo" *ngFor="let item of partners | async ">
        <img class="logo" src="{{ item.logo }}" alt="{{item.label}}" [title]="item.name" width="150"/>
        <mat-icon class="button-close" (click)="removePartner(item)">close</mat-icon>
      </div>
    </div>
  </form>

</ion-content>


<ion-footer hidden-xs hidden-sm>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>
