<app-toolbar [title]="$title | async" color="primary" [hasValidate]="!loading" (onValidate)="save($event)"
             [canGoBack]="false">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'CONFIGURATION.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="information-circle"></ion-icon>
        </mat-icon>
        <ion-label translate>CONFIGURATION.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && referentialForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <!-- error -->
        <ion-item *ngIf="referentialForm.error || error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert"></ion-icon>
          <ion-label color="danger" class="error"
                     [innerHTML]="(referentialForm.error || error) | translate"></ion-label>
        </ion-item>

        <ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-padding-top">
              <!-- base form-->
              <app-referential-form #referentialForm
                                    [form]="form"
                                    [showError]="false"
                                    [debug]="debug"
                                    (onSubmit)="save($event)">

                <!-- properties divider-->
                <h3>
                  <ion-text translate>CONFIGURATION.PROPERTIES_DIVIDER</ion-text>
                </h3>

                <!-- Properties -->
                <form [formGroup]="form" class="form-container">
                  <ion-grid *ngIf="!loading || saving; else propertiesSkeleton"
                            formArrayName="properties" class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                      <ion-col class="ion-no-padding ion-align-self-end" size="12">
                        <span class="toolbar-spacer"></span>

                        <!-- Show more options -->
                        <ion-button color="light" *ngIf="propertiesForm?.length === 0"
                                    [title]="'CONFIGURATION.BTN_SHOW_MORE_HELP'|translate"
                                    (click)="propertiesFormHelper.add()">
                          <ion-label translate>COMMON.BTN_SHOW_MORE</ion-label>
                          <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                    <ng-container *ngFor="let propertyForm of propertiesForm?.controls; let i=index">
                      <ion-row class="ion-no-padding" [formGroupName]="i">

                        <!-- property key -->
                        <ion-col size="6" class="ion-no-padding">
                          <mat-form-field floatLabel="never">
                            <mat-select formControlName="key"
                                        [placeholder]="'CONFIGURATION.PROPERTY_KEY'|translate"
                                        (selectionChange)="updatePropertyDefinition(i)"
                                        [tabindex]="20+i*2"
                                        required>
                              <mat-option *ngFor="let item of propertyDefinitions"
                                          [value]="item.key">{{ item.label | translate }}
                              </mat-option>
                            </mat-select>

                            <mat-error
                              *ngIf="propertyForm.controls.key.hasError('required') && !propertiesFormHelper.isLast(i)"
                              translate>ERROR.FIELD_REQUIRED
                            </mat-error>
                          </mat-form-field>
                        </ion-col>

                        <!-- property value -->
                        <ion-col class="ion-no-padding" padding-left>
                          <app-form-field *ngIf="getPropertyDefinition(i); let definition"
                                          floatLabel="never"
                                          [definition]="definition"
                                          [formControl]="propertyForm.controls.value"
                                          [placeholder]="'CONFIGURATION.PROPERTY_VALUE' | translate"
                                          [required]="true"
                                          [tabindex]="20+i*2 + 1">
                          </app-form-field>
                        </ion-col>

                        <ion-col size="auto" class="ion-no-padding">
                          <button type="button" mat-icon-button color="light"
                                  [disabled]="loading"
                                  [title]="'COMMON.BTN_DELETE'|translate"
                                  (click)="removePropertyAt(i)">
                            <mat-icon>close</mat-icon>
                          </button>
                          <button [hidden]="!propertiesFormHelper.isLast(i)"
                                  type="button"
                                  mat-icon-button
                                  color="light"
                                  [disabled]="loading"
                                  [title]="'CONFIGURATION.BTN_ADD_PROPERTY'|translate"
                                  (click)="propertiesFormHelper.add()">
                            <mat-icon>add</mat-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </ion-grid>
                </form>

                <h3>
                  <ion-text translate>CONFIGURATION.PREVIEW_DIVIDER</ion-text>
                </h3>

                <!-- Home logos -->
                <ng-container *ngIf="config?.smallLogo || config?.largeLogo">
                  <h4>
                    <ion-text translate>CONFIGURATION.LOGOS</ion-text>
                  </h4>

                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <img *ngIf="config?.smallLogo"
                             src="{{ config?.smallLogo }}" [title]="'CONFIGURATION.OPTIONS.LOGO'|translate"
                             width="110"/>
                      </ion-col>
                      <ion-col>
                        <img *ngIf="config?.largeLogo"
                             src="{{ config?.largeLogo }}" [title]="'CONFIGURATION.OPTIONS.HOME.LOGO_LARGE'|translate"
                             width="250"/>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ng-container>

                <h4>
                  <ion-text translate>CONFIGURATION.LOGO_PARTNERS</ion-text>
                </h4>

                <div class="bottom-banner">
                  <div class="partner-logo" *ngFor="let item of partners | async; let i = index ">
                    <img class="logo" src="{{ item.logo }}" alt="{{item.label}}" [title]="item.name" width="50"/>
                    <mat-icon class="button-close" (click)="removePartnerAt(i)">close</mat-icon>
                  </div>
                </div>

              </app-referential-form>
            </ion-col>

            <!-- entity metadata-->
            <ion-col class="ion-no-padding" size="12" size-xl="3">
              <app-entity-metadata [value]="data"></app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

    <!-- TAB: cache -->
    <mat-tab label="{{'CONFIGURATION.TAB_CACHE'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="stats"></ion-icon>
        </mat-icon>
        <ion-label translate>CONFIGURATION.TAB_CACHE</ion-label>
      </ng-template>

      <mat-toolbar class="ion-no-padding">
        <button mat-icon-button color="light" *ngIf="network.online" [title]="'COMMON.BTN_REFRESH'|translate"
                (click)="loadCacheStat()">
          <mat-icon>refresh</mat-icon>
        </button>

        <div class="toolbar-spacer"></div>

        <button mat-icon-button *ngIf="enabled"
                [matMenuTriggerFor]="optionsMenu"
                [title]=" 'COMMON.BTN_OPTIONS'|translate">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar>

      <!-- Type = options menu -->
      <mat-menu #optionsMenu="matMenu" xPosition="after">
        <button mat-menu-item *ngIf="network.online" (click)="clearCache($event)">
          <ion-label translate>CONFIGURATION.BTN_CLEAR_CACHE</ion-label>
        </button>
      </mat-menu>

      <div class="ion-padding">

        <ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-padding-top">

              <!-- cache divider-->
              <h3>
                <ion-text translate>CONFIGURATION.CACHE_DIVIDER</ion-text>
              </h3>

              <ion-grid>
                <b>
                  <ion-row>
                    <ion-col size="12" size-lg="6">
                      <ion-label translate>CONFIGURATION.CACHE.NAME</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label translate>CONFIGURATION.CACHE.SIZE</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label translate>CONFIGURATION.CACHE.HEAP_SIZE</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label translate>CONFIGURATION.CACHE.OFF_HEAP_SIZE</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label translate>CONFIGURATION.CACHE.DISK_SIZE</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>
                  </ion-row>
                </b>
                <b>
                  <ion-row *ngIf="cacheStatisticTotal | async as total">
                    <ion-col size="12" size-lg="6">
                      <ion-label class="ion-text-wrap" translate>CONFIGURATION.CACHE.TOTAL</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>{{total.size}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>{{total.heapSize | fileSize}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>{{total.offHeapSize | fileSize}}</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>{{total.diskSize | fileSize}}</ion-label>
                    </ion-col>
                    <ion-col size="1">
                    </ion-col>
                  </ion-row>
                </b>
                <ion-row *ngFor="let stat of cacheStatistics | async">
                  <ion-col size="12" size-lg="6">
                    <ion-label class="ion-text-wrap">{{stat.name}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>{{stat.size}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>{{stat.heapSize | fileSize}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>{{stat.offHeapSize | fileSize}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>{{stat.diskSize | fileSize}}</ion-label>
                  </ion-col>
                  <ion-col size="1">
                    <button [title]="'COMMON.BTN_CLEAR'|translate" mat-icon-button (click)="clearCache($event, stat.name)">
                      <mat-icon>
                        <ion-icon name="trash"></ion-icon>
                      </mat-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>


            </ion-col>
          </ion-row>

        </ion-grid>

      </div>

    </mat-tab>

  </mat-tab-group>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <form-buttons-bar (onCancel)="cancel()" (onSave)="save($event)" [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>


<ng-template #propertiesSkeleton>

  <ion-grid class="ion-no-padding">
    <ng-container *ngTemplateOutlet="propertyRowSkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertyRowSkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertyRowSkeleton"></ng-container>
  </ion-grid>

</ng-template>

<ng-template #propertyRowSkeleton>

  <ion-row>
    <!-- property key -->
    <ion-col>
      <mat-form-field>
        <input matInput hidden>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-icon name="arrow-dropdown" matSuffix></ion-icon>
      </mat-form-field>
    </ion-col>
    <!-- value -->
    <ion-col>
      <mat-form-field>
        <input matInput hidden>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </mat-form-field>
    </ion-col>
    <!-- buttons -->
    <ion-col size="2">
      <button type="button" mat-icon-button color="light"
              [disabled]="true">
        <mat-icon>close</mat-icon>
      </button>
    </ion-col>
  </ion-row>

</ng-template>
