
.partner-logo {
  position: relative;
  display: inline-block;
}

.button-close {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
}

ion-skeleton-text {
  line-height: 18px;
}
