<ion-header>
  <ion-toolbar [color]="color">
    <ion-buttons slot="start">
      <ion-button visible-xs visible-sm visible-mobile
                  (click)="cancel.emit()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>

      <ng-content select="[slot=start]"></ng-content>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>

    <ion-buttons slot="end">

      <ng-content select="[slot=end]"></ng-content>

      <ion-spinner *ngIf="showSpinner"></ion-spinner>

      <ion-button visible-xs visible-sm visible-mobile
                  *ngIf="canValidate"
                  (click)="validate.emit()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
