<ion-header>
  <ion-toolbar [color]="color">
    <ion-buttons slot="start">
      <ion-button visible-xs visible-sm visible-mobile
                  (click)="cancel.emit()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>

      <ng-content select="[slot=start]"></ng-content>
    </ion-buttons>

    <ion-title [innerHTML]="title"></ion-title>

    <ng-content select="ion-title"></ng-content>

    <ng-content select="ion-buttons[slot=end]"></ng-content>

    <ion-buttons slot="end">

      <ng-content select="ion-button[slot=end]"></ng-content>

      <ion-spinner *ngIf="showSpinner"></ion-spinner>

      <ion-button visible-xs visible-sm visible-mobile
                  *ngIf="canValidate"
                  (click)="validate.emit($event)">
        <ion-icon slot="icon-only" *ngIf="validateIcon?.icon"  [name]="validateIcon.icon"></ion-icon>
        <mat-icon slot="icon-only" *ngIf="validateIcon?.matIcon" >{{validateIcon.matIcon}}</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
