<app-toolbar [title]="$title | async" color="primary" [hasValidate]="!loading" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner slot="end" *ngIf="loading"></ion-spinner>

  <button mat-icon-button [matMenuTriggerFor]="optionsMenu"
          [title]=" 'COMMON.BTN_OPTIONS'|translate">
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <button mat-menu-item (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>
</mat-menu>

<ion-content class="ion-padding">

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding ion-padding-top">
      <ion-col>
        <!-- form -->
        <app-product-form #productForm
                          [showError]="false">
        </app-product-form>

      </ion-col>

      <ion-col class="ion-no-padding" size="12" size-xl="3">
        <app-entity-metadata [value]="data">

          <!-- open map button -->
          <ion-button color="secondary" size="full"
                      *ngIf="productForm.isSpatial"
                      (click)="openMap($event)"
                      [disabled]="loading">
            <mat-icon slot="start">
              <ion-icon name="earth"></ion-icon>
            </mat-icon>
            <ion-label>
            {{'EXTRACTION.AGGREGATION.EDIT.BTN_OPEN_MAP'|translate}}
            </ion-label>
          </ion-button>

          <!-- Run extraction -->
          <ion-button color="danger" size="full"
                      *ngIf="productForm.isManualProcessing"
                      (click)="updateProduct($event)"
                      [disabled]="loading">
            <ion-label>
              {{'EXTRACTION.AGGREGATION.EDIT.BTN_UPDATE'|translate}}
            </ion-label>
          </ion-button>
        </app-entity-metadata>


      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>
