<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <ion-item *ngIf="error">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid no-padding>
    <!-- GEAR -->
    <ion-row no-padding>

      <ion-col no-padding>
        <mat-autocomplete-field formControlName="gear"
                                [appAutofocus]="enabled && untouched && !mobile" autofocusDelay="400"
                                [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.GEAR'|translate"
                                [config]="autocompleteHelper.gear"
                                [tabindex]="tabindex"
                                required>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- rankOrder -->
    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <mat-form-field>
          <input matInput
                 formControlName="rankOrder"
                 autocomplete="off"
                 type="number"
                 step="1"
                 pattern="[0-9]*"
                 min="1"
                 (click)="selectInputContent($event)"
                 [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.RANK_ORDER'|translate"
                 [tabindex]="tabindex + 1">

          <mat-error *ngIf="form.controls.rankOrder.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls.rankOrder.hasError('min')">
            {{'ERROR.FIELD_MIN' | translate:form.controls.rankOrder.errors['min'] }}</mat-error>
          <mat-error *ngIf="form.controls.rankOrder.hasError('integer')">
            {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ng-content></ng-content>

    <!-- loading -->
    <ng-container *ngIf="loadingControls">
      <ion-row no-padding>
        <ion-col size="12" no-padding>
          <mat-form-field class="mat-form-field-disabled">
            <input matInput type="text" disabled="true"
              [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.FEATURE_PLACEHOLDER'|translate:{rankOrder: 1}">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" no-padding>
          <mat-form-field class="mat-form-field-disabled">
            <input matInput type="text" disabled="true"
                   [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.FEATURE_PLACEHOLDER'|translate:{rankOrder: 2}">
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Measurements -->
    <ion-row *ngFor="let pmfm of $pmfms | async; index as i;" no-padding>
      <ion-col size="12" no-padding>
        <mat-form-field-measurement
                                    [pmfm]="pmfm"
                                    [formControl]="form.controls.measurementValues.controls[pmfm.pmfmId]"
                                    [compact]="compact"
                                    [tabindex]="tabindex+10 + i*2"
                                    [floatLabel]="floatLabel">
        </mat-form-field-measurement>
      </ion-col>
    </ion-row>

    <!-- Comments -->
    <ion-row *ngIf="showComment" no-padding>
      <ion-col no-padding>
        <mat-form-field appearance="outline">
          <textarea matInput #comments
                    matTextareaAutosize="true"
                    matAutosizeMinRows="4"
                    maxlength="2000"
                    [placeholder]="'TRIP.PHYSICAL_GEAR.COMMENTS'|translate"
                    formControlName="comments"
                    tabindex="100">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
