<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <ion-item *ngIf="error" lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- GEAR -->
  <mat-autocomplete-field #firstInput
                          formControlName="gear"
                          [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.GEAR'|translate"
                          [config]="autocompleteFields.gear"
                          [tabindex]="tabindex"
                          [required]="true">
  </mat-autocomplete-field>

  <!-- rankOrder -->
  <mat-form-field [class.cdk-visually-hidden]="!canEditRankOrder">
    <input matInput
           formControlName="rankOrder"
           autocomplete="off"
           type="number"
           step="1"
           pattern="[0-9]*"
           min="1"
           (click)="selectInputContent($event)"
           [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.RANK_ORDER'|translate"
           [tabindex]="tabindex + 1">

    <mat-error *ngIf="form.controls.rankOrder.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="form.controls.rankOrder.hasError('min')">
      {{'ERROR.FIELD_MIN' | translate:form.controls.rankOrder.errors['min'] }}</mat-error>
    <mat-error *ngIf="form.controls.rankOrder.hasError('integer')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
  </mat-form-field>


  <ng-content></ng-content>

  <!-- loading -->
  <ng-container *ngIf="$loadingControls|async">
    <ng-container *ngTemplateOutlet="propertySkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertySkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertySkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertySkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertySkeleton"></ng-container>
  </ng-container>

  <!-- Measurements -->
  <mat-form-field-measurement *ngFor="let pmfm of $pmfms | async; index as i;"
                              [pmfm]="pmfm"
                              [formControl]="form.get('measurementValues.'+ pmfm.pmfmId.toString())"
                              [compact]="compact"
                              [tabindex]="tabindex+10 + i*2"
                              [floatLabel]="floatLabel">
  </mat-form-field-measurement>

  <!-- Comments -->
  <mat-form-field appearance="outline" *ngIf="showComment">
    <textarea matInput #comments
              matTextareaAutosize="true"
              matAutosizeMinRows="4"
              maxlength="2000"
              [placeholder]="'TRIP.PHYSICAL_GEAR.COMMENTS'|translate"
              formControlName="comments"
              tabindex="100">
    </textarea>
    <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
    <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  </mat-form-field>

</form>

<ng-template #propertySkeleton>
  <mat-form-field>
    <input matInput hidden>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>
