@import 'core';

.mat-table {
  .mat-column-rankOrder {
    max-width: 100px;
  }

  .mat-row-selected {
    background-color: var(--ion-color-light100);
  }
}

.ion-row.hidden {
  visibility: hidden;
  display: none;
}

ion-card {
  background-color: var(--ion-toolbar-background-color);
}
