.table-container {
  height: 100%;
}
.mat-table {
  .mat-column-rankOrder {
    max-width: 100px;
  }

  .mat-row-selected {
    background-color: var(--ion-color-light100);
  }

  .mat-column-actions {
    min-width: 40px;
    width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.ion-row.hidden {
  visibility: hidden;
  display: none;
}

ion-card {
  background-color: var(--ion-toolbar-background-color);
}
