.table-container {
  height: calc(100% - var(--table-toolbar-height) - 1px);

  --table-toolbar-height: 0px;
  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}
.mat-table {
  .mat-column-gear {
    min-width: 100px;
  }
}

.ion-row.hidden {
  visibility: hidden;
  display: none;
}

ion-card {
  background-color: var(--ion-toolbar-background-color);
}
