<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event, form.value)">

  <ion-item *ngIf="error">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid no-padding>

    <!-- GEAR -->
    <ion-row>

      <ion-col size="12" no-padding>
        <mat-form-field>
          <input matInput [appAutofocus]="enabled && untouched" autofocusDelay="400" [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.GEAR'|translate" [matAutocomplete]="autoGear"
                 formControlName="gear"
                 (click)="onShowGearDropdown.next('*')"
                 (blur)="applyImplicitValue('gear')"
                 (keyup.arrowdown)="onShowGearDropdown.next('*')"
                 [tabindex]="tabindex"
                 required>
          <mat-error *ngIf="form.controls['gear'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls['gear'].hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>

          <button type="button" matSuffix (click)="onShowGearDropdown.next('*')" mat-icon-button tabindex="-1">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </mat-form-field>

        <!-- Gear combo -->
        <mat-autocomplete autoActiveFirstOption #autoGear="matAutocomplete" [displayWith]="referentialToString">
          <ion-row class="mat-autocomplete-header">
            <ion-col size="3">
              <ion-text translate>REFERENTIAL.LABEL</ion-text>
            </ion-col>
            <ion-col>
              <ion-text translate>REFERENTIAL.NAME</ion-text>
            </ion-col>
          </ion-row>

          <mat-option *ngFor="let gear of $gears | async" [value]="gear" no-padding>
            <ion-row>
              <ion-col size="3" [innerHTML]="gear.label | highlight: {search: form.controls['gear'].value }"></ion-col>
              <ion-col [innerHTML]="gear.name | highlight: {search: form.controls['gear'].value }"></ion-col>
            </ion-row>
          </mat-option>
        </mat-autocomplete>
      </ion-col>
    </ion-row>

    <ng-content></ng-content>

    <!-- loading -->
    <ng-container *ngIf="loadingControls">
      <ion-row>
        <ion-col size="12" no-padding>
          <mat-form-field class="mat-form-field-disabled">
            <input matInput type="text" disabled="true"
              [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.FEATURE_PLACEHOLDER'|translate:{rankOrder: 1}">
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" no-padding>
          <mat-form-field class="mat-form-field-disabled">
            <input matInput type="text" disabled="true"
                   [placeholder]="'TRIP.PHYSICAL_GEAR.EDIT.FEATURE_PLACEHOLDER'|translate:{rankOrder: 2}">
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Measurements -->
    <ion-row *ngFor="let pmfm of $pmfms | async; index as i;">
      <ion-col size="12" no-padding>
        <mat-form-field-measurement
                                    [pmfm]="pmfm"
                                    [formControl]="form.controls.measurementValues.controls[pmfm.pmfmId]"
                                    [compact]="compact"
                                    [tabindex]="tabindex+10 + i*2"
                                    [floatLabel]="floatLabel">
        </mat-form-field-measurement>
      </ion-col>
    </ion-row>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments
                    matTextareaAutosize="true"
                    matAutosizeMinRows="4"
                    maxlength="2000"
                    [placeholder]="'TRIP.PHYSICAL_GEAR.COMMENTS'|translate"
                    formControlName="comments"
                    tabindex="100">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls['comments'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
