<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{'TRIP.PHYSICAL_GEAR.SELECT_MODAL.TITLE' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!loading && allowMultiple && hasSelection()" (click)="close($event)"
                  visible-xs visible-sm visible-mobile>
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

    <app-physicalgears-table #table
                             [dataService]=""
                       [canEdit]="false"
                       [canDelete]="false"
                       (onOpenRow)="selectRow($event)"
                       (onNewRow)="close($event)">
    </app-physicalgears-table>

</ion-content>


<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark"
                    (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button *ngIf="allowMultiple"
                    [fill]="hasSelection() && 'solid' || 'clear'"
                    [disabled]="!hasSelection()"
                    (click)="close($event)"
                    color="primary">
          <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
