<app-toolbar [title]="'TRIP.TITLE'|translate" color="primary" (onValidate)="save($event)">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <ion-grid responsive responsive-sm>
    <ion-row no-padding class="row-metadata">
      <ion-col>
        <mat-card no-padding>
          <mat-card-header padding>

            <div mat-card-avatar class="user-avatar" [ngStyle]="{'background-image':'url('+(data && data.recorderPerson?.avatar||'./assets/img/person.png')+')'}"></div>
            <mat-card-title translate>COMMON.RECORDER</mat-card-title>
            <mat-card-subtitle *ngIf="data">
              {{data.recorderPerson?.firstName}} {{data.recorderPerson?.lastName}}
              <span *ngIf="data.recorderPerson">|</span>
              {{data.recorderDepartment?.name}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </ion-col>
      <ion-col>
        <mat-card no-padding>
          <mat-card-header padding>
            <mat-card-title>
              <ion-icon name="calendar"></ion-icon>
              <span translate>COMMON.CREATED_ON</span>
              <b *ngIf="data">{{ data.creationDate | dateFormat: {pattern: 'L LT'} }}</b>
            </mat-card-title>
            <mat-card-subtitle *ngIf="data && data.updateDate && data.updateDate != data.creationDate">
              <ion-icon name="time"></ion-icon>
              <span translate>COMMON.UPDATED_ON</span>
              {{ data.updateDate | dateFormat: {pattern: 'L LTS'} }}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <mat-tab-group>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="information-circle"></ion-icon>
        <span>{{'TRIP.TAB_GENERAL'|translate}}</span>
      </ng-template>

      <div padding>
        <!-- trip -->
        <form-trip (onSubmit)="save($event)" #tripForm>

          <!-- sale -->
          <form-sale [showVessel]="false" [showComment]="false" [showEndDateTime]="false" #saleForm>
          </form-sale>

        </form-trip>

        <mat-error>{{error|translate}}</mat-error>

        <!-- buttons -->
        <ion-row class="hidden-xs hidden-sm padding bar" style="text-align: right;" *ngIf="!loading && (tripForm.dirty || saleForm.dirty)">


          <button mat-button (click)="cancel()" type="button">
            {{'COMMON.BTN_CANCEL'|translate}}
          </button>

          <button mat-raised-button color="primary" (click)="save($event)">
            {{'COMMON.BTN_SAVE'|translate}}
          </button>
        </ion-row>
      </div>

    </mat-tab>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="settings"></ion-icon>
        <span>{{'TRIP.TAB_PHYSICAL_GEAR'|translate}}</span>
      </ng-template>

      <div padding>
      </div>
    </mat-tab>
    <!-- TAB: operations -->
    <mat-tab label="{{'TRIP.TAB_OPERATIONS'|translate}}">
      <ng-template mat-tab-label>
        <ion-icon name="locate"></ion-icon>
        <span>{{'TRIP.TAB_OPERATIONS'|translate}}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</ion-content>
