@import 'core';
.no-profile-header .scroll-content {
  margin-top: 79px !important;
}

.has-profile-header .scroll-content {
  margin-top: 188px !important;
}

.align-right {
  text-align: right;
}

.user-avatar {
  color: #d9d9d9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px ion-color(primary, base);
  overflow: hidden !important;
  font-size: 80px !important;
  line-height: 80px;
  height: 80px !important;
  width: 80px !important;
  border-radius: 50%;
  display: inline-block;
}

.username {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ion-footer {
  ion-toolbar {
    text-align: center;
    cursor: pointer;
  }
}

ion-text {
  color: ion-color(primary, base);
}

ion-item.selected {
  background-color: ion-color(light100, base);
}

@media screen and (min-width: $screen-sm) {
  ion-menu ion-scroll {
    overflow-y: auto !important;
  }
}
