<ion-split-pane #splitPane>

  <ion-menu>
    <ion-header>

      <mat-toolbar padding [@fadeInAnimation] *ngIf="!isLogin" style="height: unset; height: unset; display: block; margin: auto; text-align: center;">
        <img *ngIf="logo" src="{{logo}}" [title]="'APP_NAME'|translate: {appName: appName}"  width="150px;"/>
        <span *ngIf="!logo" width="150px;">{{appName}}</span>
      </mat-toolbar>

      <ion-toolbar [@fadeInAnimation] *ngIf="isLogin" class="ion-toolbar-top">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <div class="user-avatar" [class.primary]="!account?.avatar" [ngStyle]="{'background-image':'url('+(account?.avatar||'./assets/img/person.png')+')'}">
              </div>
            </ion-col>
            <ion-col size="8" class="user-logo">
              <img *ngIf="logo" src="{{logo}}" [title]="'APP_NAME'|translate: {appName: appName}"  width="108px;"/>
              <span *ngIf="!logo" width="108px;">{{appName}}</span>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-label color="primary" text-wrap>
              <h4 full class="no-margin username">
                <b>{{account?.firstName}} {{account?.lastName}}</b>
              </h4>
              <h5>{{account?.email}}</h5>
            </ion-label>
          </ion-row>

          <ion-row no-padding class="other-data">
            <ion-col no-padding>
              <ion-button menuClose small expand="full" color="secondary" [routerLink]="['/account']"
                          routerDirection="root" routerLinkActive="selected"
                          (click)="menu.close()">
                <ion-icon name="contact" slot="start"></ion-icon>
                <ion-label translate>MENU.BTN_ACCOUNT</ion-label>
              </ion-button>
            </ion-col>
            <ion-col no-padding padding-left>
              <ion-button small expand="full" color="secondary" menuClose (click)="menu.close() && logout()">
                <ion-icon name="log-out" slot="start"></ion-icon>
                <ion-label translate>MENU.BTN_LOGOUT</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-toolbar>
    </ion-header>

    <ion-content [class.has-user-header]="isLogin">

      <ion-list no-lines>
        <ion-menu-toggle auto-hide="false" *ngFor="let item of filteredItems ; trackBy: trackByFn">
          <ion-item [@fadeInAnimation]
                    *ngIf="!loading && item.path"
                    tappable class="text-1x"
                    [routerLink]="item.path"
                    routerDirection="root"
                    routerLinkActive="selected"
                    (click)="menu.close()"
                    [routerLinkActiveOptions]="{exact: (item.path == '/')}">
            <ion-icon slot="start" *ngIf="item.icon" [name]="item.icon"></ion-icon>
            <mat-icon color="secondary" slot="start" *ngIf="item.matIcon">{{item.matIcon}}</mat-icon>
            <ion-label translate>{{item.title}}</ion-label>
          </ion-item>
          <ion-item-divider [@fadeInAnimation] *ngIf="!loading && !item.path">
            <ion-label translate>{{item.title}}</ion-label>
          </ion-item-divider>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>


    <ion-footer>
      <ion-toolbar>

        <ion-buttons slot="start" >
          <ion-button color="secondary" (click)="openAboutModal($event)">
            <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title (click)="openAboutModal($event)">
          {{'MENU.FOOTER_VERSION_ABOUT'| translate: {version: appVersion} }}
        </ion-title>

        <ion-buttons slot="end">
          <ion-button color="secondary" (click)="toggleSplitPane($event)"
                      hidden-xs hidden-sm
                      [title]="(splitPaneOpened ? 'COMMON.BTN_HIDE_MENU' : 'COMMON.BTN_SHOW_MENU') |translate">
            <h2 slot="icon-only">{{splitPaneOpened ? '&#xab;' : '&#xbb;'}}</h2>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ng-content></ng-content>

</ion-split-pane>
