<app-modal-toolbar modalName="PacketModal"
                   [title]="$title | async"
                   [color]="'secondary'"
                   [showSpinner]="loading"
                   [canValidate]="!loading && valid"
                   (cancel)="cancel()"
                   (validate)="onSave($event)">
  <ion-buttons slot="end">
    <!-- Options menu -->
    <button mat-icon-button *ngIf="!isNew && mobile"
            [title]="'COMMON.OPTIONS'|translate"
            [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ion-buttons>
</app-modal-toolbar>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">
  <button mat-menu-item
          (click)="delete($event)"
          [disabled]="disabled">
    <mat-icon>delete_outline</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>
</mat-menu>


<ion-content class="ion-no-padding" cdkTrapFocus>
  <app-packet-form #packetForm
                   [showParent]="mobile"
                   [mobile]="mobile"
                   [parents]="parents"
                   [parentAttributes]="parentAttributes">

    <!-- open packet sale modal -->
    <ion-button packetSaleButtons mat-button
                fill="clear" color="tertiary" expand="full"
                [title]="'PACKET.COMPOSITION.BTN_SALE'|translate"
                (click)="onSave($event, 'sale')">
      <mat-icon slot="start">local_offer</mat-icon>
      <ion-label>
        <span translate>PACKET.COMPOSITION.BTN_SALE</span>
        <span *ngIf="packetForm.value.saleProducts && packetForm.value.saleProducts.length && packetForm.value.composition && packetForm.value.composition.length">&nbsp;
          ({{(packetForm.value.saleProducts.length / packetForm.value.composition.length).toString()}})
        </span>
      </ion-label>
    </ion-button>

  </app-packet-form>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>
    <ion-row class="ion-no-padding" nowrap>
      <ion-col>
        <ng-content></ng-content>
      </ion-col>

      <ion-col size="auto">

        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button [fill]="disabled? 'clear' : 'solid'" (click)="onSave($event)" (keyup.enter)="onSave($event)"
                    color="tertiary" [disabled]="disabled">
          <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-footer>
