.mat-header-row,
.mat-row {
  max-height: 56px;
  padding: 0 0px;
  z-index: 999;

  .mat-column-parent ion-label{
    min-width: 50px;
  }

  .mat-column-endPosition,
  .mat-column-startPosition {
    padding-left: 0px;
    max-width: 200px;
    ion-col {
      padding: 0;
    }
  }

  .mat-column-actions {
    max-width: 80px;
  }
}
