<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-margin-bottom">

    <!--  NB packets  -->
    <ion-row>
      <ion-col>
        <mat-form-field>
          <input matInput #packetNumber
                 autocomplete="off" type="number"
                 pattern="[0-9]*"
                 step="1"
                 [placeholder]="'PACKET.NUMBER' | translate"
                 [formControl]="form.controls.number"
                 [required]="true"
          >
        </mat-form-field>
      </ion-col>

      <!--  weight (computed)  -->
      <ion-col>
        <mat-form-field class="computed">
          <input matInput #packetWeight
                 autocomplete="off" type="number"
                 [placeholder]="'PACKET.WEIGHT' | translate"
                 [formControl]="form.controls.weight"
                 readonly
          >
        </mat-form-field>
      </ion-col>

    </ion-row>


  </ion-grid>

  <ion-grid class="composition">

    <!-- sampled weights -->
    <ion-row>
      <ion-col size="4">
        <ion-label class="ion-float-end" translate>PACKET.SAMPLED_WEIGHTS</ion-label>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput #sampledWeight1
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: 1}"
                 [formControl]="form.controls.sampledWeight1"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput #sampledWeight2
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: 2}"
                 [formControl]="form.controls.sampledWeight2"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput #sampledWeight3
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: 3}"
                 [formControl]="form.controls.sampledWeight3"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput #sampledWeight4
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: 4}"
                 [formControl]="form.controls.sampledWeight4"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput #sampledWeight5
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: 5}"
                 [formControl]="form.controls.sampledWeight5"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput #sampledWeight6
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: 6}"
                 [formControl]="form.controls.sampledWeight6"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- sampled ratios -->
    <ion-row>
      <ion-col size="4">
        <ion-label class="ion-float-end" translate>PACKET.SAMPLED_RATIO</ion-label>
      </ion-col>
      <ion-col size="1">
        <mat-form-field class="computed">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControl]="form.controls.sampledRatio1"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field class="computed">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControl]="form.controls.sampledRatio2"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field class="computed">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControl]="form.controls.sampledRatio3"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field class="computed">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControl]="form.controls.sampledRatio4"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field class="computed">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControl]="form.controls.sampledRatio5"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field class="computed">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControl]="form.controls.sampledRatio6"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!--  composition row  -->
    <ion-row *ngFor="let compositionForm of compositionsForm?.controls; index as i; first as first">

      <ion-col size="4">
        <mat-autocomplete-field [formControl]="asFormGroup(compositionForm).controls.taxonGroup"
                                [placeholder]="'PACKET.COMPOSITION.TAXON_GROUP'|translate"
                                [floatLabel]="first ? 'always' : 'never'"
                                [appAutofocus]="compositionFocusIndex === i"
                                [config]="autocompleteFields.taxonGroup"
                                [required]="first"
                                [tabindex]="tabindex+10+i*9"
        >
        </mat-autocomplete-field>
      </ion-col>

      <ion-col size="1">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabIndex]="tabindex+10+i*9+1"
                 [formControl]="asFormGroup(compositionForm).controls.ratio1">
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabindex]="tabindex+10+i*9+2"
                 [formControl]="asFormGroup(compositionForm).controls.ratio2">
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabindex]="tabindex+10+i*9+3"
                 [formControl]="asFormGroup(compositionForm).controls.ratio3">
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabindex]="tabindex+10+i*9+4"
                 [formControl]="asFormGroup(compositionForm).controls.ratio4">
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabindex]="tabindex+10+i*9+5"
                 [formControl]="asFormGroup(compositionForm).controls.ratio5">
        </mat-form-field>
      </ion-col>
      <ion-col size="1">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabindex]="tabindex+10+i*9+6"
                 [formControl]="asFormGroup(compositionForm).controls.ratio6">
        </mat-form-field>
      </ion-col>
      <!-- computed weight -->
      <ion-col size="1">
        <mat-form-field class="computed" [floatLabel]="first ? 'always' : 'never'">
          <input matInput autocomplete="off" type="number" readonly
                 [placeholder]="'PACKET.COMPOSITION.WEIGHT'|translate"
                 [formControl]="asFormGroup(compositionForm).controls.weight">
        </mat-form-field>
      </ion-col>

      <ion-col size="1" class="ion-align-self-center">
        <button type="button" mat-icon-button [tabindex]="tabindex+10+i*9+7" [disabled]="disabled"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addComposition()">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-icon-button [tabindex]="tabindex+10+i*9+8" [disabled]="disabled"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="compositionHelper.removeAt(i)">
          <mat-icon>close</mat-icon>
        </button>
      </ion-col>


    </ion-row>


  </ion-grid>

  <!--  <app-packet-composition-table #compositionTable-->
  <!--                                [program]="program"-->
  <!--  >-->

  <!--  </app-packet-composition-table>-->


</form>
