<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-margin-bottom">

    <ion-row *ngIf="mobile">
      <ion-col>
        <!-- Parent -->
        <mat-autocomplete-field formControlName='parent'
                                [placeholder]="'TRIP.PRODUCT.LIST.PARENT'|translate"
                                [required]="true"
                                [tabindex]="tabindex"
                                [config]="autocompleteFields.parent"
                                [clearable]="true">
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--  empty col for alignment  -->
      <ion-col size="4">
      </ion-col>

      <!--  NB packets  -->
      <ion-col>
        <mat-form-field>
          <input matInput #packetNumber
                 autocomplete="off" type="number"
                 pattern="[0-9]*"
                 step="1"
                 [placeholder]="'PACKET.NUMBER' | translate"
                 formControlName="number"
                 [required]="true"
          >
        </mat-form-field>
      </ion-col>

      <!--  weight (computed)  -->
      <ion-col>
        <mat-form-field class="computed mat-form-field-disabled">
          <input matInput #packetWeight
                 autocomplete="off" type="number"
                 [placeholder]="'PACKET.WEIGHT' | translate"
                 [formControl]="form.controls.weight"
                 readonly
          >
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="composition">

    <!-- sampled weights -->
    <ion-row>
      <ion-col size="4">
        <ion-label class="ion-float-end" translate>PACKET.SAMPLED_WEIGHTS</ion-label>
      </ion-col>
      <ion-col size="1" *ngFor="let index of packetIndexes"
               [class.cdk-visually-hidden]="packetCount <= index">
        <mat-form-field >
          <input matInput
                 autocomplete="off" type="number"
                 decimal="true"
                 step="0.1"
                 [placeholder]="'PACKET.SAMPLED_WEIGHT' | translate: {rankOrder: index + 1}"
                 [formControlName]="'sampledWeight'+index">
        </mat-form-field>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!-- sampled ratios -->
    <ion-row>
      <ion-col size="4">
        <ion-label class="ion-float-end" translate>PACKET.SAMPLED_RATIO</ion-label>
      </ion-col>
      <ion-col size="1" *ngFor="let index of packetIndexes"
               [class.cdk-visually-hidden]="packetCount <= index">
        <mat-form-field class="computed mat-form-field-disabled">
          <input matInput
                 autocomplete="off" type="number" readonly
                 [formControlName]="'sampledRatio'+index"
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <!--  composition row  -->
    <ion-row *ngFor="let compositionForm of compositionsFormArray?.controls; index as i; first as first; even as even"
             [class.even]="even">

      <!-- taxon group -->
      <ion-col size="4">
        <mat-autocomplete-field [formControl]="asFormGroup(compositionForm).controls.taxonGroup"
                                [placeholder]="'PACKET.COMPOSITION.TAXON_GROUP'|translate"
                                [floatLabel]="first ? 'always' : 'never'"
                                [autofocus]="compositionFocusIndex === i"
                                [config]="autocompleteFields.taxonGroup"
                                [required]="first"
                                [tabindex]="tabindex+10+i*9"
        >
        </mat-autocomplete-field>
      </ion-col>

      <!-- ratios -->
      <ion-col size="1" *ngFor="let index of packetIndexes"
               [class.cdk-visually-hidden]="packetCount <= index">
        <mat-form-field>
          <input matInput autocomplete="off" type="number" pattern="[0-9]*" step="1" max="100" [tabIndex]="tabindex+10+i*9+index+1"
                 [formControl]="asFormGroup(compositionForm).controls['ratio'+index]">
        </mat-form-field>
      </ion-col>

      <!-- computed weight -->
      <ion-col size="1">
        <mat-form-field class="computed mat-form-field-disabled" [floatLabel]="first ? 'always' : 'never'">
          <input matInput autocomplete="off" type="number" readonly
                 [placeholder]="'PACKET.COMPOSITION.WEIGHT'|translate"
                 [formControl]="asFormGroup(compositionForm).controls.weight">
        </mat-form-field>
      </ion-col>

      <!-- buttons -->
      <ion-col size="1" class="ion-align-self-center">
        <button type="button" mat-icon-button [tabindex]="tabindex+10+i*9+7" [disabled]="disabled"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addComposition()">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-icon-button [tabindex]="tabindex+10+i*9+8" [disabled]="disabled"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="compositionHelper.removeAt(i)">
          <mat-icon>close</mat-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <ion-buttons  class="ion-justify-content-between">
          <ng-content select="[packetSaleButtons]"></ng-content>
        </ion-buttons>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>
