<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Autocomplete field test page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">
   <ion-grid class="ion-no-padding">

     <!-- Filter -->
     <ion-row>

       <!-- Program -->
       <ion-col>
         <mat-autocomplete-field formControlName="program" class="min-width-large ion-text-wrap"
                                 [placeholder]="'TRIP.TABLE.FILTER.PROGRAM'|translate"
                                 [config]="autocomplete.fields.program"
                                 [tabindex]="1"
                                 required>
         </mat-autocomplete-field>
       </ion-col>

       <!-- Gear  -->
       <ion-col>
         <mat-autocomplete-field formControlName="gear"
                                 [placeholder]="'TRIP.PHYSICAL_GEAR.LIST.GEAR'|translate"
                                 [tabindex]="2"
                                 [required]="true"
                                 [config]="autocomplete.fields.gear">
         </mat-autocomplete-field>
       </ion-col>

       <!-- Example select -->
       <ion-col>
         <mat-autocomplete-field formControlName="example"
                                 placeholder="Data example"
                                 [tabindex]="3"
                                 [required]="true"
                                 [config]="autocomplete.fields.example">
         </mat-autocomplete-field>
       </ion-col>
     </ion-row>
     <ion-row>
       <!-- Is sampling -->
       <ion-col>
         <mat-checkbox (change)="hasSamplingBatch=!hasSamplingBatch"
                       [checked]="hasSamplingBatch">
           <mat-label>Is Sampling ?</mat-label>
         </mat-checkbox>
       </ion-col>
     </ion-row>

     <!-- examples data -->
     <ion-row><ion-col><ion-text><h4>Input data</h4></ion-text></ion-col></ion-row>
     <ion-row>

       <!-- buttons -->
       <ion-col size="auto">
         <!-- dump -->
         <ion-button (click)="dumpExample()"
                     fill="outline">
           <ion-label>Dump</ion-label>
         </ion-button>
         <!-- apply to form -->
         <ion-button (click)="applyExample()"
                     fill="outline">
           <ion-label>Apply</ion-label>
         </ion-button>
       </ion-col>
       <ion-col size="10" *ngIf="outputs.example; let content">
         <ion-text color="medium">
           <h4>Output: </h4>
           <p [innerHTML]="content">
           </p>
         </ion-text>
       </ion-col>
     </ion-row>


      <!-- mobile -->
      <ion-row><ion-col><ion-text><h4>Mobile mode</h4></ion-text></ion-col></ion-row>
      <ion-row>
        <ion-col size="12">

          <app-batch-group-form #mobileForm
                                [programLabel]="$programLabel | async"
                                [showTaxonName]="false"
                                [showChildrenSamplingBatch]="hasSamplingBatch"
                                [allowSubBatches]="hasSamplingBatch"
                                [gearId]="$gearId|async"
                                [usageMode]="'FIELD'"
                                [debug]="true">
          </app-batch-group-form>
        </ion-col>

        <!-- buttons -->
        <ion-col size="2">
          <!-- log tree -->
          <ion-button (click)="dumpBatchGroupForm(mobileForm, 'mobile')"
                      matTooltip="Output data to log"
                      fill="outline">
            <ion-label>Dump</ion-label>
          </ion-button>

          <!-- Reload from himself -->
          <ion-button (click)="copyBatchGroup(mobileForm, mobileForm)"
                      matTooltip="Reload from himself data"
                      fill="outline">
            <ion-label>Reload</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="10" *ngIf="outputs.mobile; let content">
          <ion-text color="medium">
            <h4>Output: </h4>
            <p [innerHTML]="content">
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>
