<app-toolbar [title]="$title | async"
             color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onClose)="close($event)"
             [hasClose]="!loading && !dirty"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">
  <ion-spinner slot="end" *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group #tabGroup
                 class="mat-tab-fixed-content mat-tab-disabled-hidden mat-tab-group-root"
                 [class.mobile]="mobile"
                 [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'REFERENTIAL.PMFM.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>REFERENTIAL.PMFM.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && referentialForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <!-- error -->
        <ion-item *ngIf="referentialForm.error || error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="(referentialForm.error || error) | translate"></ion-label>
        </ion-item>

        <ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-padding-top">

              <form [formGroup]="form">

                <!-- base form -->
                <app-referential-form #referentialForm
                                      [form]="form"
                                      [entityName]="entityName"
                                      [showError]="false"
                                      [debug]="debug"
                                      (onSubmit)="save($event)">

                  <!-- Other fields -->
                  <ion-row>
                    <ion-col>
                      <!-- Taxonomic Level -->
                      <app-form-field [definition]="fieldDefinitions.taxonomicLevel"
                                      formControlName="taxonomicLevel"
                                      required>
                      </app-form-field>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <!-- Parent Taxon Name -->
                      <app-form-field [definition]="fieldDefinitions.parentTaxonName"
                                      formControlName="parentTaxonName">
                      </app-form-field>
                    </ion-col>
                  </ion-row>
                  <!-- Dates-->
                  <ion-row>
                    <ion-col>
                      <mat-date-field [placeholder]="'REFERENTIAL.TAXON_NAME.START_DATE'|translate"
                                      formControlName="startDate"
                                      required>
                      </mat-date-field>
                    </ion-col>
                    <ion-col>
                      <mat-date-field [placeholder]="'REFERENTIAL.TAXON_NAME.END_DATE'|translate"
                                      formControlName="endDate">
                      </mat-date-field>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col *ngIf="isNewData">
                      <!-- Boolean Values -->
                      <mat-boolean-field formControlName="useExistingReferenceTaxon"
                                         [placeholder]="'REFERENTIAL.TAXON_NAME.USE_EXISTING_REFERENCE_TAXON'|translate">
                      </mat-boolean-field>
                    </ion-col>
                    <ion-col *ngIf="useExistingReferenceTaxon || !isNewData">
                      <mat-form-field>
                        <input matInput [placeholder]="'REFERENTIAL.TAXON_NAME.REFERENCE_TAXON'|translate" formControlName="referenceTaxonId"
                               autocomplete="off">
                        <mat-error *ngIf="form.controls.referenceTaxonId.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
                        <mat-error *ngIf="form.controls.referenceTaxonId.hasError('not_exist')" translate>ERROR.FIELD_NOT_EXISTS</mat-error>
                      </mat-form-field>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <!-- Boolean Values -->
                      <app-form-field [definition]="fieldDefinitions.isNaming"
                                      formControlName="isNaming">
                      </app-form-field>
                    </ion-col>
                    <ion-col>
                      <app-form-field [definition]="fieldDefinitions.isReferent"
                                      formControlName="isReferent">
                      </app-form-field>
                    </ion-col>
                    <ion-col>
                      <app-form-field [definition]="fieldDefinitions.isVirtual"
                                      formControlName="isVirtual">
                      </app-form-field>
                    </ion-col>
                  </ion-row>

                </app-referential-form>
              </form>
            </ion-col>

            <!-- entity metadata-->
            <ion-col class="ion-no-padding" size="12" size-xl="3">
              <app-entity-metadata [value]="data"></app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </mat-tab>

    <!-- TAB: Weight/Length relation -->
    <mat-tab label="{{'REFERENTIAL.TAXON_NAME.TAB_WEIGHT_LENGTH_CONVERSION'|translate}}"
             [disabled]="!(wlcTable.readySubject|async)">
      <ng-template mat-tab-label>
        <mat-icon>list</mat-icon>
        <ion-label translate>REFERENTIAL.TAXON_NAME.TAB_WEIGHT_LENGTH_CONVERSION</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && wlcTable.invalid"></ion-icon>
      </ng-template>

      <div class="ion-no-padding">

        <!-- error -->
        <ion-item *ngIf="mobile && wlcTable.error" lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="wlcTable.error|translate"></ion-label>
        </ion-item>

        <app-weight-length-conversion-table #wlcTable
                                            [referenceTaxonId]="this.form.controls.referenceTaxonId.valueChanges|async"
                                            [showReferenceTaxonIdColumn]="false"
                                            [canDownload]="true"
                                            [canUpload]="true">

        </app-weight-length-conversion-table>

      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>
