<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event, form.value)">


  <p ion-text color="danger" *ngIf="error" [innerHTML]="error|translate"></p>

  <ion-grid no-padding>

    <!-- GEAR -->
    <ion-row>
      <ion-col size="2" hidden-xs hidden-sm>
        <ion-label translate>TRIP.PHYSICAL_GEAR.GEAR</ion-label>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <input matInput [placeholder]="'TRIP.PHYSICAL_GEAR.GEAR'|translate" [matAutocomplete]="autoGear" formControlName="gear">
          <mat-error *ngIf="form.controls['gear']?.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>

        <!-- Gear combo -->
        <mat-autocomplete autoActiveFirstOption #autoGear="matAutocomplete" [displayWith]="referentialToString">
          <ion-row class="mat-autocomplete-header">
            <ion-col size="2">
              <ion-text translate>REFERENTIAL.LABEL</ion-text>
            </ion-col>
            <ion-col>
              <ion-text translate>REFERENTIAL.NAME</ion-text>
            </ion-col>
          </ion-row>

          <mat-option *ngFor="let gear of gears | async" [value]="gear">
            <ion-row>
              <ion-col size="2" [innerHTML]="gear.label | highlight: {search: form.controls['gear'].value }"></ion-col>
              <ion-col [innerHTML]="gear.name | highlight: {search: form.controls['gear'].value }"></ion-col>
            </ion-row>
          </mat-option>
        </mat-autocomplete>
      </ion-col>
    </ion-row>

    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000" [placeholder]="'TRIP.PHYSICAL_GEAR.COMMENTS'|translate"
            formControlName="comments">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls['comments'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
