@import 'theme.globals';

ion-label.status {
  font-size: $app-card-status-font-size;
  display: flex;
  flex-direction: column;
  & > ion-text:last-child {
    font-color: $app-card-status-font-color;
  }
}

/* Special case for button with large text */
ion-button.large-text {
  --padding-end: 0;

  ion-icon[slot='start'] {
    left: -4px;
  }

}

