ion-label.status {
  font-size: 12px;
}

ion-label.status > ion-text:last-child {
  font-color: var(--ion-color-step-850);
}

/* Special case for button with large text */
ion-button.large-text {
  --padding-end: 0;

  ion-icon[slot='start'] {
    left: -4px;
  }

}

