<ion-label class="ion-text-wrap status" *ngIf="!loading">
  <br *ngIf="data.updateDate"/>
  <!-- local entity -->
  <ion-text *ngIf="data.id < 0">
    <ion-icon name="warning"></ion-icon>&nbsp;
    <span translate>QUALITY.NOT_SYNCHRONIZED</span>
  </ion-text>
  <!-- control date -->
  <ion-text *ngIf="data.controlDate">
    <ion-icon name="checkmark"></ion-icon>&nbsp;
    <span translate>QUALITY.CONTROLLED_ON</span>
    <span>
      <b>{{ data.controlDate | dateFormat: {time: true} }}</b>
    </span>
  </ion-text>
  <!-- validation date -->
  <ion-text *ngIf="data.validationDate">
    <br/>
    <ion-icon name="checkmark-circle"></ion-icon>&nbsp;
    <span translate>QUALITY.VALIDATED_ON</span>
    <span>
      <b>{{ data.validationDate | dateFormat: {time: true} }}</b>
    </span>
  </ion-text>
</ion-label>

<p>

  <!-- Control (only if local) -->
  <ion-button mat-icon-button *ngIf="canControl && !canSynchronize && !canTerminate"
              (click)="control($event)" expand="block" color="tertiary">
    <ion-icon slot="start" name="checkmark" class="ion-float-start"></ion-icon>&nbsp;
    <ion-text translate>QUALITY.BTN_CONTROL</ion-text>
  </ion-button>

  <!-- Terminate -->
  <ion-button mat-icon-button *ngIf="canTerminate"
              (click)="terminate($event)"
              expand="block" color="tertiary"
              class="large-text">
    <ion-icon slot="start" name="checkmark" class="ion-float-start"></ion-icon>&nbsp;
    <ion-text class="ion-text-wrap" translate>QUALITY.BTN_TERMINATE</ion-text>
  </ion-button>

  <!-- synchronize -->
  <ion-button *ngIf="canSynchronize"
              expand="block"
              [disabled]="_busy"
              [color]="network.offline ? 'danger100' : 'danger'"
              (click)="synchronize($event)" >
    <ion-icon slot="start" name="cloud-upload" class="ion-float-start"></ion-icon>
    <ion-text translate>QUALITY.BTN_SYNCHRONIZE</ion-text>
  </ion-button>


  <ion-button *ngIf="canValidate" (click)="validate($event)" expand="block" color="success">
    <ion-icon slot="start" name="checkmark-circle" class="ion-float-start"></ion-icon>&nbsp;
    <ion-text translate>QUALITY.BTN_VALIDATE</ion-text>
  </ion-button>
  <ion-button *ngIf="canUnvalidate" (click)="unvalidate($event)" expand="block" color="light">
    <ion-text color="danger" translate>QUALITY.BTN_UNVALIDATE</ion-text>
  </ion-button>

</p>

<ng-container *ngIf="qualityFlags as qualityFlags">
  <p *ngIf="qualityFlags.length && (canQualify || canUnqualify)" class="ion-padding-top">

      <!-- flags menu -->
      <mat-menu #qualityFlagMenu="matMenu" class="ion-text-center">
        <ion-label class="ion-padding status" translate>QUALITY.QUALITY_FLAG</ion-label>
        <ion-button  *ngFor="let qualityFlag of qualityFlags"
                     size="small" expand="block"
                     [color]="qualityFlagToColor(qualityFlag.id)"
                     (click)="qualify($event, qualityFlag.id)">
          {{qualityFlag.label | translate}}
        </ion-button>
      </mat-menu>


      <ion-button *ngIf="canQualify" [matMenuTriggerFor]="qualityFlagMenu" expand="block" color="tertiary">
        <ion-icon name="ribbon" slot="start" class="ion-float-start"></ion-icon>
        <ion-text translate>QUALITY.BTN_QUALIFY</ion-text>
        <ion-icon name="arrow-dropdown" slot="end" class="ion-float-end"></ion-icon>
      </ion-button>

      <!-- if already qualified -->
      <ng-container *ngIf="canUnqualify">
        <ion-label class="ion-text-wrap status">
          <ion-text>
            <ion-icon name="ribbon"></ion-icon>&nbsp;
            <span translate>QUALITY.QUALIFIED_ON</span>
            <span>
                <b>{{ data.qualificationDate | dateFormat: {time: true} }}</b>
            </span>
          </ion-text>
          <br/>
        </ion-label>
        <ion-button [matMenuTriggerFor]="qualityFlagMenu" expand="block"
                    [color]="qualityFlagToColor(data.qualityFlagId)">
          <ion-icon name="ribbon" slot="start" class="ion-float-start"></ion-icon>
          <ion-text>
            {{getI18nQualityFlag(data.qualityFlagId, qualityFlags) | translate}}</ion-text>
          <ion-icon name="arrow-dropdown" slot="end" class="ion-float-end"></ion-icon>
        </ion-button>
      </ng-container>
  </p>

</ng-container>
