.mat-table {
  .mat-column-program {
    max-width: 90px;
  }

  .mat-column-vessel {
    max-width: 200px;
    padding-right: 5px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden,
    {
    visibility: hidden;
    display: none;
  }

  .mat-header-row,
  .mat-row {
    .mat-column-quality {
      max-width: 40px;
      padding-left: 0px;
    }
  }
}
