<app-toolbar [title]="title | async" color="primary" [hasValidate]="dirty && !loading" (onValidate)="save($event)"
  [defaultBackHref]="defaultBackHref">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" [disableRipple]="true"
    dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="information-circle"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && (tripForm.invalid || (saleForm.invalid && saleForm.dirty) || measurementsForm.invalid)"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="tripForm.error" visible-xs visible-sm>
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>>
      </ion-item>

      <ion-grid no-padding>

        <ion-row no-padding>
          <ion-col padding>
            <!-- trip -->
            <form-trip (onSubmit)="save($event)" [showError]="false" #tripForm subForm>

              <span *ngIf="debug">
                <br />dirty: {{tripForm.dirty}}
                <br/>updateDate: {{data && (data.updateDate | dateFormat: {pattern: 'L LT'}) }}
                <br/>controlDate: {{data && (data.controlDate | dateFormat: {pattern: 'L LT'}) }}
                <br/>validationDate: {{data && (data.validationDate | dateFormat: {pattern: 'L LT'}) }}
              </span>

              <!-- sale -->
              <form-sale [showVessel]="false" [showError]="false" [showComment]="false" [showEndDateTime]="false"
                [required]="false" #saleForm>
              </form-sale>
              <span *ngIf="debug">
                <br />dirty: {{saleForm.dirty}}
              </span>

              <!-- Measurements -->
              <ion-row>
                <ion-col size="12" size-md="2" size-lg="3" align-self-end>
                  <ion-label translate>TRIP.EDIT.OTHER_FEATURES</ion-label>
                </ion-col>
                <ion-col>
                  <form-measurements acquisitionLevel="TRIP" [debug]="debug" #measurementsForm></form-measurements>
                  <span *ngIf="debug">
                    <br />dirty: {{measurementsForm.dirty}}
                  </span>
                </ion-col>
              </ion-row>

            </form-trip>
          </ion-col>
          <ion-col no-padding size="12" size-xl="3">
            <entity-metadata [value]="data">
              <entity-quality-metadata #qualityForm (onChange)="updateView(data)">
              </entity-quality-metadata>
            </entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: Gear -->
    <mat-tab label="{{'TRIP.TAB_PHYSICAL_GEAR'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="settings"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_PHYSICAL_GEAR</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="physicalGearTable.invalid"></ion-icon>
      </ng-template>

      <div no-padding>

        <!-- error -->
        <ion-item *ngIf="physicalGearTable.error" visible-xs visible-sm>
          <ion-icon color="danger" slot="start" name="alert"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="physicalGearTable.error|translate"></ion-label>
        </ion-item>

        <table-physical-gears #physicalGearTable [debug]="debug">
        </table-physical-gears>

      </div>
    </mat-tab>

    <!-- TAB: operations -->
    <mat-tab label="{{'TRIP.TAB_OPERATIONS'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="locate"></ion-icon>
        </mat-icon>
        <ion-label translate>TRIP.TAB_OPERATIONS</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="operationTable.invalid && operationTable.dirty"></ion-icon>
      </ng-template>

      <!-- Help (need to save first) -->
      <ion-item [hidden]="canAccessOperations">
        <ion-icon slot="start" name="ios-help-circle-outline" color="primary"></ion-icon>
        <ion-label>
          <ion-text>
            <p [innerHTML]="'TRIP.NEW.ACCESS_OPERATIONS_HELP'|translate"></p>
          </ion-text>
        </ion-label>
      </ion-item>

      <div no-padding [hidden]="!canAccessOperations">
        <table-operations #operationTable (onOperationClick)="onOperationClick($event)" (onNewOperationClick)="onNewOperationClick($event)">
        </table-operations>
      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading" [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>
