.mat-table {

  .mat-column-analyticReference,
  .mat-column-effortQ1,
  .mat-column-effortQ2,
  .mat-column-effortQ3,
  .mat-column-effortQ4,
  .mat-column-comment {
    max-width: 80px;
  }

  .mat-column-label {
    max-width: 100px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }
}
