.mat-table {

  .mat-column-analyticReference,
  .mat-column-effortQ1,
  .mat-column-effortQ2,
  .mat-column-effortQ3,
  .mat-column-effortQ4 {
    max-width: 80px;
  }

  .mat-column-label,
  .mat-column-comment,
  .mat-column-parameters{
    max-width: 100px;
  }

  .mat-column-departments,
  .mat-column-appliedStrategies,
  .mat-column-taxonNames,
   {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }
}
