<!-- readonly -->
<mat-form-field *ngIf="readonly">
  <input matInput hidden type="text" readonly="true" [formControl]="formControl">
  <ion-text>{{ value | latLongFormat: {type: type, pattern: latLongPattern, maxDecimals: maxDecimals} }}</ion-text>

  <div matSuffix>
    <ng-content select="[matSuffix]"></ng-content>
  </div>
</mat-form-field>

<mat-form-field [floatLabel]="floatLabel" *ngIf="!readonly" [class.mat-form-field-invalid]="formControl.touched && formControl.invalid">
  <mat-label *ngIf="!mobile && labelPlaceholder">{{labelPlaceholder}}</mat-label>
  <input matInput
         type="text"
         autocomplete="off"
         [textMask]="{mask: mask, keepCharPositions: true, maxDecimals: maxDecimals, placeholderChar: placeholderChar}"
         [formControl]="textFormControl"
         [placeholder]="inputPlaceholder|translate"
         (blur)="_onBlur($event)"
         [required]="required"
         [tabindex]="tabindex">

  <div matSuffix>
    <ng-content select="[matLatlongSuffix]"></ng-content>
  </div>

  <div class="mat-form-field-subscript mat-form-field-subscript-wrapper">

    <!-- errors -->
    <ng-container *ngIf="formControl.touched">
      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      <mat-error *ngIf="formControl.hasError('latitude')" translate>ERROR.FIELD_NOT_VALID_LATITUDE</mat-error>
      <mat-error *ngIf="formControl.hasError('longitude')" translate>ERROR.FIELD_NOT_VALID_LONGITUDE</mat-error>
      <ng-content select="mat-error"></ng-content>
    </ng-container>

    <!-- mat hint -->
    <div class="mat-form-field-hint-wrapper" [hidden]="formControl.invalid">
      <div class="mat-form-field-hint-spacer"></div>
      <ng-content select="mat-hint"></ng-content>
    </div>
  </div>
</mat-form-field>

