<!-- readonly -->
<mat-form-field *ngIf="readonly">
  <input matInput hidden type="text" readonly="true" [formControl]="formControl">
  <ion-text>{{formControl.value|dateFormat: {pattern: displayPattern} }}</ion-text>
</mat-form-field>

<!-- writable + mobile + no time (day without time) -->
<mat-form-field [floatLabel]="floatLabel" [formGroup]="form" *ngIf="!readonly && mobile && !displayTime">

  <ion-icon name="calendar" matPrefix></ion-icon>
  <mat-label *ngIf="form.controls['day'].value">{{placeholder}}</mat-label>
  <input matInput type="text" [formControl]="formControl" hidden>
  <ion-datetime matInput formControlName="day" [displayFormat]="displayPattern" [placeholder]="placeholder" [doneText]=" 'COMMON.BTN_DONE'|translate"
    [cancelText]=" 'COMMON.BTN_CANCEL'|translate">
  </ion-datetime>
</mat-form-field>

<!-- writable + no time (day without time) -->
<mat-form-field [floatLabel]="floatLabel" [formGroup]="form" *ngIf="!readonly && !mobile && !displayTime">

  <mat-label>{{placeholder}}</mat-label>

  <input matInput autocomplete="off" type="text" [textMask]="{mask: mask, keepCharPositions: true, placeholderChar: placeholderChar}"
    formControlName="day" [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate" (blur)="markAsTouched()"
    (keyup.arrowdown)="openDatePicker($event, datePicker1)" (click)="openDatePickerIfTouchUi($event)" [required]="required">
  <input matInput type="text" [formControl]="formControl" hidden [matDatepicker]="datePicker1" (dateChange)="onDatePickerChange($event)">

  <button type="button" matSuffix (click)="openDatePicker($event, datePicker1)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-datepicker [touchUi]="touchUi" [disabled]="formControl.disabled" #datePicker1></mat-datepicker>

  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('validDate')" translate>ERROR.FIELD_NOT_VALID_DATE</mat-error>
  <ng-content select="mat-error"></ng-content>
</mat-form-field>

<!-- writable + mobile + time -->
<mat-form-field *ngIf="!readonly && mobile && displayTime" [floatLabel]="floatLabel" [class.mat-form-field-invalid]="formControl?.invalid">

  <ion-icon name="calendar" matPrefix></ion-icon>
  <mat-label *ngIf="form.controls['day'].value">{{placeholder}}</mat-label>

  <input matInput type="text" [formControl]="formControl" hidden>
  <ion-datetime matInput [formControl]="form.controls['day']" [displayFormat]="displayPattern" [placeholder]="placeholder"
    [doneText]="'COMMON.BTN_DONE'|translate" [cancelText]="'COMMON.BTN_CANCEL'|translate">
  </ion-datetime>

</mat-form-field>

<!-- writable + desktop + time -->
<ion-grid no-padding *ngIf="!readonly && !mobile && displayTime">
  <ion-row no-padding [formGroup]="form" nowrap>

    <!-- day -->
    <ion-col no-padding class="day">
      <mat-form-field [floatLabel]="floatLabel" [class.mat-form-field-invalid]="formControl.invalid">

        <mat-label>{{placeholder}}</mat-label>

        <input matInput autocomplete="off" type="text" [textMask]="{mask: mask, keepCharPositions: true, placeholderChar: placeholderChar}"
               formControlName="day" [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate" (blur)="markAsTouched()"
               (keyup.arrowdown)="openDatePicker($event, datePicker3)"
               (click)="openDatePickerIfTouchUi($event)"
               (keyup.escape)="$event.preventDefault()"
               [required]="required">

        <input matInput type="text" [formControl]="formControl" hidden [matDatepicker]="datePicker2" (dateChange)="onDatePickerChange($event)">
        <button type="button" matSuffix (click)="openDatePicker($event, datePicker2)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-datepicker [touchUi]="touchUi" [disabled]="formControl.disabled" #datePicker2></mat-datepicker>

      </mat-form-field>
      <div class="mat-form-field-subscript mat-form-field-subscript-wrapper" >
        <!-- errors -->
        <mat-error *ngIf="formControl.touched && form.controls.hour.touched && formControl.hasError('required')"
          translate>ERROR.FIELD_REQUIRED</mat-error>
        <mat-error *ngIf="formControl.touched && form.controls.hour.touched && formControl.hasError('validDate')"
          translate>ERROR.FIELD_NOT_VALID_DATE_TIME</mat-error>
        <mat-error *ngIf="formControl.touched && formControl.hasError('dateIsAfter')" translate>ERROR.FIELD_NOT_VALID_DATE_AFTER</mat-error>
        <mat-error *ngIf="formControl.touched && !formControl.hasError('dateIsAfter') && formControl.hasError('dateMaxDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MAX_DURATION</mat-error>
        <mat-error *ngIf="formControl.touched && !formControl.hasError('dateIsAfter') && formControl.hasError('dateMinDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MIN_DURATION</mat-error>

        <!-- mat hint -->
        <div class="mat-form-field-hint-wrapper" [hidden]="formControl.invalid">
          <div class="mat-form-field-hint-spacer"></div>
          <ng-content select="mat-hint"></ng-content>
        </div>
      </div>

    </ion-col>

    <!-- hour -->
    <ion-col no-padding class="hour">
      <mat-form-field [floatLabel]="floatLabel" [class.mat-form-field-invalid]="form.controls.hour.invalid">
        <mat-label *ngIf="placeholder && floatLabel != 'never'" translate>COMMON.TIME</mat-label>
        <input matInput type="text"
               autocomplete="off"
               min="0" max="23"
               formControlName="hour"
               [textMask]="{mask: hourMask, keepCharPositions: true, placeholderChar: placeholderChar, guide: true}"
               [placeholder]="'COMMON.TIME_PLACEHOLDER'|translate"
               [required]="required"
               (keyup.arrowdown)="openTimePicker($event, timePicker)"
               (click)="openTimePickerIfTouchUi($event, timePicker1)"
               (blur)="markAsTouched()">

        <input matInput type="text" [formControl]="form.controls['hour']" hidden [ngxTimepicker]="timePicker1" [format]="24">

        <button *ngIf="!compact" type="button" matSuffix (click)="openTimePicker($event, timePicker1)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <ngx-material-timepicker #timePicker1
                                 [ngxMaterialTimepickerTheme]="darkTheme"
                                 (timeSet)="onTimePickerChange($event)"
                                 [ESC]="false"
                                 defaultTime="00:00"
                                 [cancelBtnTmpl]="timePickerCancelButton"
                                 [confirmBtnTmpl]="timePickerOkButton"
                                 [preventOverlayClick]="false"
                                 [enableKeyboardInput]="!touchUi"
                                 (keyup.escape)="onTimePickerKeyup($event)"
                                 (keyup.enter)="onTimePickerKeyup($event)">
          <!-- cancel button -->
          <ng-template #timePickerCancelButton>
            <ion-button fill="clear">
              <ion-label translate>COMMON.BTN_CANCEL</ion-label>
            </ion-button>
          </ng-template>

          <!-- confirm button -->
          <ng-template #timePickerOkButton>
            <ion-button [fill]="solid" color="tertiary">
              <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
            </ion-button>
          </ng-template>


        </ngx-material-timepicker>
      </mat-form-field>
    </ion-col>

  </ion-row>


</ion-grid>
