<!-- readonly -->
<mat-form-field *ngIf="readonly else writable">
  <input matInput hidden type="text" readonly="true" [formControl]="formControl">
  <ion-text>{{formControl.value|dateFormat: {pattern: displayPattern} }}</ion-text>
</mat-form-field>

<!-- writable + time -->
<ng-template #writable >
  <ion-grid *ngIf="displayTime else writableNoTime" class="ion-no-padding">
    <ion-row class="ion-no-padding" [formGroup]="form" nowrap>

      <!-- day -->
      <ion-col class="day ion-no-padding">
        <mat-form-field [floatLabel]="floatLabel">

          <mat-label>{{placeholder}}</mat-label>

          <div matPrefix><ng-content select="[matPrefix]"></ng-content></div>

          <input matInput #matInput autocomplete="off" type="text"
                 *ngIf="!mobile"
                 formControlName="day"
                 [textMask]="{mask: dayMask, keepCharPositions: true, placeholderChar: placeholderChar}"
                 [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate"
                 (blur)="checkIfTouched()"
                 (keyup.arrowdown)="openDatePicker($event, datePicker2)"
                 (keyup.escape)="preventEvent($event)"
                 [required]="required"
                 [tabindex]="tabindex">
          <input matInput #matInput autocomplete="off" type="text"
                 *ngIf="mobile"
                 formControlName="day"
                 (click)="openDatePickerIfMobile($event, datePicker2)"
                 [required]="required"
                 [tabindex]="tabindex"
                 readonly>
          <input matInput type="text" [formControl]="formControl"
                 hidden
                 [matDatepicker]="datePicker2"
                 (dateChange)="onDatePickerChange($event)">

          <button type="button" mat-icon-button tabindex="-1" matSuffix #datePickerButton2 (click)="openDatePicker($event, datePicker2)" [disabled]="formControl.disabled">
            <div *ngIf="mobile; then iconDate; else iconDesktop"></div>
          </button>
        </mat-form-field>
        <mat-datepicker #datePicker2
                        [touchUi]="mobile"
                        [disabled]="formControl.disabled"
                        [startAt]="startDate"></mat-datepicker>
        <div class="mat-form-field-subscript mat-form-field-subscript-wrapper">
          <!-- errors -->
          <ng-container *ngIf="formControl.touched">
            <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            <mat-error *ngIf="formControl.hasError('validDate')" translate>ERROR.FIELD_NOT_VALID_DATE_TIME</mat-error>
            <mat-error *ngIf="formControl.hasError('dateIsAfter')">{{'ERROR.FIELD_NOT_VALID_DATE_AFTER' | translate: formControl.errors.dateIsAfter }}</mat-error>
            <mat-error *ngIf="formControl.hasError('dateRange')" translate>ERROR.FIELD_NOT_VALID_DATE_RANGE</mat-error>
            <mat-error *ngIf="!formControl.hasError('dateRange') && formControl.hasError('dateMaxDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MAX_DURATION</mat-error>
            <mat-error *ngIf="!formControl.hasError('dateRange') && formControl.hasError('dateMinDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MIN_DURATION</mat-error>
            <mat-error *ngIf="formControl.hasError('msg')">{{formControl.errors['msg']}}</mat-error>
            <ng-content select="mat-error"></ng-content>
          </ng-container>

          <!-- mat hint -->
          <div class="mat-form-field-hint-wrapper" [hidden]="formControl.invalid">
            <div class="mat-form-field-hint-spacer"></div>
            <ng-content select="mat-hint"></ng-content>
          </div>
        </div>

      </ion-col>

      <!-- hour -->
      <ion-col class="hour ion-no-padding">
        <mat-form-field [floatLabel]="floatLabel" [class.mat-form-field-invalid]="formControl.touched && form.controls.hour.invalid">
          <mat-label *ngIf="placeholder && floatLabel != 'never'" translate>COMMON.TIME</mat-label>
          <input matInput #matInput type="text"
                 autocomplete="off"
                 min="0" max="23"
                 *ngIf="!mobile"
                 formControlName="hour"
                 [textMask]="{mask: hourMask, keepCharPositions: true, placeholderChar: placeholderChar, guide: true}"
                 [placeholder]="'COMMON.TIME_PLACEHOLDER'|translate"
                 [required]="required"
                 (keyup.arrowdown)="openTimePicker($event)"
                 (keyup.escape)="preventEvent($event)"
                 (blur)="checkIfTouched()"
                 [tabindex]="tabindex !== undefined ? tabindex+1 : undefined">

          <input matInput #matInput type="text"
                 formControlName="hour"
                 *ngIf="mobile"
                 (click)="openTimePickerIfMobile($event)"
                 readonly>

          <input matInput type="text"
                 formControlName="hour"
                 hidden
                 [ngxTimepicker]="timePicker"
                 [format]="24">

          <button *ngIf="!compact && !mobile" type="button" matSuffix
                  (click)="openTimePicker($event)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <button *ngIf="!compact && mobile" type="button" matSuffix
                  (click)="openTimePickerIfMobile($event)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
            <mat-icon><ion-icon name="time"></ion-icon></mat-icon>
          </button>

          <ngx-material-timepicker #timePicker
                                   (timeSet)="onTimePickerChange($event)"
                                   [ESC]="false"
                                   [defaultTime]="'00:00'"
                                   [cancelBtnTmpl]="timePickerCancelButton"
                                   [confirmBtnTmpl]="timePickerOkButton"
                                   [preventOverlayClick]="false"
                                   [enableKeyboardInput]="false"
                                   (keyup.escape)="onTimePickerKeyup($event)"
                                   (keyup.enter)="onTimePickerKeyup($event)"
                                   [disableAnimation]="true">
            <!-- cancel button -->
            <ng-template #timePickerCancelButton>
              <ion-button fill="clear" color="dark">
                <ion-label translate>COMMON.BTN_CANCEL</ion-label>
              </ion-button>
            </ng-template>

            <!-- confirm button -->
            <ng-template #timePickerOkButton>
              <ion-button fill="solid" color="tertiary">
                <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
              </ion-button>
            </ng-template>

          </ngx-material-timepicker>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>


</ng-template>

<!-- no time (day without time) -->
<ng-template #writableNoTime>
  <form [formGroup]="form">
    <mat-form-field [floatLabel]="floatLabel"
                    >

      <mat-label>{{placeholder}}</mat-label>

      <div matPrefix><ng-content select="[matPrefix]"></ng-content></div>

      <input matInput #matInput autocomplete="off" type="text"
             *ngIf="!mobile"
             formControlName="day"
             [textMask]="{mask: dayMask, keepCharPositions: true, placeholderChar: placeholderChar}"
             [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate"
             (blur)="checkIfTouched()"
             (keyup.arrowdown)="openDatePicker($event, datePicker1)"
             (keyup.escape)="preventEvent($event)"
             [required]="required"
             [tabindex]="tabindex">
      <input matInput #matInput autocomplete="off" type="text"
             *ngIf="mobile"
             formControlName="day"
             (click)="openDatePickerIfMobile($event, datePicker1)"
             [required]="required"
             [tabindex]="tabindex"
             readonly>
      <input matInput type="text" [formControl]="formControl"
             hidden
             [matDatepicker]="datePicker1"
             (dateChange)="onDatePickerChange($event)">

      <button mat-button matSuffix mat-icon-button tabindex="-1"
              type="button"
              *ngIf="clearable"
              (click)="formControl.setValue(null)"
              [hidden]="formControl.disabled || !formControl.value">
        <mat-icon>close</mat-icon>
      </button>

      <button type="button" matSuffix (click)="openDatePicker($event, datePicker1)" mat-icon-button tabindex="-1" [disabled]="formControl.disabled">
        <div *ngIf="mobile; then iconDate; else iconDesktop"></div>
      </button>

      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      <mat-error *ngIf="formControl.hasError('validDate')" translate>ERROR.FIELD_NOT_VALID_DATE</mat-error>
      <mat-error *ngIf="formControl.hasError('dateIsAfter')">{{'ERROR.FIELD_NOT_VALID_DATE_AFTER' | translate: formControl.errors.dateIsAfter }}</mat-error>
      <mat-error *ngIf="formControl.hasError('dateRange')" translate>ERROR.FIELD_NOT_VALID_DATE_RANGE</mat-error>
      <mat-error *ngIf="!formControl.hasError('dateRange') && formControl.hasError('dateMaxDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MAX_DURATION</mat-error>
      <mat-error *ngIf="!formControl.hasError('dateRange') && formControl.hasError('dateMinDuration')" translate>ERROR.FIELD_NOT_VALID_DATE_MIN_DURATION</mat-error>
      <mat-error *ngIf="formControl.hasError('msg')">{{formControl.errors['msg']}}</mat-error>
      <ng-content select="mat-error"></ng-content>
    </mat-form-field>
  </form>

  <mat-datepicker #datePicker1
                  [touchUi]="mobile"
                  [disabled]="formControl.disabled"
                  [startAt]="startDate"></mat-datepicker>

</ng-template>

<ng-template #iconDesktop>
  <mat-icon>keyboard_arrow_down</mat-icon>
</ng-template>

<ng-template #iconDate>
  <mat-icon>date_range</mat-icon>
</ng-template>

<ng-template #iconTime>
  <mat-icon><ion-icon name="time"></ion-icon></mat-icon>
</ng-template>
