<form class="form-container ion-no-padding" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!--<ion-text *ngIf="debug">
    I18n Pmfm  prefix: {{i18nPmfmPrefix}}<br/>
    I18n Field prefix: {{i18nFieldPrefix}}<br/>
    I18n Suffix: {{i18nSuffix}}<br/>
  </ion-text>-->

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding ion-padding-start">
    <ion-row class="ion-no-padding">
      <!-- label -->
      <ion-col *ngIf="showLabel" size="6">
        <mat-form-field floatLabel="auto">
          <ion-icon matPrefix name="pricetag"></ion-icon>
          <input matInput autocomplete="off"
                 formControlName="label"
                 [appAutofocus]="enabled &&  focusFieldName === 'label'"
                 [tabindex]="tabindex"
                 [placeholder]="'TRIP.SAMPLE.EDIT.LABEL_PLACEHOLDER'|translateContext: i18nSuffix"
                 (click)="selectInputContent($event)"
                 [required]="showLabel">
          <mat-error *ngIf="form.controls.label.hasError('required')" translate>ERROR.FIELD_REQUIRED
          </mat-error>
          <!-- Need by auction control (label as an additional validator) -->
          <mat-error *ngIf="form.controls.label.hasError('pattern')" translate>ERROR.FIELD_NOT_VALID_PATTERN
          </mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Taxon group -->
      <ion-col size="6" size-md=""
               [hidden]="!showTaxonGroup">
        <mat-autocomplete-field formControlName="taxonGroup"
                                [autofocus]="enabled && focusFieldName === 'taxonGroup'"
                                [placeholder]="'TRIP.SAMPLE.EDIT.TAXON_GROUP_PLACEHOLDER'|translateContext: i18nSuffix"
                                [tabindex]="tabindex+2"
                                [required]="showTaxonGroup"
                                [config]="autocompleteFields.taxonGroup">
        </mat-autocomplete-field>
      </ion-col>

      <!-- Taxon name (scientific species) -->
      <ion-col padding-left no-padding-xs no-padding-sm
               size="6" size-md=""
               *ngIf="showTaxonName">
        <mat-autocomplete-field formControlName="taxonName"
                                [autofocus]="enabled && focusFieldName === 'taxonName'"
                                [placeholder]="'TRIP.SAMPLE.EDIT.TAXON_NAME_PLACEHOLDER'|translateContext: i18nSuffix"
                                [tabindex]="tabindex+3"
                                [required]="showTaxonName"
                                [config]="autocompleteFields.taxonName">
        </mat-autocomplete-field>
      </ion-col>

      <!-- sample date -->
      <ion-col *ngIf="showSampleDate" size="6">
        <mat-date-time-field formControlName="sampleDate"
                             [placeholder]="'TRIP.SAMPLE.EDIT.SAMPLE_DATE_PLACEHOLDER'|translateContext: i18nSuffix"
                             [tabindex]="tabindex+4"
                             [required]="usageMode|isNotOnField"
                             [clearable]="usageMode|isOnField">
        </mat-date-time-field>
      </ion-col>
    </ion-row>

    <!-- Measurements -->
    <ion-row *ngIf="$pmfms | async | arrayFilter: isNotHiddenPmfm; let pmfms"
             [formGroup]="measurementValuesForm"
             class="ion-no-padding">
      <ng-container *ngFor="let pmfm of pmfms; index as i; last as last">

        <!--<ion-col *ngIf="(pmfm|pmfmName) === 'D1'" size="12" class="dolphin-damage">
          <mat-icon svgIcon="dolphin-damage"></mat-icon>
        </ion-col>-->
        <ion-col
                 [size]="mobile && (pmfm.isQualitative || pmfm.type === 'boolean') ? 12 : 6"
                 class="pmfm-{{pmfm.id}}">
          <app-pmfm-field #matInput
                         [pmfm]="pmfm"
                         [style]="mobile && 'button'"
                         [floatLabel]="(pmfm|isComputedPmfm) && 'always'"
                         [maxVisibleButtons]="maxVisibleButtons"
                         [placeholder]="pmfm|pmfmName: {i18nPrefix: i18nPmfmPrefix, i18nContext: i18nSuffix}"
                         [tabindex]="tabindex+4 + i*maxVisibleButtons"
                         (keyup.enter)="last && onSubmit.emit($event)">
          </app-pmfm-field>
        </ion-col>
      </ng-container>
    </ion-row>

    <ng-content select="[beforeComment]"></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4"
                    maxlength="2000"
                    tabindex="100"
                    [placeholder]="'COMMON.COMMENTS'|translate"
                    formControlName="comments"></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ng-content select="[afterComment]"></ng-content>
  </ion-grid>


</form>
