
.table-container {
  height: calc(100% - var(--table-toolbar-height) - var(--table-container-top, 0px));
  min-width: 100%;
  overflow: auto;

  --table-toolbar-height: 0px;
  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }

  .mat-table {

    .mat-header-row,
    .mat-row {

      .mat-column-id {
        min-width: 50px;
        max-width: 50px;
      }
      .mat-column-label {
        min-width: 80px;
        max-width: 120px;
      }

      .mat-column-taxonName,
      .mat-column-taxonGroup {
        min-width: 150px;
      }

      .mat-column-comments {
        min-width: 60px;
        max-width: unset;
      }

      .mat-column-pmfm {
        min-width: calc(min(80px, 50vw / var(--pmfm-count)));
        max-width: calc(70vw / var(--pmfm-count));
      }

      .mat-column-group-TAG_ID {
        min-width: 160px;
        max-width: 160px;
      }

      // PMFM specific
      .mat-column-60,
      .mat-column-62 {
        min-width: 45px;
        max-width: 100px;
      }

      .mat-column-63,
      .mat-column-64,
      .mat-column-65,
      .mat-column-66,
      .mat-column-67,
      .mat-column-68,
      .mat-column-69,
      .mat-column-70,
      .mat-column-71 {
        max-width: 30px;
      }

      .mat-column-80 {
        max-width: 50px;
      }

      .mat-column-81 {
        max-width: 100px;
      }
    }

    /* First header row (group) */
    .mat-header-row.first-header-row {
      max-height: 58px;
      min-height: 58px;
      --mat-cell-vertical-padding: 0;

      .mat-header-cell {
        background-color: whitesmoke;
      }

      .mat-column-pmfm-group {
        text-align: center;

        &.even {
          background-color: var(--ion-color-medium) !important;
        }

        &.odd {
          background-color: var(--ion-color-light-shade, lightgray) !important;
        }
      }
    }

    /* Second header row */
    .mat-header-row.second-header-row {
      height: 90px;
      max-height: 90px;

      .mat-column-pmfm {
        max-height: 100%;
        overflow: hidden;

        mat-label,
        ion-label {
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.even {
          background-color: rgba(0,0,0,0.12) !important;
        }

      }

      mat-label,
      ion-label {
        max-height: 90px;
        text-overflow: ellipsis;
      }
    }

    // Normal row
    .mat-row {
      .mat-cell.mat-column-pmfm {
        &.even {
          background-color: var(--ion-color-light, whitesmoke) !important;
        }
      }
    }


  }

  &.mobile {
    .mat-column-pmfm {
      min-width: unset;
      max-width: unset;
    }
  }
}
