<app-modal-toolbar color="secondary"
                   (cancel)="cancel()"
                   [title]="$title | async"
                   [showSpinner]="loading"
                   [canValidate]="!loading"
                   (validate)="onSubmit($event)">
</app-modal-toolbar>

<ion-content>

  <app-samples-table #table
                     [programLabel]="programLabel"
                     [acquisitionLevel]="acquisitionLevel"
                     [defaultTaxonGroup]="defaultTaxonGroup"
                     [defaultSampleDate]="defaultSampleDate"
                     [showLabelColumn]="showLabel"
                     [showDateTimeColumn]="false"
                     [showTaxonNameColumn]="showTaxonName"
                     [showTaxonGroupColumn]="showTaxonGroup"
                     [showCommentsColumn]="false"
                     [debug]="debug">
  </app-samples-table>

  <!--  <app-sample-form #form-->
  <!--                   [debug]="debug"-->
  <!--                   [acquisitionLevel]="acquisitionLevel"-->
  <!--                   [program]="program"-->
  <!--                   [showLabel]="showLabel"-->
  <!--                   [showTaxonGroup]="showTaxonGroup"-->
  <!--                   [showTaxonName]="showTaxonName"-->
  <!--                   (onSubmit)="close($event)">-->
  <!--  </app-sample-form>-->

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || invalid"
                    (keyup.enter)="onSubmit($event)"
                    (click)="onSubmit($event)" color="tertiary">
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_VALIDATE</ion-label>
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         visible-xs visible-sm visible-mobile>

  <ion-fab-button color="tertiary" (click)="onNewFabButtonClick($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>

