<mat-tab-group #tabGroup
               class="mat-tab-group-header-pagination-hidden mat-tab-disabled-hidden mat-tab-fixed-content mat-tab-group-samples"
               [class.mat-tab-group-header-hidden]="mobile"
               [(selectedIndex)]="selectedTabIndex"
               (selectedTabChange)="onTabChange($event)"
               [dynamicHeight]="false"
               animationDuration="0s">
  <!-- TAB: Samples  -->
  <mat-tab #sampleTab
           [label]="'TRIP.SAMPLE.TABLE.TAB_SAMPLES'|translateContext: i18nContext.suffix">
    <ng-template mat-tab-label>
      <mat-icon svgIcon="fish-oblique"></mat-icon>
      <ion-label>{{sampleTab.textLabel}}
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && samplesTable.invalid"></ion-icon>
    </ng-template>

    <app-samples-table #samplesTable
                       [debug]="debug"
                       acquisitionLevel="SAMPLE"
                       [programLabel]="$programLabel|async"
                       [requiredStrategy]="requiredStrategy"
                       [usageMode]="usageMode"
                       [disabled]="disabled"
                       [showToolbar]="!mobile"
                       [useSticky]="useSticky"
                       [showLabelColumn]="showLabelColumn"
                       [defaultSampleDate]="defaultSampleDate"
                       (onPrepareRowForm)="onPrepareRowForm.emit($event)"
                       [mobile]="mobile">
    </app-samples-table>

    <!-- final space-->
    <p visible-xs visible-sm visible-mobile>&nbsp;</p>
  </mat-tab>

  <!-- TAB: Individual monitoring  -->
  <mat-tab #individualMonitoringTab
           [label]="'TRIP.SAMPLE.TABLE.TAB_SUB_SAMPLES'|translateContext: i18nContext.suffix"
           [disabled]="!showIndividualMonitoringTable">
    <ng-template mat-tab-label>
      <mat-icon>center_focus_strong</mat-icon>
      <ion-label
        [matBadge]="individualMonitoringTable.visibleRowCount"
        [matBadgeHidden]="individualMonitoringTable.invalid || !individualMonitoringTable.visibleRowCount"
        matBadgeOverlap="false"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="above after">{{individualMonitoringTab.textLabel}}
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && individualMonitoringTable.invalid"></ion-icon>
    </ng-template>

    <app-individual-monitoring-table #individualMonitoringTable
                                     (ngInit)="onInitTable(individualMonitoringTable)"
                                     [debug]="debug"
                                     [programLabel]="$programLabel|async"
                                     [usageMode]="usageMode"
                                     [useSticky]="useSticky"
                                     [showToolbar]="true"
                                     [showLabelColumn]="showLabelColumn"
                                     [mobile]="false">
    </app-individual-monitoring-table>
    <!-- final space-->
    <p visible-xs visible-sm visible-mobile>&nbsp;</p>
  </mat-tab>

  <!-- TAB: Individual releases  -->
  <mat-tab #individualReleaseTab
           *ngIf="!mobile"
           label="{{'TRIP.SAMPLE.TABLE.TAB_INDIVIDUAL_RELEASES'|translate}}"
           [disabled]="!showIndividualReleaseTable">
    <ng-template mat-tab-label>
      <mat-icon>room</mat-icon>
      <ion-label
        [matBadge]="individualReleaseTable.visibleRowCount"
        [matBadgeHidden]="individualReleaseTable.invalid || !individualReleaseTable.visibleRowCount"
        matBadgeOverlap="false"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="above after">{{individualReleaseTab.textLabel}}
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
    </ng-template>

    <app-individual-releases-table #individualReleaseTable
                                   (ngInit)="onInitTable(individualReleaseTable)"
                                   [programLabel]="$programLabel|async"
                                   [usageMode]="usageMode"
                                   [useSticky]="useSticky"
                                   [showToolbar]="true"
                                   [showLabelColumn]="showLabelColumn"
                                   [mobile]="false">
    </app-individual-releases-table>
    <!-- final space-->
    <p visible-xs visible-sm visible-mobile>&nbsp;</p>
  </mat-tab>
</mat-tab-group>
