<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate"
          (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="selection.hasValue() && enabled"
          [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()"
          [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS' | translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<!-- writable -->
<mat-table *ngIf="inlineEdition; else readonly"
           [dataSource]="dataSource"
           class="table-samples"
           matSort
           matSortDisableClear
           [matSortActive]="defaultSortBy"
           [matSortDirection]="defaultSortDirection"
           [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.rankOrder }}</mat-cell>
  </ng-container>

  <!-- label Column -->
  <ng-container matColumnDef="label">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.SAMPLE.TABLE.LABEL</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput autocomplete="off"
               [formControl]="row.validator.controls.label"
               [placeholder]="'TRIP.SAMPLE.TABLE.LABEL_PLACEHOLDER'|translate"
               (click)="$event.target.select()">
        <mat-error *ngIf="row.validator.controls.label.hasError('required')" translate>ERROR.FIELD_REQUIRED
        </mat-error>
        <!-- Need by auction control (label as an additional validator) -->
        <mat-error *ngIf="row.validator.controls.label.hasError('pattern')" translate>ERROR.FIELD_NOT_VALID_PATTERN
        </mat-error>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Taxon group  -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.SAMPLE.TABLE.TAXON_GROUP</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [appAutofocus]="row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.taxonGroup"
                              [placeholder]="'TRIP.SAMPLE.TABLE.TAXON_GROUP_PLACEHOLDER'|translate"
                              [required]="showTaxonGroupColumn" [readonly]="!row.editing"
                              [config]="autocompleteFields.taxonGroup">
      </mat-autocomplete-field>
    </mat-cell>
  </ng-container>

  <!-- Taxon name -->
  <ng-container matColumnDef="taxonName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.SAMPLE.TABLE.TAXON_NAME</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [appAutofocus]="!showTaxonGroupColumn && row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.taxonName"
                              [placeholder]="'TRIP.SAMPLE.TABLE.TAXON_NAME_PLACEHOLDER'|translate"
                              [required]="true" [readonly]="!row.editing"
                              [config]="autocompleteFields.taxonName">
      </mat-autocomplete-field>
    </mat-cell>
  </ng-container>

  <!-- Date -->
  <ng-container matColumnDef="sampleDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
      <ion-label translate>TRIP.SAMPLE.TABLE.SAMPLE_DATE</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="mat-cell-date-time">
      <mat-date-time-field floatLabel="never" [formControl]="row.validator.controls.sampleDate"
                           [placeholder]="'COMMON.DATE_PLACEHOLDER'|translate"
                           [compact]="true" [readonly]="!row.editing" [required]="true"></mat-date-time-field>
    </mat-cell>
  </ng-container>

  <!-- Pmfms columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
    <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm|isDatePmfm">
      <ion-label [innerHTML]="pmfm|pmfmName: {html: true}"></ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm|isDatePmfm"
              [class.mat-cell-computed]="pmfm|isComputedPmfm">
      <app-pmfm-field
        [readonly]="!row.editing || mobile"
        [pmfm]="pmfm" [formControl]="row.validator.controls.measurementValues.controls[pmfm.pmfmId]"
        [compact]="true" floatLabel="never"></app-pmfm-field>
    </mat-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
      <span translate>REFERENTIAL.COMMENTS</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls.comments"
               [placeholder]="'REFERENTIAL.COMMENTS'|translate"
               [readonly]="!row.editing">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
      <!-- pending -->
      <ion-spinner *ngIf="row.validator.pending" name="dots"
                   [ngClass]="{'center':true}"></ion-spinner>

      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid"
              [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.mat-row-error]="row.validator.invalid"
           [class.mat-row-dirty]="row.validator.dirty" [class.mat-row-disabled]="!row.editing"
           (click)="clickRow($event, row)"></mat-row>
</mat-table>



<!-- readonly table (e.g. for mobile) -->
<ng-template #readonly>
  <mat-table [dataSource]="dataSource"
             matSort
             matSortDisableClear
             [matSortActive]="defaultSortBy"
             [matSortDirection]="defaultSortDirection"
             [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- rankOrder Column = id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.currentData?.rankOrder }}</mat-cell>
    </ng-container>

    <!-- label Column -->
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.SAMPLE.TABLE.LABEL</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{row.currentData.label}}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Taxon group  -->
    <ng-container matColumnDef="taxonGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.SAMPLE.TABLE.TAXON_GROUP</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{row.currentData.taxonGroup|referentialToString:autocompleteFields.taxonGroup.attributes }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Taxon name -->
    <ng-container matColumnDef="taxonName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.SAMPLE.TABLE.TAXON_NAME</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{row.currentData.taxonName|referentialToString:autocompleteFields.taxonName.attributes }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Date -->
    <ng-container matColumnDef="sampleDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>TRIP.SAMPLE.TABLE.SAMPLE_DATE</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-cell-date-time">
        <ion-text>{{row.currentData.sampleDate | dateFormat: {time: true} }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Pmfms columns -->
    <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
      <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm|isDatePmfm">
        <ion-label [innerHTML]="pmfm|pmfmName: {html: true}"></ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"
                [class.mat-cell-date-time]="pmfm|isDatePmfm"
                [class.mat-cell-computed]="pmfm|isComputedPmfm">
        <ion-text [innerHTML]="row.currentData.measurementValues[pmfm.pmfmId] | pmfmValueToString: {pmfm: pmfm, html: true}"></ion-text>
      </mat-cell>
    </ng-container>

    <!-- Comment column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef >
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <mat-icon class="comment"
                  *ngIf="row.currentData.comments"
                  [title]="row.currentData.comments">chat_bubble</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             class="mat-row-disabled"
             [class.mat-row-dirty]="!row.currentData.id"
             (click)="clickRow($event, row)"></mat-row>
  </mat-table>
</ng-template>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="enabled && showFabButton"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
