<app-modal-toolbar color="secondary"
                   [title]="$title|async"
                   (cancel)="cancel()"
                   (validate)="onSubmit($event)"
                   [canValidate]="!loading"
                   [showSpinner]="loading"
                   [validateIcon]="enableBurstMode ? {matIcon: 'done_all'} : {matIcon: 'checkmark'}">

<ion-buttons slot="end" >
  <!-- Options menu -->
  <button mat-icon-button *ngIf="!loading"
          [title]="'COMMON.OPTIONS'|translate"
          [matMenuTriggerFor]="optionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</ion-buttons>
</app-modal-toolbar>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">

  <button mat-menu-item
          (click)="toggleBurstMode()">
    <mat-icon *ngIf="enableBurstMode">check_box</mat-icon>
    <mat-icon *ngIf="!enableBurstMode">check_box_outline_blank</mat-icon>
    <ion-label translate>COMMON.BTN_BURST_INPUT_HELP</ion-label>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item
          *ngIf="onDelete"
          (click)="delete($event)">
    <mat-icon>delete_outline</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>
</mat-menu>

<ion-content class="ion-padding">

  <app-sample-form #form
                   [debug]="debug"
                   [acquisitionLevel]="acquisitionLevel"
                   [program]="program"
                   [pmfms]="pmfms"
                   [mapPmfmFn]="mapPmfmFn"
                   [usageMode]="usageMode"
                   [showLabel]="showLabel"
                   [showSampleDate]="showDateTime"
                   [showTaxonGroup]="showTaxonGroup"
                   [showTaxonName]="showTaxonName"
                   [maxVisibleButtons]="maxVisibleButtons"
                   (onSubmit)="onSubmit($event)">
  </app-sample-form>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button color="tertiary"
                    [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || invalid"
                    (keyup.enter)="onSubmit($event)"
                    (click)="onSubmit($event)">
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_VALIDATE</ion-label>
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
