<app-modal-toolbar color="secondary"
                   (cancel)="close($event)"
                   [title]="$title | async"
                   (validate)="onSubmit($event)"
                   [canValidate]="!disabled"
                   [showSpinner]="loading">

  <ion-buttons slot="end" [class.cdk-visually-hidden]="loading">

    <!-- Options menu -->
    <button mat-icon-button
            [title]="'COMMON.OPTIONS'|translate"
            [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Next (burst mode)
    <ion-button visible-xs visible-sm visible-mobile
                *ngIf="enableBurstMode"
                (click)="onSubmit($event)"
                [disabled]="!form.valid">
      <ion-label translate>COMMON.BTN_NEXT</ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>-->

  </ion-buttons>
</app-modal-toolbar>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">

  <button mat-menu-item
          (click)="toggleBurstMode()">
    <mat-icon *ngIf="enableBurstMode">check_box</mat-icon>
    <mat-icon *ngIf="!enableBurstMode">check_box_outline_blank</mat-icon>
    <ion-label translate>COMMON.BTN_BURST_INPUT_HELP</ion-label>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item
          *ngIf="onDelete"
          (click)="delete($event)">
    <mat-icon>delete_outline</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>
</mat-menu>

<ion-content class="ion-padding">

  <app-sample-form #form
                   [debug]="debug"
                   [acquisitionLevel]="acquisitionLevel"
                   [programLabel]="programLabel"
                   [mobile]="mobile"
                   [pmfms]="$pmfms|async"
                   [mapPmfmFn]="mapPmfmFn"
                   [usageMode]="usageMode"
                   [showLabel]="showLabel"
                   [showSampleDate]="showDateTime"
                   [showTaxonGroup]="showTaxonGroup"
                   [showTaxonName]="showTaxonName"
                   [showComment]="showComment"
                   [maxVisibleButtons]="maxVisibleButtons"
                   (onSubmit)="enableBurstMode ? onSubmitAndNext($event) : onSubmit($event)">
    <ion-row showCommentButton *ngIf="mobile">
      <ion-col size="6">
        <ion-item lines="none" class="ion-no-padding" (click)="toggleComment()" tappable="">
          <ion-toggle [checked]="showComment"></ion-toggle>
          <ion-label color="dark" translate>COMMON.BTN_ADD_COMMENT</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-buttons ionButtons class="ion-justify-content-between" *ngIf="mobile">
      <ion-button mat-button
                  fill="clear" color="tertiary" expand="full"
                  [title]="'TRIP.SAMPLE.EDIT.BTN_INDIVIDUAL_RELEASE'|translate"
                  (click)="onShowSubSampleButtonClick($event)">
        <mat-icon>room</mat-icon>
        <ion-label>
          <span translate>TRIP.SAMPLE.EDIT.BTN_INDIVIDUAL_RELEASE</span>
        </ion-label>
      </ion-button>

      <!-- Next -->
      <ion-button *ngIf="enableBurstMode && !disabled"
                  [fill]="form.invalid ? 'clear' : 'solid'"
                  [disabled]="disabled || form.invalid"
                  [color]="form.invalid ? 'dark' : 'tertiary'"
                  (click)="onSubmitAndNext($event)">
        <ion-label translate>COMMON.BTN_VALIDATE_AND_CONTINUE</ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </ion-buttons>

  </app-sample-form>


</ion-content>

<ion-footer hidden-xs hidden-sm *ngIf="!mobile">

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="close()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button color="tertiary"
                    [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || invalid"
                    (keyup.enter)="onSubmit($event)"
                    (click)="onSubmit($event)">
          <ion-label *ngIf="enableBurstMode" translate>COMMON.BTN_VALIDATE_AND_CONTINUE</ion-label>
          <ion-label *ngIf="!isNew && !enableBurstMode" translate>COMMON.BTN_VALIDATE</ion-label>
          <ion-label *ngIf="isNew && !enableBurstMode" translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
