<form class="form-container ion-no-padding" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding ion-padding-start">
    <ion-row class="ion-no-padding">
      <!-- label -->
      <ion-col *ngIf="showLabel" size="6">
        <mat-form-field floatLabel="auto">
          <ion-icon matPrefix name="pricetag"></ion-icon>
          <input matInput autocomplete="off"
                 formControlName="label"
                 [appAutofocus]="enabled &&  focusFieldName === 'label'"
                 [tabindex]="tabindex"
                 [placeholder]="i18nPrefix + 'LABEL_PLACEHOLDER'|translate"
                 (click)="selectInputContent($event)"
                 [required]="showLabel">
          <mat-error *ngIf="form.controls.label.hasError('required')" translate>ERROR.FIELD_REQUIRED
          </mat-error>
          <!-- Need by auction control (label as an additional validator) -->
          <mat-error *ngIf="form.controls.label.hasError('pattern')" translate>ERROR.FIELD_NOT_VALID_PATTERN
          </mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Parent -->
      <ion-col size="6" size-md="">
          <mat-autocomplete-field formControlName="parent"
                                  [autofocus]="enabled && focusFieldName === 'parent'"
                                  [placeholder]="'TRIP.SAMPLE.TABLE.PARENT' | translate"
                                  [config]="autocompleteFields.parent"
                                  [tabindex]="showLabel ? tabindex +1 : tabindex"
                                  [readonly]="!enableParent"
                                  required>
          </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Measurements -->
    <ion-row *ngIf="$pmfms | async; let pmfms"
             [formGroup]="measurementValuesForm"
             class="ion-no-padding">
      <ion-col *ngFor="let pmfm of pmfms; index as i; last as last"
               [size]="mobile && (pmfm.isQualitative || pmfm.type === 'boolean') ? 12 : 6"
               class="pmfm-{{pmfm.id}}">
        <app-pmfm-field #matInput
                        [pmfm]="pmfm"
                        [style]="mobile && 'button'"
                        [floatLabel]="(pmfm|isComputedPmfm) && 'always'"
                        [maxVisibleButtons]="maxVisibleButtons"
                        [compact]="compact"
                        [tabindex]="tabindex+2 + i*maxVisibleButtons">
          <!-- TODO (keyup.enter)="last && onSubmit($event)" -->
        </app-pmfm-field>
      </ion-col>
    </ion-row>

    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4"
                    maxlength="2000"
                    tabindex="100"
                    [placeholder]="'COMMON.COMMENTS'|translate"
                    formControlName="comments"></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>


</form>
