.mat-header-row,
.mat-row {
  .mat-column-id {
    max-width: 30px;
  }

  .mat-column-parent {
    min-width: 150px;
  }

  // Y/N
  .mat-column-100 {
    min-width: 30px;
  }

  .mat-column-102 {
    min-width: 75px;
  }

  .mat-column-100,
  .mat-column-102,
  .mat-column-104,
  .mat-column-105,
  .mat-column-106,
  .mat-column-107,
  .mat-column-108 {
    max-width: 100px;
  }
}
