<mat-toolbar>
  <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button small color="light" *ngIf="selection.hasValue()" [title]="'COMMON.BTN_DELETE'|translate"
    (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="!selection.hasValue()" [title]="'TRIP.SUB_SAMPLE.TABLE.BTN_AUTO_FILL'|translate"
    (click)="autoFillTable()">
    <mat-icon>control_point_duplicate</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
    (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm>
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<mat-table [dataSource]="dataSource" class="table-operations" matSort matSortActive="rankOrder" matSortDirection="asc"
  matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label *ngIf="!loading">#</ion-label>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.rankOrder }}</mat-cell>
  </ng-container>

  <!-- parent sample -->
  <ng-container matColumnDef="parent">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label>{{ (displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) ||
        'TRIP.SUB_SAMPLE.TABLE.PARENT_SAMPLE') | translate }}</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['parent']" [matAutocomplete]="autoParent" [appAutofocus]="row.id == -1 && row.editing"
          [placeholder]="displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) || ('TRIP.SUB_SAMPLE.TABLE.PARENT_SAMPLE' | translate)"
          (click)="$event.target.select()" (blur)="onParentCellBlur($event, row)" required>
        <mat-error *ngIf="row.validator.controls['parent'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>

      <mat-autocomplete autoActiveFirstOption #autoParent="matAutocomplete" [displayWith]="parentSampleToString">
        <ion-row class="mat-autocomplete-header">
          <ion-col>
            <ion-text>{{displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) || '#'}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text translate>TRIP.SUB_SAMPLE.TABLE.TAXON_GROUP</ion-text>
          </ion-col>
        </ion-row>
        <mat-option *ngFor="let sample of filteredParents | async" [value]="sample">
          <ion-row>
            <ion-col [innerHTML]="(displayParentPmfm && sample.measurementValues[displayParentPmfm.pmfmId] || sample.rankOrder) | highlight: {search: row.validator.controls['parent'].value }"></ion-col>
            <ion-col [innerHTML]="sample.taxonGroup.label | highlight: {search: row.validator.controls['parent'].value }"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>
    </mat-cell>

  </ng-container>

  <!-- Pmfms columns -->
  <ng-container *ngIf="!loading">
    <!-- Pmfm columns -->
    <ng-container *ngFor="let pmfm of pmfms | async" matColumnDef="{{pmfm.pmfmId}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm.type=='date'">
        <ion-label>{{getPmfmColumnHeader(pmfm)}}
          <small *ngIf="pmfm.unit && (pmfm.type == 'integer' || pmfm.type == 'double')"><br />({{pmfm.unit}})</small>
        </ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.type=='date'">
        <mat-form-field-measurement [pmfm]="pmfm" [formControl]="row.validator.controls['measurementValues'].controls[pmfm.pmfmId]"
          [compact]="true" floatLabel="never"></mat-form-field-measurement>
      </mat-cell>
    </ng-container>

  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
      <span translate>REFERENTIAL.COMMENTS</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['comments']" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
          [readonly]="!row.editing">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition || !row.editing">
      <!-- undo or delete  -->
      <button mat-icon-button small color="light" *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
        (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
        (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
        (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.mat-row-error]="row.validator.invalid"
    [class.mat-row-dirty]="row.currentData.dirty" [class.mat-row-disabled]="!row.editing" (click)="onRowClick($event, row)"></mat-row>
</mat-table>

<ion-row no-padding>
  <!-- paginator -->
  <ion-col no-padding col-12>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 50, 100, 200]">
    </mat-paginator>
  </ion-col>
</ion-row>

<!-- <ion-row>
  <ion-col *ngFor="let pmfm of pmfms | async">
    {{pmfm.label}}
  </ion-col>
</ion-row> -->
<ion-fab right bottom visible-xs visible-sm>
  <button ion-fab color="light" (click)="addRow()">
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-fab>
