<app-modal-toolbar color="secondary"
                   (cancel)="close($event)"
                   [title]="$title | async"
                   (validate)="onSubmit($event)"
                   [canValidate]="!disabled"
                   [showSpinner]="loading">

  <ion-buttons slot="end" [class.cdk-visually-hidden]="loading">

    <!-- Options menu -->
    <button mat-icon-button
            *ngIf="!isNew"
            [title]="'COMMON.OPTIONS'|translate"
            [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>


  </ion-buttons>
</app-modal-toolbar>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">

  <button mat-menu-item
          *ngIf="onDelete"
          (click)="delete($event)">
    <mat-icon>delete_outline</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>
</mat-menu>

<ion-content class="ion-padding">

  <app-sub-sample-form #form
                       [debug]="debug"
                       [acquisitionLevel]="acquisitionLevel"
                       [programLabel]="programLabel"
                       [mobile]="mobile"
                       [pmfms]="pmfms"
                       [i18nSuffix]="i18nSuffix"
                       [usageMode]="usageMode"
                       [showLabel]="showLabel"
                       [showParent]="showParent"
                       [showComment]="showComment"
                       [availableParents]="availableParents"
                       [maxVisibleButtons]="maxVisibleButtons"
                       [defaultLatitudeSign]="defaultLatitudeSign"
                       [defaultLongitudeSign]="defaultLongitudeSign"
                       (onSubmit)="onSubmit($event)">


    <ion-row *ngIf="mobile">
      <ion-col size="6">
        <ion-item lines="none" class="ion-no-padding" (click)="toggleComment()" tappable="">
          <ion-toggle [checked]="showComment"></ion-toggle>
          <ion-label color="dark" translate>COMMON.BTN_ADD_COMMENT</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </app-sub-sample-form>


</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="close($event)">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button color="tertiary"
                    [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || disabled"
                    (keyup.enter)="onSubmit($event)"
                    (click)="onSubmit($event)">
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_VALIDATE</ion-label>
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
