<mat-toolbar *ngIf="showToolbar">
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled"
          [title]="'COMMON.BTN_ADD'|translate"
          (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="light" *ngIf="selection.hasValue() && enabled"
          [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button color="light" *ngIf="!selection.hasValue() && enabled" [title]="'TRIP.SAMPLE.TABLE.BTN_AUTO_FILL'|translate"
    (click)="autoFillTable()">
    <mat-icon>control_point_duplicate</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button color="light" *ngIf="debug && !selection.hasValue()"
          [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<table mat-table [dataSource]="dataSource" class="table-sub-samples" matSort matSortActive="rankOrder"
           matSortDirection="asc"
           matSortDisableClear
           [trackBy]="trackByFn">

  <ng-container matColumnDef="select" [sticky]="useSticky">
    <th mat-header-cell [class.cdk-visually-hidden]="mobile" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [tabindex]="-1">
      </mat-checkbox>
    </th>
    <td mat-cell [class.cdk-visually-hidden]="mobile" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [tabindex]="-1">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id" [sticky]="useSticky">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </th>
    <td mat-cell *matCellDef="let row"><ion-label>{{row.currentData?.rankOrder}}</ion-label></td>
  </ng-container>

  <!-- parent -->
  <ng-container matColumnDef="parent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label>{{ (displayParentPmfm | pmfmName) || ('TRIP.SAMPLE.TABLE.PARENT' | translate) }}</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [autofocus]="row.id === -1 && row.editing"
                              [formControl]="row.validator.controls.parent"
                              [placeholder]="'TRIP.SAMPLE.TABLE.PARENT'|translate"
                              [config]="autocompleteFields.parent"
                              required>
      </mat-autocomplete-field>
    </td>

  </ng-container>

  <!-- Pmfms columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.id.toString()">
    <th mat-header-cell *matHeaderCellDef mat-sort-header
                     [class.mat-cell-date-time]="pmfm|isDatePmfm">
      <ion-label [innerHTML]="pmfm|pmfmName: {html: true, withUnit: true}"></ion-label>
    </th>
    <td mat-cell *matCellDef="let row"
              [class.mat-cell-date-time]="pmfm|isDatePmfm">
      <app-pmfm-field floatLabel="never"
                      [formControl]="row.validator.controls.measurementValues.controls[pmfm.id]"
                      [pmfm]="pmfm"
                      [readonly]="!row.editing"
                      [compact]="true" >
      </app-pmfm-field>
    </td>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef>
      <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
    </th>
    <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls.comments"
               [placeholder]="'REFERENTIAL.COMMENTS'|translate"
               [readonly]="!row.editing">
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions" [stickyEnd]="useSticky">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate"
              (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row" >
      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid"
              [hidden]="!inlineEdition"
              [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1"
              [hidden]="!inlineEdition"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1"
              [hidden]="!inlineEdition"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAdd($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
           [class.mat-row-error]="row.validator.invalid"
           [class.mat-row-dirty]="row.validator.dirty"
           [class.mat-row-disabled]="!row.editing"
           (click)="clickRow($event, row)"></tr>
</table>
