:host {
  width: 100%;
}
.mat-header-row,
.mat-row {

  .mat-column-id {
    max-width: 30px;
  }

  .mat-column-parent {
    min-width: 150px;
  }

  .mat-column-comments {
    max-width: inherit; // Override default limitation
  }

  // Boolean field
  // 94 ->Dead? Y/N
  .mat-column-94 {
    min-width: 50px;
  }

  // Boolean field
  // 102 -> kept vertebral ?
  .mat-column-102 {
    min-width: 75px;
  }

  // Monitoring
  .mat-column-94,
  .mat-column-100,
  .mat-column-102,
  .mat-column-104,
  .mat-column-105,
  .mat-column-106,
  .mat-column-107,
  .mat-column-108 {
    max-width: 100px;
  }

}
