<form class="form-container ion-no-padding" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" lines="none" class="ion-padding">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-margin-bottom">

    <ion-row class="ion-padding">
      <!--  label  -->
      <!--      <ion-col>-->
      <!--        <h3>{{'PACKET.LABEL_VALUE' | translate : {rankOrder: form.controls.rankOrder.value} }}</h3>-->
      <!--      </ion-col>-->

      <!--  number -->
      <ion-col>
        <mat-form-field class="mat-form-field-disabled">
          <input matInput
                 [placeholder]="'PACKET.NUMBER'|translate"
                 [formControl]="form.controls.number"
                 readonly
          >
        </mat-form-field>
      </ion-col>

      <!--  weight  -->
      <ion-col>
        <mat-form-field class="mat-form-field-disabled">
          <input matInput
                 [placeholder]="'PACKET.WEIGHT'|translate"
                 [formControl]="form.controls.weight"
                 readonly
          >
        </mat-form-field>
      </ion-col>

    </ion-row>

    <ion-row *ngFor="let saleForm of saleFormArray?.controls; index as i; first as first; last as last, even as even"
             class="ion-padding" [class.even]="even">

      <!-- sale type -->
      <ion-col size-lg="3" size-xs="4">
        <mat-autocomplete-field [formControl]="asFormGroup(saleForm).controls.saleType"
                                [placeholder]="'PACKET.SALE.SALE_TYPE'|translate"
                                [floatLabel]="first ? 'always' : 'never'"
                                [config]="autocompleteFields.saleType"
                                [tabindex]="tabindex+3+i*7"
                                [autofocus]='last && adding'
                                [required]="true">
          <ion-icon matPrefix name="card"></ion-icon>
        </mat-autocomplete-field>
      </ion-col>

      <!-- subgroupCount -->
      <ion-col size-lg="2" size-xs="4">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'">
          <input matInput [formControl]="asFormGroup(saleForm).controls.subgroupCount"
                 [placeholder]="'PACKET.NUMBER'|translate"
                 autocomplete="off" type="number" pattern="[0-9]*" step="1"
                 [tabIndex]="tabindex+3+i*7+1">
        </mat-form-field>
      </ion-col>

      <!-- weight -->
      <ion-col size-lg="2" size-xs="4">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="true"
                        class="mat-form-field-disabled"
        >
          <input matInput [formControl]="asFormGroup(saleForm).controls.weight"
                 [placeholder]="'PACKET.WEIGHT'|translate"
                 autocomplete="off" type="number"
                 [tabIndex]="tabindex+3+i*7+2"
                 [readonly]="true"
          >
        </mat-form-field>
      </ion-col>

      <!-- avg packaging price -->
      <ion-col size-lg="2" size-xs="4">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="!!asFormGroup(saleForm).controls.averagePackagingPriceCalculated.value"
        >
          <input matInput [formControl]="asFormGroup(saleForm).controls.averagePackagingPrice"
                 [placeholder]="'TRIP.PRODUCT.SALE.AVG_PACKAGING_PRICE'|translate"
                 autocomplete="off" type="number" step="0.1"
                 [tabIndex]="tabindex+3+i*7+3"
          >
        </mat-form-field>
      </ion-col>

      <!-- total price -->
      <ion-col size-lg="2" size-xs="4">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="!!asFormGroup(saleForm).controls.totalPriceCalculated.value"
        >
          <input matInput [formControl]="asFormGroup(saleForm).controls.totalPrice"
                 [placeholder]="'TRIP.PRODUCT.SALE.TOTAL_PRICE'|translate"
                 autocomplete="off" type="number" step="0.1"
                 [tabIndex]="tabindex+3+i*7+4"
          >
        </mat-form-field>
      </ion-col>

      <!-- buttons -->
      <ion-col size-lg="1" size-xs="4" class="ion-align-self-center ion-text-end">
        <button type="button" mat-icon-button [tabindex]="tabindex+3+i*7+5" [disabled]="disabled"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addSale()">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-icon-button [tabindex]="tabindex+3+i*7+6" [disabled]="disabled"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="removeSale(i)">
          <mat-icon>close</mat-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>
