<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-margin-bottom">

    <ion-row>
      <!--  weight  -->
      <ion-col *ngIf="isProductWithWeight()">
        <mat-form-field class="mat-form-field-disabled">
          <input matInput
                 [placeholder]="'TRIP.PRODUCT.LIST.WEIGHT'|translate"
                 [formControl]="form.controls.weight"
                 readonly
          >
        </mat-form-field>
      </ion-col>

      <!--  individualCount  -->
      <ion-col *ngIf="isProductWithNumber()">
        <mat-form-field class="mat-form-field-disabled">
          <input matInput
                 [placeholder]="'TRIP.PRODUCT.LIST.INDIVIDUAL_COUNT'|translate"
                 [formControl]="form.controls.individualCount"
                 readonly
          >
        </mat-form-field>
      </ion-col>

    </ion-row>

    <ion-row *ngFor="let saleForm of saleFormArray?.controls; index as i; first as first; last as last; even as even"
             [formGroup]="saleForm"
             [class.even]="even">

      <!--      todo use ion-card -->

      <!-- sale type -->
      <ion-col size-lg="2" size-xs="3">
        <mat-autocomplete-field formControlName="saleType"
                                [placeholder]="'TRIP.PRODUCT.SALE.SALE_TYPE'|translate"
                                [floatLabel]="first ? 'always' : 'never'"
                                [config]="autocompleteFields.saleType"
                                [tabindex]="tabindex+3+i*9"
                                [autofocus]="last && adding"
                                required>
          <ion-icon matPrefix name="card"></ion-icon>
        </mat-autocomplete-field>
      </ion-col>

      <!-- ratio -->
      <ion-col size-lg="1" size-xs="3">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="isProductWithNumber() || !!asFormGroup(saleForm).controls.ratioCalculated.value"
                        [class.mat-form-field-disabled]="isProductWithNumber()">
          <input matInput formControlName="ratio"
                 [placeholder]="'TRIP.PRODUCT.SALE.RATIO'|translate"
                 autocomplete="off" type="number" step="1" max="100"
                 [tabIndex]="tabindex+3+i*9+1"
                 [readonly]="isProductWithNumber()"
          >
        </mat-form-field>
      </ion-col>

      <!-- weight -->
      <ion-col *ngIf="isProductWithWeight()" size-lg="1" size-xs="3">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="isProductWithNumber() || !!asFormGroup(saleForm).controls.weightCalculated.value"
                        [class.mat-form-field-disabled]="isProductWithNumber()">
          <input matInput formControlName="weight"
                 [placeholder]="'TRIP.PRODUCT.LIST.WEIGHT'|translate"
                 autocomplete="off" type="number" step="0.1"
                 [tabIndex]="tabindex+3+i*9+2"
                 [readonly]="isProductWithNumber()"
          >
        </mat-form-field>
      </ion-col>

      <!-- avg weight price -->
      <ion-col *ngIf="isProductWithWeight()" size-lg="2" size-xs="3">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="!!asFormGroup(saleForm).controls.averageWeightPriceCalculated.value"
                        [class.mat-form-field-disabled]="isProductWithNumber()">
          <input matInput formControlName="averageWeightPrice"
                 [placeholder]="'TRIP.PRODUCT.SALE.AVG_WEIGHT_PRICE'|translate"
                 autocomplete="off" type="number" step="0.1"
                 [tabIndex]="tabindex+3+i*9+3"
                 [readonly]="isProductWithNumber()">
        </mat-form-field>
      </ion-col>

      <!-- individualCount -->
      <ion-col *ngIf="isProductWithNumber()" size-lg="2" size-xs="3">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'">
          <input matInput formControlName="individualCount"
                 [placeholder]="'TRIP.PRODUCT.LIST.INDIVIDUAL_COUNT'|translate"
                 autocomplete="off" type="number" pattern="[0-9]*" step="1"
                 [tabIndex]="tabindex+3+i*9+4">
        </mat-form-field>
      </ion-col>

      <!-- avg packaging price -->
      <ion-col *ngIf="isProductWithNumber()" size-lg="2" size-xs="3">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="!!asFormGroup(saleForm).controls.averagePackagingPriceCalculated.value">
          <input matInput formControlName="averagePackagingPrice"
                 [placeholder]="'TRIP.PRODUCT.SALE.AVG_PACKAGING_PRICE'|translate"
                 autocomplete="off" type="number" step="0.1"
                 [tabIndex]="tabindex+3+i*9+5">
        </mat-form-field>
      </ion-col>

      <!-- total price -->
      <ion-col size-lg="1" size-xs="3">
        <mat-form-field [floatLabel]="first ? 'always' : 'never'"
                        [class.computed]="!!asFormGroup(saleForm).controls.totalPriceCalculated.value"
        >
          <input matInput formControlName="totalPrice"
                 [placeholder]="'TRIP.PRODUCT.SALE.TOTAL_PRICE'|translate"
                 autocomplete="off" type="number" step="0.1"
                 [tabIndex]="tabindex+3+i*9+6">
        </mat-form-field>
      </ion-col>

      <!-- buttons -->
      <ion-col size-lg="1" size-xs="3" class="ion-align-self-center ion-text-end">
        <button type="button" mat-icon-button [tabindex]="tabindex+3+i*9+7" [disabled]="disabled"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addSale()">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-icon-button [tabindex]="-1" [disabled]="disabled"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="removeSale(i)">
          <mat-icon>close</mat-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>
