
<app-toolbar [title]="'VESSEL.TITLE'|translate" color="primary" (onValidate)="save($event, form.value)"></app-toolbar>

<ion-content>

    <mat-tab-group>      

        <!-- TAB: general --> 
        <mat-tab label="{{'VESSEL.TAB_GENERAL'|translate}}">
            <ng-template mat-tab-label>
                <ion-icon name="information-circle"></ion-icon>
                <span>{{'VESSEL.TAB_GENERAL'|translate}}</span>
            </ng-template>

            <ion-grid responsive responsive-sm>
                <ion-row no-padding >
                    <ion-col>
                        <mat-card style="height: 100%;" no-padding>                
                            <mat-card-header padding>
                                <div mat-card-avatar [ngStyle]="{'background-image':'url('+(data && data.recorderPerson?.avatar||'./assets/img/person.png')+')'}"></div>
                                <mat-card-title translate>COMMON.RECORDER</mat-card-title>
                                <mat-card-subtitle *ngIf="data">
                                    {{data.recorderPerson?.firstName}} {{data.recorderPerson?.lastName}}
                                    <span *ngIf="data.recorderPerson">|</span>
                                    {{data.recorderDepartment?.name}}
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </ion-col>
                    <ion-col>
                        <mat-card style="height: 100%;" no-padding>
                            <mat-card-header padding>
                                <mat-card-title>
                                    <ion-icon name="calendar"></ion-icon>
                                    <span translate>COMMON.CREATED_ON</span>
                                    <b *ngIf="data">{{ data.creationDate | dateFormat: {pattern: 'L LT'} }}</b>
                                </mat-card-title>
                                <mat-card-subtitle *ngIf="data && data.updateDate && data.updateDate != data.creationDate">
                                    <ion-icon name="time"></ion-icon>
                                    <span translate>COMMON.UPDATED_ON</span>
                                    {{ data?.updateDate | dateFormat: {pattern: 'L LTS'} }}
                                </mat-card-subtitle>                                
                            </mat-card-header>
                        </mat-card>    
                    </ion-col>
                </ion-row>    
            </ion-grid>
            
            <form-vessel (onSubmit)="save($event, form.value)" padding #form>
            </form-vessel>
           
        </mat-tab>

    </mat-tab-group>

</ion-content>
