
<!-- Properties -->
<form [formGroup]="form" class="form-container">
  <ion-grid *ngIf="!loading; else propertiesSkeleton"
            formArrayName="properties" class="ion-no-padding" >
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding ion-align-self-end" size="12">
        <span class="toolbar-spacer"></span>

        <!-- Show more options -->
        <ion-button color="light" *ngIf="formArray?.length === 0"
                    [title]="'PROGRAM.BTN_SHOW_MORE_HELP'|translate"
                    (click)="helper.add()">
          <ion-label translate>COMMON.BTN_SHOW_MORE</ion-label>
          <mat-icon slot="end">arrow_drop_down</mat-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ng-container *ngFor="let fieldForm of fieldForms; let i=index">
      <ion-row class="ion-no-padding" [formGroupName]="i">

        <!-- property key -->
        <ion-col size="6" class="ion-no-padding">
          <mat-form-field floatLabel="never">
            <mat-select [formControl]="fieldForm.controls.key"
                        [placeholder]="'PROGRAM.PROPERTY_KEY'|translate"
                        (selectionChange)="updateDefinitionAt(i)"
                        [tabindex]="20+i*2"
                        required>

              <!-- When option's key not a well known option, add it as first select option -->
              <mat-option *ngIf="isUnknownField(fieldForm)" [value]="fieldForm.controls.key.value">
                {{fieldForm.controls.key.value}}
              </mat-option>

              <mat-option *ngFor="let item of definitions" [value]="item.key">{{ item.label | translate }}
              </mat-option>

            </mat-select>

            <mat-error *ngIf="fieldForm.controls.key.hasError('required') && !helper.isLast(i)"
                       translate>ERROR.FIELD_REQUIRED
            </mat-error>
          </mat-form-field>
        </ion-col>

        <!-- property value -->
        <ion-col class="ion-no-padding" padding-left >
          <app-form-field *ngIf="getDefinitionAt(i) else unknownValue; let definition; "
                          floatLabel="never"
                          [definition]="definition"
                          [formControl]="fieldForm.controls.value"
                          [placeholder]="'PROGRAM.PROPERTY_VALUE' | translate"
                          [required]="true"
                          [tabindex]="20+i*2 + 1">
          </app-form-field>
          <ng-template #unknownValue>
            <mat-form-field floatLabel="never">
              <input type="text" matInput
                     [placeholder]="'PROGRAM.PROPERTY_VALUE' | translate"
                     [formControl]="fieldForm.controls.value"
                     [required]="true"
                     [tabindex]="20+i*2 + 1">
            </mat-form-field>
          </ng-template>
        </ion-col>

        <ion-col size="auto" class="ion-no-padding">
          <button type="button" mat-icon-button color="light"
                  [disabled]="disabled"
                  [title]="'COMMON.BTN_DELETE'|translate"
                  (click)="removeAt(i)">
            <mat-icon>close</mat-icon>
          </button>
          <button [hidden]="!helper.isLast(i)"
                  type="button"
                  mat-icon-button
                  color="light"
                  [disabled]="disabled"
                  [title]="'CONFIGURATION.BTN_ADD_PROPERTY'|translate"
                  (click)="helper.add()">
            <mat-icon>add</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</form>

<ng-template #propertiesSkeleton>

  <ion-grid class="ion-no-padding">
    <ng-container *ngTemplateOutlet="propertyRowSkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertyRowSkeleton"></ng-container>
    <ng-container *ngTemplateOutlet="propertyRowSkeleton"></ng-container>
  </ion-grid>

</ng-template>

<ng-template #propertyRowSkeleton>

  <ion-row>
    <!-- property key -->
    <ion-col>
      <mat-form-field>
        <input matInput hidden>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-icon name="arrow-dropdown" matSuffix></ion-icon>
      </mat-form-field>
    </ion-col>
    <!-- value -->
    <ion-col>
      <mat-form-field>
        <input matInput hidden>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </mat-form-field>
    </ion-col>
    <!-- buttons -->
    <ion-col size="2">
      <button type="button" mat-icon-button color="light"
              [disabled]="true">
        <mat-icon>close</mat-icon>
      </button>
    </ion-col>
  </ion-row>

</ng-template>
