<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">
  <ion-grid>
    <!--Sample row code -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <input matInput #matInput
                 formControlName="label"
                 autocomplete="off"
                 type="text"
                 [textMask]="{mask: sampleRowMask, keepCharPositions: true, showMask: true, guide: true}"
                 [(ngModel)]="label"
                 placeholder="{{ 'PLANIFICATION.SAMPLE_ROW_TITLE' | translate }}" >
        </mat-form-field>
      </ion-col>
    </ion-row>


    <!--EOTP -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          formControlName="analyticReference"
          [placeholder]="'PLANIFICATION.EOTP'|translate"
          [config]="autocompleteFields.analyticReference"
          [tabindex]="tabindex+1">

          <button matAfter type="button" mat-icon-button
                  tabindex="-1"
                  [disabled]="!canFilterEotp"
                  [title]="'PLANIFICATION.BTN_FILTER'|translate"
                  (click)="toggleFilteredItems('eotp')"
                  [color]="enableEotpFilter ? 'primary' : undefined">
            <mat-icon>filter_list</mat-icon>
          </button>
        </mat-autocomplete-field>

      </ion-col>
    </ion-row>

    <!-- LABORATORIES -->
    <ion-row *ngFor="let laboratoryForm of laboratoriesForm?.controls; index as i; first as first">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          [formControl]="laboratoryHelper.at(i)"
          [placeholder]="('PLANIFICATION.LABORATORY'|translate) + (i+1)"
          [config]="autocompleteFields.laboratory"
          [tabindex]="tabindex+10+i*3"
          [required]="true">
          <button matAfter type="button" mat-icon-button
                  tabindex="-1"
                  [disabled]="!canFilterLaboratory"
                  [title]="'PLANIFICATION.BTN_FILTER'|translate"
                  (click)="toggleFilteredItems('laboratory')"
                  [color]="enableLaboratoryFilter ? 'primary' : undefined">
            <mat-icon>filter_list</mat-icon>
          </button>
        </mat-autocomplete-field>
      </ion-col>

      <ion-col size="auto" class="ion-align-self-center">
        <button matAfter type="button" mat-icon-button
                [tabindex]="tabindex+10++i*3+1"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addLaboratory()">
          <mat-icon>add</mat-icon>
        </button>

        <button matAfter type="button" mat-icon-button
                [tabindex]="tabindex+10++i*3+2"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="laboratoryHelper.removeAt(i)">
          <mat-icon>close</mat-icon>
        </button>
      </ion-col>

    </ion-row>

    <!--FISHING AREA -->
    <ion-row *ngFor="let fishingAreaForm of fishingAreasForm?.controls; index as i; first as first">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field [formControl]="fishingAreaHelper.at(i)"
                                [placeholder]="('PLANIFICATION.FISHING_AREA'|translate) + (i+1)"
                                [config]="autocompleteFields.fishingArea"
                                [tabindex]="tabindex+10+i*3"
                                [required]="true">
          <button matAfter type="button" mat-icon-button
                  tabindex="-1"
                  [disabled]="!canFilterFishingArea"
                  [title]="'PLANIFICATION.BTN_FILTER'|translate"
                  (click)="toggleFilteredItems('fishingArea')"
                  [color]="enableFishingAreaFilter ? 'primary' : undefined">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-icon matPrefix>room</mat-icon>
        </mat-autocomplete-field>
      </ion-col>

      <ion-col size="auto" class="ion-align-self-center">

        <button matAfter type="button" mat-icon-button
                [tabindex]="tabindex+10++i*3+1"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addFishingArea()">
          <mat-icon>add</mat-icon>
        </button>

        <button matAfter type="button" mat-icon-button
                [tabindex]="tabindex+10++i*3+2"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="fishingAreaHelper.removeAt(i)">
          <mat-icon>close</mat-icon>
        </button>

      </ion-col>

    </ion-row>


    <!-- Target species (using metier) -->
        <ion-row *ngFor="let taxonNameForm of taxonNamesForm?.controls; index as i; first as first">
          <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
            <ion-label>&nbsp;</ion-label>
          </ion-col>
           <ion-col>
           <mat-autocomplete-field [formControl]="taxonNameHelper.at(i)"
                                   [placeholder]="'PLANIFICATION.TARGET_SPECIE'|translate"
                                   [config]="autocompleteFields.taxonName"
                                   [tabindex]="tabindex+1"
                                   [required]="true"
                                   [noResultMessage]="'TRIP.OPERATION.EDIT.NO_TARGET_SPECIES_FOUND'">
             <button matAfter type="button" mat-icon-button
                     tabindex="-1"
                     [disabled]="!canFilterTaxonName"
                     [title]="'PLANIFICATION.BTN_FILTER'|translate"
                     (click)="toggleFilteredItems('taxonName')"
                     [color]="enableTaxonNameFilter ? 'primary' : undefined">
               <mat-icon>filter_list</mat-icon>
             </button>
           </mat-autocomplete-field>
          </ion-col>
        </ion-row>


    <!--year -->
    <ion-row>
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col size="12" size-sm="auto">
        <mat-date-short-field [placeholder]="'PLANIFICATION.YEAR'|translate"
                              formControlName="creationDate"
                              [required]="true" >
        </mat-date-short-field>
      </ion-col>
    </ion-row>

    <!--quarters-->
    <!--quarters-->
        <ion-row>
          <ion-col size="12" size-md="2" size-lg="3">
            <ion-label class="ion-float-end" translate>PLANIFICATION.EFFORT</ion-label>
          </ion-col>
          <!-- T1 -->
          <ion-col size="1" class="ion-margin">
            <mat-form-field>
              <input matInput type="number" step="1" min="0" autocomplete="off" [placeholder]="'PLANIFICATION.QUARTER_1'|translate">
            </mat-form-field>
          </ion-col>

          <!-- T2 -->
          <ion-col size="1" class="ion-margin">
            <mat-form-field>
              <input matInput type="number" step="1" min="0" autocomplete="off"  [placeholder]="'PLANIFICATION.QUARTER_2'|translate">
            </mat-form-field>
          </ion-col>
          <!-- T3 -->
          <ion-col size="1" class="ion-margin">
            <mat-form-field>
              <input matInput type="number" step="1" min="0" autocomplete="off"  [placeholder]="'PLANIFICATION.QUARTER_3'|translate">
            </mat-form-field>
          </ion-col>

          <!-- T4 -->
          <ion-col size="1" class="ion-margin">
            <mat-form-field>
              <input matInput type="number" step="1" min="0" autocomplete="off"  [placeholder]="'PLANIFICATION.QUARTER_4'|translate">
            </mat-form-field>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
            <h2>
              <ion-label class="ion-float-end" translate>PLANIFICATION.PARAMETERS_TITLE</ion-label>
            </h2>
          </ion-col>
        </ion-row>

    <!-- Weight Pmfms -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label class="ion-float-end" translate>PLANIFICATION.WEIGHT</ion-label>
      </ion-col>
      <ion-col>
        <ion-card class="ion-no-margin">
          <app-pmfm-strategies-table #weightPmfmStrategiesTable
                                     [title]=""
                                     [program]="program"
                                     [canEdit]="enabled"
                                     [canDelete]="enabled"
                                     [canDisplayToolbar]="false"
                                     [canDisplayColumnsHeaders]="false"
                                     [canDisplaySimpleStrategyValidators]="true"
                                     pmfmFilterApplied="weight"
                                     [initializeOneRow]="true"
                                     [sticky]="true"
                                     [showPMFMDetailsColumns]="true">
          </app-pmfm-strategies-table>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="height: 15px"></ion-row>

    <!-- Size Pmfms -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label class="ion-float-end" translate>PLANIFICATION.SIZE</ion-label>
      </ion-col>
      <ion-col>
        <ion-card class="ion-no-margin">
          <app-pmfm-strategies-table #sizePmfmStrategiesTable
                                     [title]=""
                                     [program]="program"
                                     [canEdit]="enabled"
                                     [canDelete]="enabled"
                                     [canDisplayToolbar]="false"
                                     [canDisplayColumnsHeaders]="false"
                                     [canDisplaySimpleStrategyValidators]="true"
                                     pmfmFilterApplied="size"
                                     [initializeOneRow]="true"
                                     [sticky]="true"
                                     [showPMFMDetailsColumns]="true">
          </app-pmfm-strategies-table>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="height: 15px"></ion-row>

    <!--SEX -->
        <ion-row>
          <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
            <ion-label>&nbsp;</ion-label>
          </ion-col>
          <ion-col size="12" size-sm="auto">
           <mat-boolean-field [placeholder]="'PLANIFICATION.SEX'|translate" [formControl]="pmfmStrategiesHelper.at(0)" [required]="true">-->
            </mat-boolean-field>
          </ion-col>
        </ion-row>

    <!-- Maturity Pmfms -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label class="ion-float-end" translate>PLANIFICATION.MATURITY</ion-label>
      </ion-col>
      <ion-col>
        <ion-card class="ion-no-margin">
          <app-pmfm-strategies-table #maturityPmfmStrategiesTable
                                     [title]=""
                                     [program]="program"
                                     [canEdit]="enabled"
                                     [canDelete]="enabled"
                                     [canDisplayToolbar]="false"
                                     [canDisplayColumnsHeaders]="false"
                                     [canDisplaySimpleStrategyValidators]="true"
                                     pmfmFilterApplied="maturity"
                                     [initializeOneRow]="true"
                                     [sticky]="true"
                                     [showPMFMDetailsColumns]="true">
          </app-pmfm-strategies-table>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="height: 15px"></ion-row>

    <!-- AGE -->
        <ion-row>
          <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
            <ion-label>&nbsp;</ion-label>
          </ion-col>
          <ion-col size="12" size-sm="auto">
            <mat-boolean-field [placeholder]="'PLANIFICATION.AGE'|translate" [formControl]="pmfmStrategiesHelper.at(1)" [required]="true" >
            </mat-boolean-field>
          </ion-col>
        </ion-row>

    <!-- Calcified Pmfms -->
    <ion-row *ngFor="let calcifiedTypeForm of calcifiedTypesForm?.controls; index as i; first as first">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label  class="ion-float-end" *ngIf="!i" translate>PLANIFICATION.CALCIFIED_TYPE</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          [formControl]="calcifiedTypeHelper.at(i)"
          [placeholder]="('PLANIFICATION.CALCIFIED_TYPE'|translate) + (i+1)"
          [appAutofocus]="calcifiedTypeFocusIndex === i"
          [config]="autocompleteFields.calcifiedType"
          [tabindex]="tabindex+10+i*3"
          [required]="true">
          <button matAfter type="button" mat-icon-button
                  tabindex="-1"
                  [disabled]="!canFilterCalcifiedType"
                  [title]="'PLANIFICATION.BTN_FILTER'|translate"
                  (click)="toggleFilteredItems('calcifiedType')"
                  [color]="enableCalcifiedTypeFilter ? 'primary' : undefined">
            <mat-icon>filter_list</mat-icon>
          </button>

        </mat-autocomplete-field>
      </ion-col>

      <ion-col size="auto" class="ion-align-self-center">

        <button matAfter type="button" mat-icon-button
                [tabindex]="tabindex+10++i*3+1"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addCalcifiedType()">
          <mat-icon>add</mat-icon>
        </button>

        <button type="button" mat-icon-button
                [tabindex]="tabindex+10++i*3+2"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="calcifiedTypeHelper.removeAt(i)">
          <mat-icon>close</mat-icon>
        </button>

      </ion-col>

    </ion-row>



    <!--comment-->
    <ion-row>
      <ion-col>
        <mat-form-field appearance="outline">
        <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000"
                  [placeholder]="'COMMON.COMMENTS'|translate"
                  formControlName="description" ></textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
