<mat-icon [svgIcon]="matSvgIcon"
          [style.pointer-events]="error && error.message ? 'auto' : 'none'"
          [style.color]="'var(--ion-color-'+color+')'"
          matBadge
          [ionBadgeIcon]="badgeIcon"
          [matBadgeColor]="badgeColor"
          [matBadgeFill]="badgeFill"
          matBadgeSize="small"
          [matBadgeHidden]="!badgeIcon"
          [title]="error && error.message || ''">

  <ion-icon *ngIf="icon" slot="icon-only"
            [color]="color"
            [name]="icon"
  ></ion-icon>
</mat-icon>

