<mat-icon [svgIcon]="matSvgIcon"
          [style.pointer-events]="title ? 'auto' : 'none'"
          [style.color]="'var(--ion-color-'+color+')'"
          matBadge
          [ionBadgeIcon]="badgeIcon"
          [matBadgeColor]="badgeColor"
          [matBadgeHidden]="!badgeIcon"
          [matBadgeFill]="badgeFill"
          [matBadgeSize]="badgeSize"
          [title]="title">

  <ion-icon *ngIf="icon" slot="icon-only"
            [color]="color"
            [name]="icon"
  ></ion-icon>
</mat-icon>

