@import "mixins";

// Ionicons Icon Font CSS
// --------------------------
// Ionicons CSS for Ionic's <ion-icon> element
// ionicons-icons.scss has the icons and their unicode characters

$ionicons-font-path: $font-path !default;

//@import '~ionicons/dist/scss/ionicons';

// --------------------------------------------------
// Import material icons
// --------------------------------------------------
@import '~material-design-icons/iconfont/material-icons.css';


mat-icon > span {
  position: absolute;
  margin-top: -2px;
  margin-left: -6px;
}



@include set-color-each-ion-colors('mat-icon');
