@import "mixins";

// Ionicons Icon Font CSS
// --------------------------
// Ionicons CSS for Ionic's <ion-icon> element
// ionicons-icons.scss has the icons and their unicode characters

$ionicons-font-path: $font-path !default;

//@import '~ionicons/dist/scss/ionicons';

// --------------------------------------------------
// Import material icons
// --------------------------------------------------
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

mat-icon > span {
  position: absolute;
  margin-top: -2px;
  margin-left: -6px;
}



@include set-color-each-ion-colors('mat-icon');
