@import "functions";
@import "responsive";
@import "colors";
// --------------------------------------------------
// Custom usefull CSS style
// --------------------------------------------------
[hidden] {
  display: none !important;
}

[padding] {
  padding: 16px;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-roboto($size: false, $colour: false, $weight: false, $lh: false) {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}
