
// --------------------------------------------------
// Theme Colors
// --------------------------------------------------

// Ionic colors
$primary: #144391;
$primary100: #718dbc;
$primary900: #0e2e63;
$secondary: #75C4FD;
$secondary50: #d2edfe;
$secondary100: #abdbfe;
$secondary900: #5086ad;
$tertiary: #5b5ef4;
$accent: #ff4081;
$success: #10dc60;
$warning: #ffce00;
$danger: #f53d3d;
$danger100: #f98989;
$danger900: #a82a2a;
$light: #f4f5f8;
$medium: #989aa2;
$dark: #222428;

// User defined colors
$transparent: transparent;

// Main background color
$background-color: #fff;
// Text color
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$text-color: $dark-primary-text;

// From material
$mat-tab-link-height: 48px;
$mat-tab-bar-height: 48px;
$app-paginator-height: 34px;
$mat-tab-animation-duration: 200ms;
$mat-toolbar-background-color: whitesmoke;

// App
$app-select-option-border-color: rgba(0, 0, 0, 0.12);
$app-table-border-color: rgba(0, 0, 0, 0.08);
$app-card-status-font-size: 0.9em;
$app-card-status-font-color: var(--ion-color-step-850);


// Load defaults
@import "~@sumaris-net/ngx-components/src/theme/globals";
