// --------------------------------------------------
// Import SAR style
// --------------------------------------------------
@import "theme.globals";

// --------------------------------------------------
// Import SUMARiS theme
// --------------------------------------------------
@import "~@sumaris-net/ngx-components/src/theme/theme";

.mat-tab-fixed-content {
  .mat-tab-body-content {
    height: var(--mat-tab-body-content-height, 100%) !important;
    overflow: auto;
    & > .ng-star-inserted {
      height: var(--mat-tab-body-content-height, 100%);
    }
  }
}

.mat-table {
  .mat-row {
    height: 50px !important;
    overflow: hidden;
  }
  .mat-header-row,
  .mat-row,
  .mat-footer-row {

    .mat-column-select {
      width: 50px; // Force to 50px, because sticky column must have fixed width
    }

    .mat-header-cell,
    .mat-cell,
    .mat-footer-cell {

      // Remove right border, of sticky columns
      &.mat-table-sticky-border-elem-left {
        border-right: 0 !important; // 1px solid #{$app-table-border-color};
      }
    }
  }
}

mat-form-field {
  .mat-form-field-buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .mat-form-field-button {
      --flex-basis: calc(100% / var(--buttons-col-count, 4));
      flex: 0 1 var(--flex-basis);
      max-width: calc(min(var(--flex-basis), 150px));
      white-space: normal;
      padding: 0 2px;
      height: 40px;
      text-transform: capitalize; // Avoid uppercase text
    }
  }

  .fab-button-small {
    margin: 0 5px;
  }
}

.mat-toolbar, .mat-toolbar-single-row {
  background-color: #{$mat-toolbar-background-color};
  height: var(--mat-toolbar-height);
}
