<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons slot="start">
      <ion-button (click)="cancel($event)"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title [innerHTML]="$title|async">
    </ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="loadingSubject|async; else closeButton"></ion-spinner>

      <ng-template #closeButton>
        <ion-button (click)="close($event)"
                    visible-xs visible-sm visible-mobile>
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ng-template>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Row actions menu -->
<mat-menu #rowActionsMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="editRow($event, this.editedRow)">
    <mat-icon>edit</mat-icon>
    <ion-label translate>COMMON.BTN_EDIT</ion-label>
  </button>
  <button mat-menu-item (click)="deleteSelection($event)">
    <mat-icon>delete_outline</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>
</mat-menu>

<ion-content cdkTrapFocus>

  <!-- sub batch form -->
  <ion-grid [class.disabled]="disabled">
    <ion-row class="ion-no-padding">
      <!-- form -->
      <ion-col size="12" push="" size-md="4" push-md="8" size-lg="3" push-lg="9"
               class="ion-padding form-container">

        <ion-label color="primary" class="ion-padding-bottom">
          <span *ngIf="!editedRow" translate>TRIP.BATCH.EDIT.INDIVIDUAL.ADD_MEASURE_DOTS</span>
          <span *ngIf="editedRow" translate>TRIP.BATCH.EDIT.INDIVIDUAL.EDIT_MEASURE_DOTS</span>
        </ion-label>
        <app-sub-batch-form #form
                            [debug]="debug"
                            [programLabel]="programLabel"
                            floatLabel="always"
                            [acquisitionLevel]="acquisitionLevel"
                            [parentGroup]="parentGroup"
                            [pmfms]="$pmfms|async"
                            [qvPmfm]="qvPmfm"
                            [showParentGroup]="showParentGroup"
                            [showTaxonName]="showTaxonNameColumn"
                            [showIndividualCount]="showIndividualCount"
                            [displayParentPmfm]="displayParentPmfm"
                            [onNewParentClick]="onNewParentClick"
                            (onSubmit)="doSubmitForm($event, editedRow)"
                            [isNew]="!editedRow"
                            [tabindex]="1"
                            [maxVisibleButtons]="maxVisibleButtons">
        </app-sub-batch-form>
      </ion-col>

      <!-- table -->
      <ion-col size="12" pull="" size-md="8" pull-md="4" size-lg="9" pull-lg="3"
               class="table-container ion-no-padding">
        <mat-table [dataSource]="dataSource"
                   class="table-sub-batches"
                   [trackBy]="trackByFn"
                   matSort
                   matSortActive="id"
                   matSortDirection="desc"
                   matSortDisableClear>

          <ng-container matColumnDef="select">
            <mat-header-cell  *matHeaderCellDef hidden>
            </mat-header-cell>
            <mat-cell  *matCellDef="let row" hidden>
            </mat-cell>
          </ng-container>

          <!-- rankOrder Column = id -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef >
              <ion-label>#</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ion-label> {{ row.currentData.rankOrder }}</ion-label>
            </mat-cell>
          </ng-container>

          <!-- parent -->
          <ng-container matColumnDef="parentGroup">
            <mat-header-cell *matHeaderCellDef [hidden]="!showParentGroup">
              <ion-label>{{ (displayParentPmfm | pmfmName ) || ('TRIP.BATCH.TABLE.PARENT_GROUP' | translate) }}</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [hidden]="!showParentGroup">
              <ion-text>{{ autocompleteFields.parentGroup.displayWith(row.currentData.parentGroup) }}</ion-text>
            </mat-cell>
          </ng-container>

          <!-- QV Pmfm columns -->
          <ng-container *ngIf="qvPmfm" [matColumnDef]="qvPmfm.id.toString()">
            <mat-header-cell *matHeaderCellDef  [class.mat-cell-date-time]="qvPmfm|isDatePmfm">
              <ion-label [innerHTML]="qvPmfm|pmfmName: {html: true, withUnit: true}"></ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="qvPmfm|isDatePmfm">
              <ion-text>{{row.currentData.measurementValues[qvPmfm.id] | pmfmValue: {pmfm: qvPmfm} }}</ion-text>
            </mat-cell>
          </ng-container>

          <!-- taxon name (scientific species) -->
          <ng-container matColumnDef="taxonName">
            <mat-header-cell *matHeaderCellDef >
              <ion-label translate>TRIP.BATCH.TABLE.TAXON_NAME</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ion-text>{{autocompleteFields.taxonName?.displayWith(row.currentData.taxonName) }}</ion-text>
            </mat-cell>
          </ng-container>

          <!-- Pmfms columns -->
          <ng-container *ngFor="let pmfm of $pmfms | async">
            <ng-container *ngIf="pmfm.id !== qvPmfm.id" [matColumnDef]="pmfm.id.toString()">
              <mat-header-cell *matHeaderCellDef  [class.mat-cell-date-time]="pmfm | isDatePmfm" >
                <ion-label [innerHTML]="pmfm|pmfmName: {html: true, withUnit: true}"></ion-label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-column-pmfm"
                        [class.mat-cell-date-time]="pmfm|isDatePmfm">
                <ion-text [innerHTML]="row.currentData.measurementValues[pmfm.id] | pmfmValue: { pmfm: pmfm }"></ion-text>
              </mat-cell>
            </ng-container>
          </ng-container>

          <!-- individualCount column -->
          <ng-container matColumnDef="individualCount">
            <mat-header-cell *matHeaderCellDef [hidden]="!showIndividualCount">
              <ion-label translate>TRIP.BATCH.TABLE.INDIVIDUAL_COUNT</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [hidden]="!showIndividualCount">
              {{row.currentData.individualCount}}
            </mat-cell>
          </ng-container>

          <!-- Comment column -->
          <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef>
              <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-icon color="primary" class="comment"
                        *ngIf="row.currentData.comments"
                        [title]="row.currentData.comments"></mat-icon>
            </mat-cell>
          </ng-container>

          <!-- Actions column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <!-- select column modal -->
              <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate"
                      (click)="openSelectColumnsModal($event)"
                      tabindex="-1">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
              <!-- Show options -->
              <button mat-icon-button  [title]="'COMMON.BTN_OPTIONS'|translate"
                      tabindex="-1"
                      [matMenuTriggerFor]="rowActionsMenu"
                      (click)="clickRow($event, row)">
                <mat-icon></mat-icon>
              </button>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   class="mat-row-small mat-small"
                   [class.mat-row-dirty]="isNewRow(row)"
                   [class.mat-row-selected]="selection.isSelected(row)"
                   [matMenuTriggerFor]="rowActionsMenu"
                   (click)="selectRow($event, row)"
          ></mat-row>
        </mat-table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel($event)">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button (keyup.enter)="close($event)"
                    (click)="close($event)"
                    color="tertiary">
          <ion-label translate>COMMON.BTN_APPLY</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
