@import '../table/sub-batches.table';
:host {
  --toolbar-min-height: 56px;
}
.table-container {
  max-height: calc(100vh - var(--toolbar-min-height, 56px));
  overflow: auto;
}
ion-grid.disabled {
  ion-col.form-container {
    flex: 0 !important;
    display: none;
  }
  ion-col.table-container {
    flex: unset !important;
    right: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
.mat-table {
  /*Hide selected row (if scale by an animation) */
  overflow-x: hidden;

  .mat-header-row,
  .mat-row {
    .mat-column-parentGroup,
    .mat-column-taxonName,
    .mat-column-taxonGroup {
      min-width: 50px;
    }

    .mat-header-cell.mat-column-id,
    .mat-cell.mat-column-id {
      mat-label,
      ion-label {
        padding: 0 8px;
        width: 100%;
        text-align: right;
      }
    }
  }
}

