<app-toolbar [title]="$title | async" color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             [hasClose]="!loading && !dirty"
             (onValidateAndClose)="saveAndClose($event)"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">
</app-toolbar>

<!-- Vessel actions -->
<mat-menu #actionMenu="matMenu" xPosition="after">

  <!-- vessel registration -->
  <mat-label mat-menu-item class="mat-menu-title" translate>VESSEL.ACTION.REGISTRATION_DIVIDER</mat-label>
  <button mat-menu-item translate (click)="editRegistration()">VESSEL.ACTION.EDIT_REGISTRATION</button>
  <button mat-menu-item translate *ngIf="!!data?.vesselRegistrationPeriod" (click)="newRegistration()">VESSEL.ACTION.NEW_REGISTRATION</button>
  <mat-divider></mat-divider>

  <!-- vessel features -->
  <mat-label mat-menu-item class="mat-menu-title" translate>VESSEL.ACTION.FEATURES_DIVIDER</mat-label>
  <button mat-menu-item translate (click)="editFeatures()">VESSEL.ACTION.EDIT_FEATURES</button>
  <button mat-menu-item translate (click)="newFeatures()">VESSEL.ACTION.NEW_FEATURES</button>
  <mat-divider></mat-divider>

  <!-- other (change status) -->
  <button mat-menu-item translate (click)="editStatus()">VESSEL.ACTION.EDIT_STATUS</button>
</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">
  <mat-tab-group #tabGroup
                 class="mat-tab-disabled-hidden"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="tabGroupAnimationDuration"
                 dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'VESSEL.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>VESSEL.TAB_GENERAL</ion-label>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="error || vesselForm.error; let errorMsg" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="errorMsg | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">

            <!-- main form -->
            <form-vessel (onSubmit)="save($event)" #vesselForm
                         [showError]="false">
            </form-vessel>

          </ion-col>

          <!-- quality process -->
          <ion-col size="12" size-md="4" size-lg="4" size-xl="3" class="ion-no-padding">
            <app-entity-metadata [value]="data">

              <ion-button color="tertiary" expand="block"
                          [matMenuTriggerFor]="actionMenu" [disabled]="!data || !canUserWrite(data)">
                <ion-icon slot="start" name="create" class="ion-float-start"></ion-icon>&nbsp;
                <ion-label translate>VESSEL.ACTION.EDIT</ion-label>
                <mat-icon slot="end" class="ion-float-end">arrow_drop_down</mat-icon>
              </ion-button>

              <ion-button *ngIf="editing"
                          fill="clear" expand="block" color="dark"
                          class="visible-mobile visible-xs visible-sm"
                          (click)="cancel()">
                <ion-label translate>COMMON.BTN_CANCEL</ion-label>
              </ion-button>
            </app-entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <mat-tab label="{{'VESSEL.TAB_HISTORY'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>history</mat-icon>&nbsp;
        <ion-label translate>VESSEL.TAB_HISTORY</ion-label>
      </ng-template>

      <ion-row class="ion-no-padding">
        <ion-col class="ion-padding">
          <app-vessel-registration-history-table #registrationHistoryTable>
          </app-vessel-registration-history-table>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">
        <ion-col class="ion-padding">
          <app-vessel-features-history-table #featuresHistoryTable>
          </app-vessel-features-history-table>
        </ion-col>
      </ion-row>

    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="(!dirty || loading) && !editing"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">
    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>
  </app-form-buttons-bar>
</ion-footer>
