
mat-form-field.name {
  width: calc(100% - 50px) !important;;
}

mat-form-field.operator {
  width: 50px !important;;
  text-align: center;
}

mat-form-field.value,
app-form-field.value {
  width: calc(100% - 80px) !important;
}
.has-two-fields {
  mat-form-field.value,
  app-form-field.value {
    width: calc(50% - 40px) !important;;
  }
}

.strata-row {
  padding-top: var(--ion-padding);
  padding-left: var(--ion-padding);

  &.odd {
    background-color: var(--ion-color-light, grey);
  }

}
