<ng-container *ngIf="type?.sheetNames as sheetNames">
  <nav mat-tab-nav-bar *ngIf="sheetNames | isArrayLength:{greaterThan: 1} ">
    <a mat-tab-link *ngFor="let item of sheetNames"
       (click)="setSheetName(item)"
       [active]="item === sheetName">
      <ion-text>{{item}}</ion-text>
      <mat-icon *ngIf="hasFilterCriteria(item)">filter_list_alt</mat-icon>
    </a>
  </nav>
</ng-container>

<form [formGroup]="form" (ngSubmit)="onSubmit.emit($event)"
      *ngIf="sheetCriteriaForm; let criteriaForm"
      class="form-container">
  <ion-grid [formArrayName]="sheetName">
    <ng-container *ngFor="let criterionForm of criteriaForm.controls; index as i; odd as odd">
      <ion-row [formGroupName]="i" class="strata-row" [class.odd]="odd">

        <!-- column name -->
        <ion-col class="ion-no-padding">
          <mat-form-field class="name">
            <mat-select formControlName="name"
                        [placeholder]="'EXTRACTION.FILTER.CRITERION_NAME'|translate"
                        (selectionChange)="updateCriterionValueDefinition(i, $event.value, true)">
              <mat-option *ngFor="let column of $columns | async"
                          [value]="column.columnName">{{column.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- operator -->
          <mat-form-field class="operator">
            <mat-select formControlName="operator"
                        (selectionChange)="updateCriterionValueDefinition(i, $event.value, false)">
              <mat-option *ngFor="let operator of operators" [value]="operator.symbol">{{ (operator.name ||
                operator.symbol) | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>

        <!-- value -->
        <ion-col class="ion-no-padding"
                 [class.has-two-fields]="criterionForm.controls.operator.value === 'BETWEEN'">
          <ng-container *ngIf="getCriterionValueDefinition(i) | async as definition; else fakeDisabledField">

            <app-form-field class="value"
                            [placeholder]="(criterionForm.controls.operator.value === 'BETWEEN' && 'EXTRACTION.FILTER.CRITERION_START_VALUE' || 'EXTRACTION.FILTER.CRITERION_VALUE') |translate"
                            [formControl]="criterionForm.controls.value"
                            [definition]="definition">
            </app-form-field>

            <!-- second value (for between operator) -->
            <app-form-field *ngIf="criterionForm.controls.operator.value === 'BETWEEN'"
                            class="value"
                            [placeholder]=" 'EXTRACTION.FILTER.CRITERION_END_VALUE'|translate"
                            [formControl]="criterionForm.controls.endValue"
                            [definition]="definition"
                            (keyup.enter)="doSubmit($event)">
              <button matSuffix type="button" mat-icon-button tabindex="-1"
                      [disabled]="disabled"
                      [title]="'COMMON.BTN_DELETE'|translate"
                      (click)="removeFilterCriterion($event, i)">
                <mat-icon>close</mat-icon>
              </button>
            </app-form-field>
          </ng-container>

          <ng-template #fakeDisabledField>
            <mat-form-field class="value">
              <input matInput [disabled]="true" [placeholder]=" 'EXTRACTION.FILTER.CRITERION_VALUE'|translate">
            </mat-form-field>
          </ng-template>

          <button type="button" mat-icon-button color="light" [disabled]="disabled"
                  [title]="'COMMON.BTN_DELETE'|translate"
                  (click)="removeFilterCriterion($event, i)">
            <mat-icon>close</mat-icon>
          </button>

          <button type="button" mat-icon-button color="light" [disabled]="disabled"
                  *ngIf="i == criteriaForm?.length-1"
                  [title]="'EXTRACTION.FILTER.BTN_ADD_CRITERION'|translate"
                  (click)="addFilterCriterion()">
            <mat-icon>add</mat-icon>
          </button>
        </ion-col>

      </ion-row>
    </ng-container>

  </ion-grid>
</form>

