@import 'ionic.globals';
:host {

  ion-footer {
    --ion-toolbar-background: transparent;
    position: absolute;
    bottom: 0;
    z-index: 99999;
  }
}
div[leaflet] {
  height: 100%;
  padding: 0;
}

.bottom-right {
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;

  ion-card {
    position: relative;
  }
}


ion-card.details {
  min-width: 250px;

  ion-item {
    background: transparent;
    height: 32px;
    font-size: 12px;

    ion-label {
      margin-top: 0;
    }

    ion-badge {
      font-size: 12px;
    }
  }
}

