<mat-toolbar *ngIf="showToolbar">
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled && !readOnly"
          [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!selection.hasValue()"
          [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button *ngIf="selection.hasValue() && enabled && !readOnly"
          [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<table mat-table [dataSource]="dataSource"
       class="table-products"
       matSort
       matSortDirection="asc"
       matSortDisableClear
       [trackBy]="trackByFn">

  <ng-container matColumnDef="select" [sticky]="useSticky && !mobile">
    <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="mobile || readOnly">
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="mobile || readOnly">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- id -->
  <ng-container matColumnDef="id" [sticky]="useSticky && !showIdColumn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [class.ion-padding-start]="!showIdColumn">
      <app-loading-spinner [loading]="loadingSubject|async">
        <ion-label>#</ion-label>
      </app-loading-spinner>
    </th>
    <td mat-cell *matCellDef="let row" [hidden]="readOnly" [class.ion-padding-start]="!showIdColumn">
      <ion-text>{{row.currentData.rankOrder}}</ion-text>
    </td>
  </ng-container>

  <!-- parent -->
  <ng-container matColumnDef="parent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.PARENT</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">

      <mat-autocomplete-field *ngIf="inlineEdition else readOnly" floatLabel="never" class="min-width-large ion-text-wrap"
                              [autofocus]="row.id == -1 && row.editing && !row.currentData.parent"
                              [formControl]="row.validator.controls.parent"
                              [placeholder]="'TRIP.PRODUCT.LIST.PARENT'|translate"
                              [required]="true" [readonly]="!row.editing"
                              [config]="autocompleteFields.parent">
      </mat-autocomplete-field>
      <ng-template #readOnly>
        <ion-label>{{row.currentData.parent.metier.label}} - {{row.currentData.parent.metier.name}}</ion-label>
      </ng-template>
    </td>
  </ng-container>

  <!-- saleType -->
  <ng-container matColumnDef="saleType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.SALE_TYPE</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <ion-label style='font-size: 1rem !important;' [class.mat-form-field-disabled]='readOnly'>{{ row.currentData.saleType | referentialToString }}</ion-label>
    </td>
  </ng-container>

  <!-- taxonGroup -->
  <ng-container matColumnDef="taxonGroup">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.TAXON_GROUP</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-autocomplete-field *ngIf="inlineEdition else readOnly" floatLabel="never" class="min-width-large ion-text-wrap"
                              [autofocus]="row.id == -1 && row.editing && !!row.currentData.parent"
                              [formControl]="row.validator.controls.taxonGroup"
                              [placeholder]="'TRIP.PRODUCT.LIST.TAXON_GROUP'|translate"
                              [required]="true" [readonly]="!row.editing"
                              [config]="autocompleteFields.taxonGroup">
      </mat-autocomplete-field>
      <ng-template #readOnly>
        <ion-label>{{row.currentData.taxonGroup.label}} - {{row.currentData.taxonGroup.name}}</ion-label>
      </ng-template>
    </td>
  </ng-container>

  <!-- weight -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.WEIGHT</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field *ngIf="inlineEdition else readOnly" floatLabel="never">
        <input matInput
               autocomplete="off"
               [formControl]="row.validator.controls.weight"
               type="number"
               [placeholder]="'TRIP.PRODUCT.LIST.WEIGHT'|translate">
      </mat-form-field>
      <ng-template #readOnly>
        <ion-label>{{row.currentData.weight}}</ion-label>
      </ng-template>
    </td>
  </ng-container>

  <!-- individualCount -->
  <ng-container matColumnDef="individualCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.INDIVIDUAL_COUNT</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field *ngIf="inlineEdition else readOnly" floatLabel="never">
        <input matInput
               autocomplete="off"
               [formControl]="row.validator.controls.individualCount"
               type="number"
               [placeholder]="'TRIP.PRODUCT.LIST.INDIVIDUAL_COUNT'|translate"
        >
      </mat-form-field>
      <ng-template #readOnly>
        <ion-label>{{row.currentData.individualCount}}</ion-label>
      </ng-template>
    </td>
  </ng-container>

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.id.toString()">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm|isDatePmfm">
      <ion-label [innerHTML]="pmfm|pmfmName: {html: true}">
      </ion-label>
    </th>

    <td mat-cell *matCellDef="let row"
        [class.mat-cell-date-time]="pmfm|isDatePmfm"
        [class.mat-cell-computed]="pmfm|isComputedPmfm">
      <app-pmfm-field [readonly]="!row.editing"
                      [pmfm]="pmfm"
                      [control]="row.validator.controls.measurementValues.controls[pmfm.id]"
                      floatLabel="never"></app-pmfm-field>
    </td>

  </ng-container>


  <!-- Comments column -->
  <!--  <ng-container matColumnDef="comments">-->
  <!--    <th mat-header-cell *matHeaderCellDef>-->
  <!--    </th>-->
  <!--    <td mat-cell *matCellDef="let row">-->
  <!--      <ion-icon color="medium" name="chatbox" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>-->
  <!--    </td>-->
  <!--  </ng-container>-->

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions" [stickyEnd]="useSticky">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">

      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid"
              [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)"
              [hidden]="!inlineEdition">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)"
              [hidden]="!inlineEdition">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAdd($event, row)"
              [hidden]="!inlineEdition">
        <mat-icon>add</mat-icon>
      </button>

      <!-- sampling -->
      <button mat-icon-button color="light" *ngIf="!row.editing && row.id !== -1 && row.validator.controls.individualCount.value > 0"
              [title]="'TRIP.PRODUCT.LIST.INDIVIDUAL_SAMPLING'|translate"
              (click)="openSampling($event, row)"
              [hidden]="readOnly">
        <mat-icon [color]="(row.currentData.samples | isEmptyArray) ? 'medium' : undefined"
                  [matBadge]="row.currentData.samples?.length"
                  [matBadgeHidden]="row.currentData.samples | isEmptyArray"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">center_focus_strong
        </mat-icon>
      </button>

      <!-- product sale -->
      <button mat-icon-button color="light" *ngIf="!row.editing && row.id !== -1"
              [title]="'TRIP.PRODUCT.LIST.PRODUCT_SALE'|translate"
              (click)="openProductSale($event, row)"
              [hidden]="readOnly">
        <mat-icon [color]="(row.currentData.saleProducts | isEmptyArray) ? 'medium' : undefined"
                  [matBadge]="row.currentData.saleProducts?.length"
                  [matBadgeHidden]="row.currentData.saleProducts | isEmptyArray"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">local_offer
        </mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.mat-row-error]="row.validator.invalid"
      [class.mat-row-dirty]="row.validator.dirty"
      [class.mat-row-disabled]="!row.editing"
      (click)="clickRow($event, row)"></tr>
</table>
