.mat-header-row,
.mat-row {
  max-height: 56px;
  padding: 0 0px;
  z-index: 999;

  .mat-column-parent ion-label{
    max-width: 175px;
    min-width: 50px;
  }

  .mat-column-parent {
    min-width: 175px;
  }

  .mat-column-taxonGroup {
    min-width: 250px;
  }

  .mat-column-endPosition,
  .mat-column-startPosition {
    padding-left: 0px;
    max-width: 200px;
    ion-col {
      padding: 0;
    }
  }

  .mat-column-actions {
    max-width: 80px;
  }

  .mat-column-id{
      min-width: 40px !important;
      max-width: 50px !important;
    }
}

.mat-table {
  border-collapse: collapse;
}
