<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="cancel($event)" visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{$title | async}}
    </ion-title>

    <ion-buttons slot="end">
      <!-- Options menu -->
      <button mat-icon-button *ngIf="!isNew && mobile"
              [title]="'COMMON.OPTIONS'|translate"
              [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <ion-spinner *ngIf="loading"></ion-spinner>

      <ion-button class="back-button" (click)="save($event)"
                  *ngIf="!loading"
                  [disabled]="!form.valid"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">
  <button mat-menu-item
          (click)="delete($event)"
          [disabled]="disabled">
    <mat-icon>delete_outline</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>
</mat-menu>

<ion-content cdkTrapFocus class="ion-padding">

  <app-product-form #form
                    [programLabel]="programLabel"
                    [acquisitionLevel]="acquisitionLevel"
                    [parents]="parents"
                    [parentAttributes]="parentAttributes"
                    [debug]="debug">

    <!-- sampling -->
    <ion-button samplingButtons mat-button
                fill="clear" color="tertiary" expand="full"
            [title]="'TRIP.PRODUCT.EDIT.BTN_INDIVIDUAL_SAMPLING'|translate"
            (click)="save($event, 'sampling')">
      <mat-icon>assessment</mat-icon>
      <ion-label>
        <span translate>TRIP.PRODUCT.EDIT.BTN_INDIVIDUAL_SAMPLING</span>
        <span *ngIf="(data.samples && data.samples.length)">&nbsp;
          ({{(data.samples.length).toString()}})
        </span>
      </ion-label>
    </ion-button>

    <!-- product sale -->
    <ion-button productSaleButtons mat-button
                fill="clear" color="tertiary" expand="full"
            [title]="'TRIP.PRODUCT.EDIT.BTN_SALE'|translate"
            (click)="save($event, 'sale')">
      <mat-icon>local_offer
      </mat-icon>
      <ion-label>
        <span translate>TRIP.PRODUCT.EDIT.BTN_SALE</span>
        <span *ngIf="(data.saleProducts && data.saleProducts.length)">&nbsp;
          ({{(data.saleProducts.length).toString()}})
        </span>
      </ion-label>
    </ion-button>

  </app-product-form>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel($event)">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || invalid"
                    (keyup.enter)="save($event)"
                    (click)="save($event)" color="tertiary">
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_VALIDATE</ion-label>
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
