<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled && !readOnly"
          [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!selection.hasValue()"
          [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button *ngIf="selection.hasValue() && enabled && !readOnly"
          [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<mat-table [dataSource]="dataSource" class="table-products" matSort matSortDirection="asc"
           matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef [hidden]="readOnly">
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="readOnly">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="readOnly">
      <ion-label *ngIf="!($loading|async); else loadingSpinner">#</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="readOnly">
      <ion-text>{{row.currentData.rankOrder}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- parent -->
  <ng-container matColumnDef="parent">
    <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="!showParent">
      <ion-label translate>TRIP.PRODUCT.LIST.PARENT</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!showParent">

      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [appAutofocus]="row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.parent"
                              [placeholder]="'TRIP.PRODUCT.LIST.PARENT'|translate"
                              [required]="true" [readonly]="!row.editing"
                              [config]="autocompleteFields.parent">
      </mat-autocomplete-field>

    </mat-cell>
  </ng-container>

  <!-- taxonGroup -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.TAXON_GROUP</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">

      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [appAutofocus]="row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.taxonGroup"
                              [placeholder]="'TRIP.PRODUCT.LIST.TAXON_GROUP'|translate"
                              [required]="true" [readonly]="!row.editing"
                              [config]="autocompleteFields.taxonGroup">
      </mat-autocomplete-field>

    </mat-cell>
  </ng-container>

  <!-- weight -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.WEIGHT</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput
               autocomplete="off"
               [formControl]="row.validator.controls.weight"
               type="number"
               [placeholder]="'TRIP.PRODUCT.LIST.WEIGHT'|translate"
        >
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- individualCount -->
  <ng-container matColumnDef="individualCount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.PRODUCT.LIST.INDIVIDUAL_COUNT</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput
               autocomplete="off"
               [formControl]="row.validator.controls.individualCount"
               type="number"
               [placeholder]="'TRIP.PRODUCT.LIST.INDIVIDUAL_COUNT'|translate"
        >
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
    <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-cell-date-time]="pmfm.isDate">
      <ion-label>{{getPmfmColumnHeader(pmfm)}}
        <small *ngIf="pmfm.hasUnit"><br/>({{pmfm.unitLabel}})</small>
      </ion-label>
    </mat-header-cell>

    <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.isDate"
              [class.mat-cell-computed]="pmfm.isComputed">
      <mat-form-field-measurement
        [readonly]="!row.editing"
        [pmfm]="pmfm" [formControl]="row.validator.controls.measurementValues.controls[pmfm.pmfmId]"
        floatLabel="never"></mat-form-field-measurement>
    </mat-cell>

  </ng-container>


  <!-- Comments column -->
  <!--  <ng-container matColumnDef="comments">-->
  <!--    <mat-header-cell *matHeaderCellDef>-->
  <!--    </mat-header-cell>-->
  <!--    <mat-cell *matCellDef="let row">-->
  <!--      <ion-icon color="medium" name="chatbox" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>-->
  <!--    </mat-cell>-->
  <!--  </ng-container>-->

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">

      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid"
              [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>

      <!-- sampling -->
      <button mat-icon-button color="light" *ngIf="!row.editing && row.id !== -1 && row.validator.controls.individualCount.value > 0"
              [title]="'TRIP.PRODUCT.LIST.INDIVIDUAL_SAMPLING'|translate"
              (click)="openSampling($event, row)">
        <mat-icon>center_focus_strong</mat-icon>
      </button>

      <!-- product sale -->
      <button mat-icon-button color="light" *ngIf="!row.editing && row.id !== -1"
              [title]="'TRIP.PRODUCT.LIST.PRODUCT_SALE'|translate"
              (click)="openProductSale($event, row)">
        <mat-icon [color]="(!row.currentData.saleProducts || !row.currentData.saleProducts.length) ? 'medium' : undefined"
                  [matBadge]="row.currentData.saleProducts && row.currentData.saleProducts.length"
                  [matBadgeHidden]="!row.currentData.saleProducts || !row.currentData.saleProducts.length"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">local_offer</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled"
           (click)="clickRow($event, row)"></mat-row>
</mat-table>

<ng-template #loadingSpinner>
  <ion-spinner [ngClass]="{'center':true}"></ion-spinner>
</ng-template>
