.table-container {
  --table-toolbar-height: 0px;
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - var(--table-paginator-height, 0px));

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-table {

  .mat-column-vessel {
    max-width: 200px;
    padding-right: 5px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden
    {
    visibility: hidden;
    display: none;
  }

  .mat-header-row,
  .mat-row {

    .comments-italic {
      font-style: italic;
    }

    mat-cell.mat-cell-clickable:hover {
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);
    }
  }
}
