<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <mat-toolbar>
    <button mat-icon-button
            hidden-xs hidden-sm hidden-mobile
            *ngIf="enabled"
            [title]="'COMMON.BTN_ADD'|translate" (click)="addVessel()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
<!--    <button mat-icon-button *ngIf="canDelete && selection.hasValue() && enabled"-->
<!--            [title]="'COMMON.BTN_DELETE'|translate"-->
<!--            (click)="deleteSelection()">-->
<!--      <mat-icon>delete</mat-icon>-->
<!--    </button>-->

    <ion-item *ngIf="error && showError" hidden-xs hidden-sm hidden-mobile lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </mat-toolbar>


  <ion-grid class="ion-padding">

    <ion-row class="ion-margin-top">
      <ion-col size="2">
        <ion-label>VESSEL LIST</ion-label>
      </ion-col>

      <ion-row>
        <ion-col *ngFor="let date of dates">
          <ion-label>{{date|dateFormat: {pattern: 'L'} }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-row>

  </ion-grid>

</form>
