<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <ion-item *ngIf="error && showError" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-padding">

    <ion-row>
      <ion-col>
        <mat-swipe-field #datesSwipe
                         formControlName="date"
                         [items]="dates"
                         [displayWith]="displayDate()"
                         [compareWithFn]="compareDate()"
                         [debug]="debug"
        >
        </mat-swipe-field>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-card *ngFor="let activityForm of activitiesForm.controls; index as i; first as first">
          <ion-card-header>
            <button mat-icon-button
                    [title]="'COMMON.BTN_DELETE'|translate" (click)="removeActivity(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <ion-label>Activity #{{activityForm.value.rankOrder}}</ion-label>
          </ion-card-header>
          <ion-card-content>
            <app-vessel-activity-form #activityForm
                                      [form]="activityForm"
                                      [value]="activities[i]"
                                      [program]="program"
                                      [acquisitionLevel]="acquisitionLevel"
            >
            </app-vessel-activity-form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
