/*$colors: (*/
  /*primary:    #488aff,*/
  /*secondary:  #32db64,*/
  /*danger:     #f53d3d,*/
  /*light:      #f4f4f4,*/
  /*dark:       #222,*/
  /*my-special-color:   #ffcc55,*/
/*);*/


.carousel{
  position: relative;
  display: inline-block;
}

.closeButton{
  display: block; 
  position: absolute; 
  width: 20px;
  height: 20 px;
  top:-10px; 
  right: -10px;
}
