<ng-container [ngSwitch]="type">

  <!-- integer -->
  <mat-form-field *ngSwitchCase="'integer'" [floatLabel]="floatLabel" [class]="classList">
    <input matInput #matInput
           type="number"
           autocomplete="off"
           [readonly]="readonly"
           [min]="definition.minValue"
           [max]="definition.maxValue"
           pattern="-?[0-9]*"
           step="1"
           [placeholder]="placeholder"
           (keyup.enter)="onKeyupEnter.emit($event)"
           (keypress)="filterNumberInput($event, false)"
           [formControl]="formControl"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('min')">
      {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') | translate:formControl.errors['min'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('max')">
      {{(compact ? 'ERROR.FIELD_MAX_COMPACT' : 'ERROR.FIELD_MAX') | translate:formControl.errors['max'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('pattern')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
    <mat-error *ngIf="formControl.hasError('integer')">
      {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>

    <ng-content select="[matSuffix]"></ng-content>
  </mat-form-field>

  <!-- double -->
  <mat-form-field *ngSwitchCase="'double'" [floatLabel]="floatLabel" [class]="classList">

    <input matInput #matInput
           type="number"
           decimal="true"
           autocomplete="off"
           [readonly]="readonly"
           [min]="definition.minValue" [max]="definition.maxValue"
           [placeholder]="placeholder"
           [step]="numberInputStep"
           (keypress)="filterNumberInput($event, true)"
           [formControl]="formControl"
           [required]="required"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="formControl.hasError('min')">
      {{ (compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN')| translate:formControl.errors['min'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('max')">
      {{(compact ? 'ERROR.FIELD_MAX_COMPACT' : 'ERROR.FIELD_MAX') | translate:formControl.errors['max'] }}</mat-error>
    <mat-error *ngIf="formControl.hasError('maxDecimals')">
      {{ (compact ? 'ERROR.FIELD_MAXIMUM_DECIMALS_COMPACT' : 'ERROR.FIELD_MAXIMUM_DECIMALS')| translate:{max:
      definition.maximumNumberDecimals} }}</mat-error>
    <ng-content select="[matSuffix]"></ng-content>
  </mat-form-field>

  <!-- boolean -->
  <mat-boolean-field *ngSwitchCase="'boolean'" #matInput
                     [class]="classList"
                     [formControl]="formControl"
                     [placeholder]="placeholder"
                     [floatLabel]="floatLabel"
                     [required]="required"
                     [compact]="compact"
                     [tabindex]="tabindex"
                     [readonly]="readonly">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-boolean-field>

  <!-- date -->
  <mat-date-field *ngSwitchCase="'date'" #matInput
                       [class]="classList"
                       [formControl]="formControl"
                       [placeholder]="compact ? ('COMMON.DATE_PLACEHOLDER'|translate): placeholder"
                       [floatLabel]="floatLabel"
                       [required]="required"
                       [readonly]="readonly"
                       [compact]="compact"
                       [tabindex]="tabindex">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-date-field>

  <!-- date time -->
  <mat-date-time-field *ngSwitchCase="'dateTime'"
                       [class]="classList"
                       [formControl]="formControl"
                       [placeholder]="compact ? ('COMMON.DATE_TIME_PLACEHOLDER'|translate): placeholder"
                       [floatLabel]="floatLabel"
                       [required]="required"
                       [readonly]="readonly"
                       [compact]="compact"
                       [tabindex]="tabindex">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-date-time-field>

  <!-- enum -->
  <mat-form-field *ngSwitchCase="'enum'" [floatLabel]="floatLabel" [class]="classList">
    <mat-select [formControl]="formControl"
                [placeholder]="placeholder"
                [required]="required"
                [tabindex]="tabindex"
                (keyup.enter)="onKeyupEnter.emit($event)">
      <mat-option *ngFor="let item of definition.values" [value]="item.key || item">{{ (item.value || item) | translate }}</mat-option>
    </mat-select>

    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>

    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- color -->
  <mat-form-field *ngSwitchCase="'color'" [floatLabel]="floatLabel" [class]="classList">

    <ion-icon margin-right name="color-fill" matPrefix></ion-icon>

    <input matInput autocomplete="off"
           [formControl]="formControl"
           [style.color]="getColorContrast(formControl.value)"
           [style.background]="formControl.value"
           [colorPicker]="formControl.value"
           (colorPickerChange)="writeValue($event)"
           [cpSaveClickOutside]="true"
           cpPosition="top"
           cpOutputFormat="hex"
           [cpOKButton]="false"
           [required]="required"/>
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  </mat-form-field>

  <!-- string -->
  <mat-form-field *ngSwitchCase="'string'" [floatLabel]="floatLabel" [class]="classList">
    <input matInput #matInput
           autocomplete="off"
           [formControl]="formControl"
           [placeholder]="placeholder"
           [required]="required"
           [readonly]="readonly"
           [tabIndex]="tabindex"
           (click)="selectInputContent($event)"
           (keypress)="filterAlphanumericalInput($event)"
           (keyup.enter)="onKeyupEnter.emit($event)">
    <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </mat-form-field>

  <!-- auto-complete -->
  <mat-autocomplete-field *ngSwitchCase="'entity'"
                          [class]="classList"
                          [placeholder]="placeholder"
                          [floatLabel]="floatLabel"
                          [formControl]="formControl"
                          [config]="definition.autocomplete"
                          [required]="required"
                          [displayWith]="getDisplayValueFn(definition)">
    <ng-content select="[matPrefix]"></ng-content>
    <ng-content select="[matSuffix]"></ng-content>
  </mat-autocomplete-field>

  <!-- other -->
  <div *ngSwitchDefault>
    <mat-error *ngIf="type">Unknown type {{type}} for option {{definition.key}}. Please report this error.</mat-error>
    <mat-error *ngIf="!type">Error on option field. Please check console log for details.</mat-error>
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
  </div>

</ng-container>
