<mat-form-field  *ngIf="readonly; else writable"
                 [floatLabel]="floatLabel"
                 class="mat-form-field-disabled">
  <input matInput hidden type="text" readonly
         [placeholder]="placeholder"
         [formControl]="formControl">
  <ion-text>{{(formControl.value ? 'COMMON.YES' : 'COMMON.NO') | translate }}</ion-text>
</mat-form-field>

<ng-template #writable>
  <ng-container [ngSwitch]="style">

    <!-- Radio -->
    <mat-form-field *ngSwitchCase="'radio'"
                    [floatLabel]="showRadio && (!floatLabel || floatLabel === 'auto') ? 'always': floatLabel"
                    class="mat-boolean-field mat-boolean-field-radio">
      <mat-label *ngIf="placeholder && floatLabel!=='never'">
        {{placeholder}}
        <span [hidden]="showRadio">({{'COMMON.YES'|translate}}/{{'COMMON.NO'|translate}})</span>
      </mat-label>

      <input matInput #fakeInput type="text" readonly="true"
             [formControl]="formControl"
             (focus)="_onFocusFakeInput($event)"
             [required]="required"
             [class.cdk-visually-hidden]="showRadio"
             [tabindex]="tabindex">

      <!-- radio button -->
      <mat-radio-group [hidden]="!showRadio"
                       [formControl]="formControl"
                       (change)="onRadioValueChanged($event)">
        <mat-radio-button #yesButton [value]="true">
          <span translate>COMMON.YES</span>
        </mat-radio-button>&nbsp;
        <mat-radio-button #noButton [value]="false">
          <span translate>COMMON.NO</span>
        </mat-radio-button>
      </mat-radio-group>

      <ng-content matSuffix select="[matSuffix]"></ng-content>

      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    </mat-form-field>

    <!-- Checkbox -->
    <mat-form-field *ngSwitchCase="'checkbox'"
                    [floatLabel]="floatLabel"
                    class="mat-boolean-field mat-boolean-field-checkbox">
      <mat-label *ngIf="placeholder && !showRadio">
        {{placeholder}}
      </mat-label>

      <input matInput #matInput
             [formControl]="formControl"
             (focus)="_onFocusFakeInput($event)"
             [required]="required"
             [class.cdk-visually-hidden]="showRadio"
             [tabindex]="tabindex">

      <ion-label>&nbsp;</ion-label>

      <!-- checkbox, when compact -->
      <mat-checkbox #checkboxButton
                    [formControl]="formControl"
                    (change)="onCheckboxValueChanged($event)"
                    [indeterminate]="value===undefined"
                    [hidden]="!showRadio"
                    [tabindex]="tabindex">
      </mat-checkbox>

      <ng-content matSuffix select="[matSuffix]"></ng-content>

      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    </mat-form-field>

    <!-- Buttons -->
    <mat-form-field *ngSwitchCase="'button'"
                    [floatLabel]="floatLabel === 'never' ? 'never' : 'always'"
                    class="mat-boolean-field mat-boolean-field-button">
      <input matInput type="text" hidden
             [formControl]="formControl"
             [placeholder]="placeholder"
             [required]="required">
      <ion-grid class="ion-no-padding" *ngIf="!formControl.disabled; else disabledLabel">
        <ion-row class="ion-no-padding">
          <!-- Yes button -->
          <ion-col>
            <ion-button style="width: 100%;"
                        class="mat-form-field-button"
                        [tabindex]="_tabindex"
                        (click)="writeValue(true, $event)"
                        (keyup.enter)="writeValue(true, $event)"
                        [color]="_value == null ? 'danger' : (_value === true) ? 'accent' : 'light'">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              {{'COMMON.YES'|translate}}
            </ion-button>
          </ion-col>
          <!-- No button -->
          <ion-col>
            <ion-button style="width: 100%;"
                        class="mat-form-field-button"
                        [tabindex]="_tabindex !== undefined ? (_tabindex + 1) : undefined"
                        (click)="writeValue(false, $event)"
                        (keyup.enter)="writeValue(false, $event)"
                        [color]="_value == null ? 'danger' : (_value === false) ? 'accent' : 'light'">
              <ion-icon slot="start" name="close"></ion-icon>
              {{'COMMON.NO'|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ng-template #disabledLabel>
        <ion-label><i translate>COMMON.EMPTY_OPTION</i></ion-label>
      </ng-template>

      <ng-content matSuffix select="[matSuffix]"></ng-content>

      <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
    </mat-form-field>
  </ng-container>

</ng-template>


