<form class="form-container" [formGroup]="form.controls.measurementValues" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding">

    <!-- on deck  -->
    <ng-container *ngIf="$onDeckPmfms | async as pmfms"> <!-- loading -->
      <ion-row *ngIf="pmfms.length" class="ion-no-padding">
        <ion-col size="12" size-md="3" class="ion-align-self-end">
          <ion-label class="ion-float-end" translate>TRIP.CATCH.FORM.ON_DECK</ion-label>
        </ion-col>

        <ion-col size="6" size-md="auto" *ngFor="let pmfm of pmfms; index as i;">
          <app-pmfm-field [pmfm]="pmfm"
                          [formControlName]="pmfm.id.toString()"
                          [tabindex]="tabindex+10+i">
          </app-pmfm-field>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Sorting -->
    <ng-container *ngIf="$sortingPmfms | async as pmfms">
      <ion-row *ngIf="pmfms.length" class="ion-no-padding">
        <ion-col size="12" size-md="3" class="ion-align-self-end">
          <ion-label class="ion-float-end" translate>TRIP.CATCH.FORM.SORTING</ion-label>
        </ion-col>

        <ion-col size="12" size-md="3" *ngFor="let pmfm of pmfms; index as i;">
          <app-pmfm-field [pmfm]="pmfm"
                          [formControlName]="pmfm.id.toString()"
                          [tabindex]="tabindex+20+i">
          </app-pmfm-field>
        </ion-col>

      </ion-row>
    </ng-container>

    <!-- Landing weight -->
    <ng-container *ngIf="$weightAndOtherPmfms | async as pmfms; else loadingSpinner">
      <ion-row *ngIf="pmfms.length" class="ion-no-padding">
        <ion-col size="12" size-md="3" class="ion-align-self-end">
          <ion-label class="ion-float-end" translate>TRIP.CATCH.FORM.TOTAL_CATCH</ion-label>
        </ion-col>
        <ng-container *ngFor="let pmfm of pmfms; index as i;">
          <!-- multiple values pmfm -->
          <ion-col size="12" size-md="9" *ngIf="pmfm | isMultiplePmfm; else pmfmField">
            <app-pmfm-form-array
                                 [pmfm]="pmfm"
                                 [formArrayName]="pmfm.id.toString()"
                                 [tabindex]="tabindex+30+i">
            </app-pmfm-form-array>
          </ion-col>

          <!-- one value pmfm -->
          <ng-template #pmfmField>
            <ion-col size="12" size-md="3">
              <app-pmfm-field [pmfm]="pmfm"
                              [formControlName]="pmfm.id.toString()"
                              [tabindex]="tabindex+30+i">
              </app-pmfm-field>
            </ion-col>
          </ng-template>
        </ng-container>
      </ion-row>
    </ng-container>

    <ng-template #loadingSpinner>
      <ion-row class="ion-no-padding">
        <ion-col size="12" size-md="3" class="ion-align-self-end">
          <ion-label class="ion-float-end" translate>TRIP.CATCH.FORM.TOTAL_CATCH</ion-label>
        </ion-col>
        <ion-col size="6" size-md="auto">
          <mat-form-field>
            <input matInput hidden disabled>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ng-template>

    <ng-content></ng-content>

  </ion-grid>
</form>
