<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>>
  </ion-item>

  <ion-grid no-padding>

    <!-- on deck  -->
    <ng-container *ngIf="onDeckPmfms | async;let pmfms"> <!-- loading -->
      <ion-row *ngIf="pmfms.length" no-padding>
        <ion-col size="12" size-md="3" align-self-end>
          <ion-label float-end translate>TRIP.CATCH.FORM.ON_DECK</ion-label>
        </ion-col>

        <ion-col size="6" size-md="auto" *ngFor="let pmfm of pmfms; index as i;">
          <mat-form-field-measurement [pmfm]="pmfm"
                                      [formControl]="form.get('measurementValues').controls[pmfm.pmfmId]"
                                      [tabindex]="tabindex+10+i">
          </mat-form-field-measurement>
        </ion-col>
      </ion-row>
    </ng-container>

    <!-- Sorting -->
    <ng-container *ngIf="sortingPmfms | async;let pmfms">
      <ion-row *ngIf="pmfms.length" no-padding>
        <ion-col size="12" size-md="3" align-self-end>
          <ion-label float-end translate>TRIP.CATCH.FORM.SORTING</ion-label>
        </ion-col>

        <ion-col size="12" size-md="3" *ngFor="let pmfm of pmfms; index as i;">
          <mat-form-field-measurement [pmfm]="pmfm"
                                      [formControl]="form.get('measurementValues').controls[pmfm.pmfmId]"
                                      [tabindex]="tabindex+20+i">
          </mat-form-field-measurement>
        </ion-col>

      </ion-row>
    </ng-container>

    <!-- Landing weight -->
    <ion-row *ngIf="!(weightPmfms | async)" no-padding>
      <ion-col size="12" size-md="3" align-self-end>
        <ion-label float-end translate>TRIP.CATCH.FORM.TOTAL_CATCH</ion-label>
      </ion-col>
      <ion-col size="6" size-md="auto">
        <ion-label>
          <ion-spinner></ion-spinner>
        </ion-label>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="weightPmfms | async;let pmfms">
      <ion-row *ngIf="pmfms.length" no-padding>
        <ion-col size="12" size-md="3" align-self-end>
          <ion-label float-end translate>TRIP.CATCH.FORM.TOTAL_CATCH</ion-label>
        </ion-col>

        <ion-col size="12" size-md="3" *ngFor="let pmfm of pmfms">
          <mat-form-field-measurement [pmfm]="pmfm"
                                      [formControl]="form.get('measurementValues').controls[pmfm.pmfmId]"
                                      [tabindex]="tabindex+30+i">
          </mat-form-field-measurement>
        </ion-col>

      </ion-row>
    </ng-container>

    <ng-content></ng-content>

  </ion-grid>
</form>
