:host {
  ion-title {
    --color: var(--ion-color-primary-contrast);
  }
}

ion-content > .mat-tab-group {
  --mat-tab-body-content-height: calc(
    100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px) - 1px
  );
}

ion-col > ion-label {
  word-wrap: break-word;
  white-space: normal;
}
