<mat-toolbar *ngIf="showToolbar" [style.background-color]="filterExpansionPanel.expanded ? 'var(--ion-color-secondary)' : undefined">

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">
    <!-- Add -->
    <button mat-icon-button
            hidden-xs hidden-sm hidden-mobile
            *ngIf="enabled"
            [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button mat-icon-button *ngIf="!mobile"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>

  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>

    <!-- Delete -->
    <button mat-icon-button *ngIf="enabled"
            [title]="'COMMON.BTN_DELETE'|translate"
            (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>

  </ng-template>

  <ion-item *ngIf="!mobile && error; let error" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

  <!-- Reset filter -->
  <button mat-icon-button (click)="resetFilter()"
          *ngIf="filterCriteriaCount">
    <mat-icon color="accent">filter_list_alt</mat-icon>
    <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
  </button>

  <!-- Show filter -->
  <button mat-icon-button (click)="filterExpansionPanel.toggle()">
    <mat-icon [matBadge]="filterCriteriaCount"
              [matBadgeHidden]="filterIsEmpty"
              matBadgeColor="accent"
              matBadgeSize="small"
              matBadgePosition="above after">filter_list_alt</mat-icon>
  </button>

  <!-- show map -->
  <button mat-icon-button
          *ngIf="showMap"
          [title]="'TRIP.OPERATION.BTN_SHOW_MAP'|translate"
          (click)="openMapModal($event)">
    <mat-icon>
      <ion-icon name="earth"></ion-icon>
    </mat-icon>
  </button>

</mat-toolbar>

<!-- sort by menu -->
<mat-menu #sortByMenu="matMenu">
  <ng-template matMenuContent> <!-- lazy rendering -->
    <button mat-menu-item *ngFor="let col of sort.sortables.values()"
            (click)="sort.sort(col)">
      {{getI18nColumnName(col.id)|translate}}
      <ng-container *ngIf="sortActive === col.id">
        <mat-icon>{{sortDirection==='asc' ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
      </ng-container>
    </button>
  </ng-template>
</mat-menu>

<!-- options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- display columns -->
  <button mat-menu-item
          (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

  <!-- sort by -->
  <button mat-menu-item [matMenuTriggerFor]="sortByMenu">
    <mat-icon>sort</mat-icon>
    <ion-label translate>COMMON.BTN_SORT_BY_DOTS</ion-label>
  </button>

</mat-menu>


<!-- error -->
<ion-item *ngIf="mobile && error" lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<div class="table-container" [class.has-toolbar]="showToolbar" [class.has-paginator]="paginator && true">

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel
                       class="filter-panel"
                       [class.ion-no-padding]="mobile"
                       [class.filter-panel-floating]="filterPanelFloating">
    <form class="form-container" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

      <ion-grid>
        <!-- Data quality status -->
        <ion-row *ngIf="showQualityColumn">

          <ion-col size="12" size-md="3" size-lg="3">
            <ion-label class="ion-float-end" translate>TRIP.OPERATION.LIST.QUALITY_FILTER</ion-label>
          </ion-col>

          <ion-col *ngIf="filterDataQualityControl; let control">
            <mat-form-field floatLabel="never">
              <mat-select [formControl]="control"
                          [placeholder]="'COMMON.EMPTY_OPTION'|translate">
                <mat-select-trigger>
                  <span *ngIf="statusById | mapGet: control.value; let item">
                    <ion-icon [name]="item.icon"></ion-icon>
                    {{ item.label | translate}}
                  </span>

                </mat-select-trigger>
                <mat-option *ngFor="let item of statusList" [value]="item.id">
                  <ion-icon [name]="item.icon"></ion-icon>
                  {{ item.label |translate }}
                </mat-option>
              </mat-select>

              <button matSuffix mat-icon-button tabindex="-1"
                      type="button"
                      (click)="clearFilterValue('dataQualityStatus', $event)"
                      [hidden]="disabled || !control.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty"
                 [color]="empty && 'danger'"
                 class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (totalRowCount |
          numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <button mat-icon-button color="accent"
              *ngIf="filterPanelFloating"
              (click)="toggleFilterPanelFloating()"
              class="hidden-xs hidden-sm hidden-md"
              [title]="(filterPanelFloating ? 'COMMON.BTN_EXPAND' : 'COMMON.BTN_HIDE') |translate">
        <mat-icon><span style="transform: rotate(90deg);">{{filterPanelFloating ? '&#xbb;' : '&#xab;'}}</span></mat-icon>
      </button>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="closeFilterPanel()"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="filterForm.dirty ? 'tertiary' : 'dark'"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="applyFilterAndClosePanel($event)"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <table mat-table matSort matSortDisableClear
         [dataSource]="dataSource"
         [matSortActive]="defaultSortBy"
         [matSortDirection]="defaultSortDirection"
         [trackBy]="trackByFn">

    <ng-container matColumnDef="select" [sticky]="useSticky && !mobile">
      <th mat-header-cell *matHeaderCellDef
          [class.cdk-visually-hidden]="mobile">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.cdk-visually-hidden]="mobile">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- id -->
    <ng-container matColumnDef="id" [sticky]="useSticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          [class.ion-padding-start]="mobile">
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.ion-padding-start]="mobile">
        <ion-text>{{row.currentData.rankOrderOnPeriod}}</ion-text>
      </td>
    </ng-container>

    <!-- quality -->
    <ng-container matColumnDef="quality">
      <th mat-header-cell *matHeaderCellDef >
        <ion-label translate>TRIP.OPERATION.LIST.QUALITY</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <app-operation-icon [value]="row.currentData" [allowParentOperation]="allowParentOperation"></app-operation-icon>
      </td>
    </ng-container>

    <!-- physical gear -->
    <ng-container matColumnDef="physicalGear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.PHYSICAL_GEAR</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label *ngIf="row.currentData.physicalGear?.gear else metier">{{row.currentData.physicalGear | referentialToString:displayAttributes.physicalGear }}</ion-label>
        <ng-template #metier>
          <ion-label>{{row.currentData.metier?.gear | referentialToString:displayAttributes.gear }}</ion-label>
        </ng-template>
      </td>
    </ng-container>

    <!-- metier -->
    <ng-container matColumnDef="targetSpecies">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.TARGET_SPECIES</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{ row.currentData.metier | referentialToString:displayAttributes.taxonGroup }}</ion-label>
      </td>
    </ng-container>

    <!-- start date time  -->
    <ng-container matColumnDef="startDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>TRIP.OPERATION.LIST.START_DATE_TIME</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        <ion-text>{{row.currentData.startDateTime|dateFormat:{time: true} }}</ion-text>
        <ion-text *ngIf="mobile" class="computed"><br/><small>{{ row.currentData.startDateTime | dateFromNow }}</small></ion-text>
      </td>
    </ng-container>

    <!-- start position -->
    <ng-container matColumnDef="startPosition">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.OPERATION.LIST.START_POSITION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text class="ion-text-end">
          {{ row.currentData.startPosition?.latitude  | latitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}<br/>
          {{ row.currentData.startPosition?.longitude | longitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}
        </ion-text>
      </td>
    </ng-container>

    <!-- end date time -->
    <ng-container matColumnDef="endDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>TRIP.OPERATION.LIST.END_DATE_TIME</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        {{row.currentData.endDateTime|dateFormat:{time: true} }}
      </td>
    </ng-container>

    <!-- End position -->
    <ng-container matColumnDef="endPosition">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.OPERATION.LIST.END_POSITION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text class="ion-text-end">
          {{row.currentData.endPosition?.latitude  | latitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}<br/>
          {{row.currentData.endPosition?.longitude | longitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}
        </ion-text>
      </td>
    </ng-container>

    <ng-container matColumnDef="fishingArea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.FISHING_AREA</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        {{ row.currentData.fishingAreas | arrayPluck: {property: 'location'} | referentialToString: displayAttributes.fishingArea }}
      </td>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="comment"
                  *ngIf="row.currentData.comments"
                  [title]="row.currentData.comments"></mat-icon>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <!-- options menu -->
        <button mat-icon-button matHeader
                [title]="'COMMON.BTN_OPTIONS'|translate"
                [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        class="mat-row-disabled"
        [class.mat-row-selected]="highlightedRow === row"
        (click)="clickRow($event, row)">
    </tr>
  </table>

  <ng-container *ngIf="loadingSubject|async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      <ng-container *ngTemplateOutlet="addRowButton"></ng-container>
    </ion-item>
  </ng-template>
</div>

<ion-footer *ngIf="showPaginator">
  <mat-paginator #paginator class="mat-paginator-footer"
                 [length]="totalRowCount" [pageSize]="pageSize"
                 [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>

<ng-template #addRowButton>
  <span *ngIf="!mobile && enabled">&nbsp;
    <ion-button color="medium"
                (click)="addRow()">
      <ion-icon name="add" slot="start"></ion-icon>
      <span translate>COMMON.BTN_ADD</span>
    </ion-button>
  </span>
</ng-template>
