@import 'theme.globals';

form {
  ion-col > ion-label {
    word-wrap: break-word;
    white-space: normal;
  }

  ion-col[no-padding] {
    padding: 0 !important;
  }
}

:host ::ng-deep {
  mat-date-time-field {
    .mat-form-field-disabled {
      .mat-form-field-infix {
        min-height: 38px !important;
      }
    }
  }

  .has-buttons {
    // Fix field height, for rows with buttons (e.g. operation type)
    .mat-form-field-infix {
      min-height: 64px !important;
      input, .mat-form-field-label-wrapper label.ng-star-inserted {
        padding: 5px 0 0 5px;
      }
      input[type=text] {
        height: 27px;
      }
    }
  }
}

input.cursor-pointer {
  cursor: pointer !important;
}
