<app-toolbar [title]="title | async" color="primary" [hasValidate]="dirty && !loading" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" #appToolbar>
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group #matTabGroup [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" animationDuration="0s">

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>TRIP.OPERATION.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && (opeForm.invalid || measurementsForm.invalid)"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="opeForm.error" visible-xs visible-sm>
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" [innerHTML]="opeForm.error|translate"></ion-label>
      </ion-item>

      <ion-grid no-padding>

        <ion-row no-padding>
          <ion-col no-padding>
            <!-- form -->
            <form-operation (onSubmit)="save($event)" [showError]="false" #opeForm [debug]="debug"
                            [usageMode]="usageMode">

              <!-- Other features -->
              <ion-row ng-if="data">
                <ion-col size="12" size-md="2" size-lg="3">
                  <ion-label float-end translate>TRIP.OPERATION.EDIT.OTHER_FEATURES</ion-label>
                </ion-col>
                <ion-col>
                  <form-measurements acquisitionLevel="OPERATION" [debug]="debug" #measurementsForm [program]="programSubject|async"></form-measurements>
                </ion-col>
              </ion-row>
            </form-operation>
          </ion-col>
          <ion-col no-padding size="12" size-xl="2">
            <entity-metadata [value]="data"></entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: Gear
    <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_PHYSICAL_GEAR'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        <ion-label translate>TRIP.OPERATION.EDIT.TAB_PHYSICAL_GEAR</ion-label>
      </ng-template>


    </mat-tab>-->

    <!-- TAB: Catch -->
    <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_CATCH'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>line_style</mat-icon>
        <ion-label translate>TRIP.OPERATION.EDIT.TAB_CATCH</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && catchBatchForm.invalid"></ion-icon>
      </ng-template>

      <!-- catch batch form -->
      <form-catch-batch #catchBatchForm
                        (onSubmit)="save($event)" [showError]="false" [debug]="debug"
                        acquisitionLevel="CATCH_BATCH"
                        [program]="programSubject|async">
      </form-catch-batch>

      <!-- tab group for batches -->
      <mat-tab-group #batchSamplingTabGroup
                     [hidden]="!showBatchSamplingTables"
                     animationDuration="0s"
                     [(selectedIndex)]="selectedBatchSamplingTabIndex" (selectedTabChange)="onBatchSamplingTabChange($event)">

        <!-- TAB: species list -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>line_weight</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && (batchGroupsTable.invalid || false)"></ion-icon>
          </ng-template>

          <table-batch-groups #batchGroupsTable [debug]="debug"
                              acquisitionLevel="SORTING_BATCH"
                              [showCommentsColumn]="false"
                              [program]="programSubject|async">
          </table-batch-groups>
        </mat-tab>

        <!-- TAB: individual measurements -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL'|translate}}" [disabled]="!enableSubBatchSamplingTable">
          <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && (subBatchesTable.invalid || false)"></ion-icon>
          </ng-template>

          <table-sub-batches #subBatchesTable [debug]="debug"
                             acquisitionLevel="SORTING_BATCH_INDIVIDUAL"
                             [showTaxonGroupColumn]="false"
                             [showTaxonNameColumn]="false"
                             [program]="programSubject|async">
          </table-sub-batches>
        </mat-tab>

        <!-- TAB: Individual releases
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>room</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
          </ng-template>

          <table-sub-samples #individualReleaseTable [debug]="debug" acquisitionLevel="INDIVIDUAL_RELEASE"></table-sub-samples>
        </mat-tab>-->
      </mat-tab-group>

      <!-- tab group for survival test -->
      <mat-tab-group #survivalTestTabGroup
                     animationDuration="0s"
                     [hidden]="!showSurvivalTestTables"
                     [(selectedIndex)]="selectedSurvivalTestTabIndex" (selectedTabChange)="onSurvivalTestTabChange($event)">

        <!-- TAB: Survival tests -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_SURVIVAL_TEST'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>timer</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_SURVIVAL_TEST</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && survivalTestsTable.invalid"></ion-icon>
          </ng-template>

          <table-samples #survivalTestsTable [debug]="debug" acquisitionLevel="SURVIVAL_TEST" [program]="programSubject|async">
          </table-samples>
        </mat-tab>

        <!-- TAB: Individual monitoring  -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_MONITORING'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>center_focus_strong</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_MONITORING</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && individualMonitoringTable.invalid"></ion-icon>
          </ng-template>

          <table-individual-monitoring #individualMonitoringTable [debug]="true" acquisitionLevel="INDIVIDUAL_MONITORING" [program]="programSubject|async"></table-individual-monitoring>
        </mat-tab>

        <!-- TAB: Individual releases  -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>room</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
          </ng-template>

          <table-sub-samples #individualReleaseTable [debug]="debug" acquisitionLevel="INDIVIDUAL_RELEASE" [program]="programSubject|async"></table-sub-samples>
        </mat-tab>
      </mat-tab-group>

    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm>
  <form-buttons-bar (onCancel)="cancel()" (onSave)="save($event)" [disabled]="!dirty || loading" [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>
