<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding">

    <ion-row class="high" *ngIf="allowParentOperation">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.TYPE.TITLE</ion-label>
      </ion-col>
      <ion-col size="6" size-md="">

        <mat-boolean-field [style]="mobile && 'button' || 'radio'"
                           [formControl]="isParentOperationControl"
                           [yesLabel]="'TRIP.OPERATION.EDIT.TYPE.PARENT'"
                           [noLabel]="'TRIP.OPERATION.EDIT.TYPE.CHILD'"
                           [showButtonIcons]="false">
        </mat-boolean-field>
      </ion-col>

      <ion-col size="6" size-md="" >
        <mat-form-field [class.cdk-visually-hidden]="!isChildOperation">
          <input matInput type="text" hidden
                 [placeholder]="'TRIP.OPERATION.EDIT.PARENT_OPERATION'|translate"
                 [formControl]="parentControl">
          <input matInput type="text" class="cursor-pointer"
                 [value]="$parentOperationLabel|async"
                 (click)="addParentOperation()"
                 [tabindex]="tabindex+1"
                 readonly>

          <button *ngIf="!form.controls.parentOperation.value else optionsButton"
                  matSuffix mat-icon-button type="button"
                  tabindex="-1"
                  (click)="addParentOperation()">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <ng-template #optionsButton>
            <button slot="end" mat-icon-button matSuffix type="button"
                    [matMenuTriggerFor]="optionsMenu"
                    tabindex="-1"
                    [title]=" 'COMMON.BTN_OPTIONS'|translate">
              <mat-icon>more_vert</mat-icon>
            </button>

            <!-- Type = options menu -->
            <mat-menu #optionsMenu="matMenu" xPosition="after">

              <button mat-menu-item type="button"
                      tabindex="-1"
                      (click)="addParentOperation()">
                <ion-label>
                  <mat-icon>more_horiz</mat-icon>
                  <span translate>TRIP.OPERATION.EDIT.BTN_SELECT_PARENT</span>
                </ion-label>
              </button>
              <button mat-menu-item type="button" [disabled]="parentControl.value | isNilOrBlank"
                      tabindex="-1"
                      (click)="updateParentOperation()">
                <ion-label>
                  <mat-icon>edit</mat-icon>
                  <span translate>TRIP.OPERATION.EDIT.BTN_EDIT_PARENT</span>
                </ion-label>

              </button>
            </mat-menu>
          </ng-template>
          <mat-error *ngIf="parentControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>

        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.GEAR_AND_TARGETED_SPECIES</ion-label>
      </ion-col>

      <!-- Physical gear -->
      <ion-col size="12" size-md="">
        <mat-autocomplete-field formControlName="physicalGear"
                                [placeholder]="'TRIP.OPERATION.LIST.PHYSICAL_GEAR'|translate"
                                [config]="autocompleteFields.physicalGear"
                                [tabindex]="tabindex+2"
                                [required]="true"
                                [readonly]="isChildOperation">
        </mat-autocomplete-field>
      </ion-col>

      <!-- Target species (using metier) -->
      <ion-col size="12" size-md="">
        <mat-autocomplete-field formControlName="metier"
                                [placeholder]="'TRIP.OPERATION.LIST.TARGET_SPECIES'|translate"
                                [config]="autocompleteFields.taxonGroup"
                                [tabindex]="tabindex+3"
                                [required]="true"
                                [noResultMessage]="'TRIP.OPERATION.EDIT.NO_TARGET_SPECIES_FOUND'"
                                [readonly]="isChildOperation">

          <!-- Reset filter -->
          <button matAfter type="button" mat-icon-button
                  *ngIf="showMetierFilter && !isChildOperation"
                  tabindex="-1"
                  [title]="'COMMON.BTN_FILTER'|translate"
                  (click)="toggleMetierFilter($event)"
                  [color]="enableMetierFilter ? 'primary' : undefined">
            <mat-icon>filter_list_alt</mat-icon>
          </button>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Start -->
    <ion-row>
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label *ngIf="allowParentOperation else startLabel"
                   class="ion-float-end" translate>TRIP.OPERATION.EDIT.START_PARENT_OPERATION</ion-label>
        <ng-template #startLabel>
          <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.START</ion-label>
        </ng-template>
      </ion-col>
      <ion-col>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" [sizeLg]="showPosition ? 4 : 12">
              <mat-date-time-field [placeholder]="'COMMON.DATE'|translate"
                                   formControlName="startDateTime"
                                   [required]="true"
                                   [tabindex]="tabindex+4"
                                   [startDate]="trip?.departureDateTime"
                                   [readonly]="isChildOperation">
              </mat-date-time-field>
            </ion-col>

            <!-- lat -->
            <ion-col size="6" size-lg="4"
                     *ngIf="showPosition && isChildOperation !== true"
                     [formGroup]="form.controls.startPosition">
              <mat-latlong-field formControlName="latitude" type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+6"
                                 [required]="true"
                                 [defaultSign]="defaultLatitudeSign">
              </mat-latlong-field>
            </ion-col>

            <!-- long -->
            <ion-col size="6" size-lg="4"
                     *ngIf="showPosition && isChildOperation !== true"
                     [formGroup]="form.controls.startPosition">
              <mat-latlong-field formControlName="longitude" #startDateTime
                                 type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+8"
                                 [required]="true"
                                 [defaultSign]="defaultLongitudeSign">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event,'startPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <button type="button" mat-icon-button matSuffix
                        [hidden]="enableGeolocation || form.controls.startPosition.invalid"
                        (click)="copyPosition($event,'startPosition', 'endPosition')"
                        [title]="'TRIP.OPERATION.EDIT.BTN_DUPLICATE_POSITION'|translate">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </mat-latlong-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>

    <!-- Start fishing -->
    <ion-row *ngIf="allowParentOperation">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.END_PARENT_OPERATION</ion-label>
      </ion-col>
      <ion-col>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" [sizeLg]="showPosition ? 4 : 12"
                     *ngIf="form.controls.fishingStartDateTime as control">
              <mat-date-time-field [placeholder]="'COMMON.DATE'|translate"
                                   [formControl]="control"
                                   [required]="usageMode|isNotOnField"
                                   [clearable]="usageMode|isOnField"
                                   [tabindex]="tabindex+9"
                                   [startDate]="form.controls.startDateTime.value"
                                   [readonly]="isChildOperation">
                <mat-hint align="end" *ngIf="control.value && control.valid">
                  <span translate>COMMON.DURATION_DOTS</span>&nbsp;{{ {
                  startValue: form.controls.startDateTime.value,
                  endValue: control.value
                } | dateDiffDuration }}
                </mat-hint>
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4"
                     *ngIf="showPosition && isChildOperation !== true"
                     [formGroup]="form.controls.endPosition" >
              <mat-latlong-field formControlName="latitude"
                                 type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+11"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLatitudeSign">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4"
                     *ngIf="showPosition && isChildOperation !== true"
                     [formGroup]="form.controls.endPosition">
              <mat-latlong-field formControlName="longitude" type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+13"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLongitudeSign">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event, 'endPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <mat-error *ngIf="distanceError">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate: {distance: distance} }}</mat-error>
                <mat-hint align="end" *ngIf="distanceWarning">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate: {distance: distance} }}</mat-hint>
                <mat-hint align="end" *ngIf="!distanceWarning && distance">
                  {{'TRIP.OPERATION.EDIT.DISTANCE_DOTS'|translate: {distance: distance} }}
                </mat-hint>
              </mat-latlong-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>

    <!-- End fishing -->
    <ion-row *ngIf="isChildOperation">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.START_CHILD_OPERATION</ion-label>
      </ion-col>
      <ion-col>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" [sizeLg]="showPosition ? 4 : 12">
              <mat-date-time-field formControlName="fishingEndDateTime"
                                   [placeholder]="'COMMON.DATE'|translate"
                                   [tabindex]="tabindex+10"
                                   [startDate]="form.controls.fishingStartDateTime.valueChanges|async"
                                   [required]="true"
                                   [clearable]="false">
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.startPosition" *ngIf="showPosition">
              <mat-latlong-field formControlName="latitude" type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+4"
                                 [required]="true"
                                 [defaultSign]="defaultLatitudeSign">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.startPosition" *ngIf="showPosition">
              <mat-latlong-field formControlName="longitude"
                                 type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+6"
                                 [required]="true"
                                 [defaultSign]="defaultLongitudeSign">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event,'startPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <button type="button" mat-icon-button matSuffix
                        [hidden]="enableGeolocation || form.controls.startPosition.invalid"
                        (click)="copyPosition($event,'startPosition', 'endPosition')"
                        [title]="'TRIP.OPERATION.EDIT.BTN_DUPLICATE_POSITION'|translate">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </mat-latlong-field>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <!-- End -->
    <ion-row *ngIf="!allowParentOperation || isChildOperation">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label *ngIf="allowParentOperation else end" class="ion-float-end" translate>TRIP.OPERATION.EDIT.END_CHILD_OPERATION</ion-label>
        <ng-template #end>
          <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.END</ion-label>
        </ng-template>
      </ion-col>
      <ion-col >
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" [sizeLg]="showPosition ? 4 : 12" *ngIf="form.controls.endDateTime as control">
              <mat-date-time-field [formControl]="control"
                                   [placeholder]="'COMMON.DATE'|translate"
                                   [tabindex]="tabindex+10"
                                   [startDate]="allowParentOperation ? form.controls.fishingEndDateTime.value  : form.controls.startDateTime.value"
                                   [required]="usageMode|isNotOnField"
                                   [clearable]="usageMode|isOnField">

                <mat-hint align="end" *ngIf="control.value && control.valid">
                  <span translate>COMMON.DURATION_DOTS</span>&nbsp;{{ {
                  startValue: allowParentOperation ? form.controls.fishingEndDateTime.value : form.controls.startDateTime.value,
                  endValue: control.value
                } | dateDiffDuration }}
                </mat-hint>
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.endPosition" *ngIf="showPosition">
              <mat-latlong-field formControlName="latitude"
                                 type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+12"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLatitudeSign">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.endPosition" *ngIf="showPosition">
              <mat-latlong-field formControlName="longitude" type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+15"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLongitudeSign">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event, 'endPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <mat-error *ngIf="distanceError">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate: {distance: distance} }}</mat-error>
                <mat-hint align="end" *ngIf="distanceWarning">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate: {distance: distance} }}</mat-hint>
                <mat-hint align="end" *ngIf="!distanceError && !distanceWarning && distance">
                  {{'TRIP.OPERATION.EDIT.DISTANCE_DOTS'|translate: {distance: distance} }}
                </mat-hint>
              </mat-latlong-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <!-- Fishing areas -->
    <ng-container *ngIf='showFishingArea'>
      <ion-row *ngFor="let fishingAreaForm of fishingAreasForm?.controls; let i=index; first as first">
        <ion-col size="12" size-md="3" size-lg="3">
          <ion-label class="ion-float-end" *ngIf="first" translate>OBSERVED_LOCATION.EDIT.FISHING_AREAS</ion-label>
        </ion-col>
        <ion-col [formGroup]="fishingAreaForm">
          <mat-autocomplete-field #fishingAreaField
                                  formControlName="location"
                                  [placeholder]="('OBSERVED_LOCATION.EDIT.FISHING_AREA_PLACEHOLDER'|translate) + (i+1)"
                                  [autofocus]="fishingAreaFocusIndex === i"
                                  [config]="autocompleteFields.fishingAreaLocation"
                                  [tabindex]="tabindex+30+i*3"
                                  [panelWidth]="!mobile && '500px'"
                                  [required]="i === 0">
            <mat-icon matPrefix>room</mat-icon>

            <!-- filter button -->
            <button matAfter type="button" mat-icon-button
                    *ngIf="filteredFishingAreaLocations|isNotEmptyArray"
                    tabindex="-1"
                    [disabled]="disabled"
                    [title]="'COMMON.BTN_FILTER'|translate"
                    (click)="toggleFilter('fishingArea', fishingAreaField)"
                    [color]="autocompleteFilters.fishingArea ? 'primary' : undefined">
              <mat-icon>filter_list_alt</mat-icon>
            </button>
          </mat-autocomplete-field>
        </ion-col>
        <ion-col size="auto" class="ion-align-self-center">
          <button type="button" mat-icon-button [tabindex]="tabindex+30+i*3+1" [disabled]="disabled"
                  [title]="'COMMON.BTN_ADD'|translate"
                  (click)="addFishingArea()">
            <mat-icon>add</mat-icon>
          </button>
          <button type="button" mat-icon-button [tabindex]="tabindex+30+i*3+2" [disabled]="disabled"
                  [title]="'COMMON.BTN_DELETE'|translate"
                  (click)="fishingAreasHelper.removeAt(i)">
            <mat-icon>close</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments
                    formControlName="comments"
                    matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000"
                    [placeholder]="'TRIP.OPERATION.LIST.COMMENTS'|translate"
                    [tabindex]="tabindex+100"
                    [required]="isCommentRequired">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>


<ng-template #loadingField>
  <mat-form-field>
    <input matInput hidden disabled>
    <ion-skeleton-text style="width: 100%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>
