<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding">

    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.GEAR_AND_TARGETED_SPECIES</ion-label>
      </ion-col>

      <!-- Physical gear -->
      <ion-col size="12" size-md="">
        <mat-autocomplete-field formControlName="physicalGear"
                                [placeholder]="'TRIP.OPERATION.LIST.PHYSICAL_GEAR'|translate"
                                [config]="autocompleteFields.physicalGear"
                                [tabindex]="tabindex"
                                required>
        </mat-autocomplete-field>

      </ion-col>

      <!-- Target species (using metier) -->
      <ion-col size="12" size-md="">
        <mat-autocomplete-field formControlName="metier"
                                [placeholder]="'TRIP.OPERATION.LIST.TARGET_SPECIES'|translate"
                                [config]="autocompleteFields.taxonGroup"
                                [tabindex]="tabindex+1"
                                required>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Start -->
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.START</ion-label>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">

            <ion-col size="12" size-lg="4">
              <mat-date-time [placeholder]="'COMMON.DATE'|translate"
                             formControlName="startDateTime" [required]="true"
                             [tabindex]="tabindex+2"
                             [startDate]="trip?.departureDateTime">
              </mat-date-time>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['startPosition']">
              <mat-latlong formControlName="latitude" type="latitude"
                           [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                           [latLongPattern]="latLongFormat"
                           [tabindex]="tabindex+3">
              </mat-latlong>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['startPosition']">
              <mat-latlong formControlName="longitude"
                           type="longitude"
                           [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                           [latLongPattern]="latLongFormat"
                           [tabindex]="tabindex+4">
                <button type="button" mat-icon-button matLatlongSuffix
                        (click)="fillPosition('startPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <button type="button" mat-icon-button matLatlongSuffix
                        [hidden]="enableGeolocation || form.controls.startPosition.invalid"
                        (click)="copyPosition('startPosition', 'endPosition')"
                        [title]="'TRIP.OPERATION.EDIT.BTN_DUPLICATE_POSITION'|translate"
                        [tabindex]="tabindex+5">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </mat-latlong>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>

    <!-- End -->
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.END</ion-label>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12" size-lg="4">
              <mat-date-time formControlName="endDateTime"
                             [placeholder]="'COMMON.DATE'|translate"
                             [tabindex]="tabindex+6"
                             [startDate]="form.controls.startDateTime.value">

                <mat-error *ngIf="form.controls.endDateTime.hasError('invalid')" translate>TRIP.OPERATION.ERROR.FIELD_DATE_OUTSIDE_TRIP</mat-error>
                <mat-hint align="end" *ngIf="form.controls.endDateTime.value">
                  <span translate>COMMON.DURATION_DOTS</span>&nbsp;{{ {startValue: form.controls.startDateTime.value,
                  endValue: form.controls.endDateTime.value} | dateDiffDuration }}
                </mat-hint>
              </mat-date-time>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['endPosition']">
              <mat-latlong formControlName="latitude"
                           type="latitude"
                           [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                           [latLongPattern]="latLongFormat"
                           [tabindex]="tabindex+7">
              </mat-latlong>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['endPosition']">
              <mat-latlong formControlName="longitude"
                           type="longitude"
                           [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                           [latLongPattern]="latLongFormat"
                           [tabindex]="tabindex+8">
                <button type="button" mat-icon-button matLatlongSuffix
                        (click)="fillPosition('endPosition')" tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
              </mat-latlong>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>


    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row class="ion-no-padding" *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments
                    formControlName="comments"
                    matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000"
                    [placeholder]="'TRIP.OPERATION.LIST.COMMENTS'|translate"
                    [tabindex]="tabindex+100">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
