<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding" *ngIf="$useLinkedOperation|async">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.TYPE.TITLE</ion-label>
      </ion-col>
      <ion-col size="" size-md="">
        <mat-form-field>
          <mat-select [formControl]="form.controls.operationTypeId"
                      [placeholder]="'TRIP.OPERATION.EDIT.TYPE.TITLE'|translate"
                      [tabindex]="tabindex"
                      required>
            <mat-option *ngFor="let item of operationTypesList" [value]="item.id">
              {{ item.label |translate }}
            </mat-option>
          </mat-select>
          <input matInput type="text" hidden
                 [formControl]="form.controls.qualityFlagId">
        </mat-form-field>
      </ion-col>
      <ion-col size="" size-md="" *ngIf="hasChildOperation">
        <mat-form-field>
          <input matInput type="text"
                 [formControl]="form.controls.parentOperationLabel"
                 [placeholder]="'TRIP.OPERATION.EDIT.TYPE.PARENT'|translate"
                 (click)="addParentOperation()"
                 [tabindex]="tabindex"
                 readonly>
          <button matSuffix type="button" mat-icon-button
                  tabindex="-1"
                  (click)="addParentOperation()">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <input matInput type="text" hidden
                 [formControl]="form.controls.parentOperation">
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.GEAR_AND_TARGETED_SPECIES</ion-label>
      </ion-col>

      <!-- Physical gear -->
      <ion-col size="12" size-md="">
        <mat-autocomplete-field formControlName="physicalGear"
                                [placeholder]="'TRIP.OPERATION.LIST.PHYSICAL_GEAR'|translate"
                                [config]="autocompleteFields.physicalGear"
                                [tabindex]="tabindex+2"
                                [required]="true"
                                [readonly]="typeOperation === 1">
        </mat-autocomplete-field>

      </ion-col>

      <!-- Target species (using metier) -->
      <ion-col size="12" size-md="">
        <mat-autocomplete-field formControlName="metier"
                                [placeholder]="'TRIP.OPERATION.LIST.TARGET_SPECIES'|translate"
                                [config]="autocompleteFields.taxonGroup"
                                [tabindex]="tabindex+3"
                                [required]="true"
                                [noResultMessage]="'TRIP.OPERATION.EDIT.NO_TARGET_SPECIES_FOUND'"
                                [readonly]="typeOperation === 1">
          <!-- Reset filter -->
          <button mat-icon-button matSuffix (click)="toggleMetierFilter($event)"
                  *ngIf="showMetierFilter">
            <mat-icon [color]="enableMetierFilter && 'accent'">filter_list_alt</mat-icon>
            <mat-icon *ngIf="enableMetierFilter" class="icon-secondary" style="left: 11px; top: 0px; font-weight: bold;">close</mat-icon>
          </button>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Start -->
    <ion-row class="ion-no-padding">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label *ngIf="$useLinkedOperation|async else start" class="ion-float-end" translate>TRIP.OPERATION.EDIT.START_PARENT_OPERATION</ion-label>
        <ng-template #start>
          <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.START</ion-label>
        </ng-template>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">

            <ion-col size="12" size-lg="4">
              <mat-date-time-field [placeholder]="'COMMON.DATE'|translate"
                                   formControlName="startDateTime"
                                   [required]="true"
                                   [tabindex]="tabindex+4"
                                   [startDate]="trip?.departureDateTime"
                                   [readonly]="($useLinkedOperation|async) && typeOperation === 1">
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.startPosition" *ngIf="!($useLinkedOperation|async) || typeOperation  !== 1">
              <mat-latlong-field formControlName="latitude" type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+6"
                                 [required]="true"
                                 [defaultSign]="defaultLatitudeSign"
                                 (focusout)="checkDistanceValidity()">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.startPosition" *ngIf="!($useLinkedOperation|async) || typeOperation !== 1">
              <mat-latlong-field formControlName="longitude"
                                 type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+8"
                                 [required]="true"
                                 [defaultSign]="defaultLongitudeSign"
                                 (focusout)="checkDistanceValidity()">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event,'startPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <button type="button" mat-icon-button matSuffix
                        [hidden]="enableGeolocation || form.controls.startPosition.invalid"
                        (click)="copyPosition($event,'startPosition', 'endPosition')"
                        [title]="'TRIP.OPERATION.EDIT.BTN_DUPLICATE_POSITION'|translate">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </mat-latlong-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>

    <!-- Start fishing -->
    <ion-row class="ion-no-padding" *ngIf="$useLinkedOperation|async">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.END_PARENT_OPERATION</ion-label>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">

            <ion-col size="12" size-lg="4" *ngIf="form.controls.fishingStartDateTime as fishingStartDateTime">
              <mat-date-time-field [placeholder]="'COMMON.DATE'|translate"
                                   [formControl]=fishingStartDateTime
                                   (focusout)="checkDistanceValidity()"
                                   [required]="true"
                                   [tabindex]="tabindex+9"
                                   [startDate]="form.controls.startDateTime.value"
                                   [readonly]="($useLinkedOperation|async) && typeOperation === 1">
                <mat-hint align="end" *ngIf="fishingStartDateTime.value && fishingStartDateTime.valid">
                  <span translate>COMMON.DURATION_DOTS</span>&nbsp;{{ {
                  startValue: form.controls.startDateTime.value,
                  endValue: fishingStartDateTime.value
                } | dateDiffDuration }}
                </mat-hint>
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['endPosition']" *ngIf="!($useLinkedOperation|async) || typeOperation  !== 1">
              <mat-latlong-field formControlName="latitude"
                                 type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+11"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLatitudeSign"
                                 (focusout)="checkDistanceValidity()">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['endPosition']" *ngIf="!($useLinkedOperation|async) || typeOperation  !== 1">
              <mat-latlong-field formControlName="longitude" type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+13"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLongitudeSign"
                                 (focusout)="checkDistanceValidity()">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event, 'endPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <mat-error *ngIf="distanceError">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate}} ({{ distance }} miles)</mat-error>
                <mat-hint align="end"  *ngIf="distanceWarning">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate}} ({{ distance }} miles)</mat-hint>
                <mat-hint align="end" *ngIf="!distanceWarning && !distanceError">
                  <span translate>TRIP.OPERATION.EDIT.DISTANCE_TRAVELED</span>
                  {{ distance }} miles
                </mat-hint>
              </mat-latlong-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>

    <!-- End fishing -->
    <ion-row class="ion-no-padding" *ngIf="($useLinkedOperation|async) && typeOperation === 1">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.START_CHILD_OPERATION</ion-label>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12" size-lg="4" *ngIf="form.controls.fishingEndDateTime as fishingEndDateTimeControl">
              <mat-date-time-field [formControl]="fishingEndDateTimeControl"
                                   [placeholder]="'COMMON.DATE'|translate"
                                   [tabindex]="tabindex+10"
                                   [startDate]="form.controls.fishingStartDateTime.value"
                                   [required]="usageMode|isNotOnField"
                                   [clearable]="usageMode|isOnField">
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.startPosition">
              <mat-latlong-field formControlName="latitude" type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+4"
                                 [required]="true"
                                 [defaultSign]="defaultLatitudeSign"
                                 (focusout)="checkDistanceValidity()">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls.startPosition">
              <mat-latlong-field formControlName="longitude"
                                 type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+6"
                                 [required]="true"
                                 [defaultSign]="defaultLongitudeSign"
                                 (focusout)="checkDistanceValidity()">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event,'startPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <button type="button" mat-icon-button matSuffix
                        [hidden]="enableGeolocation || form.controls.startPosition.invalid"
                        (click)="copyPosition($event,'startPosition', 'endPosition')"
                        [title]="'TRIP.OPERATION.EDIT.BTN_DUPLICATE_POSITION'|translate">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </mat-latlong-field>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <!-- End -->
    <ion-row class="ion-no-padding" *ngIf="!($useLinkedOperation|async) || typeOperation === 1">
      <ion-col size="12" size-md="3" size-lg="3">
        <ion-label *ngIf="$useLinkedOperation|async else end" class="ion-float-end" translate>TRIP.OPERATION.EDIT.END_CHILD_OPERATION</ion-label>
        <ng-template #end>
          <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.END</ion-label>
        </ng-template>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col size="12" size-lg="4" *ngIf="form.controls.endDateTime as endDateTimeControl">
              <mat-date-time-field [formControl]="endDateTimeControl"
                                   [placeholder]="'COMMON.DATE'|translate"
                                   [tabindex]="tabindex+10"
                                   [startDate]="($useLinkedOperation|async) ? form.controls.fishingEndDateTime.value  : form.controls.startDateTime.value"
                                   [required]="false"
                                   [clearable]="usageMode|isOnField">

                <mat-hint align="end" *ngIf="endDateTimeControl.value && endDateTimeControl.valid">
                  <span translate>COMMON.DURATION_DOTS</span>&nbsp;{{ {
                  startValue: $useLinkedOperation ? form.controls.fishingEndDateTime.value : form.controls.startDateTime.value,
                  endValue: endDateTimeControl.value
                } | dateDiffDuration }}
                </mat-hint>
              </mat-date-time-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['endPosition']">
              <mat-latlong-field formControlName="latitude"
                                 type="latitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LATITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+12"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLatitudeSign"
                                 (focusout)="checkDistanceValidity()">
              </mat-latlong-field>
            </ion-col>
            <ion-col size="6" size-lg="4" [formGroup]="form.controls['endPosition']">
              <mat-latlong-field formControlName="longitude" type="longitude"
                                 [placeholder]="'TRIP.OPERATION.EDIT.LONGITUDE'|translate"
                                 [latLongPattern]="latLongFormat"
                                 [tabindex]="tabindex+15"
                                 [required]="usageMode|isNotOnField"
                                 [defaultSign]="defaultLongitudeSign"
                                 (focusout)="checkDistanceValidity()">
                <button type="button" mat-icon-button matSuffix
                        (click)="onFillPositionClick($event, 'endPosition')"
                        tabindex="-1"
                        [hidden]="!enableGeolocation">
                  <mat-icon>gps_fixed</mat-icon>
                </button>
                <mat-error *ngIf="distanceError">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate}} ({{ distance }} miles)</mat-error>
                <mat-hint align="end" *ngIf="distanceWarning">{{'TRIP.OPERATION.ERROR.TOO_LONG_DISTANCE'|translate}} ({{ distance }} miles)</mat-hint>
                <mat-hint align="end" *ngIf="!distanceWarning && !distanceError">
                  <span translate>TRIP.OPERATION.EDIT.DISTANCE_TRAVELED</span>
                  {{ distance }} miles
                </mat-hint>
              </mat-latlong-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>


    <ng-content></ng-content>

    <!-- Comments -->
    <ion-row class="ion-no-padding" *ngIf="showComment">
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments
                    formControlName="comments"
                    matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000"
                    [placeholder]="'TRIP.OPERATION.LIST.COMMENTS'|translate"
                    [tabindex]="tabindex+100">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
