<mat-toolbar *ngIf="showToolbar">

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">
    <!-- Add -->
    <button mat-icon-button
            hidden-xs hidden-sm hidden-mobile
            *ngIf="enabled"
            [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button mat-icon-button *ngIf="!mobile"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>

  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>

    <!-- Delete -->
    <button mat-icon-button *ngIf="enabled"
            [title]="'COMMON.BTN_DELETE'|translate"
            (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>

  </ng-template>

  <ion-item *ngIf="!mobile && error; let error" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

  <!-- show map -->
  <button mat-icon-button
          *ngIf="showMap"
          [title]="'TRIP.OPERATION.BTN_SHOW_MAP'|translate"
          (click)="openMapModal($event)">
    <mat-icon>
      <ion-icon name="earth"></ion-icon>
    </mat-icon>
  </button>

</mat-toolbar>

<!-- error -->
<ion-item *ngIf="mobile && error" lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<div class="table-container" [class.has-toolbar]="showToolbar" [class.has-paginator]="paginator && true">
  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <table mat-table matSort matSortDisableClear
         [dataSource]="dataSource"
         [matSortActive]="defaultSortBy"
         [matSortDirection]="defaultSortDirection"
         [trackBy]="trackByFn">

    <ng-container matColumnDef="select" [sticky]="useSticky && !mobile">
      <th mat-header-cell *matHeaderCellDef
          [class.cdk-visually-hidden]="mobile">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.cdk-visually-hidden]="mobile">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- id -->
    <ng-container matColumnDef="id" [sticky]="useSticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          [class.ion-padding-start]="mobile">
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row"
          [class.ion-padding-start]="mobile">
        <ion-text>{{row.currentData.rankOrderOnPeriod}}</ion-text>
      </td>
    </ng-container>

    <!-- quality -->
    <ng-container matColumnDef="quality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.QUALITY</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.currentData.parentOperationId else parentIcon" matPrefix svgIcon="rollback-arrow"></mat-icon>
        <ng-template #parentIcon>
          <mat-icon matPrefix svgIcon="down-arrow"></mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <!-- physical gear -->
    <ng-container matColumnDef="physicalGear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.PHYSICAL_GEAR</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label *ngIf="row.currentData.physicalGear?.gear else metier">{{row.currentData.physicalGear | referentialToString:displayAttributes.physicalGear }}</ion-label>
        <ng-template #metier>
          <ion-label>{{row.currentData.metier?.gear | referentialToString:displayAttributes.gear }}</ion-label>
        </ng-template>
      </td>
    </ng-container>

    <!-- metier -->
    <ng-container matColumnDef="targetSpecies">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.TARGET_SPECIES</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{ row.currentData.metier | referentialToString:displayAttributes.taxonGroup }}</ion-label>
      </td>
    </ng-container>

    <!-- start date time  -->
    <ng-container matColumnDef="startDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>TRIP.OPERATION.LIST.START_DATE_TIME</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        <ion-text>{{row.currentData.startDateTime|dateFormat:{time: true} }}</ion-text>
        <ion-text *ngIf="mobile" class="computed"><br/><small>{{ row.currentData.startDateTime | dateFromNow }}</small></ion-text>
      </td>
    </ng-container>

    <!-- start position -->
    <ng-container matColumnDef="startPosition">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.OPERATION.LIST.START_POSITION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text class="ion-text-end">
          {{ row.currentData.startPosition?.latitude  | latitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}<br/>
          {{ row.currentData.startPosition?.longitude | longitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}
        </ion-text>
      </td>
    </ng-container>

    <!-- end date time -->
    <ng-container matColumnDef="endDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
        <ion-label translate>TRIP.OPERATION.LIST.END_DATE_TIME</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        {{row.currentData.endDateTime|dateFormat:{time: true} }}
      </td>
    </ng-container>

    <!-- End position -->
    <ng-container matColumnDef="endPosition">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.OPERATION.LIST.END_POSITION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text class="ion-text-end">
          {{row.currentData.endPosition?.latitude  | latitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}<br/>
          {{row.currentData.endPosition?.longitude | longitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}
        </ion-text>
      </td>
    </ng-container>

    <ng-container matColumnDef="fishingArea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.OPERATION.LIST.FISHING_AREA</ion-label>
      </th>
      <td mat-cell class="mat-cell-date-time" *matCellDef="let row">
        {{ row.currentData.fishingAreas | arrayFirst }}
      </td>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="comment"
                  *ngIf="row.currentData.comments"
                  [title]="row.currentData.comments"></mat-icon>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate"
                (click)="openSelectColumnsModal($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        class="mat-row-disabled"
        [class.mat-row-selected]="highlightedRow === row"
        (click)="clickRow($event, row)">
    </tr>
  </table>

  <ng-container *ngIf="loadingSubject|async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      <ng-container *ngTemplateOutlet="addRowButton"></ng-container>
    </ion-item>
  </ng-template>
</div>

<ion-footer *ngIf="showPaginator">
  <mat-paginator #paginator class="mat-paginator-footer"
                 [length]="totalRowCount" [pageSize]="pageSize"
                 [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>

<ng-template #addRowButton>
  <span *ngIf="!mobile && enabled">&nbsp;
    <ion-button color="medium"
                (click)="addRow()">
      <ion-icon name="add" slot="start"></ion-icon>
      <span translate>COMMON.BTN_ADD</span>
    </ion-button>
  </span>
</ng-template>
