<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled"
          [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!selection.hasValue()"
          [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button *ngIf="selection.hasValue() && enabled"
          [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>
  <button mat-icon-button *ngIf="showMap"
          [title]="'TRIP.OPERATION.BTN_SHOW_MAP'|translate" (click)="openMapModal($event)">
    <mat-icon><ion-icon name="earth"></ion-icon></mat-icon>
  </button>
  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
           matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell  *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell  *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text>{{row.currentData.rankOrderOnPeriod}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- physical gear -->
  <ng-container matColumnDef="physicalGear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.PHYSICAL_GEAR</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{referentialToString(row.currentData.physicalGear?.gear || row.currentData.metier?.gear, displayAttributes.gear)}}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- metier -->
  <ng-container matColumnDef="targetSpecies">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.OPERATION.LIST.TARGET_SPECIES</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{referentialToString(row.currentData.metier, displayAttributes.taxonGroup)}}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- start date time  -->
  <ng-container matColumnDef="startDateTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time">
      <ion-label translate>TRIP.OPERATION.LIST.START_DATE_TIME</ion-label>
    </mat-header-cell>
    <mat-cell class="mat-cell-date-time" *matCellDef="let row">
      <ion-text>{{row.currentData.startDateTime|dateFormat:{time:true} }}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- start position -->
  <ng-container matColumnDef="startPosition">
    <mat-header-cell *matHeaderCellDef>
      <ion-label translate>TRIP.OPERATION.LIST.START_POSITION</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text class="ion-text-end">
        {{ row.currentData.startPosition?.latitude  | latitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}<br/>
        {{ row.currentData.startPosition?.longitude | longitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- end date time -->
  <ng-container matColumnDef="endDateTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-date-time hidden-xs">
      <ion-label translate>TRIP.OPERATION.LIST.END_DATE_TIME</ion-label>
    </mat-header-cell>
    <mat-cell class="mat-cell-date-time hidden-xs" *matCellDef="let row">
      {{row.currentData.endDateTime|dateFormat:{time:true} }}
    </mat-cell>
  </ng-container>

  <!-- End position -->
  <ng-container matColumnDef="endPosition">
    <mat-header-cell *matHeaderCellDef>
      <ion-label translate>TRIP.OPERATION.LIST.END_POSITION</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text class="ion-text-end">
        {{row.currentData.endPosition?.latitude  | latitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}<br/>
        {{row.currentData.endPosition?.longitude | longitudeFormat: {pattern: latLongPattern, placeholderChar: '0'} }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- Comments column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-icon color="medium" name="chatbox" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled"
           [class.mat-row-selected]="selectedRow === row"
           (click)="clickRow($event, row)"
  ></mat-row>
</mat-table>

<!-- Paginator: not need
<ion-row no-padding>
  <ion-col no-padding col-12>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 50, 100, 200]">
    </mat-paginator>
  </ion-col>
</ion-row>
-->
