:host {
  .table-container {
    height: calc(100vh - var(--table-container-offset, 0));
  }
}

.mat-header-row,
.mat-row {
  max-height: 140px;
  padding: 0 0;

  .mat-column-id {
    min-width: 30px;
    max-width: 30px;
  }


  .mat-column-physicalGear,
  .mat-column-targetSpecies {
    min-width: 120px;
  }

  .mat-column-endPosition,
  .mat-column-startPosition {
    min-width: 200px;
  }

  .mat-column-actions {
    min-width: 40px;
    width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
