<app-toolbar [title]="$title | async" color="primary"
             [hasValidate]="!loading && enabled"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <button mat-icon-button *ngIf="enabled"
          [matMenuTriggerFor]="optionsMenu"
          [title]=" 'COMMON.BTN_OPTIONS'|translate">
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <button mat-menu-item *ngIf="!isNewData" (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>
</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">

  <mat-tab-group #tabGroup [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)"
                 (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)"
                 [dynamicHeight]="mobile ? enableSwipe : false"
                 [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'">

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>TRIP.OPERATION.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger"
                  *ngIf="submitted && (opeForm.invalid || measurementsForm.invalid)"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="error||opeForm.error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" [innerHTML]="error||opeForm.error|translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">

        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">
            <!-- form -->
            <form-operation #opeForm
                            (onSubmit)="save($event)" [showError]="false"
                            [usageMode]="usageMode"
                            [tabindex]="1"
                            [debug]="debug">

              <!-- Other features (Measurements) -->
              <ion-grid class="ion-no-padding ion-padding-top" [class.cdk-visually-hidden]="(measurementsForm.$pmfms|async)?.length === 0">
                <ion-row>
                  <ion-col size="12" size-md="2" size-lg="3">
                    <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.OTHER_FEATURES</ion-label>
                  </ion-col>
                  <ion-col>
                    <app-form-measurements #measurementsForm
                                           entityName="VesselUseMeasurement"
                                           [forceOptional]="isOnFieldMode"
                                           [acquisitionLevel]="acquisitionLevel"
                                           [debug]="debug"
                                           [program]="programSubject|async"
                                           [tabindex]="30">
                    </app-form-measurements>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form-operation>
          </ion-col>
          <ion-col class="ion-no-padding" size="12" size-xl="3" *ngIf="!mobile && data?.updateDate">
            <entity-metadata [value]="data"></entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: Catch -->
    <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_CATCH'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>line_style</mat-icon>
        <ion-label translate>TRIP.OPERATION.EDIT.TAB_CATCH</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && catchBatchForm.invalid"></ion-icon>
      </ng-template>

      <!-- catch batch form -->
      <div [hidden]="!catchBatchForm.hasPmfms" class="ion-padding">
        <form-catch-batch #catchBatchForm
                          (onSubmit)="save($event)" [showError]="false" [debug]="debug"
                          acquisitionLevel="CATCH_BATCH"
                          [program]="programSubject|async"
                          [tabindex]="200">
        </form-catch-batch>
      </div>

      <!-- tab group for batches -->
      <mat-tab-group #batchTabGroup
                     [hidden]="!showBatchTables"
                     [class.mat-tab-group-no-header]="mobile"
                     [(selectedIndex)]="selectedBatchTabIndex"
                     (selectedTabChange)="onBatchTabChange($event)"
                     animationDuration="0s">

        <!-- TAB: species list -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon><ion-icon name="cube"></ion-icon></mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES</ion-label>
            <ion-icon slot="end" name="alert" color="danger"
                      *ngIf="submitted && (batchGroupsTable.invalid || false)"></ion-icon>
          </ng-template>

          <!-- Batches group -->
          <app-batch-groups-table #batchGroupsTable
                                  acquisitionLevel="SORTING_BATCH"
                                  [program]="programSubject | async"
                                  [usageMode]="usageMode"
                                  [debug]="debug"
                                  [showTaxonGroupColumn]="true"
                                  [showTaxonNameColumn]="true"
                                  [showCommentsColumn]="false"
                                  (onSubBatchesChanges)="onSubBatchesChanges($event)">
          </app-batch-groups-table>

          <!-- final space-->
          <p visible-xs visible-sm visible-mobile>&nbsp;</p>
        </mat-tab>

        <!-- TAB: individual measure -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL'|translate}}"
                 [disabled]="!enableSubBatchesTable || mobile">
          <ng-template mat-tab-label>
            <mat-icon>assessment</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL</ion-label>
            <ion-icon slot="end" name="alert" color="danger"
                      *ngIf="submitted && (subBatchesTable.invalid || false)"></ion-icon>
          </ng-template>

          <app-sub-batches-table #subBatchesTable
                                 acquisitionLevel="SORTING_BATCH_INDIVIDUAL"
                                 [program]="programSubject | async"
                                 [qvPmfm]="batchGroupsTable.qvPmfm"
                                 [usageMode]="usageMode"
                                 [debug]="debug"
                                 [tabindex]="200">
          </app-sub-batches-table>

          <!-- final space
          <p visible-xs visible-sm visible-mobile>&nbsp;</p>-->
        </mat-tab>

        <!-- TAB: Individual releases
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>room</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
          </ng-template>

          <table-sub-samples #individualReleaseTable [debug]="debug" acquisitionLevel="INDIVIDUAL_RELEASE"></table-sub-samples>
        </mat-tab>-->
      </mat-tab-group>

      <!-- tab group for survival test -->
      <mat-tab-group #sampleTabGroup
                     animationDuration="0s"
                     [hidden]="!showSampleTables"
                     [(selectedIndex)]="selectedSampleTabIndex"
                     (selectedTabChange)="onSampleTabChange($event)">

        <!-- TAB: Survival tests -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_SURVIVAL_TEST'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>timer</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_SURVIVAL_TEST</ion-label>
            <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && samplesTable.invalid"></ion-icon>
          </ng-template>

          <app-samples-table #samplesTable [debug]="debug"
                             acquisitionLevel="SURVIVAL_TEST"
                             [program]="programSubject|async"
                             [usageMode]="usageMode"
                             [showLabelColumn]="false"
                             [showDateTimeColumn]="true"
                             [showTaxonNameColumn]="true"
                             [showTaxonGroupColumn]="false">
          </app-samples-table>

          <!-- final space-->
          <p visible-xs visible-sm visible-mobile>&nbsp;</p>
        </mat-tab>

        <!-- TAB: Individual monitoring  -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_MONITORING'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>center_focus_strong</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_MONITORING</ion-label>
            <ion-icon slot="end" name="alert" color="danger"
                      *ngIf="submitted && individualMonitoringTable.invalid"></ion-icon>
          </ng-template>

          <app-individual-monitoring-table #individualMonitoringTable [debug]="true"
                                           [program]="programSubject | async"
                                           [usageMode]="usageMode"
          ></app-individual-monitoring-table>

          <!-- final space-->
          <p visible-xs visible-sm visible-mobile>&nbsp;</p>
        </mat-tab>

        <!-- TAB: Individual releases  -->
        <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES'|translate}}">
          <ng-template mat-tab-label>
            <mat-icon>room</mat-icon>
            <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES</ion-label>
            <ion-icon slot="end" name="alert" color="danger"
                      *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
          </ng-template>

          <app-sub-samples-table #individualReleaseTable [debug]="debug"
                                 acquisitionLevel="INDIVIDUAL_RELEASE"
                                 [program]="programSubject | async"
                                 [showLabelColumn]="false">
          </app-sub-samples-table>

          <!-- final space-->
          <p visible-xs visible-sm visible-mobile>&nbsp;</p>
        </mat-tab>
      </mat-tab-group>

    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <form-buttons-bar (onCancel)="cancel()" (onSave)="save($event)" [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="enabled && selectedTabIndex === 1" @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>

  <ion-fab-button color="tertiary" (click)="onNewFabButtonClick($event)">
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>

</ion-fab>
