.mat-header-row,
.mat-row {
  max-height: 140px;
  padding: 0 0;
  z-index: 999;

  .mat-column-endPosition,
  .mat-column-startPosition {
    padding-left: 0;
    max-width: 200px;
    ion-col {
      padding: 0;
    }
  }
}
