<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Autocomplete field test page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">


    <ion-grid>

      <!-- debugging memory leak -->
      <ion-row><ion-col><ion-text><h4>Debug memory leak</h4></ion-text></ion-col></ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-button *ngIf="!memoryTimer" (click)="startMemoryTimer()">Start timer</ion-button>
          <ion-button *ngIf="memoryTimer" (click)="stopMemoryTimer()">Stop timer</ion-button>
        </ion-col>
        <ion-col size="2">
          <mat-form-field floatLabel="always">
            <input matInput type="hidden" placeholder="Items type">
            <mat-select (selectionChange)="memoryAutocompleteFieldName=$event.value" [value]="memoryAutocompleteFieldName">
              <mat-option value="entity-$items">Observable</mat-option>
              <mat-option value="entity-suggestFn">Suggest function</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
        <ion-col>
          <mat-autocomplete-field formControlName="entity"
                                  *ngIf="!memoryHide && memoryAutocompleteFieldName"
                                  [config]="autocompleteFields.get(memoryAutocompleteFieldName)"
                                  [mobile]="true"
                                  [compareWith]="compareWithFn"
                                  [logPrefix]="'[combo-mobile-2]'"
          ></mat-autocomplete-field>
        </ion-col>
      </ion-row>


      <!-- mobile -->
      <ion-row><ion-col><ion-text><h4>Mobile mode</h4></ion-text></ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Suggest() function
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>mobile: true, suggestFn: (searchText, filter) =&gt; any[]</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-suggestFn')"
                                      [mobile]="true"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-mobile-1]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Items is an Observable
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>mobile: true, items: Observable&lt;any[]&gt;</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [mobile]="true"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-mobile-2]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Control value if missing in items
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>mobile: true, items: Observable&lt;any[]&gt;</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="missingEntity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [mobile]="true"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-mobile-2]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Disabled control
                </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="disableEntity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [mobile]="true"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-mobile-2]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="3" offset="9">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Large combo
                </ion-label>
                <ion-card-subtitle>
                  <ion-text color="medium">
                    <small><pre>class="min-width-large"</pre></small>
                  </ion-text>
                </ion-card-subtitle>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-items-large')"
                                      [mobile]="true"
                                      class="min-width-large"
                                      panelWidth="400px"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-large]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- desktop mode -->
      <ion-row><ion-col><ion-text><h4>Desktop mode</h4></ion-text></ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">
                  Items is an array
                </ion-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>items: [], value: {{stringify(form.controls.entity.value)}}</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
            <mat-autocomplete-field formControlName="entity"
                                    [config]="autocompleteFields.get('entity-items')"
                                    [logPrefix]="'[combo-desktop-1]'"
                                    [compareWith]="compareWithFn"
                                    [mobile]="false"
            ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-text color="primary">
                  Items is an Observable
                </ion-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>items: Observable&lt;any[]&gt;</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [logPrefix]="'[combo-desktop-2]'"
                                      [compareWith]="compareWithFn"
                                      [mobile]="false"
              ></mat-autocomplete-field>
            </ion-card-content>

          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Control value if missing in items
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>items: Observable&lt;any[]&gt;</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="missingEntity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-missing]'"
                                      [mobile]="false"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Full size panel
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>class: 'mat-autocomplete-panel-full-size'</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [mobile]="false"
                                      [class]="'mat-autocomplete-panel-full-size'"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-full-size]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Disabled control
                </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="disableEntity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [mobile]="false"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-disable]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Readonly control
                </ion-label>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-$items')"
                                      [mobile]="false"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-readonly]'"
                                      [readonly]="true"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="9" >
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Full size combo
                </ion-label>
                <ion-card-subtitle>
                  <ion-text color="medium">
                    <small><pre>class="mat-autocomplete-panel-full-size"</pre></small>
                  </ion-text>
                </ion-card-subtitle>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-items-large')"
                                      [mobile]="false"
                                      class="mat-autocomplete-panel-full-size"
                                      panelWidth="100vw"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-full-size]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="3" >
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Large combo
                </ion-label>
                <ion-card-subtitle>
                  <ion-text color="medium">
                    <small><pre>panelWidth: string</pre></small>
                  </ion-text>
                </ion-card-subtitle>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <mat-autocomplete-field formControlName="entity"
                                      [config]="autocompleteFields.get('entity-items-large')"
                                      [mobile]="false"
                                      panelWidth="400px"
                                      [compareWith]="compareWithFn"
                                      [logPrefix]="'[combo-desktop-large]'"
              ></mat-autocomplete-field>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>




    </ion-grid>

  </form>

</ion-content>
