<app-toolbar [title]="title | async" color="primary" [hasValidate]="!loading" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'PROGRAM.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="information-circle"></ion-icon>
        </mat-icon>
        <ion-label translate>PROGRAM.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && referentialForm.invalid"></ion-icon>
      </ng-template>

      <div padding>
        <!-- error -->
        <ion-item *ngIf="referentialForm.error || error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="(referentialForm.error || error) | translate"></ion-label>
        </ion-item>

        <ion-grid no-padding>

          <ion-row no-padding>
            <ion-col no-padding padding-top>
              <!-- base form-->
              <app-referential-form #referentialForm
                                    [form]="form"
                                    [showError]="false"
                                    [debug]="debug"
                                    (onSubmit)="save($event)">

                <!-- properties divider-->
                <h3>
                  <ion-text translate>PROGRAM.PROPERTIES_DIVIDER</ion-text>
                </h3>

                <!-- Properties -->
                <form [formGroup]="form" class="form-container">
                  <ion-grid formArrayName="properties" no-padding>
                    <ion-row no-padding>
                      <ion-col no-padding size="12" align-self-end>
                        <span class="toolbar-spacer"></span>

                        <!-- Show more options -->
                        <ion-button color="light" *ngIf="propertiesForm?.length === 0"
                                    [title]="'PROGRAM.BTN_SHOW_MORE_HELP'|translate"
                                    (click)="propertiesFormHelper.add()">
                          <ion-label translate>COMMON.BTN_SHOW_MORE</ion-label>
                          <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                    <ng-container *ngFor="let propertyForm of propertiesForm?.controls; let i=index">
                      <ion-row no-padding [formGroupName]="i">

                        <!-- property key -->
                        <ion-col size="6" no-padding>
                          <mat-form-field floatLabel="never">
                            <mat-select [formControl]="propertyForm.controls.key"
                                        [placeholder]="'PROGRAM.PROPERTY_KEY'|translate"
                                        (selectionChange)="updatePropertyDefinition(i)"
                                        [tabindex]="20+i*2"
                                        required>
                              <mat-option *ngFor="let item of propertyDefinitions" [value]="item.key">{{ item.label | translate }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="propertyForm.controls.key.hasError('required') && !propertiesFormHelper.isLast(i)"
                                       translate>ERROR.FIELD_REQUIRED
                            </mat-error>
                          </mat-form-field>
                        </ion-col>

                        <!-- property value -->
                        <ion-col no-padding padding-left>
                          <app-form-field *ngIf="getPropertyDefinition(i); let definition"
                                           [definition]="definition"
                                           [formControl]="propertyForm.controls.value"
                                           [placeholder]="'PROGRAM.PROPERTY_VALUE' | translate"
                                           [required]="true"
                                           [tabindex]="20+i*2">
                          </app-form-field>
                        </ion-col>

                        <ion-col size="auto" no-padding>
                          <button type="button" mat-icon-button color="light"
                                  [disabled]="loading"
                                  [title]="'COMMON.BTN_DELETE'|translate"
                                  (click)="propertiesFormHelper.removeAt(i)">
                            <mat-icon>close</mat-icon>
                          </button>
                          <button [hidden]="!propertiesFormHelper.isLast(i)"
                                  type="button"
                                  mat-icon-button
                                  color="light"
                                  [disabled]="loading"
                                  [title]="'CONFIGURATION.BTN_ADD_PROPERTY'|translate"
                                  (click)="propertiesFormHelper.add()">
                            <mat-icon>add</mat-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ng-container>
                  </ion-grid>
                </form>

              </app-referential-form>
            </ion-col>

            <ion-col no-padding size="12" size-xl="3">
              <entity-metadata [value]="data"></entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </mat-tab>

    <!-- TAB: strategies -->
    <mat-tab label="{{'PROGRAM.TAB_STRATEGIES'|translate}}" [disabled]="isNewData">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="contract"></ion-icon>
        </mat-icon>
        <ion-label translate>PROGRAM.TAB_STRATEGIES</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="strategiesTable.invalid"></ion-icon>
      </ng-template>

      <div no-padding>

        <!-- error -->
        <ion-item *ngIf="strategiesTable.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="strategiesTable.error|translate"></ion-label>
        </ion-item>

        <app-strategy-table #strategiesTable
                            canEdit="canEdit">
        </app-strategy-table>
      </div>
    </mat-tab>

    <!-- TAB: access rights -->
    <mat-tab label="{{'PROGRAM.TAB_ACCESS_RIGHTS'|translate}}" [disabled]="isNewData">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="people"></ion-icon>
        </mat-icon>
        <ion-label translate>PROGRAM.TAB_ACCESS_RIGHTS</ion-label>
        <!--        <ion-icon slot="end" name="alert" color="danger" *ngIf="samplesTable.invalid"></ion-icon>-->
      </ng-template>

      <div padding>

        <h2>Coming soon !</h2>
      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>

<!-- FAB Button: add strategy -->
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="strategiesTable.enabled  && selectedTabIndex==1" @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="strategiesTable.addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
