<app-toolbar [title]="$title | async" color="primary" [hasValidate]="!loading" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner slot="end" *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group  class="mat-tab-disabled-hidden" #tabGroup
                  [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="tabGroupAnimationDuration"
                 dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'PROGRAM.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>PROGRAM.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && referentialForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <!-- error -->
        <ion-item *ngIf="referentialForm.error || error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="(referentialForm.error || error) | translate"></ion-label>
        </ion-item>

        <ion-grid class="ion-no-padding">

          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-padding-top">
              <!-- base form-->
              <app-referential-form #referentialForm
                                    [form]="form"
                                    [showError]="false"
                                    [debug]="debug"
                                    (onSubmit)="save($event)">

                <app-form-field [definition]="fieldDefinitions.taxonGroupType" [formControl]="form.controls.taxonGroupType">
                </app-form-field>

                <app-form-field [definition]="fieldDefinitions.gearClassification" [formControl]="form.controls.gearClassification">
                </app-form-field>

                <mat-form-field floatLabel="always">
                  <input matInput class="cdk-visually-hidden" type="text"
                         [placeholder]="'PROGRAM.LOCATION_CLASSIFICATION'|translate">
                  <app-list-form #locationClassificationList
                                 [formArray]="form.controls.locationClassifications"
                                 [displayWith]="referentialToString"
                                 [equals]="referentialEquals"
                                 [options]="{allowEmptyArray: false, allowMultipleSelection: false}"
                                 (onNewItem)="addLocationClassification()"></app-list-form>
                </mat-form-field>

              </app-referential-form>
            </ion-col>

            <!-- entity metadata-->
            <ion-col class="ion-no-padding" size="12" size-xl="3">
              <app-entity-metadata [value]="data"></app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </mat-tab>


    <!-- TAB: strategies -->
    <mat-tab label="{{'PROGRAM.TAB_STRATEGIES'|translate}}" [disabled]="isNewData">
      <ng-template mat-tab-label>
        <mat-icon>date_range</mat-icon>
        <ion-label>{{'PROGRAM.TAB_STRATEGIES' + i18nTabStrategiesSuffix | translate}}</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="strategiesTable?.invalid"></ion-icon>
      </ng-template>

      <div class="ion-no-padding">

        <!-- error -->
        <ion-item *ngIf="strategiesTable?.error; let strategiesTableError" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="strategiesTableError |translate"></ion-label>
        </ion-item>

        <ng-container [ngSwitch]="strategyEditor">

          <!-- Biological sampling strategy table -->
          <app-sampling-strategies-table #samplingStrategiesTable *ngSwitchCase="'sampling'"
                                         [program]="data"
                                         [canEdit]="enabled"
                                         [canDelete]="enabled"
                                         (onOpenRow)="onOpenStrategy($event)"
                                         (onNewRow)="onNewStrategy($event)">
          </app-sampling-strategies-table>

          <!-- legacy strategy table -->
          <app-strategy-table #legacyStrategiesTable *ngSwitchDefault
                              [program]="data"
                              [canEdit]="enabled"
                              [canDelete]="enabled"
                              (onOpenRow)="onOpenStrategy($event)"
                              (onNewRow)="onNewStrategy($event)">
          </app-strategy-table>

        </ng-container>
      </div>
    </mat-tab>

    <!-- TAB: properties -->
    <mat-tab label="{{'PROGRAM.TAB_PROPERTIES'|translate}}" [disabled]="isNewData">
      <ng-template mat-tab-label>
        <mat-icon matPrefix>build</mat-icon>
        <ion-label translate>PROGRAM.TAB_PROPERTIES</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="propertiesForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">

        <app-properties-form #propertiesForm [definitions]="propertyDefinitions" [options]="{allowEmptyArray: true}">

        </app-properties-form>

      </div>

    </mat-tab>

    <!-- TAB: access rights -->
    <mat-tab label="{{'PROGRAM.TAB_ACCESS_RIGHTS'|translate}}" [disabled]="isNewData">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="people"></ion-icon>
        </mat-icon>
        <ion-label translate>PROGRAM.TAB_PRIVILEGES</ion-label>
        <!--        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>-->
      </ng-template>

      <div style="height: var(--mat-tab-body-content-height)">
        <app-person-privileges-table #personsTable
                                     [title]="'PROGRAM.PRIVILEGES.TITLE'|translate"
                                     [canEdit]="enabled"
                                     [canDelete]="enabled">

        </app-person-privileges-table>
      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>

<!-- FAB Button: add strategy -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end"
         *ngIf="strategiesTable && strategiesTable.enabled  && selectedTabIndex==1" @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="onNewStrategy($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
