
<mat-toolbar>
  <ng-container *ngIf="!selection.hasValue(); else hasSelection">
    <button mat-icon-button
            hidden-xs hidden-sm hidden-mobile
            *ngIf="canEdit"
            [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button color="{{filterIsEmpty ? '' : 'primary'}}"
            [title]="'COMMON.BTN_FILTER'|translate"
            (click)="filterExpansionPanel.toggle()">
      <mat-icon>filter_list</mat-icon>
      <ion-text *ngIf="!filterIsEmpty">
        <span [innerHTML]="'COMMON.TABLE.FILTERED_PARENTHESIS'|translate"></span></ion-text>
    </button>
  </ng-container>
  <ng-template #hasSelection>
    <button mat-icon-button *ngIf="canDelete" [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection()"
            class="hidden-xs hidden-sm">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- search -->
<mat-expansion-panel #filterExpansionPanel class="ion-no-padding">
  <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

    <ion-grid>


      <ion-row>
        <ion-col>
          <!-- search text -->
          <mat-form-field>
            <input matInput [placeholder]="'VESSEL.LIST.FILTER.SEARCH_TEXT'|translate" formControlName="searchText">

            <button mat-button matSuffix mat-icon-button tabindex="-1"
                    type="button"
                    (click)="filterForm.controls.searchText.reset()"
                    [hidden]="filterForm.disabled || !filterForm.controls.searchText.value">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- date -->
        <ion-col>
          <mat-date-time formControlName="date" [placeholder]="'VESSEL.LIST.FILTER.DATE'|translate" [displayTime]="false"
                         [clearable]="true">
            <ion-icon matPrefix name="calendar"></ion-icon>
          </mat-date-time>
        </ion-col>

        <!-- status -->
        <ion-col>
          <mat-form-field>
            <mat-select formControlName="statusId" [placeholder]=" 'REFERENTIAL.STATUS'|translate" >
              <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
              <mat-option *ngFor="let item of statusList" [value]="item.id">
                <ion-icon [name]="item.icon"></ion-icon>
                {{ item.label |translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <mat-action-row>
    <!-- Counter  -->
    <ion-label [hidden]="($loading|async) || filterForm.dirty" [color]="resultsLength === 0 && 'danger'"
               class="ion-padding">
      {{ (resultsLength ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (resultsLength | numberFormat)} }}
    </ion-label>

    <div class="toolbar-spacer"></div>

    <!-- Search button -->
    <ion-button mat-button
                *ngIf="!mobile"
                [color]="filterForm.dirty ? 'tertiary' : undefined"
                [fill]="filterForm.dirty ? 'solid' : 'clear'"
                (click)="onRefresh.emit()">
      <ion-text translate>COMMON.BTN_SEARCH</ion-text>
    </ion-button>
  </mat-action-row>
</mat-expansion-panel>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
</ion-item>

<mat-table #table [dataSource]="dataSource" class="trips-table" matSort matSortActive="features.exteriorMarking"
  matSortDirection="asc" matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
      <span *ngIf="!loading">#</span>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      {{ row.currentData.id }}
    </mat-cell>
  </ng-container>

  <!-- Start date column -->
  <ng-container matColumnDef="features.startDate">
    <mat-header-cell class="hidden-xs hidden-sm mat-cell-date-time" *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.FEATURES.START_DATE</span>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm mat-cell-date-time" *matCellDef="let row">
      <ion-text>{{ row.currentData?.features.startDate|dateFormat }}</ion-text>
    </mat-cell>
  </ng-container>


  <!-- Status column  -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>REFERENTIAL.STATUS</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ng-container *ngIf="statusById[row.currentData.statusId]; let status">
        <ion-icon matPrefix *ngIf="status"
                  [color]="statusToColor(status.id)"
                  [name]="status.icon"
                  [title]="status.label | translate"
        ></ion-icon>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- End date column -->
  <ng-container matColumnDef="features.endDate">
    <mat-header-cell class="hidden-xs hidden-sm mat-cell-date-time" *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.FEATURES.END_DATE</span>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm mat-cell-date-time" *matCellDef="let row">
      <ion-text>{{ row.currentData?.features.endDate|dateFormat }}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- Exterior marking column -->
  <ng-container matColumnDef="features.exteriorMarking">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.FEATURES.EXTERIOR_MARKING</span>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <ion-text>{{row.currentData.features?.exteriorMarking}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- Registration Code column -->
  <ng-container matColumnDef="registration.registrationCode">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.REGISTRATION.REGISTRATION_CODE</span>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <ion-text>{{row.currentData.registration?.registrationCode}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="features.name">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.FEATURES.NAME</span>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <ion-text>{{row.currentData.features?.name}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- Vessel Type -->
  <ng-container matColumnDef="vesselType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.VESSEL_TYPE</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text>{{referentialToString(row.currentData.vesselType, ['name'])}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- base port location -->
  <ng-container matColumnDef="features.basePortLocation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>VESSEL.FEATURES.BASE_PORT_LOCATION</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <ion-text>{{referentialToString(row.currentData.features?.basePortLocation)}}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- Comments column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-icon color="primary" name="chatbox" *ngIf="row.currentData.features?.comments" slot="icon-only"
                [title]="row.currentData.features?.comments"></ion-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="inlineEdition">
      <span></span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="inlineEdition">
      <button mat-icon-button color="light" *ngIf="row.editing" [title]="'COMMON.BTN_UNDO'|translate" (click)="cancelOrDelete($event, row)">
        <mat-icon>undo</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled" (click)="clickRow($event, row)"></mat-row>
</mat-table>

<!-- Bottom buttons -->
<ion-row class="ion-no-padding">
  <ion-col></ion-col>
  <ion-col class="ion-no-padding" size="auto">
    <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
    </mat-paginator>
  </ion-col>
</ion-row>


<!-- Add Button  -->
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="canEdit && showFabButton"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
