<app-toolbar [title]="'VESSEL.LIST.TITLE'|translate" color="primary" (onValidate)="save() "
             [hasValidate]="dirty && !loading"
             [canGoBack]="false">
</app-toolbar>

<ion-content class="ion-no-padding">

  <mat-toolbar>
    <ng-container *ngIf="!selection.hasValue(); else hasSelection">
      <button mat-icon-button
              hidden-xs hidden-sm hidden-mobile
              *ngIf="canEdit"
              [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-button color="{{filterIsEmpty ? '' : 'primary'}}"
              [title]="'COMMON.BTN_FILTER'|translate"
              (click)="filterExpansionPanel.toggle()">
        <mat-icon>filter_list</mat-icon>
        <ion-text *ngIf="!filterIsEmpty">
          <span [innerHTML]="'COMMON.TABLE.FILTERED_PARENTHESIS'|translate"></span></ion-text>
      </button>
    </ng-container>
    <ng-template #hasSelection>
      <button mat-icon-button *ngIf="canDelete" [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection()"
              class="hidden-xs hidden-sm">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

    <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <div class="toolbar-spacer"></div>

    <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="ion-no-padding">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- date -->
            <mat-date-time formControlName="date" [placeholder]="'VESSEL.LIST.FILTER.DATE'|translate" [displayTime]="false">
              <ion-icon matPrefix name="calendar"></ion-icon>
            </mat-date-time>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <!-- search text -->
            <mat-form-field>
              <input matInput [placeholder]="'VESSEL.LIST.FILTER.SEARCH_TEXT'|translate" formControlName="searchText">
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <!-- status -->
            <mat-form-field>
              <mat-select formControlName="statusId" [placeholder]=" 'REFERENTIAL.STATUS'|translate" >
                <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
                <mat-option *ngFor="let item of statusList" [value]="item.id">
                  <ion-icon [name]="item.icon"></ion-icon>
                  {{ item.label |translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="($loading|async) || filterForm.dirty" [color]="resultsLength === 0 && 'danger'"
                 class="ion-padding">
        {{ (resultsLength ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (resultsLength | numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- Search button -->
      <ion-button mat-button
                  *ngIf="!mobile"
                  [color]="filterForm.dirty ? 'tertiary' : undefined"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="onRefresh.emit()">
        <ion-text translate>COMMON.BTN_SEARCH</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <mat-table #table [dataSource]="dataSource" class="trips-table " matSort matSortActive="exteriorMarking"
    matSortDirection="asc" matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef [class.hidden]="!canEdit">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.hidden]="!canEdit">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span *ngIf="!loading">#</span>
        <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        {{ row.currentData.vesselId }}
        <mat-icon *ngIf="row.validator.hasErrors">search</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Start date column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell class="hidden-xs hidden-sm mat-cell-date-time" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.START_DATE</span>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm mat-cell-date-time" *matCellDef="let row">
        <mat-date-time floatLabel="never" [formControl]="row.validator.controls['startDate']" [displayTime]="false"
          required>
        </mat-date-time>
      </mat-cell>
    </ng-container>

    <!-- End date column -->
    <ng-container matColumnDef="endDate">
      <mat-header-cell class="hidden-xs hidden-sm mat-cell-date-time" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.END_DATE</span>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm mat-cell-date-time" *matCellDef="let row">
        <mat-date-time floatLabel="never" [formControl]="row.validator.controls['endDate']" [displayTime]="false"
          required>
        </mat-date-time>
      </mat-cell>
    </ng-container>

    <!-- Exterior marking column -->
    <ng-container matColumnDef="exteriorMarking">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.EXTERIOR_MARKING</span>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['exteriorMarking']" [placeholder]="'VESSEL.EXTERIOR_MARKING'|translate"
            [appAutofocus]="row.id &lt; 0 && row.editing" [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['exteriorMarking'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Registration Code column -->
    <ng-container matColumnDef="registrationCode">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.REGISTRATION_CODE</span>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['registrationCode']" [placeholder]="'VESSEL.REGISTRATION_CODE'|translate"
            [appAutofocus]="row.id &lt; 0 && row.editing" [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['registrationCode'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="name">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span translate>VESSEL.NAME</span>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['name']" [placeholder]="'VESSEL.NAME'|translate"
            [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['name'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- base port location -->
    <ng-container matColumnDef="basePortLocation">
      <mat-header-cell *matHeaderCellDef>
        <span translate>VESSEL.BASE_PORT_LOCATION</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['basePortLocation']" [matAutocomplete]="autoLocation"
            [readonly]="!row.editing" required>
          <mat-error *ngIf="row.validator.controls['basePortLocation'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>

        </mat-form-field>

        <mat-autocomplete #autoLocation="matAutocomplete" [displayWith]="referentialToString">
          <mat-option *ngFor="let location of locations | async" [value]="location">
            {{ location.label }} - {{ location.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-cell>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-icon color="primary" name="chatboxes" *ngIf="row.currentData.comments" slot="icon-only" [title]="row.currentData.comments"></ion-icon>
      </mat-cell>
    </ng-container>

    <!-- Status column  -->
    <ng-container matColumnDef="vesselStatusId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.STATUS</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <ion-icon matPrefix *ngIf="row.validator.controls['vesselStatusId'].value &gt;=0" [name]="statusById[row.validator.controls['vesselStatusId'].value]?.icon"></ion-icon>

          <mat-select [formControl]="row.validator.controls['vesselStatusId']" [placeholder]="'REFERENTIAL.STATUS'|translate">
            <mat-select-trigger>
              <span *ngIf="row.validator.controls['vesselStatusId'].value &gt;=0">
                {{ statusById[row.validator.controls['vesselStatusId'].value]?.label | translate}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of statusList" [value]="item.id">
              <ion-icon [name]="item.icon"></ion-icon>
              {{ item.label |translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls['vesselStatusId'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <span></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button small color="light" *ngIf="row.editing" [title]="'COMMON.BTN_UNDO'|translate" (click)="cancelOrDelete($event, row)">
          <mat-icon>undo</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-disabled" (click)="clickRow($event, row)"></mat-row>
  </mat-table>

  <!-- Bottom buttons -->
  <ion-row class="ion-no-padding">

    <ion-col></ion-col>

    <ion-col class="ion-no-padding" size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>


</ion-content>

<!--<ion-footer hidden-xs hidden-sm hidden-mobile>-->
<!--  <form-buttons-bar (onCancel)="cancel($event) " (onSave)="save() " [disabled]="!dirty || loading " [disabledCancel]="!dirty || loading"></form-buttons-bar>-->
<!--</ion-footer>-->

<!-- Add Button  -->
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="canEdit"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
