.mat-expansion-panel {
  margin-bottom: 5px;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    ion-label {
      line-height: 36px;
    }
  }
}

.mat-table {

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }

  .mat-header-row,
  .mat-row {
    .mat-column-status {
      max-width: 40px;
      padding-left: 0px;
    }
  }

}
