<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{'COMMON.DISPLAYED_COLUMNS'|translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <!-- See doc: https://beta.ionicframework.com/docs/api/reorder/ -->

    <ion-reorder-group disabled="false" (ionItemReorder)="onRenderItems($event)">
      <ion-item *ngFor="let column of columns">
        <ion-label>{{column.label|translate}}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
        <ion-toggle slot="end"
                    *ngIf="column.canHide"
                    [checked]="column.visible" (ionChange)="column.visible=!column.visible"></ion-toggle>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>


<ion-footer hidden-xs hidden-sm hidden-mobile>
  <ion-toolbar>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button fill="solid" (click)="close()" color="tertiary">
          <ion-label translate>COMMON.BTN_APPLY</ion-label>
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
