:host {
  display: inline-block;
  width: 100%;
  min-width: 140px;
  position: relative;
  --ion-grid-column-padding: 0;
}

mat-form-field {
  .datetime-md {
    padding: 0 !important;
  }
}

ion-row {
  flex-wrap: nowrap;

  ion-col.text {
    min-width: 80px;
  }
  ion-col.sign {
    min-width: 60px;
    max-width: 70px;
  }
}

mat-form-field {
  width: 100%;

  .mat-form-field-subscript-wrapper {
    overflow: visible;
    top: 100%;
    .mat-form-field-hint-wrapper {
      display: flex;

      .mat-form-field-hint-spacer {
        flex: 1 0 1em;
      }
    }
  }
}

mat-error {
  text-align: right;
  width: 100%
}
