<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid>

    <ion-row no-padding>
      <!-- Taxon group -->
      <ion-col no-padding
               size="12" size-md=""
               [hidden]="!showTaxonGroup">
        <mat-autocomplete-field floatLabel="never"
                                formControlName="taxonGroup"
                                [appAutofocus]="enabled && showTaxonGroup && !mobile"
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_GROUP'|translate"
                                tabindex="1"
                                [required]="showTaxonGroup"
                                [config]="autocompleteFields.taxonGroup">
        </mat-autocomplete-field>

<!--        <mat-form-field>-->
<!--          <input matInput formControlName="taxonGroup"-->
<!--                 [matAutocomplete]="autoTaxonGroup"-->
<!--                 [appAutofocus]="enabled && showTaxonGroup && !mobile"-->
<!--                 [placeholder]="'TRIP.BATCH.EDIT.TAXON_GROUP'|translate"-->
<!--                 tabindex="2"-->
<!--                 (blur)="applyImplicitValue('taxonGroup')"-->
<!--                 (click)="selectInputContent($event) && onShowTaxonGroupDropdown.emit($event)"-->
<!--                 [required]="showTaxonGroup">-->
<!--          <mat-error *ngIf="form.controls.taxonGroup.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>-->
<!--          <mat-error *ngIf="form.controls.taxonGroup.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>-->

<!--          <button mat-button matSuffix mat-icon-button tabindex="-1"-->
<!--                  type="button"-->
<!--                  (click)="onShowTaxonGroupDropdown.emit($event)"-->
<!--                  [hidden]="form.disabled">-->
<!--            <mat-icon>arrow_drop_down</mat-icon>-->
<!--          </button>-->

<!--          <mat-autocomplete autoActiveFirstOption #autoTaxonGroup="matAutocomplete" [displayWith]="referentialToString">-->
<!--            <ion-row class="mat-autocomplete-header">-->
<!--              <ion-col size="3">-->
<!--                <ion-text translate>REFERENTIAL.LABEL</ion-text>-->
<!--              </ion-col>-->
<!--              <ion-col>-->
<!--                <ion-text translate>REFERENTIAL.NAME</ion-text>-->
<!--              </ion-col>-->
<!--            </ion-row>-->
<!--            <mat-option *ngFor="let item of $taxonGroups | async" [value]="item" no-padding>-->
<!--              <ion-row>-->
<!--                <ion-col size="3"-->
<!--                         [innerHTML]="item.label | highlight: {search: form.controls.taxonGroup.value }"></ion-col>-->
<!--                <ion-col [innerHTML]="item.name | highlight: {search: form.controls.taxonGroup.value }"></ion-col>-->
<!--              </ion-row>-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--        </mat-form-field>-->
      </ion-col>

      <!-- Taxon name (scientific species) -->
      <ion-col no-padding padding-left no-padding-xs no-padding-sm
               size="12" size-md=""
               *ngIf="showTaxonName">
        <mat-autocomplete-field floatLabel="never"
                                formControlName="taxonName"
                                [appAutofocus]="enabled && !mobile && !showTaxonGroup && showTaxonName"
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                                tabindex="2"
                                [required]="showTaxonName"
                                [config]="autocompleteFields.taxonName">
        </mat-autocomplete-field>

<!--        <mat-form-field>-->
<!--          <input matInput formControlName="taxonName"-->
<!--                 [matAutocomplete]="autoTaxonName"-->
<!--                 [appAutofocus]="enabled && !mobile && !showTaxonGroup && showTaxonName"-->
<!--                 [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"-->
<!--                 (blur)="applyImplicitValue('taxonName')"-->
<!--                 (click)="selectInputContent($event) && onShowTaxonNameDropdown.emit($event)"-->
<!--                 tabindex="2"-->
<!--                 [required]="showTaxonName">-->
<!--          <mat-error *ngIf="form.controls.taxonName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>-->
<!--          <mat-error *ngIf="form.controls.taxonName.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>-->

<!--          <button mat-button matSuffix mat-icon-button tabindex="-1"-->
<!--                  type="button"-->
<!--                  (click)="onShowTaxonNameDropdown.emit($event)"-->
<!--                  [hidden]="form.disabled">-->
<!--            <mat-icon>arrow_drop_down</mat-icon>-->
<!--          </button>-->

<!--          <mat-autocomplete autoActiveFirstOption #autoTaxonName="matAutocomplete" [displayWith]="referentialToString">-->
<!--            <ion-row class="mat-autocomplete-header">-->
<!--              <ion-col size="3">-->
<!--                <ion-text translate>REFERENTIAL.LABEL</ion-text>-->
<!--              </ion-col>-->
<!--              <ion-col>-->
<!--                <ion-text translate>REFERENTIAL.NAME</ion-text>-->
<!--              </ion-col>-->
<!--            </ion-row>-->
<!--            <mat-option *ngFor="let item of $taxonNames| async" [value]="item" no-padding>-->
<!--              <ion-row>-->
<!--                <ion-col size="3"-->
<!--                         [innerHTML]="item.label | highlight: {search: form.controls.taxonName.value }"></ion-col>-->
<!--                <ion-col [innerHTML]="item.name | highlight: {search: form.controls.taxonName.value }"></ion-col>-->
<!--              </ion-row>-->
<!--            </mat-option>-->
<!--          </mat-autocomplete>-->
<!--        </mat-form-field>-->


      </ion-col>
    </ion-row>

    <ion-spinner float-center *ngIf="loading"></ion-spinner>

    <!-- Measurements -->

    <ion-row no-padding
             *ngFor="let pmfm of $pmfms | async; index as i;">

      <!-- qualitative value (force 'button' style, on mobile)-->
      <ion-col no-padding *ngIf="pmfm.isQualitative; else otherField">
        <mat-form-field-measurement-qv #matInput
                                       [pmfm]="pmfm"
                                       [style]="mobile? 'button' : 'autocomplete'"
                                       [formControl]="form.controls.measurementValues.controls[pmfm.pmfmId]"
                                       [floatLabel]="floatLabel"
                                       [tabindex]="tabindex+10 + i*2"
                                       [compact]="compact"
                                       [required]="true">
        </mat-form-field-measurement-qv>
      </ion-col>

      <!-- NOT qualitative value -->
      <ng-template #otherField>
        <ion-col no-padding>
          <mat-form-field-measurement #matInput
                                      [pmfm]="pmfm"
                                      [formControl]="form.controls.measurementValues.controls[pmfm.pmfmId]"
                                      [placeholder]="(pmfm.isWeight && 'TRIP.BATCH.EDIT.TOTAL_WEIGHT')|translate"
                                      [compact]="compact"
                                      [tabindex]="tabindex+10 + i*2"
                                      [required]="true"
                                      [floatLabel]="floatLabel">
          </mat-form-field-measurement>

        </ion-col>

        <!-- is estimated weight ?-->
        <ion-col no-padding padding-left
                 size="3"
                 *ngIf="pmfm.isWeight">

          <mat-form-field floatLabel="never">
            <!-- fake input -->
            <input matInput
                   [formControl]="estimatedWeightControl"
                   [required]="true"
                   hidden
                   tabindex="-1">

            <!-- add a empty label, to force height-->
            <ion-label>&nbsp;</ion-label>

            <!-- checkbox, when compact -->
            <mat-checkbox matPrefix [formControl]="estimatedWeightControl"
                          labelPosition="after"
                          [tabindex]="tabindex+10 + i*2 + 1">
              <ion-text translate>TRIP.BATCH.EDIT.ESTIMATED_WEIGHT</ion-text>
            </mat-checkbox>
          </mat-form-field>

        </ion-col>
      </ng-template>
    </ion-row>

    <!-- Total NB individual  -->
    <ion-row no-padding *ngIf="showIndividualCount">
      <ion-col no-padding>
        <mat-form-field floatLabel="never">
          <input matInput
                 formControlName="individualCount"
                 autocomplete="off"
                 type="number"
                 step="1"
                 pattern="[0-9]*"
                 (click)="selectInputContent($event)"
                 [placeholder]="'TRIP.BATCH.EDIT.TOTAL_INDIVIDUAL_COUNT'|translate"
                 [tabindex]="tabindex + 30">

          <mat-error *ngIf="form.controls.individualCount.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('min')">
            {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') | translate:form.controls.individualCount.errors['min'] }}</mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('integer')">
            {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- Sample batch -->
    <div [hidden]="!showSampleBatch" formArrayName="children">
      <ion-row no-padding>
        <ion-col no-padding>
          <!-- checkbox, when compact -->
          <mat-checkbox [checked]="isSampling"
                        labelPosition="after"
                        [tabindex]="tabindex+31"
                        (change)="setIsSampling($event.checked)">
            <ion-text>{{'TRIP.BATCH.EDIT.IS_SAMPLING'|translate}}</ion-text>
          </mat-checkbox>
        </ion-col>
      </ion-row>

      <ion-row no-padding
        *ngFor="let sample of form.get('children')?.controls; let i=index"
        [formGroupName]="i">

        <!-- Sampling ratio -->
        <ion-col size="3" no-padding>
          <mat-form-field floatLabel="never">
            <input matInput
                   formControlName="samplingRatio"
                   type="number"
                   step="1"
                   pattern="[0-9]*"
                   (click)="selectInputContent($event)"
                   [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_RATIO'|translate"
                   [tabindex]="tabindex + 32 + i*3">
          </mat-form-field>
        </ion-col>

        <!-- Sampling individual count -->
        <ion-col no-padding padding-left>
          <mat-form-field floatLabel="never">
            <input matInput
                   formControlName="individualCount"
                   type="number"
                   step="1"
                   pattern="[0-9]*"
                   (click)="selectInputContent($event)"
                   [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_INDIVIDUAL_COUNT'|translate"
                   [tabindex]="tabindex + 32 + i*3 + 1">
          </mat-form-field>
        </ion-col>

        <!-- Sampling weight -->
        <ion-col no-padding padding-left *ngIf="defaultWeightPmfm">
          <mat-form-field-measurement [pmfm]="defaultWeightPmfm"
                                      [formControl]="sample.controls.measurementValues.controls[defaultWeightPmfm.pmfmId]"
                                      [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_WEIGHT'|translate"
                                      [compact]="compact"
                                      [tabindex]="tabindex + 32 + i*3 + 2"
                                      [floatLabel]="floatLabel">
          </mat-form-field-measurement>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

</form>
