<mat-toolbar>
  <button mat-icon-button *ngIf="!selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
    (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
    (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!--span class="toolbar-spacer"></span-->



</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm>
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>


<!-- First header row -->
<mat-table *ngIf="qvPmfm">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- taxon group (commercial species) -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- taxon name (scientific species) -->
  <ng-container matColumnDef="taxonName">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

<!--  <ng-container *ngFor="let qv of qvPmfm?.qualitativeValues; let index"  [matColumnDef]="'totalWeight-' + qv.id">-->
<!--    <mat-header-cell *matHeaderCellDef >-->
<!--      <mat-label float-center>-->
<!--        <span>Total weight</span>-->
<!--      </mat-label>-->
<!--    </mat-header-cell>-->

<!--    <mat-cell *matCellDef="let row">-->
<!--      TOTO-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
    <mat-header-cell *matHeaderCellDef class="qv" [class.even]="pmfm.id % 2 === 0"
                     [class.odd]="pmfm.id % 2 !== 0"
                     [class.show]="pmfm.pmfmId % 5 === 0">
      <mat-label float-center *ngIf="pmfm.pmfmId % 5 === 0">
        <span>{{qvPmfm.qualitativeValues[pmfm.id].name}}</span><br/>
        <mat-checkbox *ngIf="weightMethodForm"
                      [formControl]="weightMethodForm.controls[pmfm.id]"
                      labelPosition="before">
          {{'TRIP.BATCH.TABLE.ESTIMATED_WEIGHT_QUESTION'|translate}}
        </mat-checkbox>
      </mat-label>
    </mat-header-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm"></mat-header-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
      <!-- Options menu -->
      <button mat-icon-button
              [title]="'COMMON.OPTIONS'|translate"
              (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-header-cell>
  </ng-container>

  <mat-header-row class="first-header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
</mat-table>

<mat-table [dataSource]="dataSource" matSort matSortActive="rankOrder" matSortDirection="asc" matSortDisableClear
  [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell  *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell  *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label *ngIf="!loading">#</ion-label>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.rankOrder }}</mat-cell>
  </ng-container>

  <!-- taxon group (commercial species) -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.BATCH.TABLE.TAXON_GROUP</ion-label>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [formControl]="row.validator.controls.taxonGroup"
                              [placeholder]="'TRIP.BATCH.TABLE.TAXON_GROUP_PLACEHOLDER'|translate"
                              [required]="showTaxonGroupColumn"
                              [config]="autocompleteFields.taxonGroup">
      </mat-autocomplete-field>
    </mat-cell>
  </ng-container>

  <!-- Taxon name (scientific species) -->
  <ng-container matColumnDef="taxonName">
    <mat-header-cell *matHeaderCellDef mat-sort-header >
      <ion-label translate>TRIP.BATCH.TABLE.TAXON_NAME</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" >

      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [formControl]="row.validator.controls.taxonName"
                              [placeholder]="'TRIP.BATCH.TABLE.TAXON_GROUP_PLACEHOLDER'|translate"
                              [required]="showTaxonNameColumn"
                              [config]="autocompleteFields.taxonName">
      </mat-autocomplete-field>
    </mat-cell>

  </ng-container>

<!--  <ng-container *ngFor="let qv of qvPmfm?.qualitativeValues; let index"  [matColumnDef]="'totalWeight-' + qv.id">-->
<!--    <mat-header-cell *matHeaderCellDef mat-sort-header class="total" >-->
<!--      <mat-label float-center>-->
<!--        <span>Total weight</span>-->
<!--      </mat-label>-->
<!--    </mat-header-cell>-->

<!--    <mat-cell *matCellDef="let row">-->
<!--      TOTO-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">

    <mat-header-cell *matHeaderCellDef mat-sort-header [class.total]="pmfm.pmfmId % 5 < 2" [class.odd]="isOdd(pmfm)"
      [class.even]="isEven(pmfm)">
      <mat-label float-center>
        <span>{{getPmfmColumnHeader(pmfm)}}</span>
        <small *ngIf="pmfm.hasUnit"><br />({{pmfm.unit}})</small>
      </mat-label>
    </mat-header-cell>

    <mat-cell *matCellDef="let row" [class.total]="pmfm.pmfmId % 5 < 2" [class.odd]="isOdd(pmfm)" [class.even]="isEven(pmfm)">
      <mat-form-field-measurement
        *ngIf="pmfm.pmfmId % 5 !== 3"
        [readonly]="!row.editing"
        [pmfm]="pmfm" [formControl]="row.validator.controls.measurementValues.controls[pmfm.pmfmId]"
        [compact]="true" floatLabel="never">

      </mat-form-field-measurement>

      <!-- open individual measures -->
      <button mat-button mat-icon-button color="light" *ngIf="pmfm.pmfmId % 5 === 3"
              [title]="'TRIP.BATCH.TABLE.BTN_INDIVIDUAL_MEASURE'|translate"
              (click)="onSubBatchesClick($event, row, pmfm.id)">
        {{row.validator.controls.measurementValues.controls[pmfm.pmfmId].value}}
        <mat-icon>list</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
      <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls.comments" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
          [readonly]="!row.editing">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">

      <!-- undo or delete  -->
      <button mat-icon-button small color="light" *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
        (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
        (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
        (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
      <!-- open individual measures
      <button mat-icon-button small color="light"
              *ngIf="!row.editing"
              [title]="'TRIP.BATCH.TABLE.BTN_INDIVIDUAL_MEASURE'|translate"
              (click)="openSubBatchesModal($event, row)">
        <mat-icon [matBadge]="row.currentData.individualCount"
                  matBadgePosition="above after">list</mat-icon>
      </button> -->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.mat-row-error]="row.validator.invalid" class="left-padding"
    [class.mat-row-dirty]="row.validator.dirty" [class.mat-row-disabled]="!row.editing" (click)="clickRow($event, row)"></mat-row>
</mat-table>


<!--<form *ngIf="!loading && weightMethodForm"-->
      <!--[formGroup]="weightMethodForm"-->
      <!--class="form-container" novalidate>-->
  <!--<ng-container *ngFor="let qv of qvPmfm.qualitativeValues">-->

    <!--<ion-row>-->
      <!--<ion-col size="12" size-md="2" size-lg="3" align-self-end>-->
        <!--<ion-label> {{'TRIP.BATCH.TABLE.ESTIMATED_WEIGHT_FOR_DOTS'|translate: {label: qv.name} }}</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col no-padding>-->
        <!--<mat-boolean-field [formControlName]="qv.label" [floatLabel]="never" [required]="true" [compact]="true"></mat-boolean-field>-->
      <!--</ion-col>-->

    <!--</ion-row>-->

  <!--</ng-container>-->
<!--</form>-->

<!-- <ion-row>
  <ion-col *ngFor="let pmfm of $pmfms | async">
    {{pmfm.label}}
  </ion-col>
</ion-row> -->


<ion-fab right bottom visible-xs visible-sm>
  <button ion-fab color="light" (click)="addRow()">
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-fab>
