  <form class="form-container" [formGroup]="form">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- Species batch  -->
  <app-batch-form #batchForm [acquisitionLevel]="acquisitionLevel"
                  [tabindex]="tabindex"
                  [program]="program"
                  [mapPmfmFn]="mapPmfmsFn"
                  [showSampleBatch]="false"
                  [showTaxonGroup]="showTaxonGroup"
                  [showTaxonName]="showTaxonName"
                  [showTotalIndividualCount]="false"
                  [showIndividualCount]="false">

    <ion-row>
      <ion-col>
        <!-- Has individual measures ? -->
        <mat-form-field floatLabel="always">
          <input matInput type="text" hidden
                 [formControl]="hasMeasureControl"
                 [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL_MEASURE'|translate"
                 required>
          <ion-grid class="ion-no-padding" @fadeInAnimation *ngIf="!loading">
            <ion-row class="ion-no-padding">
              <ion-col>
                <ion-button class="mat-form-field-button"
                            [tabindex]="tabindex && tabindex + 9 || -1"
                            (click)="setHasMeasure(false)"
                            (keyup.enter)="setHasMeasure(false)"
                            fill="solid" expand="full"
                            [color]="hasMeasure === undefined ? 'danger': (!hasMeasure ? 'accent' : 'light')">
                  <ion-label translate>TRIP.BATCH.EDIT.WITHOUT_MEASURE</ion-label>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button class="mat-form-field-button"
                            [tabindex]="tabindex && tabindex + 8 || -1"
                            (click)="setHasMeasure(true)"
                            (keyup.enter)="setHasMeasure(true)"
                            fill="solid" expand="full"
                            [color]="hasMeasure === undefined ? 'danger': (hasMeasure ? 'accent' : 'light')">
                  <ion-label translate>TRIP.BATCH.EDIT.WITH_MEASURE</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-form-field>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ng-content select="[afterSpeciesButtons]"></ng-content>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </app-batch-form>



  <ion-grid *ngIf="qvPmfm" @fadeInAnimation>


    <!-- QV children -->
    <ion-row>
      <ion-col size="12" size-md=""
               *ngFor="let qv of qvPmfm.qualitativeValues; index as i;">

        <ion-card class="qv ion-no-margin ion-no-padding" [class.even]="i % 2 === 0" [class.odd]="i % 2 !== 0">

          <ion-card-header>
            <ion-card-title>{{ qv.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <app-batch-form #childForm
                            [tabindex]="batchForm.tabindex + 10 + 10*i"
                            [acquisitionLevel]="acquisitionLevel"
                            [pmfms]="$childrenPmfms | async"
                            [showTaxonGroup]="false"
                            [showTaxonName]="false"
                            [showSampleBatch]="true"
                            [showTotalIndividualCount]="showTotalIndividualCount"
                            [showIndividualCount]="showIndividualCount"
            ></app-batch-form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
