@import 'core';

:host {
  width: 100%;
}

.mat-header-row {
  .mat-header-cell {
    ion-label {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

mat-table {
  background-color: transparent !important;
}

.mat-header-row.first-header-row {
  max-height: 58px;
  min-height: 58px;
  margin-top: -58px;

  .mat-header-cell {
    background-color: transparent;
  }

  .mat-header-cell.qv {
    display: none;
    flex: 0;
  }
  .mat-header-cell.qv.even {
    background-color: ion-color(light, base) !important;
  }
  .mat-header-cell.qv.odd {
    background-color: lightgray !important;
  }
  .mat-header-cell.qv.show {
    display: flex;
    flex: 5 !important;

    ion-label {
      text-align: center;
      margin: 0;
    }

    mat-checkbox {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.mat-header-row,
.mat-row {


  .mat-header-cell.total.even,
  .mat-cell.total.even {
    background-color: ion-color(light100, base) !important;
  }

  // .mat-header-cell.even,
  // .mat-cell.even {
  //   background-color: ion-color(light050, base);
  // }

  .mat-header-cell.total.odd,
  .mat-cell.total.odd {
    background-color: whitesmoke;
  }

  .mat-column-id {
    max-width: 30px;
  }

  .mat-column-taxonName,
  .mat-column-taxonGroup {
    min-width: 150px;
  }

  .mat-column-comments {
    max-width: inherit; // Override default limitation
  }

  .mat-column-60,
  .mat-column-62 {
    min-width: 54px;
    max-width: 100px;
  }

  .mat-column-63,
  .mat-column-64,
  .mat-column-65,
  .mat-column-66,
  .mat-column-67,
  .mat-column-68,
  .mat-column-69,
  .mat-column-70,
  .mat-column-71 {
    max-width: 30px;
  }

  .mat-column-80 {
    max-width: 50px;
  }

  .mat-column-81 {
    max-width: 100px;
  }
}
