<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{$title | async}}
    </ion-title>

    <ion-buttons slot="end" >
      <ion-spinner *ngIf="loading"></ion-spinner>

      <ion-button *ngIf="!loading" (click)="close($event)"
                  [disabled]="form.invalid"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <app-batch-form #form
                  [debug]="debug"
                  [acquisitionLevel]="acquisitionLevel"
                  [program]="program"
                  [showTaxonGroup]="showTaxonGroup"
                  [showTaxonName]="showTaxonName"
                  [showIndividualCount]="showIndividualCount"
                  (onSubmit)="close($event)"
  ></app-batch-form>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row no-padding nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button [fill]="dirty || invalid ? 'clear' : 'solid'"
                    [disabled]="loading || !dirty || invalid"
                    (keyup.enter)="close($event)"
                    (click)="close($event)" color="tertiary">
          <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
