  <form class="form-container" [formGroup]="form">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- Species batch  -->
  <app-batch-form #batchForm [acquisitionLevel]="acquisitionLevel"
                  [tabindex]="tabindex"
                  [program]="program"
                  [mapPmfmFn]="mapPmfmsFn"
                  [showSampleBatch]="false"
                  [showTaxonGroup]="showTaxonGroup"
                  [showTaxonName]="showTaxonName"
                  [showTotalIndividualCount]="false"
                  [showIndividualCount]="false">
  </app-batch-form>

  <ion-grid *ngIf="qvPmfm">

    <!-- QV children -->
    <ion-row>
      <ion-col size="12" size-md=""
               *ngFor="let qv of qvPmfm.qualitativeValues; index as i;">

        <ion-card class="qv ion-no-margin ion-no-padding" [class.even]="i % 2 === 0" [class.odd]="i % 2 !== 0">

          <ion-card-header>
            <ion-card-title>{{ qv.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <app-batch-form #childForm
                            [tabindex]="batchForm.tabindex + 10 + 10*i"
                            [acquisitionLevel]="acquisitionLevel"
                            [pmfms]="$childrenPmfms | async"
                            [showTaxonGroup]="false"
                            [showTaxonName]="false"
                            [showSampleBatch]="true"
                            [showTotalIndividualCount]="showTotalIndividualCount"
                            [showIndividualCount]="showIndividualCount"
            ></app-batch-form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
