<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" *ngIf="mobile">
        {{'COMMON.BTN_CANCEL'|translate}}
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{$title | async}}
    </ion-title>

    <ion-buttons slot="end" >
      <ion-spinner *ngIf="loading"></ion-spinner>

      <ion-button  *ngIf="!loading && dirty && valid && mobile" (click)="doSubmit($event)">
        {{'COMMON.BTN_ADD'|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <app-batch-form #form
                  [debug]="debug"
                  [acquisitionLevel]="acquisitionLevel"
                  [compact]="mobile"
                  [program]="program"
                  [showTaxonGroup]="showTaxonGroup"
                  [showTaxonName]="showTaxonName"
                  [showIndividualCount]="showIndividualCount"
                  (onSubmit)="doSubmit($event)"
  ></app-batch-form>

</ion-content>

<ion-footer *ngIf="!mobile">

  <ion-toolbar>

    <ion-row no-padding nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button [fill]="dirty || invalid ? 'clear' : 'solid'"
                    [disabled]="loading || !dirty || invalid"
                    (keypress.enter)="doSubmit($event)"
                    (click)="doSubmit($event)" color="tertiary">
          <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
