<mat-toolbar>
  <button mat-icon-button *ngIf="!selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
    (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
    (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm>
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<!-- First table header
<mat-table class="table-survival-test">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>
  <ng-container matColumnDef="rankOrder">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>
  <ng-container *ngFor="let pmfm of pmfmHeaders | async" matColumnDef="{{pmfm.pmfmId}}">
    <mat-header-cell *matHeaderCellDef class="col-{{pmfm.count}}">
      <ion-label>{{pmfm.name | translate}}</ion-label>
    </mat-header-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedHeaderColumns"></mat-header-row>
</mat-table> -->


<mat-table [dataSource]="dataSource" class="table-survival-test" matSort matSortActive="rankOrder" matSortDirection="asc"
  matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell  *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell  *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label *ngIf="!loading">#</ion-label>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.rankOrder }}</mat-cell>
  </ng-container>

  <!-- taxon group (commercial species) -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.BATCH.TABLE.TAXON_GROUP</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['taxonGroup']" [matAutocomplete]="autoTaxonGroup"
          [appAutofocus]="row.id == -1 && row.editing" [placeholder]="'TRIP.BATCH.TABLE.TAXON_GROUP_PLACEHOLDER'|translate"
          (focus)="onCellFocus($event, row, 'taxonGroup')" (blur)="onCellBlur($event, row, 'taxonGroup')" (click)="$event.target.select()"
          required>
        <mat-error *ngIf="row.validator.controls['taxonGroup'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>

      <mat-autocomplete autoActiveFirstOption #autoTaxonGroup="matAutocomplete" [displayWith]="referentialToString">
        <ion-row class="mat-autocomplete-header">
          <ion-col size="3">
            <ion-text translate>REFERENTIAL.LABEL</ion-text>
          </ion-col>
          <ion-col>
            <ion-text translate>REFERENTIAL.NAME</ion-text>
          </ion-col>
        </ion-row>
        <mat-option *ngFor="let item of $taxonGroups | async" [value]="item" no-padding>
          <ion-row>
            <ion-col size="3" [innerHTML]="item.label | highlight: {search: row.validator.controls['taxonGroup'].value }"></ion-col>
            <ion-col [innerHTML]="item.name | highlight: {search: row.validator.controls['taxonGroup'].value }"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>
    </mat-cell>
  </ng-container>

  <!-- taxon name (scientific species) -->
  <ng-container matColumnDef="taxonName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.BATCH.TABLE.TAXON_NAME</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['taxonName']" [matAutocomplete]="autoTaxonName"
          [placeholder]="'TRIP.BATCH.TABLE.TAXON_NAME_PLACEHOLDER'|translate" (focus)="onCellFocus($event, row, 'taxonName')"
          (blur)="onCellBlur($event, row, 'taxonName')" (click)="$event.target.select()" required>
        <mat-error *ngIf="row.validator.controls['taxonName'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>

      <mat-autocomplete autoActiveFirstOption #autoTaxonName="matAutocomplete" [displayWith]="referentialToString">
        <ion-row class="mat-autocomplete-header">
          <ion-col size="3">
            <ion-text translate>REFERENTIAL.LABEL</ion-text>
          </ion-col>
          <ion-col>
            <ion-text translate>REFERENTIAL.NAME</ion-text>
          </ion-col>
        </ion-row>
        <mat-option *ngFor="let item of $taxonNames | async" [value]="item" no-padding>
          <ion-row>
            <ion-col size="3" [innerHTML]="item.label | highlight: {search: row.validator.controls['taxonName'].value }"></ion-col>
            <ion-col [innerHTML]="item.name | highlight: {search: row.validator.controls['taxonName'].value }"></ion-col>
          </ion-row>
        </mat-option>
      </mat-autocomplete>
    </mat-cell>

  </ng-container>

  <!-- Pmfm columns -->
  <ng-container *ngFor="let pmfm of pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
    <mat-header-cell *matHeaderCellDef [class.mat-cell-date-time]="pmfm.isDate">
      <ion-label>
        <span>{{getPmfmColumnHeader(pmfm)}}</span>
        <small *ngIf="pmfm.hasUnit"><br />({{pmfm.unit}})</small>
      </ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.isDate">
      <mat-form-field-measurement
        [readonly]="!row.editing"
        [pmfm]="pmfm" [formControl]="row.validator.controls['measurementValues'].controls[pmfm.pmfmId]"
        [compact]="true" floatLabel="never"></mat-form-field-measurement>
    </mat-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
      <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['comments']" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
          [readonly]="!row.editing">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
      <!-- undo or delete  -->
      <button mat-icon-button small color="light" *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
        (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
        (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
        (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.mat-row-error]="row.validator.invalid"
    [class.mat-row-dirty]="row.validator.dirty" [class.mat-row-disabled]="!row.editing" (click)="clickRow($event, row)"></mat-row>
</mat-table>



<!-- <ion-row>
  <ion-col *ngFor="let pmfm of pmfms | async">
    {{pmfm.label}}
  </ion-col>
</ion-row> -->


<ion-fab right bottom visible-xs visible-sm>
  <button ion-fab color="light" (click)="addRow()">
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-fab>
