<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
    (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
    (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!--span class="toolbar-spacer"></span-->

</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<!-- First header row -->
<mat-table *ngIf="qvPmfm" [class.plt-mobile]="mobile">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- taxon group (commercial species) -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- taxon name (scientific species) -->
  <ng-container matColumnDef="taxonName">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let col of dynamicColumns; trackBy: trackColumnDef" [matColumnDef]="col.key">
    <mat-header-cell *matHeaderCellDef class="qv"
                     [class.even]="isQvEven(col)"
                     [class.odd]="isQvOdd(col)"
                     [class.hidden-mobile]="col.rankOrder % 5 !== 0"
                     [class.show]="col.rankOrder % 5 === 0">
      <mat-label float-center class="ion-text-wrap" *ngIf="col.rankOrder % 5 === 0">
        <span>{{qvPmfm.qualitativeValues[col.qvIndex].name}}</span><br/>
        <mat-checkbox *ngIf="weightMethodForm"
                      [formControl]="weightMethodForm.controls[col.qvIndex]"
                      labelPosition="before">
          <ion-text hidden-xs translate>TRIP.BATCH.TABLE.ESTIMATED_WEIGHT_QUESTION</ion-text>
          <ion-text visible-xs translate>TRIP.BATCH.TABLE.ESTIMATED_WEIGHT_QUESTION_SHORT</ion-text>
        </mat-checkbox>
      </mat-label>
    </mat-header-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <!-- Options menu -->
      <button mat-icon-button
              hidden-xs hidden-sm hidden-mobile
              [title]="'COMMON.OPTIONS'|translate"
              (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-header-cell>
  </ng-container>

  <mat-header-row class="first-header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
</mat-table>

<mat-table #mainTable
           [dataSource]="dataSource" matSort matSortActive="rankOrder" matSortDirection="asc" matSortDisableClear
           [trackBy]="trackByFn"
           [class.plt-mobile]="mobile">

  <ng-container matColumnDef="select">
    <mat-header-cell  *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell  *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- rankOrder Column = id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label *ngIf="!loading">#</ion-label>
      <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{ row.currentData?.rankOrder }}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- Taxon group (commercial species) -->
  <ng-container matColumnDef="taxonGroup">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label translate>TRIP.BATCH.TABLE.TAXON_GROUP</ion-label>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [appAutofocus]="row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.taxonGroup"
                              [placeholder]="'TRIP.BATCH.TABLE.TAXON_GROUP_PLACEHOLDER'|translate"
                              [required]="showTaxonGroupColumn"
                              [config]="autocompleteFields.taxonGroup">
      </mat-autocomplete-field>
    </mat-cell>
  </ng-container>

  <!-- Taxon name (scientific species) -->
  <ng-container matColumnDef="taxonName">
    <mat-header-cell *matHeaderCellDef mat-sort-header >
      <ion-label translate>TRIP.BATCH.TABLE.TAXON_NAME</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" >

      <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                              [appAutofocus]="!showTaxonGroupColumn && row.id == -1 && row.editing"
                              [formControl]="row.validator.controls.taxonName"
                              [placeholder]="'TRIP.BATCH.TABLE.TAXON_GROUP_PLACEHOLDER'|translate"
                              [required]="showTaxonNameColumn"
                              [config]="autocompleteFields.taxonName">
      </mat-autocomplete-field>
    </mat-cell>

  </ng-container>

  <!-- Dynamic columns -->
  <ng-container *ngFor="let col of dynamicColumns; trackBy: trackColumnDef; let index;" [matColumnDef]="col.key">

    <mat-header-cell *matHeaderCellDef
                     [class.total]="col.rankOrder % 5 < 2"
                     [class.odd]="isQvOdd(col)"
                     [class.even]="isQvEven(col)"
                     [class.hidden-xs]="col.rankOrder % 5 !== 0"
                     [class.hidden-mobile]="col.rankOrder % 5 !== 0 && col.rankOrder % 5 !== 3"
                     class="content-padding-left">
      <mat-label>
        <span>{{col.label|translate}}</span>
        <small *ngIf="col.unitLabel"><br />({{col.unitLabel}})</small>
      </mat-label>
    </mat-header-cell>

    <mat-cell *matCellDef="let row"
              [class.total]="col.rankOrder % 5 < 2"
              [class.odd]="isQvOdd(col)"
              [class.even]="isQvEven(col)"
              [class.hidden-xs]="col.rankOrder % 5 !== 0"
              [class.hidden-mobile]="col.rankOrder % 5 !== 0 && col.rankOrder % 5 !== 3"
              [class.mat-cell-computed]="col.computed"
              class="content-padding-left">
      <app-form-field
        floatLabel="never"
        [definition]="col"
        [readonly]="!row.editing || col.computed"
        [formControl]="row.validator.controls.measurementValues.controls[col.rankOrder]"
        [compact]="true">
      </app-form-field>

      <!-- TODO: display indivi count for Pocheteau
      span *ngIf="col.rankOrder % 5 !== 0 && col.rankOrder % 5 !== 3">
        (?)
      </span-->
    </mat-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef >
      <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls.comments" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
          [readonly]="!row.editing">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">

      <!-- undo or delete  -->
      <button mat-icon-button *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
        (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
        (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
        (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>

      <!-- open individual measures -->
      <button mat-icon-button
              *ngIf="mobile && row.currentData.observedIndividualCount"
              color="primary"
              [title]="'TRIP.BATCH.TABLE.BTN_INDIVIDUAL_MEASURE'|translate"
              (click)="onSubBatchesClick($event, row)">
        <mat-icon [matBadge]="row.currentData.observedIndividualCount"
                  [matBadgeHidden]="!row.currentData.observedIndividualCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after"
        >assessment</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;"
           [class.mat-row-error]="row.validator?.invalid || row.validator.controls['qualityFlagId'].value === 4"
           [class.mat-row-dirty]="row.validator.dirty"
           [class.mat-row-disabled]="!row.editing"
           (click)="clickRow($event, row)">
  </mat-row>
</mat-table>
