<!-- catch batch form -->
<div class="ion-padding" [class.cdk-visually-hidden]="!showCatchForm">
  <form-catch-batch #catchBatchForm
                    [programLabel]="$programLabel|async"
                    acquisitionLevel="CATCH_BATCH"
                    (onSubmit)="save($event)"
                    [tabindex]="200"
                    [showError]="false"
                    [debug]="debug">
  </form-catch-batch>
</div>

<mat-tab-group #tabGroup
               class="mat-tab-group-header-pagination-hidden"
               [class.cdk-visually-hidden]="!showBatchTables"
               [class.mat-tab-group-header-hidden]="mobile"
               [(selectedIndex)]="selectedTabIndex"
               (selectedTabChange)="onTabChange($event)"
               [animationDuration]="tabGroupAnimationDuration">

  <!-- TAB: species list -->
  <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES'|translate}}">
    <ng-template mat-tab-label>
      <mat-icon><ion-icon name="file-tray"></ion-icon></mat-icon>
      <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && (batchGroupsTable?.invalid || false)"></ion-icon>
    </ng-template>

    <!-- Batches group -->
    <app-batch-groups-table #batchGroupsTable
                            acquisitionLevel="SORTING_BATCH"
                            [programLabel]="$programLabel | async"
                            [usageMode]="usageMode"
                            [disabled]="disabled"
                            [debug]="debug"
                            [mobile]="mobile"
                            [allowSubBatches]="allowSubBatches"
                            [defaultHasSubBatches]="defaultHasSubBatches"
                            [showTaxonGroupColumn]="true"
                            [showTaxonNameColumn]="true"
                            [showCommentsColumn]="false"
                            [defaultTaxonGroups]="defaultTaxonGroups"
                            (onSubBatchesChanges)="onSubBatchesChanges($event)">
    </app-batch-groups-table>

    <!-- final space-->
    <p visible-xs visible-sm visible-mobile>&nbsp;</p>
  </mat-tab>


  <!-- TAB: individual measure -->
  <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL'|translate}}"
           [disabled]="!allowSubBatches || !showSubBatchesTable"
           *ngIf="!mobile">
    <ng-template mat-tab-label>
      <mat-icon>assessment</mat-icon>
      <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && (subBatchesTable?.invalid || false)"></ion-icon>
    </ng-template>

    <app-sub-batches-table #subBatchesTable
                           acquisitionLevel="SORTING_BATCH_INDIVIDUAL"
                           [programLabel]="$programLabel | async"
                           [usageMode]="usageMode"
                           [debug]="debug"
                           [tabindex]="200">
    </app-sub-batches-table>
  </mat-tab>



  <!-- TAB: Individual releases
  <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES'|translate}}">
    <ng-template mat-tab-label>
      <mat-icon>room</mat-icon>
      <ion-label translate>TRIP.OPERATION.EDIT.TAB_INDIVIDUAL_RELEASES</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
    </ng-template>

    <table-sub-samples #individualReleaseTable [debug]="debug" acquisitionLevel="INDIVIDUAL_RELEASE"></table-sub-samples>
  </mat-tab>-->

  <ng-content></ng-content>
</mat-tab-group>
