<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{$title | async}}
    </ion-title>

    <ion-buttons slot="end" >
      <ion-spinner *ngIf="loading"></ion-spinner>

      <ion-button *ngIf="canEdit && disabled" (click)="edit()"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!loading && !disabled" (click)="close($event)"

                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>


  <app-batch-group-form #form
                  [debug]="debug"
                  [acquisitionLevel]="acquisitionLevel"
                  [program]="program"
                  [showTaxonGroup]="showTaxonGroup"
                  [showTaxonName]="showTaxonName"
                  [showTotalIndividualCount]="showTotalIndividualCount"
                  [showIndividualCount]="showIndividualCount"
                  (onSubmit)="close($event)"
  ></app-batch-group-form>

  <!-- actions -->
  <ion-buttons visible-xs visible-sm visible-mobile margin-top>

    <!-- open individual modal -->
    <ion-button color="tertiary" expand="full" size="large"
                (click)="openSubBatchesModal($event)" >
      <ion-icon slot="start"><mat-icon>assessment</mat-icon></ion-icon>
      <ion-label translate>TRIP.BATCH.EDIT.BTN_INDIVIDUAL_MEASURE</ion-label>
    </ion-button>
  </ion-buttons>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row no-padding nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button [fill]="invalid ? 'clear' : 'solid'"
                    color="tertiary"
                    [disabled]="loading || invalid"
                    (click)="openSubBatchesModal($event)">
          <ion-label translate>TRIP.BATCH.EDIT.BTN_INDIVIDUAL_MEASURE</ion-label>
        </ion-button>

        <ion-button [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || invalid"
                    (keyup.enter)="close($event)"
                    (click)="close($event)" color="tertiary">
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_VALIDATE</ion-label>
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
