<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="close($event)"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL' | translate}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="loading"></ion-spinner>

      <ion-button *ngIf="!loading" (click)="doSubmitForm($event)"
                  [disabled]="form.invalid"
                  visible-xs visible-sm visible-mobile>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- sub batch form -->
  <ion-grid no-padding>
    <ion-row no-padding>
      <!-- form -->
      <ion-col size="12" size-md="" padding>
        <app-sub-batch-form #form
                            [debug]="debug"
                            [acquisitionLevel]="acquisitionLevel"
                            [pmfms]="$pmfms|async"
                            [qvPmfm]="qvPmfm"
                            [showParent]="showParentColumn"
                            [showTaxonName]="showTaxonNameColumn"
                            [displayParentPmfm]="displayParentPmfm"
                            [onNewParentClick]="onNewParentClick"
                            (onSubmit)="doSubmitForm($event)"
                            [tabindex]="1">
        </app-sub-batch-form>
      </ion-col>

      <!-- table -->
      <ion-col size="12" size-md="" no-padding>
        <mat-table [dataSource]="dataSource" class="table-sub-batches"  [trackBy]="trackByFn">

          <ng-container matColumnDef="select">
            <mat-header-cell  *matHeaderCellDef hidden>
            </mat-header-cell>
            <mat-cell  *matCellDef="let row" hidden>
            </mat-cell>
          </ng-container>

          <!-- rankOrder Column = id -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef >
              <ion-label padding-left>#</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ion-label padding-left> {{ row.currentData.rankOrder }}</ion-label>
            </mat-cell>
          </ng-container>

          <!-- parent -->
          <ng-container matColumnDef="parent">
            <mat-header-cell *matHeaderCellDef >
              <ion-label>{{ (displayParentPmfm && getPmfmColumnHeader(displayParentPmfm) ||
                  'TRIP.BATCH.TABLE.PARENT') | translate }}</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ parentToString(row.currentData.parent) }}
            </mat-cell>
          </ng-container>

          <!-- taxon name (scientific species) -->
          <ng-container matColumnDef="taxonName">
            <mat-header-cell *matHeaderCellDef >
              <ion-label translate>TRIP.BATCH.TABLE.TAXON_NAME</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{referentialToString(row.currentData.taxonName)}}
            </mat-cell>

          </ng-container>

          <!-- Pmfms columns -->
          <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.pmfmId.toString()">
            <mat-header-cell *matHeaderCellDef  [class.mat-cell-date-time]="pmfm.isDate">
              <ion-label>{{getPmfmColumnHeader(pmfm)}}
                <small *ngIf="pmfm.hasUnit"><br />({{pmfm.unit}})</small>
              </ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [class.mat-cell-date-time]="pmfm.isDate">
              {{measurementValueToString(row.currentData.measurementValues[pmfm.pmfmId], pmfm) }}
            </mat-cell>
          </ng-container>

          <!-- individualCount column -->
          <ng-container matColumnDef="individualCount">
            <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
              <ion-label translate>TRIP.BATCH.TABLE.INDIVIDUAL_COUNT</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm">
              {{row.currentData?.individualCount}}
            </mat-cell>
          </ng-container>

          <!-- Comment column -->
          <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
              <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm">
              {{measurementValueToString(row.currentData?.comments)}}
            </mat-cell>
          </ng-container>

          <!-- Actions buttons column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <!-- delete  -->
              <button mat-icon-button small color="light" [title]="'COMMON.BTN_DELETE'|translate"
                      (click)="cancelOrDelete($event, row)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row no-padding nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="close($event)">
          <ion-label translate>COMMON.BTN_CLOSE</ion-label>
        </ion-button>

        <ion-button [fill]="form.valid ? 'solid' : 'clear'"
                    [disabled]="loading || !dirty"
                    (keyup.enter)="doSubmitForm($event)"
                    (click)="doSubmitForm($event)"
                    color="tertiary">
          <ion-label translate>COMMON.BTN_ADD</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
