@import './sub-batches.table.scss';
:host {
  --toolbar-min-height: 56px;
}
.table-container {
  height: calc(100vh - var(--toolbar-min-height, 56px));
  overflow: auto;
}

.mat-header-row,
.mat-row {
  .mat-column-parent,
  .mat-column-taxonName,
  .mat-column-taxonGroup {
    min-width: 50px;
  }

  .mat-header-cell.mat-column-id,
  .mat-cell.mat-column-id {
    mat-label,
    ion-label {
      padding: 0 8px;
      width: 100%;
      text-align: right;
    }
  }
}

.mat-row.mat-row-selected {
  height: 40px !important;
  background-color: var(--ion-color-accent);
  .mat-cell{
    color: var(--ion-color-accent-contrast);
    font-size: 14px;
    font-weight: bold;
  }
}
