@import './sub-batches.table.scss';
:host {
  --toolbar-min-height: 56px;
}
.table-container {
  max-height: calc(100vh - var(--toolbar-min-height, 56px));
  overflow: auto;
}
ion-grid.disabled {
  ion-col.form-container {
    flex: 0 !important;
    display: none;
  }
  ion-col.table-container {
    flex: unset !important;
    right: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
.mat-header-row,
.mat-row {
  .mat-column-parent,
  .mat-column-taxonName,
  .mat-column-taxonGroup {
    min-width: 50px;
  }

  .mat-header-cell.mat-column-id,
  .mat-cell.mat-column-id {
    mat-label,
    ion-label {
      padding: 0 8px;
      width: 100%;
      text-align: right;
    }
  }
}

.mat-cell.mat-column-pmfm {
  transition: .3s ease-out;
}
.mat-row.mat-row-selected {
  .mat-cell {
    &.mat-column-pmfm {
      color: var(--ion-color-accent-contrast);
      background-color: var(--ion-color-accent);
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
