<form class="form-container" [formGroup]="form" >

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- parent combo -->
  <ion-grid class="ion-no-padding" *ngIf="showParent">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <mat-autocomplete-field #matInput
                                formControlName="parent"
                                [placeholder]="'TRIP.BATCH.EDIT.PARENT'|translate"
                                [config]="autocompleteFields.parent"
                                [required]="true"
                                [tabindex]="tabindex"
                                [mobile]="mobile">
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding" *ngIf="onNewParentClick">
        <button mat-icon-button tabindex="-1" [title]="'COMMON.BTN_ADD'|translate"
                (click)="doNewParentClick($event)"
                type="button">
          <mat-icon>add</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- QV pmfm -->
  <mat-form-field-measurement-qv #matInput
                                 *ngIf="!($loadingControls|async) && qvPmfm"
                                 [pmfm]="qvPmfm"
                                 [style]="mobile? 'button' : 'autocomplete'"
                                 [formControl]="form.get('measurementValues.' + qvPmfm.pmfmId.toString())"
                                 [floatLabel]="floatLabel"
                                 [compact]="compact"
                                 [tabindex]="tabindex+1">
    <!-- checkbox to freeze -->
    <mat-checkbox  matSuffix
                   *ngIf="!mobile"
                   [formControl]="freezeQvPmfmControl"
                   [title]="'COMMON.BTN_FREEZE_VALUE_HELP'|translate"
                   (click)="$event.stopPropagation()"
                   tabindex="-1">
      <ion-text><small translate>COMMON.BTN_FREEZE_VALUE</small></ion-text>
    </mat-checkbox>
  </mat-form-field-measurement-qv>

  <!-- Taxon name -->
  <div *ngIf="showTaxonName">
    <mat-autocomplete-field #matInput  *ngIf="!mobile; else taxonNameMobile"
                            formControlName="taxonName"
                            [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                            [config]="autocompleteFields.taxonName"
                            [tabindex]="tabindex+2"
                            [required]="true">
      <!-- checkbox to freeze value -->
      <mat-checkbox  matSuffix
                     [formControl]="freezeTaxonNameControl"
                     [title]="'COMMON.BTN_FREEZE_VALUE_HELP'|translate"
                     (click)="$event.stopPropagation()"
                     tabindex="-1">
        <ion-text><small translate>COMMON.BTN_FREEZE_VALUE</small></ion-text>
      </mat-checkbox>
    </mat-autocomplete-field>

    <ng-template #taxonNameMobile>
      <mat-form-field floatLabel="always"
                      *ngIf="$taxonNames | async as taxonNames; else loadingTaxonNames"
                      [class.computed]="taxonNames.length === 1">
        <input matInput type="text" hidden
               formControlName="taxonName"
               [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
               required>

        <ion-grid class="ion-no-padding" *ngIf="taxonNames.length > 1; else defaultTaxonName">
          <ion-row class="ion-no-padding">
            <ion-col *ngFor="let item of taxonNames; index as i;">
              <ion-button #matInput
                          style="width: 100%;"
                          class="mat-form-field-button"
                          [color]="selectedTaxonNameIndex === -1 ? 'danger' : (selectedTaxonNameIndex === i ? 'accent' : 'light')"
                          (click)="form.controls.taxonName.setValue(item)"
                          (keyup.enter)="form.controls.taxonName.setValue(item)"
                          [tabindex]="tabindex + 3 + i">
                {{item.name || item.label}}
              </ion-button>
            </ion-col>
            <ion-col size="1" class="ion-no-padding">
              <!-- Options menu -->
              <button mat-icon-button matSuffix
                      [title]="'COMMON.OPTIONS'|translate"
                      [matMenuTriggerFor]="taxonNameMenu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <!-- Freeze QV or taxon name menu -->
              <mat-menu #taxonNameMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="freezeTaxonName=!freezeTaxonName">
                  <mat-icon *ngIf="freezeTaxonName">check_box</mat-icon>
                  <mat-icon *ngIf="!freezeTaxonName">check_box_outline_blank</mat-icon>
                  <ion-label translate>COMMON.BTN_FREEZE_VALUE</ion-label>
                </button>
              </mat-menu>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ng-template #defaultTaxonName>
          <ion-label>{{taxonNames[0].name || taxonNames[0].label}}</ion-label>
        </ng-template>

        <mat-error *ngIf="form.controls.taxonName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>

      <ng-template #loadingTaxonNames>
        <mat-form-field floatLabel="auto">
          <input matInput type="text"
                 [disabled]="true"
                 [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                 required>
        </mat-form-field>
      </ng-template>
    </ng-template>
  </div>

  <!-- pmfms -->
  <div *ngIf="$pmfms | async as pmfms; else loadingSpinner">

    <ng-container *ngFor="let pmfm of pmfms; index as i; last as last">
      <!-- qualitative value (force 'button' style, on mobile)-->
      <mat-form-field-measurement-qv #matInput
                                     *ngIf="pmfm.isQualitative; else otherField"
                                     [hidden]="pmfm.hidden"
                                     [pmfm]="pmfm"
                                     [style]="mobile? 'button' : 'autocomplete'"
                                     [sortAttribute]="mobile ? ['name'] : undefined"
                                     [formControl]="form.get('measurementValues.'+ pmfm.pmfmId.toString())"
                                     [compact]="compact"
                                     (keyup.enter)="last && doSubmitLastMeasurementField($event)"
                                     [tabindex]="tabindex + 20 + i">
      </mat-form-field-measurement-qv>

      <!-- NOT qualitative value -->
      <ng-template #otherField>
        <mat-form-field-measurement #matInput
                                    [pmfm]="pmfm"
                                    [hidden]="pmfm.hidden"
                                    [formControl]="form.get('measurementValues.'+ pmfm.pmfmId.toString())"
                                    [compact]="compact"
                                    (keyup.enter)="last && doSubmitLastMeasurementField($event)"
                                    [tabindex]="tabindex + 20 + i">
        </mat-form-field-measurement>
      </ng-template>
    </ng-container>
  </div>


  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <!-- Individual count -->
        <mat-form-field *ngIf="showIndividualCount">
          <input matInput #matInput
                 autocomplete="off"
                 formControlName="individualCount"
                 min="1"
                 type="number"
                 step="1"
                 pattern="[0-9]*"
                 (keypress)="filterNumberInput($event, false)"
                 (keyup.enter)="doSubmit($event)"
                 (focus)="selectInputContent($event)"
                 [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL.INDIVIDUAL_COUNT'|translate"
                 [required]="!enableIndividualCount"
                 [tabindex]="tabindex + 100">
          <mat-error *ngIf="form.controls.individualCount.hasError('required')" translate>ERROR.FIELD_REQUIRED
          </mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('min')">
            {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') |
              translate:form.controls.individualCount.errors['min'] }}
          </mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('integer')">
            {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}
          </mat-error>

          <!-- checkbox, when compact -->
          <mat-checkbox matSuffix [formControl]="enableIndividualCountControl"
                        labelPosition="after"
                        tabindex="-1">
            <ion-text><small translate>TRIP.BATCH.EDIT.INDIVIDUAL.BTN_MANUAL_ENTRY</small></ion-text>
          </mat-checkbox>
        </mat-form-field>
      </ion-col>
      <ion-col class="ion-no-padding" *ngIf="showSubmitButton">

        <ion-button color="tertiary" class="ion-float-end"
                    [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading || invalid"
                    (click)="doSubmit($event)"
                    (keyup.enter)="doSubmit($event)"
                    [tabindex]="tabindex + 101">
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_APPLY</ion-label>
        </ion-button>

        <ng-content select="[endButton]"></ng-content>
      </ion-col>
    </ion-row>
  </ion-grid>


</form>

<ng-template #loadingSpinner>
  <ion-spinner float-center></ion-spinner>
</ng-template>
