<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>


  <ion-grid>
    <ion-row>

      <!-- Taxon group -->
      <ion-col size="12" size-md="6" *ngIf="showTaxonGroup">
        <mat-autocomplete-field formControlName="taxonGroup" #firstInput
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_GROUP'|translate"
                                [tabindex]="tabindex"
                                [required]="showTaxonGroup"
                                [config]="autocompleteFields.taxonGroup">
        </mat-autocomplete-field>
      </ion-col>

      <!-- Taxon name (scientific species) -->
      <ion-col size="12" size-md="6" *ngIf="showTaxonName">
        <mat-autocomplete-field formControlName="taxonName" #firstInput
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                                [tabindex]="tabindex+1"
                                [required]="showTaxonName"
                                [config]="autocompleteFields.taxonName"
                                [filter]="taxonNameFilter">
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="allowSubBatches">
      <ion-col>
        <!-- Has individual measures ? -->
        <mat-form-field floatLabel="always">
          <input matInput type="text" hidden
                 [formControl]="hasSubBatchesControl"
                 [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL_MEASURE'|translate"
                 required>
          <ion-grid class="ion-no-padding" >
            <ion-row class="ion-no-padding ion-row-buttons" *ngIf="!loading; else rowSkeleton">
              <ion-col>
                <ion-button class="mat-form-field-button"
                            [disabled]="hasSubBatchesControl.disabled"
                            [tabindex]="tabindex && tabindex + 9 || -1"
                            (click)="hasSubBatchesControl.setValue(false)"
                            (keyup.enter)="hasSubBatchesControl.setValue(false)"
                            fill="solid" expand="full"
                            [color]="hasSubBatches === undefined ? 'danger': (!hasSubBatches ? 'accent' : 'light')">
                  <ion-label translate>TRIP.BATCH.EDIT.WITHOUT_MEASURE</ion-label>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button class="mat-form-field-button"
                            [disabled]="hasSubBatchesControl.disabled"
                            [tabindex]="tabindex && tabindex + 8 || -1"
                            (click)="hasSubBatchesControl.setValue(true)"
                            (keyup.enter)="hasSubBatchesControl.setValue(true)"
                            fill="solid" expand="full"
                            [color]="hasSubBatches === undefined ? 'danger': (hasSubBatches ? 'accent' : 'light')">
                  <ion-label translate>TRIP.BATCH.EDIT.WITH_MEASURE</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-form-field>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ng-content select="[afterSpeciesButtons]"></ng-content>
        </ion-buttons>
      </ion-col>
    </ion-row>

  </ion-grid>


  <!-- QV children -->
  <ion-grid *ngIf="qvPmfm">
    <ion-row>
      <ion-col *ngFor="let qv of qvPmfm.qualitativeValues; index as i;"
               size="12" size-md="">

        <ion-card class="qv ion-no-margin ion-no-padding"
                  [class.even]="i % 2 === 0"
                  [class.odd]="i % 2 !== 0"
                  [style.opacity]="animated ? 0 : 1">

          <ion-card-header>
            <ion-card-title>{{ qv.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <app-batch-form #childForm
                            [tabindex]="tabindex + 10 + 10*i"
                            [acquisitionLevel]="acquisitionLevel"
                            [pmfms]="$childrenPmfms | async"
                            [showTaxonName]="false"
                            [showTaxonGroup]="false"
                            [availableTaxonGroups]="[]"
                            [showWeight]="showChildrenWeight"
                            [showIndividualCount]="showChildrenIndividualCount"
                            [showSamplingBatch]="showChildrenSamplingBatch"
                            [showSampleWeight]="showChildrenWeight"
                            [requiredWeight]="hasSubBatches && showChildrenWeight"
                            [requiredSampleWeight]="hasSubBatches && showChildrenWeight"
                            [requiredIndividualCount]="hasSubBatches && showChildrenIndividualCount"
                            [maxVisibleButtons]="maxVisibleButtons"
            ></app-batch-form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>


<ng-template #rowSkeleton>
  <ion-row class="ion-no-padding ion-row-buttons">
    <ion-col>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ng-template>
