mat-card.qv.even,
ion-card.qv.even {
  background-color: var(--ion-color-light-shade) !important;
}
mat-card.qv.odd,
ion-card.qv.odd{
  background-color: var(--ion-color-light, whitesmoke) !important;
}
ion-col > ion-buttons {
  height: 100%;
}

ion-row.ion-row-buttons {
  height: 36px;
}
