<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>

      <!-- Taxon group -->
      <ion-col size="12" size-md="6"
               [hidden]="!showTaxonGroup">
        <mat-autocomplete-field formControlName="taxonGroup"
                                [autofocus]="enabled && !mobile && showTaxonGroup"
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_GROUP'|translate"
                                [tabindex]="tabindex"
                                [required]="showTaxonGroup"
                                [config]="autocompleteFields.taxonGroup">
        </mat-autocomplete-field>
      </ion-col>

      <!-- Taxon name (scientific species) -->
      <ion-col size="12" size-md="6" *ngIf="showTaxonName">
        <mat-autocomplete-field formControlName="taxonName"
                                [autofocus]="enabled && !mobile && !showTaxonGroup && showTaxonName"
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                                [tabindex]="tabindex+1"
                                [required]="showTaxonName"
                                [config]="autocompleteFields.taxonName"
                                [filter]="taxonNameFilter">
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Measurements -->
    <ion-row class="ion-no-padding" [formGroup]="measurementValuesForm">
      <ion-col *ngFor="let pmfm of $pmfms | async; index as i;"
               size="12" class="ion-no-padding">
          <app-pmfm-field #matInput [pmfm]="pmfm"
                          [hidden]="pmfm.hidden || matInput.formControl?.disabled"
                          [formControlName]="pmfm.id|toString"
                          [style]="pmfm|pmfmFieldStyle"
                          [compact]="compact"
                          [tabindex]="tabindex+2 + i*2">
          </app-pmfm-field>
      </ion-col>
    </ion-row>

    <!-- Total weight -->
    <ion-row *ngIf="defaultWeightPmfm && showWeight">
      <ion-col class="ion-no-padding">
        <app-pmfm-field #matInput
                        [class.computed]="weightForm.controls.computed.value"
                        [readonly]="weightForm.controls.computed.value"
                        [pmfm]="defaultWeightPmfm"
                        [formControl]="weightForm.controls.value"
                        [placeholder]="'TRIP.BATCH.EDIT.TOTAL_WEIGHT'|translate"
                        [compact]="compact"
                        [tabindex]="tabindex+28"
                        [listenStatusChanges]="true"
                        [required]="requiredWeight">
        </app-pmfm-field>

      </ion-col>

      <!-- is estimated weight ?-->
      <ion-col size="6" class="ion-no-padding" padding-left *ngIf="showEstimatedWeight">

        <mat-form-field floatLabel="never">
          <!-- fake input -->
          <input matInput hidden>

          <ion-label>&nbsp;</ion-label>

          <!-- checkbox, when compact -->
          <mat-checkbox matPrefix
                        [formControl]="weightForm.controls.estimated"
                        labelPosition="after"
                        [tabindex]="tabindex+29">
            <ion-text translate>TRIP.BATCH.EDIT.ESTIMATED_WEIGHT</ion-text>
          </mat-checkbox>
        </mat-form-field>

      </ion-col>
    </ion-row>

    <!-- Total NB individual  -->
    <ion-row class="ion-no-padding" *ngIf="showIndividualCount">
      <ion-col class="ion-no-padding">
        <mat-form-field>
          <input matInput
                 formControlName="individualCount"
                 autocomplete="off"
                 type="number"
                 step="1"
                 pattern="[0-9]*"
                 (click)="selectInputContent($event)"
                 [placeholder]="'TRIP.BATCH.EDIT.TOTAL_INDIVIDUAL_COUNT'|translate"
                 [tabindex]="tabindex + 30"
                 [required]="requiredIndividualCount">

          <mat-error *ngIf="form.controls.individualCount.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('min')">
            {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') | translate:form.controls.individualCount.errors['min'] }}</mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('integer')">
            {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- Sampling batch -->
    <div formArrayName="children" [class.cdk-visually-hidden]="!showSamplingBatch">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <!-- checkbox, when compact -->
          <mat-checkbox [checked]="isSampling"
                        [disabled]="disabled || requiredSampleWeight"
                        labelPosition="after"
                        [tabindex]="tabindex+31"
                        (change)="setIsSampling($event.checked)">
            <ion-text>{{'TRIP.BATCH.EDIT.IS_SAMPLING'|translate}}</ion-text>
          </mat-checkbox>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding"
               *ngFor="let samplingBatchForm of childrenArray.controls">

        <!-- Sampling ratio -->
        <ion-col size="4" class="ion-no-padding"
                 *ngVar="(samplingBatchForm|formGetControl:'samplingRatio') as control">
          <mat-form-field
              *ngVar="((samplingBatchForm|formGetControl: 'samplingRatioText').valueChanges|async|strIncludes:'/') as computed"
              [class.computed]="computed">
            <input matInput
                   autocomplete="off"
                   [formControl]="control"
                   [readonly]="computed"
                   type="number"
                   step="1"
                   pattern="[0-9]{1,3}"
                   (click)="selectInputContent($event)"
                   [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_RATIO'|translate"
                   [tabindex]="tabindex + 32">
            <mat-error *ngIf="control.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            <mat-error *ngIf="control.hasError('min')">
              {{'ERROR.FIELD_MIN' | translate: control.errors['min'] }}</mat-error>
            <mat-error *ngIf="control.hasError('max')">
              {{'ERROR.FIELD_MAX' | translate: control.errors['max'] }}</mat-error>
            <mat-error *ngIf="control.hasError('pattern')">
              {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
            <mat-error *ngIf="control.hasError('integer')">
              {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
          </mat-form-field>
        </ion-col>

        <!-- Sampling weight -->
        <ion-col class="ion-no-padding" *ngIf="defaultWeightPmfm && showSampleWeight">

          <app-pmfm-field #matInput
                          *ngVar="(samplingBatchForm|formGet: 'weight.computed') as isComputedControl"
                          [class.computed]="isComputedControl.valueChanges|async"
                          [readonly]="isComputedControl.value"
                          [pmfm]="defaultWeightPmfm"
                          [formControl]="samplingBatchForm|formGetControl: 'weight.value'"
                          [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_WEIGHT'|translate"
                          [compact]="compact"
                          [required]="requiredSampleWeight"
                          [tabindex]="tabindex+33"
                          [listenStatusChanges]="true">
          </app-pmfm-field>
        </ion-col>

        <!-- Sampling individual count -->
        <ion-col size="4" class="ion-no-padding" *ngIf="showSampleIndividualCount">
          <mat-form-field>
            <input matInput
                   autocomplete="off"
                   [formControl]="samplingBatchForm|formGetControl: 'individualCount'"
                   type="number"
                   step="1"
                   pattern="[0-9]*"
                   (click)="selectInputContent($event)"
                   [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_INDIVIDUAL_COUNT'|translate"
                   [tabindex]="tabindex + 34">
          </mat-form-field>
        </ion-col>
      </ion-row>
    </div>

    <ng-content></ng-content>

  </ion-grid>


</form>


<ng-template #loadingSpinner>
  <ion-spinner class="ion-align-self-center"></ion-spinner>
</ng-template>
