:host {
  .mat-checkbox-checkmark {
    .mat-checkbox-checkmark-path {
      stroke: black !important;
      //stroke: var(--ion-color-secondary100-contrast, white) !important;
    }
    //svg path {
    //  stroke: var(--ion-color-light-contrast, white) !important;
    //}
  }
}
mat-card.qv.even,
ion-card.qv.even {
  background-color: var(--ion-color-secondary100) !important;
  .mat-checkbox-checkmark {
    .mat-checkbox-checkmark-path {
      stroke: black !important;
      //stroke: var(--ion-color-secondary100-contrast, white) !important;
    }
  }
}
mat-card.qv.odd,
ion-card.qv.odd {
  background-color: var(--ion-color-light, whitesmoke) !important;
}
