<form class="form-container" [formGroup]="form" >

  <!-- (keydown.tab)="focusNextInput($event)" (keydown.shift.tab)="focusPreviousInput($event)" -->
  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- parent combo -->
  <ion-grid class="ion-no-padding" *ngIf="showParentGroup">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <mat-autocomplete-field #inputField
                                formControlName="parentGroup"
                                [floatLabel]="floatLabel"
                                [placeholder]="'TRIP.BATCH.EDIT.PARENT_GROUP'|translate"
                                [config]="autocompleteFields.parentGroup"
                                [required]="true"
                                [mobile]="mobile"
                                [tabindex]="tabindex"
                                (keydown.tab)="focusNextInput($event)"
                                (keyup.enter)="focusNextInput($event)">
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding" *ngIf="onNewParentClick">
        <button mat-icon-button tabindex="-1" [title]="'COMMON.BTN_ADD'|translate"
                (click)="doNewParentClick($event)"
                type="button">
          <mat-icon>add</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="measurementValuesForm">
    <!-- QV pmfm -->
    <app-pmfm-field #inputField
                       *ngIf="!loading && qvPmfm as pmfm"
                       [pmfm]="pmfm"
                       [style]="mobile && 'button'"
                       [required]="true"
                       [floatLabel]="floatLabel"
                       [compact]="compact"
                       [tabindex]="tabindex+1"
                       (keyup.enter)="focusNextInput($event)"
                       [maxVisibleButtons]="pmfm.qualitativeValues.length">
      <!-- checkbox to freeze -->
      <mat-checkbox  matSuffix
                     *ngIf="!mobile"
                     [formControl]="freezeQvPmfmControl"
                     [title]="'COMMON.BTN_FREEZE_VALUE_HELP'|translate"
                     (click)="$event.stopPropagation()"
                     tabindex="-1">
        <ion-text><small translate>COMMON.BTN_FREEZE_VALUE</small></ion-text>
      </mat-checkbox>
    </app-pmfm-field>
  </form>

  <!-- Taxon name -->
  <ng-container *ngIf="showTaxonName">

    <!-- Taxon name (desktop) -->
    <mat-autocomplete-field #inputField *ngIf="!mobile || freezeTaxonName; else taxonNameMobile"
                            formControlName="taxonName"
                            [floatLabel]="floatLabel"
                            [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                            [config]="autocompleteFields.taxonName"
                            [required]="true"
                            [tabindex]="tabindex+2"
                            (keyup.enter)="focusNextInput($event)">
      <!-- checkbox to freeze value -->
      <mat-checkbox  matSuffix
                     [formControl]="freezeTaxonNameControl"
                     [title]="'COMMON.BTN_FREEZE_VALUE_HELP'|translate"
                     (click)="$event.stopPropagation()"
                     tabindex="-1">
        <ion-text><small translate>COMMON.BTN_FREEZE_VALUE</small></ion-text>
      </mat-checkbox>
    </mat-autocomplete-field>

    <!-- Taxon name (mobile: use buttons) -->
    <ng-template #taxonNameMobile>
      <mat-form-field floatLabel="always"
                      *ngIf="$taxonNames | async as taxonNames; else loadingTaxonNames"
                      [class.computed]="taxonNames.length === 1">
        <input matInput type="text" hidden
               formControlName="taxonName"
               [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
               required>

        <div class="mat-form-field-buttons"
             style="--buttons-col-count: 3;"
             *ngIf="taxonNames | isArrayLength: {greaterThan: 1}; else defaultTaxonName">
            <ion-button class="mat-form-field-button"
                        *ngFor="let item of taxonNames; index as i;"
                        [color]="selectedTaxonNameIndex === -1 ? 'tertiary' : (selectedTaxonNameIndex === i ? 'accent' : 'light')"
                        (click)="onTaxonNameButtonClick($event, item, tabindex + 19)"
                        (keyup.enter)="onTaxonNameButtonClick($event, item, tabindex + 19)"
                        [tabindex]="tabindex + 3 + i">
              {{item.name || item.label}}
            </ion-button>
        </div>

        <ng-template #defaultTaxonName>
          <ion-label>{{taxonNames[0].name || taxonNames[0].label}}</ion-label>
        </ng-template>

        <!-- Options menu -->
        <button mat-icon-button matSuffix
                [title]="'COMMON.OPTIONS'|translate"
                [matMenuTriggerFor]="taxonNameMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <!-- Freeze QV or taxon name menu -->
        <mat-menu #taxonNameMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="freezeTaxonName=!freezeTaxonName">
            <mat-icon *ngIf="freezeTaxonName">check_box</mat-icon>
            <mat-icon *ngIf="!freezeTaxonName">check_box_outline_blank</mat-icon>
            <ion-label translate>COMMON.BTN_FREEZE_VALUE</ion-label>
          </button>
        </mat-menu>


        <mat-error *ngIf="form.controls.taxonName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>

      <ng-template #loadingTaxonNames>
        <mat-form-field floatLabel="auto">
          <input matInput type="text"
                 [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                 required>
        </mat-form-field>
      </ng-template>
    </ng-template>
  </ng-container>

  <!-- pmfms -->
  <form *ngIf="$pmfms | async as pmfms; else loadingSpinner"
        [formGroup]="measurementValuesForm">

    <app-pmfm-field *ngFor="let pmfm of pmfms; index as i; last as last"
                    #inputField
                    [formControlName]="pmfm.id|toString"
                    [pmfm]="pmfm"
                    [floatLabel]="floatLabel"
                    (keyup.enter)="focusNextInputOrSubmit($event, last)"
                    [tabindex]="tabindex + 20 + i*2"
                    [style]="mobile && 'button'"
                    [maxVisibleButtons]="maxVisibleButtons">
    </app-pmfm-field>
  </form>


  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <!-- Individual count -->
        <mat-form-field *ngIf="showIndividualCount">
          <input matInput #inputField
                 autocomplete="off"
                 formControlName="individualCount"
                 min="1"
                 type="number"
                 step="1"
                 pattern="[0-9]*"
                 (keypress)="filterNumberInput($event, false)"
                 (keyup.enter)="doSubmit($event)"
                 (focus)="selectInputContent($event)"
                 [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL.INDIVIDUAL_COUNT'|translate"
                 [required]="!enableIndividualCount"
                 [tabindex]="tabindex + 100">
          <mat-error *ngIf="form.controls.individualCount.hasError('required')" translate>ERROR.FIELD_REQUIRED
          </mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('min')">
            {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') |
              translate:form.controls.individualCount.errors['min'] }}
          </mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('integer')">
            {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}
          </mat-error>

          <!-- checkbox (to manually set the individual count, otherwise it increment one by one) -->
          <mat-checkbox matSuffix [formControl]="enableIndividualCountControl"
                        labelPosition="after"
                        tabindex="-1">
            <ion-text><small translate>TRIP.BATCH.EDIT.INDIVIDUAL.BTN_MANUAL_ENTRY</small></ion-text>
          </mat-checkbox>
        </mat-form-field>
      </ion-col>
      <ion-col class="ion-no-padding" *ngIf="showSubmitButton">

        <ion-button color="tertiary" class="ion-float-end"
                    [fill]="invalid ? 'clear' : 'solid'"
                    [disabled]="loading && !valid"
                    (click)="doSubmit($event)"
                    (keyup.enter)="doSubmit($event)"
                    [tabindex]="tabindex + 101">
          <ion-label *ngIf="isNew" translate>COMMON.BTN_ADD</ion-label>
          <ion-label *ngIf="!isNew" translate>COMMON.BTN_APPLY</ion-label>
        </ion-button>

        <ng-content select="[endButton]"></ng-content>
      </ion-col>
    </ion-row>
  </ion-grid>


</form>

<ng-template #loadingSpinner>
  <ion-spinner class="ion-align-self-center"></ion-spinner>
</ng-template>
