<mat-toolbar *ngIf="showToolbar">

  <button mat-icon-button
          *ngIf="canEdit && !selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()"
          hidden-xs hidden-sm hidden-mobile>
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="light" *ngIf="canEdit && selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- separator -->
  <ion-text class="toolbar-spacer ion-text-center">
    <!-- title -->
    <span *ngIf="title" [innerHTML]="title"></span>
  </ion-text>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<table mat-table matSort matSortDisableClear
       [class.no-header-row]="!showHeaderRow"
       [dataSource]="dataSource"
       [matSortActive]="defaultSortBy"
       [matSortDirection]="defaultSortDirection"
       [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Id column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label>#</ion-label>
    </th>
    <td mat-cell *matCellDef="let row">{{ row.currentData?.id }}</td>
  </ng-container>

  <!-- Fields-->
  <ng-container *ngFor="let definition of fieldDefinitions" [matColumnDef]="definition.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label>{{definition.label | translate}}</ion-label>
    </th>
    <td mat-cell *matCellDef="let row"
        (click)="focusColumn=definition.key">
      <app-form-field floatLabel="never"
                      [formControl]="row.validator.get(definition.key)"
                      [definition]="definition"
                      [autofocus]="row.editing && focusColumn === definition.key"
                      [compact]="true">
      </app-form-field>
    </td>
  </ng-container>

  <!-- Default value -->
  <ng-container matColumnDef="defaultValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <ion-label>{{fieldDefinitionsMap.defaultValue.label | translate}}</ion-label>
    </th>
    <td mat-cell *matCellDef="let row" (click)="focusColumn='defaultValue'">
      <ng-container *ngIf="row.validator.controls.pmfm.value; let pmfm">

        <app-form-field floatLabel="never" *ngIf="pmfm.isQualitative; else simplePmfmType"
                        [formControl]="row.validator.controls.defaultValue"
                        [definition]="fieldDefinitionsMap['defaultQualitativeValue']"
                        [autofocus]="row.editing && focusColumn === 'defaultValue'"
                        [compact]="true">
        </app-form-field>
        <ng-template #simplePmfmType>
          <app-pmfm-field floatLabel="never" *ngIf="pmfm?.id"
                          [formControl]="row.validator.controls.defaultValue"
                          [pmfm]="pmfm"
                          [autofocus]="row.editing && focusColumn === 'defaultValue'"
                          [compact]="true">
          </app-pmfm-field>
        </ng-template>
      </ng-container>
    </td>
  </ng-container>


  <!-- Actions buttons column (if  has toolbar) -->
  <app-actions-column *ngIf="showToolbar; else noToolbarActions"
                      (confirmAndAddClick)="confirmAndAdd($event.event, $event.row)"
                      (cancelOrDeleteClick)="cancelOrDelete($event.event, $event.row)"
                      (backward)="confirmAndBackward($event.event, $event.row)"
                      (forward)="confirmAndForward($event.event, $event.row)"
                      [canCancel]="false">
  </app-actions-column>

  <!-- Actions buttons column (if NO toolbar) -->
  <ng-template #noToolbarActions>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row" >

        <!-- add -->
        <button mat-icon-button color="light" [disabled]="!canEdit"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="confirmAndAdd($event, row)">
          <mat-icon>add</mat-icon>
        </button>

        <!-- delete  -->
        <button mat-icon-button color="light" *ngIf="allowEmpty || totalRowCount > 1"
                [disabled]="!canEdit"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="deleteRow($event, row)">
          <mat-icon>close</mat-icon>
        </button>

        <!-- reset row  -->
        <button mat-icon-button color="light" *ngIf="!allowEmpty && totalRowCount === 1"
                [disabled]="!canEdit"
                [title]="'COMMON.BTN_DELETE'|translate"
                (click)="resetRow($event, row)">
          <mat-icon>close</mat-icon>
        </button>

      </td>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="showHeaderRow">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: sticky"></tr>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.mat-row-error]="row.validator.invalid"
      [class.mat-row-dirty]="row.validator.dirty"
      [class.mat-row-disabled]="!row.editing"
      (click)="clickRow($event, row)"
      [cdkTrapFocus]="row.editing && row.validator.invalid"></tr>

</table>

<ng-container *ngIf="loading$|async">
  <ion-item>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-item>
</ng-container>
