.mat-table {

  .mat-column-acquisitionLevel {
    min-width: 80px;
    max-width: 200px;
  }

  .mat-column-rankOrder,
  .mat-column-acquisitionNumber,
  .mat-column-minValue,
  .mat-column-maxValue,
  .mat-column-defaultValue {
    max-width: 60px;
  }

  .mat-column-isMandatory {
    max-width: 40px;
  }



  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }

  &.no-header-row {
    .mat-column-actions {
      max-width: 80px;
    }

    mat-cell:first-of-type,
    .mat-cell:first-of-type {
      padding-left: 0 !important;
    }
  }
}
