<mat-toolbar *ngIf="canDisplayToolbar">

  <button mat-icon-button
          *ngIf="canEdit && !selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()"
          hidden-xs hidden-sm hidden-mobile>
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="canEdit && selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- separator -->
  <ion-text class="toolbar-spacer ion-text-center">
    <!-- title -->
    <span *ngIf="title" [innerHTML]="title"></span>
  </ion-text>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>


<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
           matSortDisableClear [trackBy]="trackByFn" >

  <ng-container matColumnDef="select">
    <mat-header-cell [hidden]="!canDisplayColumnsHeaders" class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Id column -->
  <ng-container matColumnDef="id">
    <mat-header-cell [hidden]="!canDisplayColumnsHeaders" *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.id }}</mat-cell>
  </ng-container>

  <!-- Acquisition level
  <ng-container matColumnDef="acquisitionLevel">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>PROGRAM.STRATEGY.PMFM_STRATEGY.ACQUISITION_LEVEL</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">

      <mat-autocomplete-field floatLabel="never" class="min-width-large"
                              [formControl]="row.validator.controls.acquisitionLevel"
                              [placeholder]="'PROGRAM.STRATEGY.PMFM_STRATEGY.ACQUISITION_LEVEL'|translate"
                              [required]="true"
                              [config]="autocompleteFields.acquisitionLevel"
                              [readonly]="!row.editing">
      </mat-autocomplete-field>
    </mat-cell>
  </ng-container> -->

  <!-- Fields-->
  <ng-container *ngFor="let definition of fieldDefinitions" [matColumnDef]="definition.key">
    <mat-header-cell   [hidden]="!canDisplayColumnsHeaders" *matHeaderCellDef mat-sort-header>
      <ion-label>{{definition.label | translate}}</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" >
      <app-form-field floatLabel="never"
                      [formControl]="row.validator.controls[definition.key]"
                      [definition]="definition"
                      [compact]="true">
      </app-form-field>
    </mat-cell>
  </ng-container>

  <!-- Default value -->
  <ng-container matColumnDef="defaultValue">
    <mat-header-cell  [hidden]="!canDisplayColumnsHeaders" *matHeaderCellDef mat-sort-header>
      <ion-label>{{fieldDefinitionsMap.defaultValue.label | translate}}</ion-label>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" >
      <ng-container *ngIf="row.currentData.pmfm">
        <app-pmfm-field floatLabel="never"
                        [formControl]="row.validator.controls.defaultValue"
                        [pmfm]="row.currentData.pmfm"
                        [compact]="true">
        </app-pmfm-field>
        <ng-template #pmfmReadonly>
          {{pmfmValueToString(row.currentData.defaultValue, row.currentData.pmfm)}}
        </ng-template>
      </ng-container>
    </mat-cell>
  </ng-container>


  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell  [hidden]="!canDisplayColumnsHeaders" *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">

      <!-- undo or delete  -->
      <button mat-icon-button color="light" *ngIf="row.validator.invalid || (!canDisplayColumnsHeaders && selection.hasValue())"
               [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
               (click)="cancelOrDelete($event, row)">
         <mat-icon *ngIf="row.id !== -1 && (row.validator.invalid)">undo</mat-icon>
         <mat-icon *ngIf="row.id === -1 || (!canDisplayColumnsHeaders && selection.isSelected(row))">delete_outline</mat-icon>
      </button>


      <!-- validate -->
      <button mat-icon-button color="light" *ngIf="(row.validator.valid && row.id !== -1) || (!canDisplayColumnsHeaders && row.validator.valid)"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light" *ngIf="(row.validator.valid && row.id === -1 && canDisplayColumnsHeaders) || (!canDisplayColumnsHeaders && !row.validator.valid)"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="!canDisplayColumnsHeaders ? addRow() : confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row  [hidden]="!canDisplayColumnsHeaders" *matHeaderRowDef="displayedColumns; sticky: sticky"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           [class.mat-row-error]="row.validator.invalid"
           [class.mat-row-dirty]="row.validator.dirty"
           [class.mat-row-disabled]="!row.editing"
           (click)="clickRow($event, row)"></mat-row>

</mat-table>

