
<!-- error -->
<ion-item *ngIf="firstError as error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
</ion-item>

<!-- base form -->
<app-referential-form #referentialForm
                      [form]="form"
                      [entityName]="'Strategy'"
                      [showError]="false"
                      [debug]="debug"
                      (onSubmit)="save($event)"
                      [class.cdk-visually-hidden]="!showBaseForm">
</app-referential-form>

<!-- Other fields -->
<form [formGroup]="form" class="form-container">
  <ion-grid>
    <ion-row>


      <ion-col size="12" size-lg="4">
        <mat-accordion>

          <!-- Acquisition levels -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.ACQUISITION_LEVELS</span>
                  <ion-icon name="filter" *ngIf="acquisitionLevelList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="acquisitionLevelList.length">({{acquisitionLevelList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #acquisitionLevelList
                           [displayWith]="getReferentialName"
                           [equals]="referentialEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: false}"
                           (onSelectionChange)="updateFilterAcquisitionLevel($event && $event[0])"
                           (onNewItem)="addAcquisitionLevel()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Locations -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.LOCATIONS</span>
                  <ion-icon name="filter" *ngIf="locationsList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="locationsList.length">({{locationsList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #locationsList
                           [displayWith]="referentialToString"
                           [equals]="referentialEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: true}"
                           (onSelectionChange)="updateFilterLocations($event)"
                           (onNewItem)="addLocation()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Gears -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.GEARS</span>
                  <ion-icon name="filter" *ngIf="gearsList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="gearsList.length">({{gearsList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #gearsList
                           [displayWith]="referentialToString"
                           [equals]="referentialEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: true}"
                           (onSelectionChange)="updateFilterGears($event)"
                           (onNewItem)="addGear()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Taxon Groups -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.TAXON_GROUPS</span>
                  <ion-icon name="filter" *ngIf="taxonGroupsList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="taxonGroupsList.length">({{taxonGroupsList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #taxonGroupsList
                           [displayWith]="taxonGroupStrategyToString"
                           [equals]="taxonGroupStrategyEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: true}"
                           (onSelectionChange)="updateFilterTaxonGroups($event)"
                           (onNewItem)="addTaxonGroup()">
            </app-list-form>

          </mat-expansion-panel>

          <!-- Taxon names -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.TAXON_NAMES</span>
                  <ion-icon name="filter" *ngIf="taxonNamesList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="taxonNamesList.length">({{taxonNamesList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #taxonNamesList
                           [displayWith]="taxonNameStrategyToString"
                           [equals]="taxonNameStrategyEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: true}"
                           (onSelectionChange)="updateFilterTaxonNames($event)"
                           (onNewItem)="addTaxonName()">
            </app-list-form>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>

      <!-- Pmfm strategies -->
      <ion-col>
        <ion-card class="ion-no-margin">
            <app-pmfm-strategies-table #pmfmStrategiesTable
                                       [title]="'PROGRAM.STRATEGY.PMFM_STRATEGY.TABLE.TITLE'|translate"
                                       [program]="program"
                                       [canEdit]="enabled"
                                       [canDelete]="enabled"
                                       [sticky]="true">
            </app-pmfm-strategies-table>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</form>

