.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - 1px);

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}

.mat-table {
  .mat-column-label {
    min-width: 50px;
    max-width: 150px;
  }

  .mat-column-status {
    min-width: 110px;
  }

  .mat-column-comments {
    max-width: 110px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }
}
