<app-toolbar [title]="$title | async" color="primary">
  <ion-buttons slot="end">

    <ng-container *ngIf="!table?.selection.hasValue(); else hasSelection">

      <!-- Add -->
      <button mat-icon-button
              *ngIf="canEdit && !mobile"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="table?.addRow()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Refresh -->
      <button mat-icon-button *ngIf="!mobile"
              [title]="'COMMON.BTN_REFRESH'|translate"
              (click)="doRefresh()">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- reset filter -->
      <button mat-icon-button (click)="resetFilter($event)"
              *ngIf="filterCriteriaCount">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <!-- show filter -->
      <button mat-icon-button (click)="filterExpansionPanel?.toggle()">
        <mat-icon *ngIf="filterCriteriaCount; else emptyFilter"
                  [matBadge]="filterCriteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>
    </ng-container>

    <!-- if row selection -->
    <ng-template #hasSelection>
      <!-- duplicate -->
      <button mat-icon-button class="hidden-xs hidden-sm"
              [title]="'COMMON.BTN_DUPLICATE'|translate"
              (click)="openStrategyDuplicateModal($event)">
        <mat-icon>library_add</mat-icon>
      </button>

      <!-- delete -->
      <button mat-icon-button class="hidden-xs hidden-sm"
              *ngIf="canDelete && canUserCancelOrDelete"
              [title]="'COMMON.BTN_DELETE'|translate"
              (click)="table?.deleteSelection($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

  </ion-buttons>
</app-toolbar>

<ion-content>

  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- error -->
  <ion-item *ngIf="table?.error || error; let error" visible-xs visible-sm visible-mobile lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error |translate"></ion-label>
  </ion-item>

  <ng-container [ngSwitch]="strategyEditor">

      <!-- Biological sampling strategy table -->
      <app-sampling-strategies-table #samplingTable *ngSwitchCase="'sampling'"
                                     [program]="data"
                                     [showToolbar]="false"
                                     [canEdit]="canEdit"
                                     [canDelete]="canDelete"
                                     [showError]="false"
                                     [showPaginator]="false"
                                     [paginator]="paginator"
                                     (onOpenRow)="onOpenRow($event)"
                                     (onNewRow)="onNewRow($event)"
                                     (onNewDataFromRow)="onNewDataFromRow($event)">
      </app-sampling-strategies-table>

      <!-- legacy strategy table -->
      <app-strategy-table #legacyTable *ngSwitchDefault
                          [program]="data"
                          [canEdit]="canEdit"
                          [canDelete]="canDelete"
                          [showError]="false"
                          [showPaginator]="false"
                          [paginator]="paginator"
                          (onOpenRow)="onOpenRow($event)"
                          (onNewRow)="onNewRow($event)">
      </app-strategy-table>

  </ng-container>
</ion-content>

<ion-footer>
  <mat-paginator #paginator class="mat-paginator-footer"
                 [length]="table?.totalRowCount" [pageSize]="table?.defaultPageSize"
                 [pageSizeOptions]="table?.defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>

<!-- Add button -->
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="canEdit && mobile">
  <ion-fab-button color="tertiary" (click)="table?.addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
