
<!-- error -->
<ion-item *ngIf="firstError as error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
</ion-item>

<!-- base form -->
<app-referential-form #referentialForm
                      [form]="form"
                      [entityName]="'Strategy'"
                      [showError]="false"
                      [debug]="debug"
                      (onSubmit)="save($event)"
                      [class.cdk-visually-hidden]="!showBaseForm">
</app-referential-form>

<!-- Filter form -->
<form [formGroup]="form" class="form-container">
  <ion-grid>
    <ion-row>

      <ion-col size="12" size-md="4" size-lg="3">
        <mat-accordion>

          <!-- Acquisition levels -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.ACQUISITION_LEVELS</span>
                  <ion-icon name="filter" *ngIf="acquisitionLevelList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="acquisitionLevelList.length">({{acquisitionLevelList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #acquisitionLevelList
                           [displayWith]="getReferentialName"
                           [formArray]="filterForm.controls.acquisitionLevels"
                           [equals]="referentialEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: false}"
                           (selectionChanges)="updateFilterAcquisitionLevel($event && $event[0])"
                           (onNewItem)="addAcquisitionLevel()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Locations -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.LOCATIONS</span>
                  <ion-icon name="filter" *ngIf="locationList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="locationList.length">({{locationList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #locationList
                           [formArray]="filterForm.controls.locations"
                           [displayWith]="referentialToString"
                           [equals]="referentialEquals"
                           [options]="{allowEmptyArray: true, allowMultipleSelection: true}"
                           (selectionChanges)="updateFilterLocations($event)"
                           (onNewItem)="addLocation()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Gears -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.GEARS</span>
                  <ion-icon name="filter" *ngIf="gearList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="gearList.length">({{gearList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #gearList
                           formArrayName="gears"
                           [displayWith]="referentialToString"
                           [equals]="referentialEquals"
                           [options]="gearListOptions"
                           (selectionChanges)="updateFilterGears($event)"
                           (onNewItem)="addGear()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Taxon Groups -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.TAXON_GROUPS</span>
                  <ion-icon name="filter" *ngIf="taxonGroupList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="taxonGroupList.length">({{taxonGroupList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #taxonGroupList
                           formArrayName="taxonGroups"
                           [displayWith]="taxonGroupStrategyToString"
                           [equals]="taxonGroupStrategyEquals"
                           [options]="taxonGroupListOptions"
                           (selectionChanges)="updateFilterTaxonGroups($event)"
                           (onNewItem)="addTaxonGroup()">
            </app-list-form>
          </mat-expansion-panel>

          <!-- Taxon names -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-text color="primary">
                  <span translate>PROGRAM.STRATEGY.SCIENTIFIC_TAXON_NAMES</span>
                  <ion-icon name="filter" *ngIf="taxonNameList.hasSelection()"></ion-icon>
                </ion-text>
              </mat-panel-title>
              <mat-panel-description *ngIf="taxonNameList.length">({{taxonNameList.length}})</mat-panel-description>
            </mat-expansion-panel-header>

            <app-list-form #taxonNameList
                           formArrayName="taxonNames"
                           [displayWith]="taxonNameStrategyToString"
                           [equals]="taxonNameStrategyEquals"
                           [options]="taxonNameListOptions"
                           (selectionChanges)="updateFilterTaxonNames($event)"
                           (onNewItem)="addTaxonName()">
            </app-list-form>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>

      <!-- Pmfm strategies -->
      <ion-col>
        <ion-card class="ion-no-margin">
            <app-pmfm-strategies-table #pmfmsTable
                                       [title]="'PROGRAM.STRATEGY.PMFM_STRATEGY.TABLE.TITLE'|translate"
                                       [canEdit]="enabled"
                                       [canDelete]="enabled"
                                       [sticky]="true"
                                       [showDetailsColumns]="true">
            </app-pmfm-strategies-table>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</form>

