<app-toolbar [title]="$title | async" color="primary" [hasValidate]="!loading && dirty" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group #tabGroup
                 [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)"
                 animationDuration="0s">

    <!-- TAB: general -->
    <mat-tab label="{{'LANDING.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="information-circle"></ion-icon>
        </mat-icon>
        <ion-label translate>LANDING.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && landingForm.invalid"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="landingForm.error||error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="(landingForm.error||error) | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding ion-padding-top">

            <!-- landing form-->
            <app-landing-form #landingForm
                              [showError]="false"
                              [showMeasurements]="false"
                              [debug]="debug"
                              (onSubmit)="save($event)">
            </app-landing-form>
          </ion-col>
          <ion-col class="ion-no-padding" size="12" size-xl="3">
            <app-entity-metadata [value]="data">
              <app-entity-quality-form [editor]="this">
              </app-entity-quality-form>
            </app-entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab label="{{'AUCTION_CONTROL.TAB_SAMPLES'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="flag"></ion-icon>
        </mat-icon>
        <ion-label translate>AUCTION_CONTROL.TAB_SAMPLES</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <div class="ion-no-padding">

        <form [formGroup]="landingForm.form" class="form-container ion-padding">

          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <!-- pmfms -->
              <ion-col *ngFor="let pmfm of landingForm.$pmfms | async; index as i;"
                  size="12" size-md="6">
                <mat-form-field-measurement [pmfm]="pmfm"
                                            [formControl]="form.get('measurementValues.'+ pmfm.pmfmId.toString())"
                                            [tabindex]="50 + i*2">
                </mat-form-field-measurement>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>

        <!-- error -->
        <ion-item *ngIf="samplesTable.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="samplesTable.error|translate"></ion-label>
        </ion-item>

        <app-samples-table #samplesTable
                           [class.cdk-visually-hidden]="!samplesTable.defaultTaxonGroup"
                           [program]="programSubject|async"
                           [showLabelColumn]="true"
                           [showDateTimeColumn]="false"
                           [showTaxonNameColumn]="false"
                           [showTaxonGroupColumn]="false"
                           [defaultSampleDate]="data?.dateTime"
                           [usageMode]="usageMode"
                           (onInitForm)="onStartSampleEditingForm($event)"
                           [debug]="debug">
        </app-samples-table>
      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>


<ion-fab slot="fixed" vertical="bottom" horizontal="end"
         *ngIf="selectedTabIndex === 1 && samplesTable.defaultTaxonGroup" @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="samplesTable.addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
