
.item-partners {
  ion-label {
    height: auto;

    p:last-child {
      display: inline-flex;

      a:first-child {
        padding-left: 0;
      }
      a:last-child {
        padding-right: 0;
      }
      a {
        padding: 2px;

        img {
          text-align: center;
          display: inline-block;
          max-height: 50px;
        }
      }
    }
  }

}
