:host {
  width: 100%;
}

.mat-table {
  background-color: transparent !important;

  // First row header
  .mat-header-row.first-header-row {
    --qv-visible-column-count: 5;

    // Reduce visible columns, if mobile
    &.plt-mobile {
      --qv-visible-column-count: 2;
    }

    max-height: 58px;
    min-height: 58px;
    margin-top: -58px;

    .mat-header-cell {
      background-color: transparent;
    }
    .mat-header-cell.qv {
      display: none;
      visibility: hidden;
    }
    .mat-header-cell.qv.even {
      background-color: var(--ion-color-medium) !important;
    }
    .mat-header-cell.qv.odd {
      background-color: var(--ion-color-light-shade, lightgray) !important;
    }
    .mat-header-cell.qv.show {
      display: flex;
      visibility: visible;
      flex: var(--qv-visible-column-count);

      ion-label,
      mat-label {
        text-align: center;
        margin: 0;
        width: 100%;

        mat-checkbox {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  .mat-header-row,
  .mat-row {
    .mat-header-cell.hide,
    .mat-cel.hide {
      display: none;
      visibility: hidden;
    }

    .mat-header-cell.total {
      background-color: var(--ion-color-light, whitesmoke) !important;
    }

    .mat-cell.total {
      background-color: var(--ion-color-light, whitesmoke) !important;
      color: var(--ion-color-light-contrast, black) !important;
    }

    .mat-column-id {
      max-width: 30px;
    }

    .mat-column-taxonName,
    .mat-column-taxonGroup {
      min-width: 150px;
    }

    .mat-column-comments {
      max-width: inherit; // Override default limitation
    }

    .mat-column-actions {
      max-width: 40px;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }
}
