:host {
  width: 100%;
}

.mat-header-row,
.mat-row {
  .mat-column-id {
    max-width: 30px;
  }

  .mat-column-parent,
  .mat-column-taxonName,
  .mat-column-taxonGroup {
    min-width: 150px;
  }

  .mat-column-comments {
    max-width: inherit; // Override default limitation
  }

  .mat-column-80,
  .mat-column-94,
  .mat-column-94 {
    max-width: 50px;
  }

  .mat-column-81,
  .mat-column-95 {
    max-width: 100px;
  }
}

.table-container {
  max-height: calc(100vh - var(--toolbar-min-height, 56px) * 2);
  overflow-y: auto;

  mat-table {
    overflow-y: visible;
  }
}
