<mat-toolbar>
  <button mat-icon-button
          hidden-xs hidden-sm hidden-mobile
          *ngIf="!selection.hasValue() && enabled"
          [title]="'COMMON.BTN_ADD'|translate"
          (click)="addRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="light" *ngIf="selection.hasValue() && enabled"
          [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button color="light" *ngIf="debug && !selection.hasValue()"
          [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <!-- enable burst input -->
  <ion-button color="light"
              [disabled]="disabled"
              [title]="'COMMON.BTN_BURST_INPUT_HELP'|translate"
              (click)="toggleForm()" hidden-xs hidden-sm hidden-mobile>
    <ion-label translate>COMMON.BTN_BURST_INPUT</ion-label>
  </ion-button>

  <!-- Options menu -->
  <button mat-icon-button
          [title]="'COMMON.OPTIONS'|translate"
          (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding">
    <ion-col size="12" size-md="" class="table-container ion-no-padding">

      <mat-table [dataSource]="dataSource" class="table-sub-batches" matSort matSortActive="rankOrder"
                 matSortDirection="asc"
                 matSortDisableClear
                 [trackBy]="trackByFn">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [tabindex]="-1">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [tabindex]="-1">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- rankOrder Column = id -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"><ion-label>{{row.currentData?.rankOrder}}</ion-label></mat-cell>
        </ng-container>

        <!-- parent -->
        <ng-container matColumnDef="parentGroup">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <ion-label>
              <span *ngIf="displayParentPmfm">{{displayParentPmfm | pmfmName}}</span>
              <span *ngIf="!displayParentPmfm" translate>TRIP.BATCH.TABLE.PARENT_GROUP</span>
            </ion-label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">

            <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                                    [autofocus]="row.id === -1 && row.editing"
                                    [formControl]="row.validator.controls.parentGroup"
                                    [placeholder]="'TRIP.BATCH.TABLE.PARENT_GROUP'|translate"
                                    [required]="true"
                                    [config]="autocompleteFields.parentGroup">
            </mat-autocomplete-field>
          </mat-cell>

        </ng-container>

        <!-- taxon name (scientific species) -->
        <ng-container matColumnDef="taxonName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <ion-label translate>TRIP.BATCH.TABLE.TAXON_NAME</ion-label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-autocomplete-field floatLabel="never" class="min-width-medium"
                                    [formControl]="row.validator.controls.taxonName"
                                    [placeholder]="'TRIP.BATCH.TABLE.TAXON_NAME_PLACEHOLDER'|translate"
                                    [required]="true"
                                    [config]="autocompleteFields.taxonName">
            </mat-autocomplete-field>
          </mat-cell>
        </ng-container>

        <!-- Pmfms columns -->
        <ng-container *ngFor="let pmfm of $pmfms | async" [matColumnDef]="pmfm.id.toString()">
          <mat-header-cell *matHeaderCellDef mat-sort-header
                           [class.mat-cell-date-time]="pmfm|isDatePmfm">
            <ion-label [innerHTML]="pmfm|pmfmName: {html: true, withUnit: true}"></ion-label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row"
                    [class.mat-cell-date-time]="pmfm|isDatePmfm">
            <app-pmfm-field floatLabel="never"
                            [formControl]="row.validator.controls.measurementValues.controls[pmfm.id]"
                            [pmfm]="pmfm"
                            [readonly]="!row.editing"
                            [compact]="true">
            </app-pmfm-field>
          </mat-cell>
        </ng-container>

        <!-- individualCount column -->
        <ng-container matColumnDef="individualCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <ion-label translate>TRIP.BATCH.TABLE.INDIVIDUAL_COUNT</ion-label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
            <mat-form-field floatLabel="never">
              <input matInput
                     autocomplete="off"
                     [formControl]="row.validator.controls.individualCount"
                     min="1"
                     type="number"
                     step="1"
                     pattern="[0-9]*"
                     (click)="selectInputContent($event)"
                     [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL.INDIVIDUAL_COUNT'|translate"
                     required>
              <!-- (keypress.enter)="enableIndividualCount && doSubmit($event)" -->
              <mat-error *ngIf="row.validator.controls.individualCount.hasError('required')" translate>
                ERROR.FIELD_REQUIRED
              </mat-error>
              <mat-error *ngIf="row.validator.controls.individualCount.hasError('min')">
                {{'ERROR.FIELD_MIN_COMPACT'|translate:row.validator.controls.individualCount.errors['min'] }}
              </mat-error>
              <mat-error *ngIf="row.validator.controls.individualCount.hasError('integer')">
                {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}
              </mat-error>
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Comment column -->
        <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
            <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm">
            <mat-form-field floatLabel="never" *ngIf="row.editing; else iconComment">
              <input matInput [formControl]="row.validator.controls.comments"
                     [placeholder]="'REFERENTIAL.COMMENTS'|translate"
                     [readonly]="!row.editing">
            </mat-form-field>

            <ng-template #iconComment>
              <mat-icon class="comment" [class.disabled]="!inlineEdition"
                        *ngIf="row.currentData.comments"
                        [title]="row.currentData.comments"></mat-icon>
            </ng-template>
          </mat-cell>
        </ng-container>

        <!-- Actions buttons column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
            <!-- undo or delete  -->
            <button mat-icon-button color="light" *ngIf="row.validator.invalid"
                    [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
                    (click)="cancelOrDelete($event, row)">
              <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
              <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
            </button>
            <!-- validate -->
            <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1"
                    [title]="'COMMON.BTN_VALIDATE'|translate"
                    (click)="confirmEditCreate($event, row)">
              <mat-icon>check</mat-icon>
            </button>
            <!-- add -->
            <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1"
                    [title]="'COMMON.BTN_ADD'|translate"
                    (click)="confirmAndAdd($event, row)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [class.mat-row-error]="row.validator.invalid"
                 [class.mat-row-dirty]="row.validator.dirty"
                 [class.mat-row-disabled]="!row.editing"
                 (click)="clickRow($event, row)"></mat-row>
      </mat-table>

    </ion-col>

    <!-- form -->
    <ion-col size="12" size-md="3" [hidden]="!showForm" class="ion-padding" >
      <ion-label color="primary" class="ion-padding-bottom">
        <span translate>TRIP.BATCH.EDIT.INDIVIDUAL.BURST_FORM_TITLE</span>
      </ion-label>

      <app-sub-batch-form #form
                          [debug]="debug"
                          [programLabel]="programLabel"
                          [acquisitionLevel]="acquisitionLevel"
                          [qvPmfm]="qvPmfm"
                          [showParentGroup]="true"
                          [showTaxonName]="showTaxonNameColumn"
                          [showIndividualCount]="showIndividualCount"
                          [displayParentPmfm]="displayParentPmfm"
                          (onSubmit)="doSubmitForm($event)"
                          [tabindex]="tabindex">
        <!-- Reset form button -->
        <ion-button endButton class="ion-float-end"
                    fill="clear" color="dark"
                    (click)="resetForm()"
                    tabindex="-1">
          {{'COMMON.BTN_CLEAR'|translate}}
        </ion-button>

      </app-sub-batch-form>
    </ion-col>
  </ion-row>
</ion-grid>
