// --------------------------------------------------
// Import theme
// --------------------------------------------------
@import "theme";

// --------------------------------------------------
// Inject Font
// --------------------------------------------------
* {
  @include font-roboto();
}

// --------------------------------------------------
// Inject theme colors (as CSS variables)
// --------------------------------------------------
:root {
  @include css-variables-to-root();
  --mat-tab-link-height: #{$mat-tab-link-height};
  --mat-toolbar-background-color: #{$mat-toolbar-background-color};

  ion-app {
    @include css-variables-to-root();
    --mat-tab-link-height: #{$mat-tab-link-height};
  }

  &.plt-mobile {
    @include css-variables-to-root-mobile();
    ion-app {
      @include css-variables-to-root-mobile();
    }
  }

  // Extra small device
  @media screen and (max-width: #{$screen-xs-max}) {
    --mat-toolbar-height: #{$mat-toolbar-height-mobile};
  }

  ion-icon {
    pointer-events: none !important;
  }
}

