<app-toolbar [title]="'USER.LIST.TITLE'|translate" color="primary"
             [canGoBack]="false">
</app-toolbar>

<ion-content no-padding>

  <mat-toolbar no-padding>

    <button mat-icon-button
            hidden-xs hidden-sm
            *ngIf="canEdit && !selection.hasValue()"
            [title]="'COMMON.BTN_ADD'|translate"
            (click)="addRow()"
            [class.hidden]="!inlineEdition">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="light" *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
      (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_FILTER'|translate" (click)="filterExpansionPanel.toggle()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button color="light" *ngIf="selection.hasValue()" [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection()"
      [class.hidden]="!inlineEdition">
      <mat-icon>delete</mat-icon>
    </button>

    <!-- <mat-button-toggle value="edit" [title]="'COMMON.BTN_TABLE_EDIT'|translate" (change)="inlineEdition=inlineEditionBtn.checked"
      [disabled]="true" #inlineEditionBtn>
      <mat-icon>edit</mat-icon>
    </mat-button-toggle> -->

    <!-- error -->
    <ion-item *ngIf="error" hidden-xs hidden-sm>
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <div class="toolbar-spacer"></div>

    <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="dark" *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
        <ion-icon slot="icon-only" name="add" round></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar> -->

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel color="primary">
    <form class="form-container" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()" padding>
      <!-- search -->
      <mat-form-field>
        <input matInput [placeholder]="'USER.LIST.FILTER.SEARCH'|translate" formControlName="searchText">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onRefresh.emit(true)">{{'COMMON.BTN_SEARCH'|translate}}</button>
    </form>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="lastName" matSortDirection="asc"
    matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef [class.hidden]="!inlineEdition">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row" [class.hidden]="!inlineEdition">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span *ngIf="!loading">#</span>
        <ion-spinner [ngClass]="{'center':true}" *ngIf="loading"></ion-spinner>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">{{ row.currentData.id }}</mat-cell>
    </ng-container>

    <!-- avatar Column -->
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="avatar" [ngStyle]="{'background-image':'url('+row.currentData.avatar+')'}"></div>
      </mat-cell>
    </ng-container>

    <!-- lastName  -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>USER.LAST_NAME</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['lastName']" [placeholder]="'USER.LAST_NAME'|translate"
            [readonly]="!row.editing" [appAutofocus]="row == -1 && row.editing">
          <mat-error *ngIf="row.validator.controls['lastName'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="row.validator.controls['lastName'].hasError('minlength')">
            <span>{{'ERROR.FIELD_TOO_SHORT_WITH_LENGTH' | translate: {minLength: 2} }}</span>
          </mat-error>
        </mat-form-field>

      </mat-cell>

    </ng-container>

    <!-- firstname -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>USER.FIRST_NAME</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['firstName']" [placeholder]="'USER.FIRST_NAME'|translate"
            [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['firstName'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="row.validator.controls['firstName'].hasError('minlength')">
            <span>{{'ERROR.FIELD_TOO_SHORT_WITH_LENGTH' | translate: {minLength: 2} }}</span>
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- email  -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>USER.EMAIL</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['email']" [placeholder]="'USER.EMAIL'|translate"
            [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['email'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="row.validator.controls['email'].hasError('email')">
            <span translate>ERROR.FIELD_NOT_VALID_EMAIL</span>
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- additional fields -->
    <ng-container *ngFor="let field of additionalFields" [matColumnDef]="field.name">
      <mat-header-cell *matHeaderCellDef>
        <span>{{field.label|translate}}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-autocomplete-field floatLabel="never" [placeholder]="field.label|translate" [formControl]="row.validator.controls[field.name]"
          [service]="field.dataService" [filter]="field.dataFilter"
          [required]="field.required" [displayWith]="referentialToString">
        </mat-autocomplete-field>
      </mat-cell>
    </ng-container>

    <!-- profile column  -->
    <ng-container matColumnDef="profile">
      <mat-header-cell *matHeaderCellDef>
        <span translate>USER.PROFILE</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <mat-select [formControl]="row.validator.controls['mainProfile']" [placeholder]="'USER.PROFILE'|translate">
            <mat-option *ngFor="let item of profiles" [value]="item">
              {{ ('USER.PROFILE_' + item.toUpperCase()) |translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls['mainProfile'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Status column  -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>
        <span translate>USER.STATUS</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <ion-icon matPrefix *ngIf="row.validator.controls['statusId'].value &gt;=0" [name]="statusById[row.validator.controls['statusId'].value]?.icon"></ion-icon>

          <mat-select [formControl]="row.validator.controls['statusId']" [placeholder]="'REFERENTIAL.STATUS'|translate">
            <mat-select-trigger>
              <span *ngIf="row.validator.controls['statusId'].value &gt;=0">
                {{ statusById[row.validator.controls['statusId'].value]?.label | translate}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of statusList" [value]="item.id">
              <ion-icon [name]="item.icon"></ion-icon>
              {{ item.label |translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls['statusId'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- pubkey  -->
    <ng-container matColumnDef="pubkey">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>USER.PUBKEY</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing" [title]="row.validator.controls['pubkey'].value">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['pubkey']" [placeholder]="'USER.PUBKEY'|translate"
            [readonly]="!row.editing" autocomplete="off">
          <mat-error *ngIf="row.validator.controls['pubkey'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="row.validator.controls['pubkey'].hasError('pubkey')">
            <span translate>ERROR.FIELD_NOT_VALID_PUBKEY</span>
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
        <span></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
        <!-- undo or delete  -->
        <button mat-icon-button small color="light" *ngIf="row.validator.invalid" [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
                (click)="cancelOrDelete($event, row)">
          <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
          <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
        </button>
        <!-- validate -->
        <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id !== -1" [title]="'COMMON.BTN_VALIDATE'|translate"
                (click)="confirmEditCreate($event, row)">
          <mat-icon>check</mat-icon>
        </button>
        <!-- add -->
        <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id === -1" [title]="'COMMON.BTN_ADD'|translate"
                (click)="confirmAndAddRow($event, row)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.mat-row-error]="row.validator.invalid"
             [class.mat-row-dirty]="row.currentData.dirty"
             [class.mat-row-disabled]="!row.editing"
             (click)="onRowClick($event, row)"></mat-row>
  </mat-table>

  <!-- Paginator  -->
  <ion-row no-padding>
    <ion-col></ion-col>
    <ion-col no-padding size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer hidden-xs hidden-sm *ngIf="inlineEdition">
  <form-buttons-bar (onCancel)="onRefresh.emit()" (onSave)="save()" [disabled]="loading || !dirty"></form-buttons-bar>
</ion-footer>

<ion-fab vertical="bottom" horizontal="end" visible-xs visible-sm>
  <ion-fab-button color="secondary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
