.mat-expansion-panel {
  margin-bottom: 5px;

  .form-container {
    mat-form-field {
      width: 100%;
    }
  }

  mat-action-row {
    ion-label {
      line-height: 36px;
    }
  }
}

.mat-table {
  .mat-cell .avatar {
    height: 40px;
    width: 40px;
    margin: 2px 0px 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .mat-column-avatar {
    max-width: 50px;
  }
}
