<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding">
      <mat-form-field [floatLabel]="floatLabel"
                      [class.mat-form-field-disabled]="disabled"
                      [title]="value && displayWith(value)" >

        <div matPrefix><ng-content select="[matPrefix]"></ng-content></div>

        <!-- readonly -->
        <ng-container *ngIf="readonly; else writable">
          <input matInput hidden type="text"
                 [placeholder]="placeholder"
                 [formControl]="formControl"
                 readonly>
          <ion-label>{{ displayWith(value) }}&nbsp;</ion-label>
        </ng-container>

        <ng-template #writable>

          <!-- Basic select -->
          <mat-select #matSelect
                      *ngIf="!searchable"
                      [placeholder]="placeholder"
                      [formControl]="formControl"
                      [tabindex]="_tabindex"
                      (focus)="filterMatSelectFocusEvent($event)"
                      (blur)="filterMatSelectBlurEvent($event)"
                      [compareWith]="compareWith">
            <mat-select-trigger>{{ displayWith(value) }}</mat-select-trigger>

            <ng-container *ngIf="(matSelectItems$ | async) as items">
              <!-- header -->
              <ion-row class="mat-autocomplete-header ion-no-padding">
                <ion-col *ngFor="let attr of displayAttributes; index as i; last as isLast" [size]="displayColumnSizes[i]" >
                  <ion-label [innerHTML]="displayColumnNames[i] | translate"></ion-label>
                </ion-col>
              </ion-row>

              <!-- None option -->
              <mat-option *ngIf="!required" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col class="ion-no-padding">
                    <ion-label><i translate>COMMON.EMPTY_OPTION</i></ion-label>
                  </ion-col>
                </ion-row>
              </mat-option>

              <!-- No item option -->
              <mat-option *ngIf="!items.length" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col class="ion-no-padding">
                    <ion-label><i>{{noResultMessage | translate}}</i></ion-label>
                  </ion-col>
                </ion-row>
              </mat-option>

              <!-- options -->
              <mat-option class="ion-no-padding"
                          *ngFor="let item of items" [value]="item">
                <ion-row>
                  <ion-col *ngFor="let attr of displayAttributes; index as i;"
                           [size]="displayColumnSizes[i]">
                    <ion-text>{{getPropertyByPath(item, attr)}}</ion-text>
                  </ion-col>
                </ion-row>
              </mat-option>
            </ng-container>
          </mat-select>

          <!--
            NOTE :
             - "selectInputContent($event) || onFocus.emit($event)" : call onFocus only when to the input is empty (nothing to select)
          -->
          <ng-container *ngIf="searchable">
            <input matInput #matInputText type="text"
                   [matAutocomplete]="autoCombo"
                   [formControl]="formControl"
                   [placeholder]="placeholder"
                   [appAutofocus]="appAutofocus"
                   [tabindex]="_tabindex"
                   [readonly]="readonly"
                   [required]="required"
                   (click)="onClick.emit($event)"
                   (blur)="onBlur.emit($event)"
                   (focus)="filterInputTextFocusEvent($event)"
                   (keyup.arrowdown)="!autoCombo.showPanel && onDropButtonClick.emit($event)">
            <!-- autocomplete -->
            <mat-autocomplete #autoCombo="matAutocomplete"
                              autoActiveFirstOption
                              [displayWith]="displayWith"
                              [class]="classList"
                              [class.cdk-visually-hidden]="!searchable">
              <ng-container *ngIf="searchable && (filteredItems$ | async) as items">
                <ion-row class="mat-autocomplete-header ion-no-padding">
                  <ion-col *ngFor="let attr of displayAttributes; index as i; last as isLast" [size]="displayColumnSizes[i]" >
                    <ion-label [innerHTML]="displayColumnNames[i] | translate"></ion-label>
                    <ion-text color="light" *ngIf="isLast" class="ion-float-end ion-padding-end"><i>{{'COMMON.RESULT_COUNT'|translate: {count: itemCount} }}</i></ion-text>
                  </ion-col>
                </ion-row>

                <!-- No item option -->
                <mat-option *ngIf="!items.length" class="ion-no-padding" [disabled]="true">
                  <ion-row class="ion-no-padding">
                    <ion-col class="ion-no-padding">
                      <ion-label><i>{{noResultMessage | translate}}</i></ion-label>
                    </ion-col>
                  </ion-row>
                </mat-option>

                <mat-option *ngFor="let item of items" [value]="item" class="ion-no-padding" >
                  <ion-row>
                    <ion-col *ngFor="let attr of displayAttributes; index as i;"
                             [size]="displayColumnSizes[i]">
                      <ion-text [innerHTML]="getPropertyByPath(item, attr) | highlight: {search: formControl.value }"></ion-text>
                    </ion-col>
                  </ion-row>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </ng-container>
        </ng-template>

        <button matSuffix mat-icon-button tabindex="-1"
                type="button"
                *ngIf="searchable"
                (click)="onDropButtonClick.emit($event)"
                [hidden]="disabled">
          <mat-icon class="large select-arrow">arrow_drop_down</mat-icon>
        </button>
        <button matSuffix type="button" mat-icon-button tabindex="-1"
                *ngIf="enabled && mobile && !searchable"
                [title]="'COMMON.BTN_SEARCH'|translate"
                (click)="toggleSearch($event)">
          <mat-icon>search</mat-icon>
        </button>
        <button matSuffix mat-icon-button tabindex="-1"
                type="button"
                *ngIf="clearable"
                (click)="clearValue($event)"
                [hidden]="disabled || !formControl.value">
          <mat-icon>close</mat-icon>
        </button>
        <ng-content matSuffix select="[matSuffix]"></ng-content>

        <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
        <ng-content select="[matError]"></ng-content>

      </mat-form-field>
    </ion-col>
    <ion-col size="auto" class="ion-align-self-center" >
      <!--<button type="button" mat-icon-button tabindex="-1"
              *ngIf="enabled && mobile && !searchable"
              [title]="'COMMON.BTN_SEARCH'|translate"
              (click)="toggleSearch($event)">
        <mat-icon>search</mat-icon>
      </button>-->

      <ng-content select="[matAfter]"></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
