.table-container {

  height: calc(100%);
}

.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-column-label,
  .mat-column-analyticReference {
    min-width: 120px;
    max-width: 120px;
  }

  .mat-column-effortQ1,
  .mat-column-effortQ2,
  .mat-column-effortQ3,
  .mat-column-effortQ4,
  .mat-column-comment {
    width: 80px;
  }

  .mat-column-recorderDepartments,
  .mat-column-locations,
  .mat-column-taxonNames {
    min-width: 80px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .mat-column-parameters {
    min-width: 100px;
    max-width: 120px;
  }

  .mat-column-actions {
    min-width: 40px;
    width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }
}
