<mat-toolbar>
  <button mat-icon-button
          *ngIf="canEdit && !selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()"
          hidden-xs hidden-sm hidden-mobile>
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="light" *ngIf="canEdit && selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection($event)">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-button color="{{filterIsEmpty ? '' : 'primary'}}" [title]="'COMMON.BTN_FILTER'|translate" (click)="filterExpansionPanel.toggle()">
    <mat-icon>filter_list</mat-icon>
    <ion-text *ngIf="!filterIsEmpty">
    <span [innerHTML]="'COMMON.TABLE.FILTERED_PARENTHESIS'|translate"></span></ion-text>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate:errorDetails"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>


  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="ion-no-padding">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

      <ion-grid>
        
        <!-- Recorder criteria -->
        <ion-row>
          <ion-col>
            <!-- department -->
            <mat-autocomplete-field
              [placeholder]="i18nColumnPrefix + 'ANALYTIC_REFERENCE'|translate"
              formControlName="analyticReference"
              [config]="autocompleteFields.analyticReference"
              [i18nPrefix]="'analyticReference.'"
              [clearable]="true">
              <!-- <ion-icon matPrefix name="analyticReference"></ion-icon> -->
            </mat-autocomplete-field>
          </ion-col>

          <ion-col>
            <!-- department -->
            <mat-autocomplete-field
              [placeholder]="i18nColumnPrefix + 'RECORDER_DEPARTMENTS'|translate"
              formControlName="department"
              [config]="autocompleteFields.department"
              [i18nPrefix]="'DEPARTMENT.'"
              [clearable]="true">
              <!-- <ion-icon matPrefix name="department"></ion-icon> -->
            </mat-autocomplete-field>
          </ion-col>

          
        </ion-row>
        <ion-row>

          <ion-col>
            <!-- taxonName -->
            <mat-autocomplete-field
              [placeholder]="i18nColumnPrefix + 'TAXON_NAMES'|translate"
              formControlName="taxonName"
              [config]="autocompleteFields.taxonName"
              [i18nPrefix]="'TAXONNAME.'"
              [clearable]="true">
              <!-- <ion-icon matPrefix name="location"></ion-icon> -->
            </mat-autocomplete-field>
          </ion-col>

          <ion-col>
            <!-- department -->
            <mat-autocomplete-field
              [placeholder]="i18nColumnPrefix + 'LOCATIONS'|translate"
              formControlName="location"
              [config]="autocompleteFields.location"
              [i18nPrefix]="'LOCATION.'"
              [clearable]="true">
              <!-- <ion-icon matPrefix name="location"></ion-icon> -->
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>
        <!-- Period criteria -->
        <ion-row>
          <ion-col>
            <!-- Start date -->
            <!-- <mat-date-field [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.START_DATE'|translate"
                            formControlName="startDate"
                            [clearable]="true">
            </mat-date-field> -->
            <mat-date-short-field [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.START_DATE'|translate"
              formControlName="startDate" >
            </mat-date-short-field>
              <!-- <ion-icon matPrefix name="calendar-outline"></ion-icon> -->
          </ion-col>

          <ion-col>
            <!-- End date -->
            <!-- <mat-date-field [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.END_DATE'|translate"
                            formControlName="endDate"
                            [clearable]="true">
            </mat-date-field> -->
            <mat-date-short-field [placeholder]="'OBSERVED_LOCATION.TABLE.FILTER.END_DATE'|translate"
              formControlName="endDate" >
            </mat-date-short-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <!-- Efforts / Quarters column -->
          <ion-col formGroupName="periods">
            <ion-label>{{i18nColumnPrefix + 'QUARTERS' |translate }}</ion-label>
          </ion-col>
          <ng-container *ngFor="let quarter of quarters">
            <ion-col formGroupName="periods">
              <mat-checkbox class="example-margin" formControlName="{{'effortQ'+quarter}}">{{i18nColumnPrefix + 'EFFORT_Q' + quarter |translate }}</mat-checkbox>
            </ion-col>
          </ng-container>
        </ion-row>
        <ion-row>
          <!-- Pmfms -->
          <ion-col formGroupName="periods">
            <ion-label>{{i18nColumnPrefix + 'PARAMETERS'|translate}}</ion-label>
          </ion-col>
          <ng-container *ngFor="let pmfm of pmfmIds | keyvalue">
            <ion-col formGroupName="pmfmIds">
              <mat-checkbox class="example-margin" formControlName="{{pmfm.key}}">{{i18nColumnPrefix + pmfm.key |translate }}</mat-checkbox>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty"
                 [color]="empty && 'danger'"
                 class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (totalRowCount |
              numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- Search button -->
      <ion-button mat-button
                  *ngIf="!mobile"
                  [color]="filterForm.dirty ? 'tertiary' : undefined"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="onRefresh.emit()">
        <ion-text translate>COMMON.BTN_SEARCH</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>


<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
           matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Id column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.id }}</mat-cell>
  </ng-container>

  <!-- label column -->
  <ng-container matColumnDef="label">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{i18nColumnPrefix + 'LABEL'|translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label class="ion-text-wrap">{{row.currentData.label }}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- analyticReference column -->
  <ng-container matColumnDef="analyticReference">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{i18nColumnPrefix + 'ANALYTIC_REFERENCE'|translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label>{{ row.currentData.analyticReference }}</ion-label>
    </mat-cell>
  </ng-container>

  <!-- Departments column -->
  <ng-container matColumnDef="recorderDepartments">
    <mat-header-cell *matHeaderCellDef>
      <span>{{i18nColumnPrefix + 'RECORDER_DEPARTMENTS'|translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text class="ion-text-nowrap"
                [title]="row.currentData.departments | arrayPluck:{property: 'department'} | departmentToString">
        {{row.currentData.departments | arrayPluck:{property: 'department'} | departmentToString }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- Applied strategies (location) column -->
  <ng-container matColumnDef="locations">
    <mat-header-cell *matHeaderCellDef>
      <span>{{i18nColumnPrefix + 'LOCATIONS'|translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text class="ion-text-nowrap" [title]="locationsSpan.innerText">
        <span #locationsSpan>{{row.currentData.appliedStrategies | arrayPluck: {property: 'location'} | referentialToString: autocompleteFields.location.attributes }}</span>
      </ion-text>
    </mat-cell>
  </ng-container>

   <!-- Taxon names column -->
   <ng-container matColumnDef="taxonNames">
    <mat-header-cell *matHeaderCellDef>
      <span>{{i18nColumnPrefix + 'TAXON_NAMES'|translate}}</span>
    </mat-header-cell>
     <mat-cell *matCellDef="let row">
       <ion-text class="ion-text-nowrap" [title]="taxonNameSpan.innerText">
         <span #taxonNameSpan>{{ row.currentData.taxonNames | arrayPluck: {property: 'taxonName'} | referentialToString: autocompleteFields.taxonName.attributes }}</span>
       </ion-text>
     </mat-cell>
  </ng-container>

  <!-- comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon color="primary" class="comment"
                *ngIf="row.currentData.comments"
                [title]="row.currentData.comments"></mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Parameters column -->
  <ng-container matColumnDef="parameters">
    <mat-header-cell *matHeaderCellDef>
      <span>{{i18nColumnPrefix + 'PARAMETERS'|translate}}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text>
        <ng-container *ngFor="let groupName of row.currentData.parameterGroups; index as i; last as last">
          <span>{{ i18nColumnPrefix + groupName | uppercase | translate }}</span>
          <span *ngIf="!last">, </span>
        </ng-container>
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- Efforts / Quarters column -->
  <ng-container *ngFor="let quarter of quarters">
    <ng-container [matColumnDef]="'effortQ' + quarter">
      <mat-header-cell *matHeaderCellDef>
        <span>{{i18nColumnPrefix + 'EFFORT_Q' + quarter |translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text *ngIf="row.currentData.effortByQuarter[quarter]; let effort">
          <ion-text [color]="effort.realized ? 'success' : 'dark'">
            <span>{{effort.realizedEffort}}</span>
            <span>&#47;</span>
            <span>{{effort.expectedEffort}}</span>
          </ion-text>
          <ion-text [color]="effort.realized ? 'dark' : 'danger'" >
            <br/>{{effort.missingEffort}}
          </ion-text>
        </ion-text>
      </mat-cell>
    </ng-container>
  </ng-container>

	<!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">

      <!-- undo or delete  -->
      <button mat-icon-button color="light"
              [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button color="light"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button color="light"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           class="mat-row-disabled"
           (click)="clickRow($event, row)"></mat-row>

</mat-table>

<ion-item *ngIf="!(loadingSubject| async) && !totalRowCount">
  <ion-text color="danger" class="text-italic">
    {{ 'COMMON.NO_RESULT' | translate }}
  </ion-text>
</ion-item>

<ion-row class="ion-no-padding" [class.cdk-visually-hidden]="!totalRowCount">
  <ion-col [class.cdk-visually-hidden]="mobile"></ion-col>
  <ion-col class="ion-no-padding" size="auto">
    <mat-paginator [length]="totalRowCount" [pageSize]="defaultPageSize" [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </ion-col>
</ion-row>
