<mat-toolbar *ngIf="showToolbar">

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate:errorDetails"></ion-label>
  </ion-item>

  <span class="toolbar-spacer"></span>

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">

    <!-- Add -->
    <button mat-icon-button
            *ngIf="canEdit && !mobile"
            [title]="'COMMON.BTN_ADD'|translate"
            (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button mat-icon-button *ngIf="!mobile"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>

    <!-- Reset filter -->
    <button mat-icon-button (click)="resetFilterAndClose()"
            *ngIf="filterCriteriaCount">
      <mat-icon color="accent">filter_list_alt</mat-icon>
      <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
    </button>

    <!-- Show filter -->
    <button mat-icon-button (click)="filterExpansionPanel.toggle()">
      <mat-icon *ngIf="filterCriteriaCount; else emptyFilter"
                [matBadge]="filterCriteriaCount"
                matBadgeColor="accent"
                matBadgeSize="small"
                matBadgePosition="above after">filter_list_alt</mat-icon>
      <ng-template #emptyFilter>
        <mat-icon>filter_list_alt</mat-icon>
      </ng-template>
    </button>
  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>
    <!-- duplicate -->
    <button mat-icon-button class="hidden-xs hidden-sm"
            [title]="'COMMON.BTN_DUPLICATE'|translate"
            (click)="openStrategyDuplicateYearSelectionModal($event, selection.selected)">
      <mat-icon>library_add</mat-icon>
    </button>

    <button mat-icon-button color="light" *ngIf="canDelete && selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
            (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

</mat-toolbar>

<!-- search -->
<mat-expansion-panel #filterExpansionPanel
                     class="filter-panel"
                     [class.filter-panel-floating]="filterPanelFloating">
  <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="applyFilterAndClosePanel($event, true)">

    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- search text -->
          <mat-form-field>
            <ion-icon matPrefix name="search"></ion-icon>
            <input matInput
                   formControlName="searchText"
                   autocomplete="off"
                   [placeholder]="i18nColumnPrefix + 'LABEL'|translate">
            <button mat-icon-button matSuffix tabindex="-1"
                    type="button"
                    (click)="clearControlValue($event, filterForm.controls.searchText)"
                    [hidden]="filterForm.controls.searchText.disabled || !filterForm.controls.searchText.value">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>

        <ion-col>
          <!-- Analytic reference -->
          <mat-autocomplete-field
            [placeholder]="i18nColumnPrefix + 'ANALYTIC_REFERENCE'|translate"
            formControlName="analyticReference"
            [config]="autocompleteFields.analyticReference"
            [clearable]="true">
            <!-- <ion-icon matPrefix name="analyticReference"></ion-icon> -->
          </mat-autocomplete-field>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col>
          <!-- department -->
          <mat-autocomplete-field
            [placeholder]="i18nColumnPrefix + 'RECORDER_DEPARTMENTS'|translate"
            formControlName="department"
            [config]="autocompleteFields.department"
            [clearable]="true">
            <ion-icon matPrefix name="business"></ion-icon>
          </mat-autocomplete-field>
        </ion-col>

        <ion-col>
          <!-- taxonName -->
          <mat-autocomplete-field
            [placeholder]="i18nColumnPrefix + 'TAXON_NAMES'|translate"
            formControlName="taxonName"
            [config]="autocompleteFields.taxonName"
            [clearable]="true">
            <mat-icon matPrefix svgIcon="fish"></mat-icon>
          </mat-autocomplete-field>
        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col>
          <!-- location -->
          <mat-autocomplete-field
            [placeholder]="i18nColumnPrefix + 'LOCATIONS'|translate"
            formControlName="location"
            [config]="autocompleteFields.location"
            [clearable]="true">
            <mat-icon matPrefix>room</mat-icon>
          </mat-autocomplete-field>
        </ion-col>

        <!-- Parameter groups -->
        <ion-col formGroupName="parameterGroups">
          <mat-form-field floatLabel="always">
            <mat-label>{{'PROGRAM.STRATEGY.TABLE.SAMPLING.PARAMETERS_DOTS' |translate }}</mat-label>
            <input matInput hidden>
            <mat-checkbox *ngFor="let parameterGroupLabel of parameterGroupLabels; last as last"
                          [formControlName]="parameterGroupLabel">
              {{i18nColumnPrefix + parameterGroupLabel |translate }}
              <span *ngIf="!last">&nbsp;</span>
            </mat-checkbox>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Start date -->
        <ion-col size="3">
          <mat-date-short-field formControlName="startDate"
                                [placeholder]="i18nColumnPrefix + 'START_YEAR'|translate"
                                [clearable]="true">
            <ion-icon matPrefix name="calendar-outline"></ion-icon>
          </mat-date-short-field>
        </ion-col>

        <!-- End date -->
        <ion-col size="3">
          <mat-date-short-field formControlName="endDate"
                                [placeholder]="i18nColumnPrefix + 'END_YEAR'|translate"
                                [clearable]="true">
          </mat-date-short-field>
        </ion-col>

        <!-- Efforts / Quarters column -->
        <ion-col formGroupName="effortByQuarter" >
            <mat-form-field floatLabel="always">
              <mat-label>{{'PROGRAM.STRATEGY.TABLE.SAMPLING.QUARTERS_DOTS' |translate }}</mat-label>
              <input matInput hidden>
              <mat-checkbox *ngFor="let quarter of quarters; last as last"
                            [formControlName]="quarter.toString()">
                {{i18nColumnPrefix + 'EFFORT_Q' + quarter | translate }}
                <span *ngIf="!last">&nbsp;</span>
              </mat-checkbox>
            </mat-form-field>
        </ion-col>


      </ion-row>
    </ion-grid>
  </form>

  <mat-action-row>
    <!-- Counter  -->
    <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty"
               [color]="empty && 'danger'"
               class="ion-padding">
      {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (totalRowCount |
            numberFormat)} }}
    </ion-label>

    <div class="toolbar-spacer"></div>

    <!-- disable floating -->
    <button mat-icon-button color="accent"
            *ngIf="filterPanelFloating"
            (click)="toggleFilterPanelFloating()"
            class="hidden-xs hidden-sm hidden-md"
            [title]="(filterPanelFloating ? 'COMMON.BTN_EXPAND' : 'COMMON.BTN_HIDE') |translate">
      <mat-icon><span style="transform: rotate(90deg);">{{filterPanelFloating ? '&#xbb;' : '&#xab;'}}</span></mat-icon>
    </button>

    <!-- Close panel -->
    <ion-button mat-button fill="clear" color="dark"
                (click)="closeFilterPanel()"
                [disabled]="loadingSubject|async">
      <ion-text translate>COMMON.BTN_CLOSE</ion-text>
    </ion-button>

    <!-- Search button -->
    <ion-button mat-button
                *ngIf="!mobile"
                [color]="filterForm.dirty ? 'tertiary' : undefined"
                [fill]="filterForm.dirty ? 'solid' : 'clear'"
                (click)="applyFilterAndClosePanel($event)"
                [disabled]="loadingSubject|async">
      <ion-text translate>COMMON.BTN_APPLY</ion-text>
    </ion-button>
  </mat-action-row>
</mat-expansion-panel>

<!-- error -->
<ion-item *ngIf="showError && error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>

<div class="table-container" [class.has-toolbar]="showToolbar" [class.full-height]="!showToolbar">
  <table mat-table  matSort
         [matSortActive]="defaultSortBy"
         [matSortDirection]="defaultSortDirection"
         matSortDisableClear
         [dataSource]="dataSource"
         [trackBy]="trackByFn">

    <ng-container matColumnDef="select" [sticky]="useSticky">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell  *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Id column -->
    <ng-container matColumnDef="id" [sticky]="useSticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.currentData?.id }}</td>
    </ng-container>

    <!-- label column -->
    <ng-container matColumnDef="label" [sticky]="useSticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>{{i18nColumnPrefix + 'LABEL'|translate}}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label class="ion-text-wrap">{{row.currentData.label }}</ion-label>
      </td>
    </ng-container>

    <!-- analyticReference column -->
    <ng-container matColumnDef="analyticReference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>{{i18nColumnPrefix + 'ANALYTIC_REFERENCE'|translate}}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{ row.currentData.analyticReference }}</ion-label>
      </td>
    </ng-container>

    <!-- Departments column -->
    <ng-container matColumnDef="recorderDepartments">
      <th mat-header-cell *matHeaderCellDef>
        <span>{{i18nColumnPrefix + 'RECORDER_DEPARTMENTS'|translate}}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text class="ion-text-nowrap"
                  [title]="departments.innerText">
          <span #departments [innerHTML]="row.currentData.departments | arrayPluck:{property: 'department'} | departmentToString: ', <br>'"></span>
        </ion-text>
      </td>
    </ng-container>

    <!-- Applied strategies (location) column -->
    <ng-container matColumnDef="locations">
      <th mat-header-cell *matHeaderCellDef>
        <span>{{i18nColumnPrefix + 'LOCATIONS'|translate}}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text class="ion-text-nowrap" [title]="locationsSpan.innerText">
          <span #locationsSpan [innerHTML]="row.currentData.appliedStrategies | arrayPluck: {property: 'location'} | referentialToString: {properties: autocompleteFields.location.attributes, separator: ', <br>'}"></span>
        </ion-text>
      </td>
    </ng-container>

     <!-- Taxon names column -->
     <ng-container matColumnDef="taxonNames">
      <th mat-header-cell *matHeaderCellDef>
        <span>{{i18nColumnPrefix + 'TAXON_NAMES'|translate}}</span>
      </th>
       <td mat-cell *matCellDef="let row">
         <ion-text class="ion-text-nowrap" [title]="taxonNameSpan.innerText">
           <span #taxonNameSpan [innerHTML]="row.currentData.taxonNames | arrayPluck: {property: 'taxonName'} | referentialToString: {properties: autocompleteFields.taxonName.attributes, separator: ', <br>'}"></span>
         </ion-text>
       </td>
    </ng-container>

    <!-- comment column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon color="primary" class="comment"
                  *ngIf="row.currentData.comments"
                  [title]="row.currentData.comments"></mat-icon>
      </td>
    </ng-container>

    <!-- Parameters column -->
    <ng-container matColumnDef="parameterGroups">
      <th mat-header-cell *matHeaderCellDef>
        <span>{{i18nColumnPrefix + 'PARAMETERS'|translate}}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>
          <ng-container *ngFor="let groupName of row.currentData.parameterGroups; index as i; last as last">
            <span>{{ i18nColumnPrefix + groupName | uppercase | translate }}</span>
            <span *ngIf="!last">, </span>
          </ng-container>
        </ion-text>
      </td>
    </ng-container>

    <!-- Efforts / Quarters column -->
    <ng-container *ngFor="let quarter of quarters">
      <ng-container [matColumnDef]="'effortQ' + quarter">
        <th mat-header-cell *matHeaderCellDef>
          <span>{{i18nColumnPrefix + 'EFFORT_Q' + quarter |translate }}</span>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-text *ngIf="row.currentData.effortByQuarter|mapGet: quarter; let effort">
            <ion-text [color]="effort.realized ? 'success' : 'dark'">
              <span>{{effort.realizedEffort}}</span>
              <span>&#47;</span>
              <span>{{effort.expectedEffort}}</span>
            </ion-text>
            <ion-text [color]="effort.realized ? 'dark' : 'danger'" >
              <br/>{{effort.missingEffort}}
            </ion-text>
          </ion-text>
        </td>
      </ng-container>
    </ng-container>


    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions" [stickyEnd]="useSticky">
      <th mat-header-cell *matHeaderCellDef>

        <!-- display columns -->
        <button mat-icon-button
                [title]="'COMMON.DISPLAYED_COLUMNS_DOTS'|translate"
                (click)="openSelectColumnsModal($event)">
          <mat-icon>more_vert</mat-icon>
        </button>

      </th>
      <td mat-cell *matCellDef="let row" >

        <!-- add new data -->
        <button mat-icon-button *ngIf="onNewDataFromRow.observers|isNotEmptyArray" class="visible-hover-row"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="$event.preventDefault() || onNewDataFromRow.next(row)">
          <mat-icon>add_location_alt</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="mat-row-disabled"
        [class.mat-row-selected]="highlightedRow === row"
        (click)="clickRow($event, row)"></tr>

  </table>

  <ng-container *ngIf="loadingSubject|async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="danger"
                class="text-italic" translate>COMMON.NO_RESULT</ion-text>
    </ion-item>
  </ng-template>
</div>

<ion-row class="ion-no-padding" *ngIf="showPaginator"
         [class.cdk-visually-hidden]="!totalRowCount">
  <ion-col [class.cdk-visually-hidden]="mobile"></ion-col>
  <ion-col class="ion-no-padding" size="auto">
    <mat-paginator [length]="totalRowCount" [pageSize]="defaultPageSize" [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </ion-col>
</ion-row>
