:host {
  --ion-tab-min-height: calc(100%);
}

app-toolbar ion-spinner {
  width: 20px;
  height: 20px;
  top: 10px;
}

ion-col>ion-label {
  word-wrap: break-word;
  white-space: normal;
}

.mat-tab-group {
  --table-container-top: calc(var(--app-toolbar-height) + var(--mat-tab-link-height));
  --table-container-bottom: var(--app-form-buttons-bar-height, 0px);

  .mat-tab-body .mat-tab-body-content {
    min-height: var(--ion-tab-min-height, 250px);
  }
}
