<app-toolbar color="primary" [canGoBack]="false">

  <ion-title>{{'TRIP.TABLE.TITLE'|translate}}</ion-title>

  <ion-buttons slot="end" *ngIf="synchronizationStatus as syncStatus">

    <!-- Synchronization status -->
    <ion-button *ngIf="hasOfflineMode"
                [color]="syncStatus==='SYNC' ? 'secondary' : 'accent'"
                fill="solid"
                [matMenuTriggerFor]="syncStatusMenu">
      <ion-icon slot="start" *ngIf="syncStatus === 'SYNC'" name="cloud-done"></ion-icon>
      <ion-icon slot="start" *ngIf="syncStatus === 'DIRTY'" name="cloud-offline"></ion-icon>
      <ion-label>
        {{ 'NETWORK.SYNCHRONIZATION_STATUS.' + syncStatus | translate}}</ion-label>
      <mat-icon slot="end">arrow_drop_down</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>


<!-- Synchronisation status menu -->
<mat-menu #syncStatusMenu="matMenu"
          xPosition="after"
          class="ion-text-center">

  <!-- item for each synchro status-->
  <button mat-menu-item *ngFor="let status of synchronizationStatusList"
          (click)="setSynchronizationStatus(status)">
    <mat-icon>{{synchronizationStatus === status ? 'checkmark' : ''}}</mat-icon>
    <ion-label class="ion-text-wrap"
               [color]="status === 'SYNC' && offline && 'medium'"
               translate>{{'TRIP.TABLE.SYNCHRONIZATION_STATUS.' + status + '_HELP' }}
    </ion-label>
  </button>
</mat-menu>



<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- Update offline mode -->
  <button mat-menu-item
          *ngIf="hasOfflineMode"
          (click)="prepareOfflineMode($event)">
    <mat-icon><ion-icon name="cloud-download"></ion-icon></mat-icon>
    <ion-label translate>NETWORK.BTN_UPDATE_OFFLINE_MODE</ion-label>
  </button>

  <!-- Init offline mode -->
  <button mat-menu-item
          *ngIf="!hasOfflineMode"
          (click)="prepareOfflineMode($event)">
    <mat-icon>cloud_off</mat-icon>
    <ion-label translate>NETWORK.BTN_INIT_OFFLINE_MODE</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- display columns -->
  <button mat-menu-item
          (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- trash -->
  <button mat-menu-item
          *ngIf="isAdmin || synchronizationStatus !== 'SYNC'"
          (click)="openTrashModal($event)">
    <mat-icon>delete_sweep</mat-icon>
    <ion-label translate>COMMON.BTN_SHOW_TRASH_DOTS</ion-label>
  </button>

  <!-- Force offline (DEV ONLY) -->
  <button mat-menu-item *ngIf="debug && !offline"
          (click)="toggleOfflineMode($event)">
    <mat-icon>signal_wifi_off</mat-icon>
    <ion-label translate>SETTINGS.OFFLINE_MODE</ion-label>
  </button>

  <!-- Add local trip -->
  <button mat-menu-item *ngIf="debug && !offline"
          (click)="importFromFile()">
    <mat-icon>insert_drive_file</mat-icon>
    <ion-label>Import file...</ion-label>
  </button>
</mat-menu>


<ion-content class="ion-no-padding">

  <!-- Network status (+ Install and upgrade link) -->
  <app-install-upgrade-card
    [isLogin]="accountService.account|isLogin"
    showInstallButton="false"
    showUpgradeWarning="true"
    showOfflineWarning="false"
    [showUpdateOfflineFeature]="showUpdateOfflineFeature"
    (onUpdateOfflineModeClick)="prepareOfflineMode($event, {toggleToOfflineMode: false, showToast: false})"
  >
  </app-install-upgrade-card>

  <mat-toolbar>

    <ng-container *ngIf="!selection.hasValue(); else hasSelection">


      <button mat-icon-button
              hidden-xs hidden-sm hidden-mobile
              *ngIf="canEdit"
              [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-button color="{{filterIsEmpty ? '' : 'primary'}}"
              [title]="'COMMON.BTN_FILTER'|translate"
              (click)="filterExpansionPanel.toggle()">
        <mat-icon>filter_list</mat-icon>
        <ion-text *ngIf="!filterIsEmpty">
          <span [innerHTML]="'COMMON.TABLE.FILTERED_PARENTHESIS'|translate"></span></ion-text>
      </button>
    </ng-container>

    <!-- if row selection -->
    <ng-template #hasSelection>

      <!-- synchronize -->
      <ion-button *ngIf="hasReadyToSyncSelection()"
                  expand="block"
                  [color]="offline ? 'danger100' : 'danger'"
                  (click)="synchronizeSelection()">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        <ion-text translate>QUALITY.BTN_SYNCHRONIZE</ion-text>
      </ion-button>

      <!-- delete -->
      <button mat-icon-button class="hidden-xs hidden-sm" *ngIf="canDelete"
              [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

    <!-- error -->
    <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <div class="toolbar-spacer"></div>


    <button mat-icon-button
            [title]="'COMMON.BTN_OPTIONS'|translate"
            [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- progress bar -->
  <ion-list *ngIf="importing" lines="none">
    <ion-list-header>
      <ion-label>{{'NETWORK.INFO.IMPORTATION_PCT_DOTS'|translate: {pct: $importProgression | async} }}</ion-label>
    </ion-list-header>
    <ion-progress-bar [value]="($importProgression | async) / 100"></ion-progress-bar>
  </ion-list>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="ion-no-padding">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- Program -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.PROGRAM'|translate"
              formControlName="program"
              [config]="autocompleteFields.program"
              [clearable]="true">
              <ion-icon matPrefix name="contract"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-lg="6">
            <!-- Vessel -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.VESSEL'|translate"
              formControlName="vesselSnapshot"
              [config]="autocompleteFields.vesselSnapshot"
              [clearable]="true">
              <ion-icon matPrefix name="boat"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <!-- Location -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.LOCATION'|translate"
              formControlName="location"
              [config]="autocompleteFields.location"
              [clearable]="true">
              <mat-icon matPrefix>room</mat-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <!-- Start date -->
            <mat-date-field [placeholder]="'TRIP.TABLE.FILTER.START_DATE'|translate"
                            formControlName="startDate"
                            [clearable]="true">
              <ion-icon matPrefix name="calendar-outline"></ion-icon>
            </mat-date-field>
          </ion-col>

          <ion-col>
            <!-- End date -->
            <mat-date-field [placeholder]="'TRIP.TABLE.FILTER.END_DATE'|translate"
                            [formControl]="filterForm.controls.endDate"
                            clearable="true">
            </mat-date-field>
          </ion-col>
        </ion-row>

        <!-- recorder criteria -->
        <ion-row>
          <ion-col>
            <!-- Recorder department -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.RECORDER_DEPARTMENT'|translate"
              formControlName="recorderDepartment"
              [config]="autocompleteFields.department"
              [clearable]="true">
              <ion-icon matPrefix name="business"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>

          <ion-col>
            <!-- Recorder person -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.RECORDER_PERSON'|translate"
              formControlName="recorderPerson"
              [config]="autocompleteFields.person"
              [i18nPrefix]="'USER.'"
              [clearable]="true">
              <ion-icon matPrefix name="person"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty" [color]="resultsLength === 0 && 'danger'"
                 class="ion-padding">
        {{ (resultsLength ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (resultsLength |
              numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- Search button -->
      <ion-button mat-button
                  *ngIf="!mobile"
                  [color]="filterForm.dirty ? 'tertiary' : undefined"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="onRefresh.emit()">
        <ion-text translate>COMMON.BTN_SEARCH</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>


  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- table -->
  <mat-table [dataSource]="dataSource" matSort
             [matSortActive]="defaultSortBy"
             [matSortDirection]="defaultSortDirection"
    matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header [class.cdk-visually-hidden]="!isAdmin">
        <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!isAdmin">{{ row.currentData.id | mathAbs }}</mat-cell>
    </ng-container>

    <!-- Quality Column -->
    <ng-container matColumnDef="quality">
      <mat-header-cell *matHeaderCellDef> <!-- FIXME pas triable pour l'instant -->
        <ion-label translate>TRIP.TABLE.QUALITY</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.currentData.id >= 0; else synchronizationStatus">
          <ion-icon color="secondary" name="pencil" *ngIf="!row.currentData.controlDate" slot="icon-only" [title]="'QUALITY.MODIFIED'|translate"></ion-icon>
          <ion-icon color="tertiary" name="checkmark" *ngIf="row.currentData.controlDate && !row.currentData.validationDate" slot="icon-only" [title]="'QUALITY.CONTROLLED'|translate"></ion-icon>
          <ion-icon color="tertiary" name="checkmark-circle" *ngIf="row.currentData.validationDate && !row.currentData.qualificationDate" slot="icon-only" [title]="'QUALITY.VALIDATED'|translate"></ion-icon>
          <ion-icon [color]="qualityFlagToColor(row.currentData.qualityFlagId)" name="flag" *ngIf="row.currentData.validationDate && row.currentData.qualificationDate" slot="icon-only" [title]="'QUALITY.QUALIFIED'|translate"></ion-icon>
        </ng-container>
        <ng-template #synchronizationStatus >
          <ng-container [ngSwitch]="row.currentData.synchronizationStatus">
            <ion-icon *ngSwitchCase="'DIRTY'" color="accent" name="pencil" slot="icon-only" [matTooltip]="'QUALITY.MODIFIED_OFFLINE'|translate"></ion-icon>
            <ion-icon *ngSwitchCase="'READY_TO_SYNC'" color="accent" name="time" slot="icon-only" [matTooltip]="'QUALITY.READY_TO_SYNC'|translate"></ion-icon>
            <ion-icon *ngSwitchCase="'SYNC'" color="accent" name="checkmark-circle" slot="icon-only" [matTooltip]="'QUALITY.VALIDATED'|translate"></ion-icon>
          </ng-container>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Program Column -->
    <ng-container matColumnDef="program">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.TABLE.PROGRAM</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.currentData.program | referentialToString: ['label'] }}
      </mat-cell>
    </ng-container>

    <!-- Vessel Column -->
    <ng-container matColumnDef="vessel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.TABLE.VESSEL</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-label>{{row.currentData.vesselSnapshot | referentialToString:autocompleteFields.vesselSnapshot.attributes }}</ion-label>
      </mat-cell>
    </ng-container>

    <!-- departure location -->
    <ng-container matColumnDef="departureLocation">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>TRIP.TABLE.DEPARTURE_LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.currentData.departureLocation | referentialToString:autocompleteFields.location.attributes }}
      </mat-cell>
    </ng-container>

    <!-- departure date time  -->
    <ng-container matColumnDef="departureDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.TABLE.DEPARTURE_DATE_TIME</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{row.currentData.departureDateTime|dateFormat:{time:true} }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- return date time -->
    <ng-container matColumnDef="returnDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.TABLE.RETURN_DATE_TIME</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.returnDateTime|dateFormat:{time: true} }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Observers -->
    <ng-container matColumnDef="observers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>TRIP.TABLE.OBSERVERS</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.observers | personToString }}</ion-text>
      </mat-cell>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon color="primary" *ngIf="row.currentData.comments" [title]="row.currentData.comments">comment</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             class="mat-row-disabled"
             [class.mat-row-selected]="highlightedRow === row"
             (click)="clickRow($event, row)">
    </mat-row>
  </mat-table>

  <ion-item *ngIf="!(loadingSubject| async) && !resultsLength">
    <ion-text color="danger" class="text-italic">
      {{ (hasOfflineMode && synchronizationStatus !== 'SYNC' ? 'TRIP.TABLE.NO_LOCAL_RESULT' : 'COMMON.NO_RESULT') | translate }}
    </ion-text>
  </ion-item>

  <ion-row class="ion-no-padding" [class.cdk-visually-hidden]="!resultsLength">
    <ion-col [class.cdk-visually-hidden]="mobile"></ion-col>
    <ion-col class="ion-no-padding" size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="defaultPageSize" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>
</ion-content>

<!-- Add button -->
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="canEdit"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

