:host {
  --ion-tab-min-height: calc(100%);

  --table-container-offset: calc(313px - var(--form-button-bar-height, 0));
}


app-toolbar ion-spinner {
  width: 20px;
  height: 20px;
  top: 10px;
}

ion-col>ion-label {
  word-wrap: break-word;
  white-space: normal;
}

.mat-tab-group {

  .mat-tab-body .mat-tab-body-content {
    min-height: var(--ion-tab-min-height, 250px);
  }
}
