.mat-expansion-panel {
  margin-bottom: 5px;

  --expansion-panel-padding: 0!important;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    height: 46px;
    ion-label {
      line-height: 36px;
    }
  }
}
.table-container {
  height: calc(100%);

  &.has-offline-nav {
    height: calc(100% - var(--mat-tab-link-height)) !important;
  }
}

.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;



  .mat-header-row,
  .mat-row {
    .mat-column-quality {
      min-width: 40px;
      padding-left: 0;

      mat-icon,
      ion-icon {
        font-size: 1.2em;
        height: 1.2em;
        width: 1.2em;
      }
    }

    .mat-column-program {
      min-width: 90px;
    }

    .mat-column-vessel {
      min-width: 200px;
    }

    .mat-column-departureLocation,
    .mat-column-returnLocation {
      min-width: 150px;
    }

    .mat-column-actions {
      min-width: 40px;
      width: 40px;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }
}
