:host {
  --ion-tab-min-height: calc(100%);
  --form-button-bar-height: 56px;
}

app-toolbar ion-spinner {
  width: 20px;
  height: 20px;
  top: 10px;
}

ion-col>ion-label {
  word-wrap: break-word;
  white-space: normal;
}

.mat-tab-group {
  --table-container-offset: calc(143px + var(--form-button-bar-height, 0));
  --form-button-bar-height: 56px;

  &.mobile {
    --form-button-bar-height: 0px;
  }

  .mat-tab-body .mat-tab-body-content {
    min-height: var(--ion-tab-min-height, 250px);
  }
}
