
.mat-expansion-panel {
  margin-bottom: 5px;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    height: 46px;
    padding-top: 5px;
    padding-bottom: 5px;

    ion-label {
      line-height: 36px;
    }
  }
}


.mat-table {
  .mat-column-program {
    max-width: 90px;
  }

  .mat-column-vessel {
    max-width: 200px;
    padding-right: 5px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden
    {
    visibility: hidden;
    display: none;
  }

  .mat-header-row,
  .mat-row {
    .mat-column-quality {
      max-width: 40px;
      padding-left: 0px;
    }
  }
}
