<app-toolbar [title]="$title | async"
             color="primary"
             [hasValidate]="!loading && dirty"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             [hasClose]="!loading && !dirty"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">

  <ion-buttons slot="end">
    <ion-spinner *ngIf="loading"></ion-spinner>

    <ion-button *ngIf="enabled && !isNewData || debug"
                [matMenuTriggerFor]="optionsMenu"
                [title]=" 'COMMON.BTN_OPTIONS'|translate">
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu">

  <!-- delete -->
  <button mat-menu-item
          [disabled]="isNewData || disabled"
          (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item
          [disabled]="!dirty"
          (click)="cancel($event)">
    <ion-label>
      <mat-icon><ion-icon slot="start" name="refresh"></ion-icon></mat-icon>&nbsp;
      <span translate>COMMON.BTN_RESET</span>
    </ion-label>
  </button>

</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">

  <mat-tab-group #tabGroup
                 class="mat-tab-disabled-hidden mat-tab-fixed-content"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="tabGroupAnimationDuration"
                 [dynamicHeight]="false">

    <!-- TAB: general -->
    <mat-tab label="{{'LANDING.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>LANDING.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && landingForm.invalid"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="landingForm.error||error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="(landingForm.error||error) | translate"></ion-label>
      </ion-item>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding">

            <!-- landing form-->
            <app-landing-form #landingForm
                              [programLabel]="$programLabel|async"
                              [i18nPrefix]="i18nPrefix"
                              [showError]="false"
                              [showMeasurements]="false"
                              (onSubmit)="save($event)"
                              [debug]="debug">
            </app-landing-form>
          </ion-col>

          <!-- data quality -->
          <ion-col class="ion-no-padding" size="12" size-xl="3" *ngIf="showEntityMetadata">
            <app-entity-metadata [value]="data">
              <app-entity-quality-form *ngIf="showQualityForm">
              </app-entity-quality-form>
            </app-entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div #firstTabInjection></div>

    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab label="{{'AUCTION_CONTROL.TAB_SAMPLES'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="flag"></ion-icon>
        </mat-icon>
        <ion-label [matBadge]="samplesTable.visibleRowCount"
                   [matBadgeHidden]="!samplesTable.visibleRowCount"
                   matBadgeOverlap="false"
                   matBadgeColor="primary"
                   matBadgeSize="small"
                   matBadgePosition="above after" translate>AUCTION_CONTROL.TAB_SAMPLES</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <div #tabContent>

        <!-- error -->
        <ion-item *ngIf="samplesTable.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="samplesTable.error|translate"></ion-label>
        </ion-item>

        <form *ngIf="$pmfms | async; let pmfms; else measurementsSkeleton;"
              [formGroup]="landingForm.measurementValuesForm"
              class="form-container ion-padding ion-no-padding-bottom">

          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding" >
              <!-- pmfms -->
              <ng-container *ngFor="let pmfm of pmfms; index as i;">
                <ion-col size="12" size-md="6">
                  <app-pmfm-field [controlName]="pmfm.id.toString()"
                                  [pmfm]="pmfm">
                  </app-pmfm-field>
                </ion-col>
                <ion-col *ngIf="pmfm.id === controlledSpeciesPmfmId && showOtherTaxonGroup"
                         size="12" size-md="6">

                  <!-- Special case for controlled species: add a combo, for 'MZZ' species -->
                  <mat-autocomplete-field [formControl]="taxonGroupControl"
                                          [tabindex]="60"
                                          [required]="false"
                                          [config]="autocompleteFields.taxonGroup"
                                          [placeholder]="'AUCTION_CONTROL.EDIT.OTHER_TAXON_GROUP'|translate">
                  </mat-autocomplete-field>

                </ion-col>
              </ng-container>
            </ion-row>

          </ion-grid>
        </form>

        <app-samples-table #samplesTable
                           [class.cdk-visually-hidden]="!showSamplesTable"
                           [showLabelColumn]="true"
                           [showDateTimeColumn]="false"
                           [showTaxonNameColumn]="false"
                           [showTaxonGroupColumn]="false"
                           [showToolbar]="!mobile"
                           [showGroupHeader]="false"
                           [tabIndex]="61"
                           [defaultSampleDate]="data?.dateTime"
                           [usageMode]="usageMode"
                           (onPrepareRowForm)="onPrepareSampleForm($event)"
                           [debug]="debug"
                           [compactFields]="true">
          <ion-buttons slot="end">
            <!-- Help button -->
            <button mat-icon-button *ngIf="helpContent"
                    [matTooltip]="'COMMON.BTN_SHOW_HELP'|translate"
                    (click)="openHelpModal($event)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </ion-buttons>
        </app-samples-table>
      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="mobile && showSamplesTable && selectedTabIndex === 1"
         @fadeInOutAnimation>
  <ion-fab-button color="tertiary" (click)="samplesTable.addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #measurementsSkeleton>
  <ion-grid class="form-container ion-padding">
    <ion-row class="ion-no-padding" >
      <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
      <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
    </ion-row>
  </ion-grid>
</ng-template>

<ng-template #measurementSkeleton>
    <ion-col size="12" size-md="6">
      <mat-form-field>
        <input matInput hidden>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </mat-form-field>
    </ion-col>
</ng-template>
