<app-toolbar [title]="title | async" color="primary" [hasValidate]="!loading && dirty" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner *ngIf="loading"></ion-spinner>
</app-toolbar>

<ion-content>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" dynamicHeight>

    <!-- TAB: general -->
    <mat-tab label="{{'LANDING.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="information-circle"></ion-icon>
        </mat-icon>
        <ion-label translate>LANDING.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="submitted && landingForm.invalid"></ion-icon>
      </ng-template>

      <!-- error -->
      <ion-item *ngIf="landingForm.error" visible-xs visible-sm visible-mobile lines="none">
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
      </ion-item>

      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding padding-top>

            <!-- landing form-->
            <app-landing-form #landingForm
                              [showError]="false"
                              [debug]="debug"
                              (onSubmit)="save($event)">
            </app-landing-form>
          </ion-col>
          <ion-col no-padding size="12" size-xl="3">
            <entity-metadata [value]="data">
              <entity-quality-form #qualityForm (onChange)="updateView(data)" (onControl)="onControl($event)">
              </entity-quality-form>
            </entity-metadata>
          </ion-col>
        </ion-row>
      </ion-grid>
    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab label="{{'LANDING.TAB_SAMPLES'|translate}}" [disabled]="isNewData">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="flag"></ion-icon>
        </mat-icon>
        <ion-label translate>LANDING.TAB_SAMPLES</ion-label>
        <ion-icon slot="end" name="alert" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <div no-padding>

        <!-- error -->
        <ion-item *ngIf="samplesTable.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="samplesTable.error|translate"></ion-label>
        </ion-item>

        <app-sample-auction-control-table #samplesTable
                                          [program]="programSubject|async"
                                          [showLabelColumn]="true"
                                          [showDateTimeColumn]="false"
                                          [showTaxonNameColumn]="false"
                                          [showTaxonGroupColumn]="false"
                                          [defaultSampleDate]="data?.dateTime"
                                          [usageMode]="usageMode"
                                          [debug]="debug"></app-sample-auction-control-table>

      </div>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>
