<app-toolbar [title]="title|translate"
             color="primary"
             [canGoBack]="false">

  <ion-buttons slot="end">

    <ng-container *ngIf="!selection.hasValue(); else hasSelection">

      <!-- Add -->
      <button mat-icon-button
              *ngIf="canEdit && !mobile"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Refresh -->
      <button mat-icon-button *ngIf="!mobile"
              [title]="'COMMON.BTN_REFRESH'|translate"
              (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- reset filter -->
      <button mat-icon-button (click)="resetFilter()"
              *ngIf="filterCriteriaCount">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <!-- show filter -->
      <button mat-icon-button (click)="filterExpansionPanel.toggle()">
        <mat-icon *ngIf="filterCriteriaCount; else emptyFilter"
                  [matBadge]="filterCriteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>
    </ng-container>

    <!-- if row selection -->
    <ng-template #hasSelection>

      <!-- delete -->
      <button mat-icon-button
              *ngIf="canEdit" [title]="'COMMON.BTN_DELETE'|translate"
              (click)="deleteSelection($event)" >
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

    <!-- entity selector -->
    <ion-button *ngIf="$selectedEntity | async as entity" fill="solid" color="accent"
                [class.cdk-visually-hidden]="!canSelectEntity"
                [matMenuTriggerFor]="selectEntityMenu">
      <ion-label>{{entity.label}}</ion-label>
      <mat-icon slot="end">arrow_drop_down</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- change entity menu  -->
<mat-menu #selectEntityMenu="matMenu" xPosition="after">
  <button mat-menu-item
          *ngFor="let item of $entities | async"
          (click)="applyEntityName(item.id)">
    <ion-label>{{item.label}}</ion-label>
  </button>
</mat-menu>


<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- Display columns -->
  <button mat-menu-item
          (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- Compact mode -->
  <button mat-menu-item
          (click)="toggleCompactMode()">
    <mat-icon *ngIf="compact; else notCompactIcon">check_box</mat-icon>
    <ng-template #notCompactIcon>
      <mat-icon >check_box_outline_blank</mat-icon>
    </ng-template>
    <ion-label translate>COMMON.BTN_COMPACT_ROWS</ion-label>
  </button>

</mat-menu>

<ion-content class="ion-no-padding" scroll-y="false">

  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- error -->
  <ion-item *ngIf="mobile && error" lines="none" @slideUpDownAnimation>
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="filter-panel">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="applyFilterAndClosePanel($event)">

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- search text -->
            <mat-form-field>
              <ion-icon matPrefix name="search"></ion-icon>
              <input matInput
                     formControlName="searchText"
                     autocomplete="off"
                     [placeholder]="'REFERENTIAL.LIST.FILTER.SEARCH_TEXT'|translate"
                     (keyup.enter)="applyFilterAndClosePanel($event)">
              <button mat-icon-button matSuffix tabindex="-1"
                      type="button"
                      (click)="clearControlValue($event, filterForm.controls.searchText)"
                      [hidden]="filterForm.controls.searchText.disabled || !filterForm.controls.searchText.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-lg="6" [class.cdk-visually-hidden]="!showLevelColumn">
            <!-- level -->
            <mat-autocomplete-field formControlName="level"
                                    [placeholder]="(i18nLevelName || 'REFERENTIAL.LEVEL')|translate"
                                    [config]="autocompleteFields.level"
                                    [clearable]="true"
                                    [mobile]="mobile"
                                    (keyup.enter)="applyFilterAndClosePanel($event)">
              <ion-icon matPrefix name="speedometer-outline"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <!-- status -->
            <mat-form-field>
              <mat-select formControlName="statusId" [placeholder]="'REFERENTIAL.STATUS'|translate" >
                <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
                <mat-option *ngFor="let item of statusList" [value]="item.id">
                  <ion-icon [name]="item.icon"></ion-icon>
                  {{ item.label |translate }}
                </mat-option>
              </mat-select>

              <button mat-icon-button matSuffix tabindex="-1"
                      type="button"
                      (click)="clearControlValue($event, filterForm.controls.statusId)"
                      [hidden]="filterForm.controls.statusId.disabled || !filterForm.controls.statusId.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty"
                 [color]="empty && 'danger'"
                 class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (totalRowCount |
          numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="filterExpansionPanel.close()"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="filterForm.dirty ? 'tertiary' : 'dark'"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="applyFilterAndClosePanel($event)">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- table -->
  <div class="table-container">
    <table #table mat-table matSort matSortDisableClear
           [class.compact]="compact"
           [dataSource]="dataSource"
           [matSortActive]="defaultSortBy"
           [matSortDirection]="defaultSortDirection"
           [trackBy]="trackByFn">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label>#</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.currentData?.id }}</td>
      </ng-container>

      <!-- Label column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>REFERENTIAL.LABEL</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="never">
            <input matInput [formControl]="row.validator.controls['label']" [placeholder]="'REFERENTIAL.LABEL'|translate"
              [appAutofocus]="row.id == -1 && row.editing" [readonly]="!row.editing">
            <mat-error *ngIf="row.validator.controls['label'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Name column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>REFERENTIAL.NAME</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
          <mat-form-field floatLabel="never">
            <input matInput [formControl]="row.validator.controls['name']" [placeholder]="'REFERENTIAL.NAME'|translate"
              [readonly]="!row.editing">
            <mat-error *ngIf="row.validator.controls['name'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Level column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!showLevelColumn">
          <ion-label translate>REFERENTIAL.LEVEL</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing" [class.cdk-visually-hidden]="!showLevelColumn">
          <mat-form-field floatLabel="never">
            <mat-select [formControl]="row.validator.controls['levelId']" [placeholder]="i18nLevelName|translate">
              <mat-option *ngFor="let level of $levels | async" [value]="level.id">{{ level.label }} - {{ level.name
                }}</mat-option>
            </mat-select>
            <mat-error *ngIf="row.validator.controls['levelId'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Status column  -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>REFERENTIAL.STATUS</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
          <mat-form-field floatLabel="never">
            <ion-icon matPrefix *ngIf="row.validator.controls.statusId.value &gt;=0" [name]="statusById[row.validator.controls.statusId.value]?.icon"></ion-icon>

            <mat-select [formControl]="row.validator.controls.statusId" [placeholder]="'REFERENTIAL.STATUS'|translate">
              <mat-select-trigger>
                <span *ngIf="row.validator.controls.statusId.value &gt;=0">
                  {{ statusById[row.validator.controls.statusId.value]?.label | translate}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let item of statusList" [value]="item.id">
                <ion-icon [name]="item.icon"></ion-icon>
                {{ item.label |translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="row.validator.controls.statusId.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Creation date column -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>REFERENTIAL.CREATION_DATE</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" class="mat-form-field-disabled">
          <ion-text class="ion-text-end" color="medium" *ngIf="row.id!==-1">
            <ion-icon name="calendar-outline"></ion-icon> {{ row.currentData.creationDate | dateFormat: {time: true} }}
          </ion-text>
        </td>
      </ng-container>

      <!-- Update date column -->
      <ng-container matColumnDef="updateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>REFERENTIAL.UPDATE_DATE</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" class="mat-form-field-disabled">
          <ion-text class="ion-text-end" color="medium" *ngIf="row.id!==-1">
            <ion-icon name="time-outline"></ion-icon> {{ row.currentData.updateDate | dateFormat: {time: true} }}
          </ion-text>
        </td>
      </ng-container>

      <!-- Comment column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>REFERENTIAL.COMMENTS</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="never" *ngIf="row.editing; else iconComment">
            <textarea matInput [formControl]="row.validator.controls.comments"
                   [placeholder]="'REFERENTIAL.COMMENTS'|translate"
                   [readonly]="!row.editing"></textarea>
          </mat-form-field>

          <ng-template #iconComment>
            <mat-icon class="comment"
                      *ngIf="row.validator.controls.comments.value"
                      [title]="row.validator.controls.comments.value"></mat-icon>
          </ng-template>
        </td>
      </ng-container>

      <!-- Actions buttons column -->
      <app-actions-column [stickyEnd]="stickyEnd">
        <!-- option menu -->
        <button mat-icon-button matHeader
                [title]="'COMMON.BTN_OPTIONS'|translate"
                [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </app-actions-column>

      <ng-container matColumnDef="actions2">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button
                  [title]=" 'COMMON.DISPLAYED_COLUMNS'|translate"
                  (click)="openSelectColumnsModal($event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- undo or delete  -->
          <button mat-icon-button color="light"
                  *ngIf="row.validator?.invalid"
                  [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
                  (click)="cancelOrDelete($event, row)">
            <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
            <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
          </button>
          <!-- validate -->
          <button mat-icon-button color="light" *ngIf="row.validator?.valid && row.id !== -1"
                  [title]="'COMMON.BTN_VALIDATE'|translate"
                  (click)="confirmEditCreate($event, row)">
            <mat-icon>check</mat-icon>
          </button>
          <!-- add -->
          <button mat-icon-button color="light" *ngIf="row.validator?.valid && row.id === -1"
                  [title]="'COMMON.BTN_ADD'|translate"
                  (click)="confirmAndAdd($event, row)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
               [class.mat-row-error]="row.validator.invalid"
               [class.mat-row-disabled]="!row.editing"
               [class.mat-row-dirty]="row.validator.dirty"
               (click)="clickRow($event, row)"></tr>
    </table>

    <ng-container *ngIf="loadingSubject|async; else noResult">
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ng-container>

    <ng-template #noResult>
      <ion-item *ngIf="totalRowCount === 0">
        <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      </ion-item>
    </ng-template>
  </div>

</ion-content>

<ion-footer>
  <!-- Paginator  -->
  <mat-paginator [length]="totalRowCount" [pageSize]="defaultPageSize" [pageSizeOptions]="defaultPageSizeOptions"
                 class="mat-paginator-footer"
                 showFirstLastButtons>
  </mat-paginator>

  <app-form-buttons-bar hidden-xs hidden-sm hidden-mobile
                        *ngIf="canEdit && !canOpenDetail"
                        (onCancel)="onRefresh.emit()"
                        (onSave)="save()"
                        [disabled]="(loadingSubject|async) || !dirty">
    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>
  </app-form-buttons-bar>
</ion-footer>


<ion-fab slot="fixed" vertical="bottom" horizontal="end"
         *ngIf="canEdit && mobile">
  <ion-fab-button color="tertiary" (click)="addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
