<mat-toolbar>
  <button mat-icon-button
          *ngIf="canEdit && !selection.hasValue() && enabled" [title]="'COMMON.BTN_ADD'|translate" (click)="addRow()"
          hidden-xs hidden-sm hidden-mobile>
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button small color="light" *ngIf="canEdit && selection.hasValue() && enabled" [title]="'COMMON.BTN_DELETE'|translate"
          (click)="deleteSelection()">
    <mat-icon>delete</mat-icon>
  </button>

  <!-- refresh (debug only) -->
  <button mat-icon-button small color="light" *ngIf="debug && !selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
    <mat-icon>refresh</mat-icon>
  </button>

  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

  <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- error -->
<ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
  <ion-icon color="danger" slot="start" name="alert"></ion-icon>
  <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
</ion-item>


<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
           matSortDisableClear [trackBy]="trackByFn">

  <ng-container matColumnDef="select">
    <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Id column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.currentData?.id }}</mat-cell>
  </ng-container>

  <!-- Label column -->
  <ng-container matColumnDef="label">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>REFERENTIAL.LABEL</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['label']" [placeholder]="'REFERENTIAL.LABEL'|translate"
               [appAutofocus]="row.id == -1 && row.editing" [readonly]="!row.editing">
        <mat-error *ngIf="row.validator.controls['label'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <span translate>REFERENTIAL.NAME</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls['name']" [placeholder]="'REFERENTIAL.NAME'|translate"
               [readonly]="!row.editing">
        <mat-error *ngIf="row.validator.controls['name'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>
    </mat-cell>
  </ng-container>


  <!-- Description column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>
      <span translate>REFERENTIAL.DESCRIPTION</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <input matInput [formControl]="row.validator.controls.description" [placeholder]="'REFERENTIAL.DESCRIPTION'|translate"
               [readonly]="!row.editing">
        <mat-error *ngIf="row.validator.controls.description.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Status column  -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span translate>REFERENTIAL.STATUS</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never">
        <ion-icon matPrefix *ngIf="row.validator.controls.statusId.value &gt;=0" [name]="statusById[row.validator.controls.statusId.value]?.icon"></ion-icon>

        <mat-select [formControl]="row.validator.controls.statusId" [placeholder]="'REFERENTIAL.STATUS'|translate">
          <mat-select-trigger>
              <span *ngIf="row.validator.controls.statusId.value &gt;=0">
                {{ statusById[row.validator.controls.statusId.value]?.label | translate}}</span>
          </mat-select-trigger>
          <mat-option *ngFor="let item of statusList" [value]="item.id">
            <ion-icon [name]="item.icon"></ion-icon>
            {{ item.label |translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="row.validator.controls.statusId.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Comment column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
      <span translate>REFERENTIAL.COMMENTS</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm" [class.mat-form-field-disabled]="!row.editing">
      <mat-form-field floatLabel="never" *ngIf="row.editing; else iconComment">
        <input matInput [formControl]="row.validator.controls.comments" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
               [readonly]="!row.editing">
      </mat-form-field>

      <ng-template #iconComment>
        <ion-icon color="medium" name="chatbox" *ngIf="row.validator.controls.comments.value" slot="icon-only" [title]="row.validator.controls.comments.value"></ion-icon>
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Actions buttons column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
<!--      <button mat-icon-button small color="light" *ngIf="row.editing && row.id != -1" [title]="'COMMON.BTN_UNDO'|translate"-->
<!--              (click)="cancelOrDelete($event, row)">-->
<!--        <mat-icon>undo</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button small color="light" *ngIf="row.editing && row.id == -1" [title]="'COMMON.BTN_ADD'|translate"-->
<!--              (click)="confirmAndAddRow($event, row)">-->
<!--        <mat-icon>add</mat-icon>-->
<!--      </button>-->

      <!-- undo or delete  -->
      <button mat-icon-button small color="light" *ngIf="row.validator.invalid"
              [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
              (click)="cancelOrDelete($event, row)">
        <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
        <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
      </button>
      <!-- validate -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id !== -1"
              [title]="'COMMON.BTN_VALIDATE'|translate"
              (click)="confirmEditCreate($event, row)">
        <mat-icon>check</mat-icon>
      </button>
      <!-- add -->
      <button mat-icon-button small color="light" *ngIf="row.validator.valid && row.id === -1"
              [title]="'COMMON.BTN_ADD'|translate"
              (click)="confirmAndAddRow($event, row)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.mat-row-error]="row.validator.invalid"
           [class.mat-row-dirty]="row.validator.dirty" [class.mat-row-disabled]="!row.editing" (click)="clickRow($event, row)"></mat-row>

</mat-table>


<!-- Add Button
<ion-fab vertical="bottom" horizontal="end"
         *ngIf="enabled"
         visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>  -->

