.mat-expansion-panel {
  margin-bottom: 5px;

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    ion-label {
      line-height: 36px;
    }
  }
}

.mat-table {
  .mat-column-label {
    min-width: 50px;
    max-width: 150px;
  }

  .mat-column-status {
    max-width: 110px;
  }

  .mat-column-comments {
    max-width: 110px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }
}
