<app-toolbar [title]="'REFERENTIAL.LIST.TITLE'|translate" color="primary">
</app-toolbar>

<!-- change entity menu  -->
<mat-menu #selectEntityMenu="matMenu" xPosition="after">
  <button mat-menu-item
          *ngFor="let item of $entities | async"
          (click)="setEntityName(item.id)">
    <ion-label>{{item.label}}</ion-label>
  </button>
</mat-menu>

<ion-content class="ion-no-padding">

  <mat-toolbar>
    <mat-toolbar-row>

      <ng-container *ngIf="!selection.hasValue(); else hasSelection">
        <ion-button *ngIf="$entity | async as entity" color="secondary" [matMenuTriggerFor]="selectEntityMenu">
          <ion-label>{{entity.label}}</ion-label>
          <mat-icon slot="end">arrow_drop_down</mat-icon>
        </ion-button>

        <button mat-icon-button class="hidden-xs hidden-sm hidden-mobile"
                *ngIf="canEdit"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="addRow()" >
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button small color="light" [title]="'COMMON.BTN_REFRESH'|translate"
          (click)="onRefresh.emit()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button color="{{filterIsEmpty ? '' : 'primary'}}"
                [title]="'COMMON.BTN_FILTER'|translate"
                (click)="filterExpansionPanel.toggle()">
          <mat-icon>filter_list</mat-icon>
          <ion-text *ngIf="!filterIsEmpty">
            <span [innerHTML]="'COMMON.TABLE.FILTERED_PARENTHESIS'|translate"></span></ion-text>
        </button>
      </ng-container>

      <!-- if row selection -->
      <ng-template #hasSelection>

        <!-- delete -->
        <button mat-icon-button
                class="hidden-xs hidden-sm"
                *ngIf="canEdit" [title]="'COMMON.BTN_DELETE'|translate"
                (click)="deleteSelection($event)" >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>

      <div class="toolbar-spacer"></div>

      <button mat-icon-button [title]=" 'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="ion-no-padding">
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">

      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- search text -->
            <mat-form-field>
              <input matInput
                     formControlName="searchText"
                     autocomplete="off"
                     [placeholder]=" 'REFERENTIAL.LIST.FILTER.SEARCH_TEXT'|translate">
              <button mat-icon-button matSuffix tabindex="-1"
                      type="button"
                      (click)="clearControlValue($event, filterForm.controls.searchText)"
                      [hidden]="filterForm.controls.searchText.disabled || !filterForm.controls.searchText.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-lg="6">
            <!-- level -->
            <mat-form-field>
              <mat-select formControlName="levelId" [placeholder]="'REFERENTIAL.LEVEL'|translate" >
                <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
                <mat-option *ngFor="let level of levels | async" [value]="level.id">{{level.label}} - {{level.name}}</mat-option>
              </mat-select>

              <button mat-icon-button matSuffix tabindex="-1"
                      type="button"
                      (click)="clearControlValue($event, filterForm.controls.levelId)"
                      [hidden]="filterForm.controls.levelId.disabled || !filterForm.controls.levelId.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <!-- status -->
            <mat-form-field>
              <mat-select formControlName="statusId" [placeholder]="'REFERENTIAL.STATUS'|translate" >
                <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
                <mat-option *ngFor="let item of statusList" [value]="item.id">
                  <ion-icon [name]="item.icon"></ion-icon>
                  {{ item.label |translate }}
                </mat-option>
              </mat-select>

              <button mat-icon-button matSuffix tabindex="-1"
                      type="button"
                      (click)="clearControlValue($event, filterForm.controls.statusId)"
                      [hidden]="filterForm.controls.statusId.disabled || !filterForm.controls.statusId.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject|async) || filterForm.dirty" [color]="resultsLength === 0 && 'danger'"
                 class="ion-padding">
        {{ (resultsLength ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (resultsLength |
          numberFormat)} }}
      </ion-label>

      <div class="toolbar-spacer"></div>
      <!-- Search button -->
      <ion-button mat-button
                  *ngIf="!mobile"
                  [color]="filterForm.dirty ? 'tertiary' : undefined"
                  [fill]="filterForm.dirty ? 'solid' : 'clear'"
                  (click)="onRefresh.emit()">
        <ion-text translate>COMMON.BTN_SEARCH</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <mat-table #table [dataSource]="dataSource" class="trips-table" matSort matSortActive="label" matSortDirection="asc"
    matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <app-loading-spinner [loading]="loadingSubject|async"><ion-label>#</ion-label></app-loading-spinner>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">{{ row.currentData?.id }}</mat-cell>
    </ng-container>

    <!-- Label column -->
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.LABEL</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['label']" [placeholder]="'REFERENTIAL.LABEL'|translate"
            [appAutofocus]="row.id == -1 && row.editing" [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['label'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.NAME</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['name']" [placeholder]="'REFERENTIAL.NAME'|translate"
            [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['name'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Level column -->
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!showLevelColumn">
        <span translate>REFERENTIAL.LEVEL</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing" [class.cdk-visually-hidden]="!showLevelColumn">
        <mat-form-field floatLabel="never">
          <mat-select [formControl]="row.validator.controls['levelId']" [placeholder]="'REFERENTIAL.LEVEL'|translate">
            <mat-option *ngFor="let level of levels | async" [value]="level.id">{{ level.label }} - {{ level.name
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls['levelId'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Status column  -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.STATUS</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <ion-icon matPrefix *ngIf="row.validator.controls.statusId.value &gt;=0" [name]="statusById[row.validator.controls.statusId.value]?.icon"></ion-icon>

          <mat-select [formControl]="row.validator.controls.statusId" [placeholder]="'REFERENTIAL.STATUS'|translate">
            <mat-select-trigger>
              <span *ngIf="row.validator.controls.statusId.value &gt;=0">
                {{ statusById[row.validator.controls.statusId.value]?.label | translate}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of statusList" [value]="item.id">
              <ion-icon [name]="item.icon"></ion-icon>
              {{ item.label |translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls.statusId.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Creation date column -->
    <ng-container matColumnDef="updateDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.UPDATE_DATE</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-form-field-disabled">
        <ion-text class="ion-text-end" color="dark" *ngIf="row.id!==-1">
          <small [matTooltip]="'REFERENTIAL.CREATION_DATE'|translate">
            <ion-icon name="calendar"></ion-icon> {{row.validator.controls.creationDate.value | dateFormat: {time: true} }}
          </small><br/>
          <small [matTooltip]="'REFERENTIAL.UPDATE_DATE'|translate">
            <ion-icon name="time-outline"></ion-icon> {{row.validator.controls.updateDate.value | dateFormat: {time: true} }}
          </small>
        </ion-text>
      </mat-cell>
    </ng-container>

    <!-- Comment column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
        <span translate>REFERENTIAL.COMMENTS</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never" *ngIf="row.editing; else iconComment">
          <textarea matInput [formControl]="row.validator.controls.comments" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
                 [readonly]="!row.editing">
          </textarea>
        </mat-form-field>

        <ng-template #iconComment>
          <ion-label class="ion-text-center">
            <ion-icon color="medium" name="chatbox"
                      *ngIf="row.validator.controls.comments.value"
                      [title]="row.validator.controls.comments.value"></ion-icon>
          </ion-label>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
        <span></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
        <!-- undo or delete  -->
        <button mat-icon-button color="light"
                *ngIf="row.validator.invalid"
                [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO': 'COMMON.BTN_DELETE')|translate"
                (click)="cancelOrDelete($event, row)">
          <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
          <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
        </button>
        <!-- validate -->
        <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id !== -1"
                [title]="'COMMON.BTN_VALIDATE'|translate"
                (click)="confirmEditCreate($event, row)">
          <mat-icon>check</mat-icon>
        </button>
        <!-- add -->
        <button mat-icon-button color="light" *ngIf="row.validator.valid && row.id === -1"
                [title]="'COMMON.BTN_ADD'|translate"
                (click)="confirmAndAddRow($event, row)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.mat-row-error]="row.validator.invalid"
             [class.mat-row-disabled]="!row.editing"
             [class.mat-row-dirty]="row.validator.dirty"
             (click)="clickRow($event, row)"></mat-row>
  </mat-table>

  <!-- Paginator  -->
  <ion-row class="ion-no-padding">
    <ion-col></ion-col>
    <ion-col class="ion-no-padding" size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="defaultPageSize" [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile *ngIf="canEdit && !canOpenDetail">
  <form-buttons-bar (onCancel)="onRefresh.emit()" (onSave)="save()" [disabled]="(loadingSubject|async) || !dirty">
    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>
  </form-buttons-bar>
</ion-footer>


<ion-fab slot="fixed" vertical="bottom" horizontal="end" visible-xs visible-sm visible-mobile
         *ngIf="canEdit">
  <ion-fab-button color="secondary" (click)="addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
