<app-toolbar [title]="'REFERENTIAL.LIST.TITLE'|translate" color="primary">
</app-toolbar>

<!-- change entity menu  -->
<mat-menu #selectEntityMenu="matMenu" xPosition="after">
  <button mat-menu-item
          *ngFor="let item of $entities | async"
          (click)="setEntityName(item.id)">
    <ion-label>{{item.label}}</ion-label>
  </button>
</mat-menu>

<ion-content no-padding>

  <mat-toolbar>
    <mat-toolbar-row>

      <ion-button *ngIf="$entity | async as entity" color="secondary" [matMenuTriggerFor]="selectEntityMenu">
        <ion-label>{{entity.label}}</ion-label>
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-button>

      <button mat-icon-button *ngIf="canEdit && !selection.hasValue()" [title]="'COMMON.BTN_ADD'|translate"
        (click)="addRow()" class="hidden-xs hidden-sm">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button small color="light" *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_REFRESH'|translate"
        (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!selection.hasValue()" [title]="'COMMON.BTN_FILTER'|translate" (click)="filterExpansionPanel.toggle()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button small color="light" *ngIf="canEdit && selection.hasValue()" [title]="'COMMON.BTN_DELETE'|translate"
        (click)="deleteSelection()" class="hidden-xs hidden-sm">
        <mat-icon>delete</mat-icon>
      </button>

      <!-- <mat-button-toggle value="edit" [title]="'COMMON.BTN_TABLE_EDIT'|translate" (change)="inlineEdition=inlineEditionBtn.checked"
        class="hidden-xs hidden-sm" [disabled]="true" [checked]="true" #inlineEditionBtn>
        <mat-icon>edit</mat-icon>
      </mat-button-toggle> -->

      <!-- error -->
      <ion-item *ngIf="error" hidden-xs hidden-sm lines="none">
        <ion-icon color="danger" slot="start" name="alert"></ion-icon>
        <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
      </ion-item>

      <span class="toolbar-spacer"></span>

      <button mat-icon-button [title]=" 'COMMON.DISPLAYED_COLUMNS'|translate" (click)="openSelectColumnsModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel color="primary">
    <form class="form-container" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()" padding class="no-padding-xs">

      <!-- search text -->
      <mat-form-field>
        <input matInput
               autocomplete="off"
               [placeholder]=" 'REFERENTIAL.LIST.FILTER.SEARCH_TEXT'|translate" formControlName="searchText">
      </mat-form-field>

      <!-- level -->
      <mat-form-field>
        <mat-select formControlName="levelId" [placeholder]=" 'REFERENTIAL.LEVEL'|translate" >
          <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
          <mat-option *ngFor="let level of levels | async" [value]="level.id">{{level.label}} - {{level.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- status -->
      <mat-form-field>
        <mat-select formControlName="statusId" [placeholder]=" 'REFERENTIAL.STATUS'|translate" >
          <mat-option [value]="null"><i><span translate>COMMON.EMPTY_OPTION</span></i></mat-option>
          <mat-option *ngFor="let item of statusList" [value]="item.id">
            <ion-icon [name]="item.icon"></ion-icon>
            {{ item.label |translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button [color]="filterForm.dirty ? 'primary' : undefined" (click)="onRefresh.emit(true)">{{'COMMON.BTN_SEARCH'|translate}}</button>

    </form>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <mat-table #table [dataSource]="dataSource" class="trips-table" matSort matSortActive="label" matSortDirection="asc"
    matSortDisableClear [trackBy]="trackByFn">

    <ng-container matColumnDef="select">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef [class.hidden]="!canEdit">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row" [class.hidden]="!canEdit">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id column -->
    <ng-container matColumnDef="id">
      <mat-header-cell class="hidden-xs hidden-sm" *matHeaderCellDef mat-sort-header>
        <span *ngIf="!loading">#</span>
        <ion-spinner [ngClass]="{ 'center':true}" *ngIf="loading"></ion-spinner>
      </mat-header-cell>
      <mat-cell class="hidden-xs hidden-sm" *matCellDef="let row">{{ row.currentData?.id }}</mat-cell>
    </ng-container>

    <!-- Label column -->
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.LABEL</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['label']" [placeholder]="'REFERENTIAL.LABEL'|translate"
            [appAutofocus]="row.id == -1 && row.editing" [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['label'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>

        <!-- {{row.currentData.label}} -->
      </mat-cell>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <span translate>REFERENTIAL.NAME</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['name']" [placeholder]="'REFERENTIAL.NAME'|translate"
            [readonly]="!row.editing">
          <mat-error *ngIf="row.validator.controls['name'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
        <!-- {{row.currentData.name}} -->
      </mat-cell>
    </ng-container>

    <!-- Level column -->
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!showLevelColumn">
        <span translate>REFERENTIAL.LEVEL</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing" [class.hidden]="!showLevelColumn">
        <mat-form-field floatLabel="never">
          <mat-select [formControl]="row.validator.controls['levelId']" [placeholder]="'REFERENTIAL.LEVEL'|translate">
            <mat-option *ngFor="let level of levels | async" [value]="level.id">{{ level.label }} - {{ level.name
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls['levelId'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Status column  -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>REFERENTIAL.STATUS</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <ion-icon matPrefix *ngIf="row.validator.controls.statusId.value &gt;=0" [name]="statusById[row.validator.controls.statusId.value]?.icon"></ion-icon>

          <mat-select [formControl]="row.validator.controls.statusId" [placeholder]="'REFERENTIAL.STATUS'|translate">
            <mat-select-trigger>
              <span *ngIf="row.validator.controls.statusId.value &gt;=0">
                {{ statusById[row.validator.controls.statusId.value]?.label | translate}}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of statusList" [value]="item.id">
              <ion-icon [name]="item.icon"></ion-icon>
              {{ item.label |translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="row.validator.controls.statusId.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Comment column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef class="hidden-xs hidden-sm">
        <span translate>REFERENTIAL.COMMENTS</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="hidden-xs hidden-sm" [class.mat-form-field-disabled]="!row.editing">
        <mat-form-field floatLabel="never">
          <input matInput [formControl]="row.validator.controls['comments']" [placeholder]="'REFERENTIAL.COMMENTS'|translate"
            [readonly]="!row.editing">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]="!inlineEdition">
        <span></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!inlineEdition">
        <button mat-icon-button small color="light" *ngIf="row.editing && row.id != -1" [title]="'COMMON.BTN_UNDO'|translate"
          (click)="cancelOrDelete($event, row)">
          <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button small color="light" *ngIf="row.editing && row.id == -1" [title]="'COMMON.BTN_ADD'|translate"
          (click)="confirmAndAddRow($event, row)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.mat-row-error]="row.validator.invalid"
             [class.mat-row-disabled]="!row.editing"
             [class.mat-row-dirty]="row.validator.dirty"
             (click)="clickRow($event, row)"></mat-row>
  </mat-table>

  <!-- Paginator  -->
  <ion-row no-padding>
    <ion-col></ion-col>
    <ion-col no-padding size="auto">
      <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer hidden-xs hidden-sm *ngIf="canEdit">
  <form-buttons-bar (onCancel)="onRefresh.emit()" (onSave)="save()" [disabled]="loading || !dirty"></form-buttons-bar>
</ion-footer>


<ion-fab vertical="bottom" horizontal="end" visible-xs visible-sm *ngIf="canEdit">
  <ion-fab-button color="secondary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
