<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %5p %m%n"/>
    </Console>
    <RollingFileAppender name="file" fileName="${sumaris.log.file}">
      <PatternLayout pattern="%d{ISO8601} %5p (%c:%L) - %m%n"/>
    </RollingFileAppender>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="debug">
      <AppenderRef ref="STDOUT"/>
    </Logger>

    <Logger name="net.sumaris" level="info"/>

    <Logger name="org.springframework" level="warn"/>
    <Logger name="org.nuiton" level="warn"/>
    <Logger name="org.nuiton.i18n" level="error"/>
    <Logger name="net.sf.ehcache" level="warn"/>
    <Logger name="net.sf.ehcache.hibernate" level="info"/>
    <Logger name="org.hibernate" level="warn"/>
    <Logger name="org.hibernate.SQL" level="debug"/>
    <Logger name="org.hibernate.spatial" level="warn"/>
    <Logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="error"/>
    <Logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="error"/>
    <Logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog" level="error"/>
    <Logger name="org.reflections.Reflections" level="warn"/>
    <Logger name="org.jboss.logging" level="warn"/>
    <Logger name="hsqldb.db" level="warn"/>
    <Logger name="org.apache.commons.beanutils" level="warn"/>
    <Logger name="liquibase" level="warn"/>
    <Logger name="liquibase-hibernate" level="warn"/>

    <Root level="info">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>
