
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Material components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-divider>Shared Material components</ion-item-divider>

    <ion-item tappable class="text-1x" (click)="openPage('./datetime')">
      Date/Time field
    </ion-item>
    <ion-item tappable class="text-1x" (click)="openPage('./autocomplete')">
      Autocomplete field
    </ion-item>
    <ion-item tappable class="text-1x" (click)="openPage('./latlong')">
      Lat/Long field
    </ion-item>
<!--    <ion-item tappable class="text-1x" (click)="openPage('./numpad')">-->
<!--      Numeric pad component-->
<!--    </ion-item>-->
    <ion-item tappable class="text-1x" (click)="openPage('./swipe')">
      Swipe component
    </ion-item>

    <ng-container *ngIf="pages && pages.length">
      <ion-item-divider>Other components</ion-item-divider>

      <ion-item *ngFor="let item of pages"
                tappable class="text-1x"
                (click)="openPage(item.page)">{{item.label}}</ion-item>

    </ng-container>
  </ion-list>

</ion-content>
