<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid>

    <!-- Exterior marking -->
    <ion-row>
      <ion-col>
        <mat-form-field>
          <input matInput [placeholder]="'VESSEL.EXTERIOR_MARKING'|translate" formControlName="exteriorMarking"
            autocomplete="off" required>
          <mat-error *ngIf="form.controls['exteriorMarking'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
      <ion-col size="auto">
        <mat-date-time [placeholder]="'VESSEL.START_DATE'|translate" formControlName="startDate" [displayTime]="false"
          [required]="true">
        </mat-date-time>
      </ion-col>
    </ion-row>

    <!-- Name -->
    <ion-row>
      <ion-col>
        <mat-form-field>
          <input matInput [placeholder]="'VESSEL.NAME'|translate" formControlName="name" required autocomplete="off">
          <mat-error *ngIf="form.controls['name'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- Base port location -->
    <ion-row>
      <ion-col>
        <mat-form-field>
          <ion-icon name="pin" matPrefix></ion-icon>
          <input matInput [placeholder]="'VESSEL.BASE_PORT_LOCATION'|translate" [matAutocomplete]="autoLocation"
            formControlName="basePortLocation" required>
          <mat-error *ngIf="form.controls['basePortLocation'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls['basePortLocation'].hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #autoLocation="matAutocomplete" [displayWith]="referentialToString">
          <ion-row class="mat-autocomplete-header">
            <ion-col size="2" translate>REFERENTIAL.LABEL</ion-col>
            <ion-col translate>REFERENTIAL.NAME</ion-col>
          </ion-row>

          <mat-option *ngFor="let location of $locations | async" [value]="location">
            <ion-row>
              <ion-col size="2" [innerHTML]="location.label | highlight: {search: form.controls['basePortLocation'].value }"></ion-col>
              <ion-col [innerHTML]="location.name | highlight: {search: form.controls['basePortLocation'].value }"></ion-col>
            </ion-row>
          </mat-option>
        </mat-autocomplete>
      </ion-col>
    </ion-row>

    <!-- Features -->
    <ion-row>
      <!-- length over all -->
      <ion-col size="12" size-md="4">
        <mat-form-field>
          <input matInput type="number" step="0.1" min="0" autocomplete="off"  [placeholder]="'VESSEL.LENGTH_OVER_ALL'|translate"
                 formControlName="lengthOverAll" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.controls['lengthOverAll'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls['lengthOverAll'].hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.controls['lengthOverAll'].hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Administrative power -->
      <ion-col size="12" size-md="4">
        <mat-form-field>
          <input matInput type="number" step="1" min="0" autocomplete="off" [placeholder]="'VESSEL.ADMINISTRATIVE_POWER'|translate"
                 formControlName="administrativePower" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.controls['administrativePower'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls['administrativePower'].hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.controls['administrativePower'].hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Gross tonnage (GT) -->
      <ion-col size="12" size-md="4">
        <mat-form-field>
          <input type="number" step="0.1" min="0" autocomplete="off" matInput [placeholder]="'VESSEL.GROSS_TONNAGE_GT'|translate"
                 formControlName="grossTonnageGt" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.controls['grossTonnageGt'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls['grossTonnageGt'].hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.controls['grossTonnageGt'].hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>

      <!-- Gross tonnage (GRT)
      <ion-col size="12" size-md="4" hidden>
        <mat-form-field>
          <input type="number" step="0.1" min="0" autocomplete="off" matInput [placeholder]="'VESSEL.GROSS_TONNAGE_GRT'|translate"
                 formControlName="grossTonnageGrt" (keypress)="filterNumberInput($event, true)">
          <mat-error *ngIf="form.controls['grossTonnageGrt'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls['grossTonnageGrt'].hasError('pattern')">
            {{ 'ERROR.FIELD_MAXIMUM_DECIMALS'| translate:{max: 2} }}</mat-error>
          <mat-error *ngIf="form.controls['grossTonnageGrt'].hasError('min')">
            {{ 'ERROR.FIELD_MIN'| translate:{min: 0} }}</mat-error>
        </mat-form-field>
      </ion-col>-->
    </ion-row>

    <!-- Comments -->
    <ion-row>
      <ion-col>
        <mat-form-field appearance="outline">
          <textarea matInput #comments matTextareaAutosize="true" matAutosizeMinRows="4" maxlength="2000" [placeholder]="'VESSEL.COMMENTS'|translate"
            formControlName="comments">
          </textarea>
          <mat-hint align="end">{{comments.value.length}} / 2000</mat-hint>
          <mat-error *ngIf="form.controls['comments'].hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
