.mat-tab-group {
  height: calc(100%);

  .mat-tab-body-wrapper {
    height: calc(100%);
  }
}

app-vessels-table {
  --table-container-offset: 6px;

  .mat-column-status {
    padding-inline-start: 8px;
  }
}
