.mat-tab-group {
  height: calc(100%);

  .mat-tab-body-wrapper {
    height: calc(100%);
  }
}

app-vessels-table {
  .table-container {
    --table-container-offset: 247px;
    height: calc(100vh - var(--table-container-offset, 0)) !important;

    &.has-offline-nav {
      --table-container-offset: 296px;
      height: calc(100vh - var(--table-container-offset, 0)) !important;
    }
  }
}
