<app-modal-toolbar color="secondary"
                   (cancel)="cancel()"
                   [showSpinner]="loading"
                   [canValidate]="canValidate"
                   (validate)="close($event)">
  <ion-title translate>OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TITLE</ion-title>

  <ion-buttons slot="end">
    <!-- vessel table options -->
    <ng-container *ngIf="selectedTabIndex === 1">
      <!-- reset filter -->
      <button mat-icon-button (click)="vesselsTable.resetFilter()"
              *ngIf="vesselsTable.filterCriteriaCount">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <!-- show filter -->
      <button mat-icon-button (click)="vesselsTable.filterExpansionPanel.toggle()">
        <mat-icon *ngIf="vesselsTable.filterCriteriaCount; else emptyFilter"
                  [matBadge]="vesselsTable.filterCriteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>
    </ng-container>
  </ion-buttons>
</app-modal-toolbar>

<ion-content class="ion-no-padding" scroll-y="false">

  <mat-tab-group #tabGroup
                 [(selectedIndex)]="selectedTabIndex"
                 dynamicHeight="false"
                 class="">

    <!-- TAB: landings -->
    <mat-tab label="{{'OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TAB_LANDINGS'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon matPrefix slot="start">history</mat-icon>
        <ion-label translate>OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TAB_LANDINGS</ion-label>
        <ion-icon slot="start" name="alert-circle" color="danger" *ngIf="landingsTable.error"></ion-icon>
      </ng-template>

      <app-landings-table #landingsTable
                          [showDateTimeColumn]="true"
                          [showVesselTypeColumn]="showVesselTypeColumn"
                          [showBasePortLocationColumn]="showBasePortLocationColumn"
                          [showToolbar]="false"
                          [showIdColumn]="false"
                          [showLocationColumn]="false"
                          [showCreationDateColumn]="false"
                          [showObserversColumn]="false"
                          [canEdit]="false"
                          [canDelete]="false"
                          (onOpenRow)="selectRow($event)"
                          (onNewRow)="close($event)"
      ></app-landings-table>
    </mat-tab>

    <!-- TAB: vessels -->
    <mat-tab label="{{'OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TAB_VESSELS'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="start" name="search"></ion-icon>
        </mat-icon>
        <ion-label translate>OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TAB_VESSELS</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="vesselsTable.error"></ion-icon>
      </ng-template>

      <app-vessels-table #vesselsTable
                         [canEdit]="false"
                         [canDelete]="false"
                         [showToolbar]="false"
                         [showIdColumn]="false"
                         [showVesselTypeColumn]="showVesselTypeColumn"
                         [showBasePortLocationColumn]="showBasePortLocationColumn"
                         [synchronizationStatus]="defaultVesselSynchronizationStatus"
                         (onOpenRow)="selectRow($event)"
                         (onNewRow)="close($event)">
      </app-vessels-table>

    </mat-tab>

    <!-- TAB: create new vessel -->
    <mat-tab label="{{'OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TAB_NEW_VESSEL'|translate}}"
       *ngIf="allowAddNewVessel">
      <ng-template mat-tab-label>
        <ion-icon matPrefix slot="start" name="add-circle-outline"></ion-icon>
        <ion-label translate>OBSERVED_LOCATION.SELECT_VESSEL_MODAL.TAB_NEW_VESSEL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="formVessel.error"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <form-vessel #formVessel>
        </form-vessel>
      </div>

    </mat-tab>
  </mat-tab-group>
</ion-content>


<ion-footer hidden-xs hidden-sm hidden-mobile>

  <ion-toolbar>

    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark"
                    (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button *ngIf="allowMultiple || isNewVessel"
                    [fill]="canValidate ? 'solid' : 'clear'"
                    [disabled]="!canValidate"
                    (click)="close($event)"
                    color="primary">
          <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>
