<ion-header>
    <ion-toolbar>
      <ion-buttons left start>
          <button ion-button class="visible-xs visible-sm" (click)="cancel()">
            {{'COMMON.BTN_CANCEL'|translate}}
          </button>
        </ion-buttons>

      <ion-title>
        {{(!!data?.id ? 'VESSEL.EDIT.TITLE' : 'VESSEL.NEW.TITLE') |translate}}
      </ion-title>      

      <ion-buttons end>
          <ion-spinner *ngIf="loading"></ion-spinner>
    
          <button ion-button icon-only class="visible-xs visible-sm" (click)="onSave($event)" *ngIf="!loading">
            <ion-icon name="checkmark"></ion-icon>
          </button>      
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <mat-error>{{error}}</mat-error>
      <form-vessel #form
        (onSubmit)="onSave($event)" 
        (onCancel)="cancel()" >
      </form-vessel>
  </ion-content>
<mat-dialog-content>

