<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button visible-xs visible-sm (click)="cancel()">
        {{'COMMON.BTN_CANCEL'|translate}}
      </ion-button>
    </ion-buttons>

    <!-- <ion-title>
      {{(!!data?.id ? 'VESSEL.EDIT.TITLE' : 'VESSEL.NEW.TITLE') |translate}}
    </ion-title> -->
    <ion-title translate>VESSEL.NEW.TITLE</ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="loading"></ion-spinner>

      <ion-button visible-xs visible-sm (click)="onSave($event)" *ngIf="!loading">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form-vessel #formVessel (onSubmit)="onSave($event)" (onCancel)="cancel()">
  </form-vessel>
</ion-content>


<ion-footer hidden-xs hidden-sm>
  <form-buttons-bar (onBack)="cancel() " (onCancel)="onReset($event)" (onSave)="onSave($event)" [disabled]="!form.dirty || loading "></form-buttons-bar>
</ion-footer>
