<!-- <ion-col no-padding size="6" *ngFor="let pmfm of $pmfms | async">
  {{pmfm.name}}
</ion-col>-->

<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>>
  </ion-item>

  <!-- pmfms -->
  <ng-container *ngIf="$pmfms | async as pmfms; else measurementsSkeleton">
    <app-pmfm-field *ngFor="let pmfm of pmfms; index as i;"
                    [pmfm]="pmfm"
                    [compact]="compact"
                    [style]="pmfm|pmfmFieldStyle: maxVisibleButtons"
                    [maxVisibleButtons]="maxVisibleButtons"
                    [showButtonIcons]="showButtonIcons"
                    [tabindex]="(tabindex || 0) + i*2"
                    [floatLabel]="floatLabel">
    </app-pmfm-field>
  </ng-container>
</form>


<ng-template #measurementsSkeleton>
  <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
  <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
</ng-template>

<ng-template #measurementSkeleton>
  <mat-form-field>
    <input matInput hidden>
    <ion-skeleton-text [animated]="animated" style="width: 60%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>
