<!-- readonly -->
<mat-form-field *ngIf="readonly">
  <input matInput hidden type="text" readonly="true" [formControl]="formControl">
  <ion-label>{{ displayWith(value) }}</ion-label>
</mat-form-field>

<!-- not touch UI-->
<mat-form-field *ngIf="!readonly && !touchUi" [floatLabel]="floatLabel">

  <input matInput #matInput type="text" [placeholder]="pmfm.name" [formControl]="formControl"
         [matAutocomplete]="autoQualitativeValue"
         (click)="onShowDropdown.next()"
         (keyup.arrowdown)="onShowDropdown.next()"
         (blur)="_onBlur($event)"
         [required]="required"
         [tabindex]="tabindex">

  <button mat-button *ngIf="clearable && formControl.value" matSuffix mat-icon-button (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <button type="button" matSuffix (click)="onShowDropdown.next()" mat-icon-button tabindex="-1" [hidden]="formControl.disabled">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
  <!-- combo -->
  <mat-autocomplete #autoQualitativeValue="matAutocomplete"
                    autoActiveFirstOption
                    [displayWith]="displayWith">
    <ion-row class="mat-autocomplete-header" no-padding>
      <ion-col size="3">
        <ion-label translate>REFERENTIAL.LABEL</ion-label>
      </ion-col>
      <ion-col>
        <ion-label translate>REFERENTIAL.NAME</ion-label>
      </ion-col>
    </ion-row>

    <mat-option *ngFor="let item of items | async" [value]="item" no-padding>
      <ion-row>
        <ion-col size="3" [innerHTML]="item.label | highlight: {search: formControl.value }"></ion-col>
        <ion-col *ngIf="!compact" [innerHTML]="item.name | highlight: {search: formControl.value }"></ion-col>
        <ion-col *ngIf="compact">{{item.name}}</ion-col>
      </ion-row>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<!-- touch UI-->
<mat-form-field *ngIf="!readonly && touchUi" [floatLabel]="floatLabel">

  <mat-select #matSelect [required]="required"
              [placeholder]="pmfm.name"
              [formControl]="formControl"
              (blur)="_onBlur($event)"
              [tabindex]="tabindex">
    <mat-select-trigger>{{ displayWith(value) }}</mat-select-trigger>

    <!-- header -->
    <ion-row class="mat-select-header" no-padding>
      <ion-col size="3">
        <ion-label translate>REFERENTIAL.LABEL</ion-label>
      </ion-col>
      <ion-col>
        <ion-label translate>REFERENTIAL.NAME</ion-label>
      </ion-col>
    </ion-row>

    <!-- None option -->
    <mat-option *ngIf="!required" no-padding>
      <ion-row no-padding>
        <ion-col *ngIf="compact" size="3"></ion-col>
        <ion-col *ngIf="!compact" size="3" size-lg="2"></ion-col>
        <ion-col no-padding><ion-label><i translate>COMMON.EMPTY_OPTION</i></ion-label></ion-col>
      </ion-row>
    </mat-option>

    <!-- options -->
    <mat-option *ngFor="let item of pmfm.qualitativeValues" [value]="item" no-padding>
      <ion-row no-padding>
        <ion-col *ngIf="compact" size="3">{{item.label}}</ion-col>
        <ion-col *ngIf="!compact" size="3" size-lg="2">{{item.label}}</ion-col>
        <ion-col><ion-label>{{item.name}}</ion-label></ion-col>
      </ion-row>
    </mat-option>
  </mat-select>

  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
</mat-form-field>

