<mat-form-field *ngIf="!readonly && formControl" [floatLabel]="floatLabel">

  <input matInput type="text" [placeholder]="pmfm.name" [formControl]="formControl" [matAutocomplete]="autoQualitativeValue"
    (blur)="_onBlur($event)" [required]="pmfm.isMandatory" (ngModelChange)="onValueChange.next($event)">
  <button mat-button *ngIf="clearable && formControl.value" matSuffix mat-icon-button (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="formControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
  <mat-error *ngIf="formControl.hasError('entity')" translate>ERROR.FIELD_INVALID</mat-error>
  <!-- combo -->
  <mat-autocomplete autoActiveFirstOption #autoQualitativeValue="matAutocomplete" [displayWith]="displayWithFn">
    <ion-row class="mat-autocomplete-header">
      <ion-col size="3">
        <ion-text translate>REFERENTIAL.LABEL</ion-text>
      </ion-col>
      <ion-col>
        <ion-text translate>REFERENTIAL.NAME</ion-text>
      </ion-col>
    </ion-row>

    <mat-option *ngFor="let item of items | async" [value]="item" no-padding>
      <ion-row>
        <ion-col size="3" [innerHTML]="item.label | highlight: {search: formControl.value }"></ion-col>
        <ion-col [innerHTML]="item.name | highlight: {search: !compact && formControl.value }"></ion-col>
      </ion-row>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
