<!-- <ion-col no-padding size="6" *ngFor="let pmfm of pmfms | async">
  {{pmfm.name}}
</ion-col> -->

<form class="form-container" [formGroup]="form" novalidate (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>>
  </ion-item>

  <ion-spinner *ngIf="loading"></ion-spinner>

  <ng-container *ngFor="let pmfm of pmfms | async">
    <mat-form-field-measurement [pmfm]="pmfm" [formControl]="form.controls[pmfm.id]" *ngIf="form.controls[pmfm.id]"
      [compact]="compact" [floatLabel]="floatLabel"></mat-form-field-measurement>
  </ng-container>
</form>
