<!-- <ion-col no-padding size="6" *ngFor="let pmfm of pmfms | async">
  {{pmfm.name}}
</ion-col> -->

<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm>
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>>
  </ion-item>

<!--  <ion-spinner *ngIf="loading"></ion-spinner>-->

  <!-- loading -->
  <ng-container *ngIf="$loadingControls|async">
    <mat-form-field class="mat-form-field-disabled">
      <input matInput type="text" disabled="true"
             [placeholder]="'TRIP.MEASUREMENT.FEATURE_PLACEHOLDER'|translate:{rankOrder: 1}">
    </mat-form-field>
    <mat-form-field class="mat-form-field-disabled">
      <input matInput type="text" disabled="true"
             [placeholder]="'TRIP.MEASUREMENT.FEATURE_PLACEHOLDER'|translate:{rankOrder: 2}">
    </mat-form-field>
  </ng-container>

  <!-- pmfms -->
  <mat-form-field-measurement *ngFor="let pmfm of $pmfms | async; index as i;"
                              [pmfm]="pmfm"
                              [formControlName]="pmfm.pmfmId.toString()"
                              [compact]="compact"
                              [tabindex]="(tabindex || 0) + i*2"
                              [floatLabel]="floatLabel">
  </mat-form-field-measurement>
</form>
