<app-toolbar [title]="$title | async" color="primary" [hasValidate]="!loading" (onValidate)="save($event)"
             [defaultBackHref]="defaultBackHref" [canGoBack]="true">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <button mat-icon-button [matMenuTriggerFor]="optionsMenu"
          [title]=" 'COMMON.BTN_OPTIONS'|translate">
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <button mat-menu-item (click)="delete($event)">
    <ion-label>
      <mat-icon>delete</mat-icon>&nbsp;
      <span translate>COMMON.BTN_DELETE</span>
    </ion-label>
  </button>
</mat-menu>

<ion-content class="ion-padding">

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding ion-padding-top">
      <ion-col>
        <!-- form -->

        <app-aggregation-type-form #typeForm [showError]="false">

        </app-aggregation-type-form>

      </ion-col>

      <ion-col class="ion-no-padding" size="12" size-xl="3">
        <entity-metadata [value]="data"></entity-metadata>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <form-buttons-bar (onCancel)="cancel() " (onSave)="save($event) " [disabled]="!dirty || loading"
                    [disabledCancel]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

  </form-buttons-bar>
</ion-footer>
