
  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <!-- base form -->
  <app-referential-form #referentialForm
                        [form]="form"
                        [showError]="false"
                        [debug]="debug"
                        (onSubmit)="doSubmit($event)">

    <ion-row>
      <ion-col>
        <mat-form-field floatLabel="never">
          <input matInput hidden>
          <ion-label>&nbsp;</ion-label>

          <!-- checkbox, when compact -->
          <mat-checkbox matPrefix
                        [formControl]="form.controls.isSpatial"
                        labelPosition="after">
            <ion-text translate>EXTRACTION.AGGREGATION.EDIT.IS_SPATIAL</ion-text>
          </mat-checkbox>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- stratum -->
    <ng-container *ngFor="let strataForm of stratumFormArray.controls; let i=index">

      <!-- strata form -->
      <div [formGroup]="strataForm">
        <ion-row >

          <!-- time strata-->
          <ion-col size="2">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.get('timeColumnName')"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.TIME_COLUMN'|translate">
                <mat-option *ngFor="let item of $timeColumns | async" [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <!-- space strata-->
          <ion-col size="2">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.get('spaceColumnName')"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.SPACE_COLUMN'|translate">
                <mat-option *ngFor="let item of $spaceColumns | async" [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <!-- agg strata-->
          <ion-col size="2">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.get('aggColumnName')"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.AGG_COLUMN'|translate">
                <mat-option *ngFor="let item of $aggColumns | async" [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <!-- agg function -->
          <ion-col size="2">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.get('aggFunction')"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.AGG_FUNCTION'|translate">
                <mat-option *ngFor="let item of aggFunctions" [value]="item.value">{{item.name |translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>

          <!-- tech strata-->
          <ion-col size="2">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.get('techColumnName')"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.TECH_COLUMN'|translate">
                <mat-option *ngFor="let item of $techColumns | async" [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center">
            <button mat-icon-button
                    *ngIf="stratumHelper.isLast(i)"
                    (click)="stratumHelper.add()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="stratumHelper.removeAt(i)">
              <mat-icon>close</mat-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ng-container>

  </app-referential-form>
