
  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <!-- base form -->
  <app-referential-form #referentialForm
                        [form]="form"
                        [showError]="false"
                        [debug]="debug"
                        (onSubmit)="doSubmit($event)">

    <ion-row>
      <ion-col>
        <mat-form-field floatLabel="never">
          <input matInput hidden>
          <ion-label>&nbsp;</ion-label>

          <!-- checkbox, when compact -->
          <mat-checkbox matPrefix
                        [formControl]="form.controls.isSpatial"
                        labelPosition="after">
            <ion-text translate>EXTRACTION.AGGREGATION.EDIT.IS_SPATIAL</ion-text>
          </mat-checkbox>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-toolbar>
      <ion-label color="primary" translate>EXTRACTION.AGGREGATION.EDIT.STRATUM</ion-label>
    </ion-toolbar>

    <!-- stratum -->
    <div *ngFor="let strataForm of strataForms; index as i; first as first; last as last; odd as odd"
         class="ion-padding">

      <!-- strata form -->
      <ion-row [formGroup]="strataForm"
               class="strata-row"
               [class.odd]="odd">

          <!-- sheet name -->
          <ion-col size-md="2" size="4">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.controls.sheetName"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.SHEET_NAME'|translate">
                <mat-option *ngFor="let sheetName of $sheetNames | async"
                            [value]="sheetName">{{'EXTRACTION.SHEET.' + sheetName | translate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="strataForm.controls.sheetName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </mat-form-field>
          </ion-col>

          <!-- time strata-->
          <ion-col size-md="1" size="4">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.controls.timeColumnName"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.TIME_COLUMN'|translate">
                <mat-option *ngFor="let item of $timeColumns | async | mapGet: strataForm.controls.sheetName.value"
                            [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="strataForm.controls.timeColumnName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </mat-form-field>
          </ion-col>

          <!-- space strata-->
          <ion-col size-md="2" size="4">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.controls.spatialColumnName"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.SPACE_COLUMN'|translate">
                <mat-option *ngFor="let item of ($spatialColumns | async | mapGet: strataForm.controls.sheetName.value)"
                            [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="strataForm.controls.spatialColumnName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </mat-form-field>
          </ion-col>

          <!-- agg strata-->
          <ion-col size-md="2" size="4">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.controls.aggColumnName"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.AGG_COLUMN'|translate">
                <mat-option *ngFor="let item of ($aggColumns | async | mapGet: strataForm.controls.sheetName.value)"
                            [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="strataForm.controls.aggColumnName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </mat-form-field>
          </ion-col>

          <!-- agg function -->
          <ion-col size-md="2" size="4">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.controls.aggFunction"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.AGG_FUNCTION'|translate">
                <mat-option *ngFor="let item of aggFunctions"
                            [value]="item.value">{{item.name | translate}}</mat-option>
              </mat-select>
              <mat-error *ngIf="strataForm.controls.aggFunction.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </mat-form-field>
          </ion-col>

          <!-- tech strata-->
          <ion-col size-md="2" size="4">
            <mat-form-field>
              <mat-select
                [formControl]="strataForm.controls.techColumnName"
                [placeholder]="'EXTRACTION.AGGREGATION.EDIT.STRATA.TECH_COLUMN'|translate">
                <mat-option *ngFor="let item of ($techColumns | async | mapGet: strataForm.controls.sheetName.value)"
                            [value]="item.columnName">{{item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="strataForm.controls.techColumnName.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size-md="1" size="12" class="ion-align-self-center">

            <button mat-icon-button
                    *ngIf="last"
                    (click)="stratumHelper.add()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="stratumHelper.removeAt(i)">
              <mat-icon>close</mat-icon>
            </button>
          </ion-col>
      </ion-row>
    </div>

  </app-referential-form>
