<app-toolbar [title]="$title | async" color="primary">

  <ion-button mat-button (click)="openSelectTypeModal($event)">
    <ion-label translate>EXTRACTION.MAP.BTN_SELECT_TYPE</ion-label>
    <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
  </ion-button>
    <ion-button mat-icon-button
                *ngIf="canEdit"
                [matMenuTriggerFor]="optionMenu">
      <mat-icon slot="start">more_vert</mat-icon>
    </ion-button>
</app-toolbar>


<!-- options menu -->
<mat-menu #optionMenu="matMenu">
  <button mat-menu-item [routerLink]="'/extraction/aggregation/' + type?.id">
    <mat-icon>edit</mat-icon>
    <ion-label translate>COMMON.BTN_EDIT</ion-label>
  </button>
</mat-menu>

<!-- years menu -->
<mat-menu #yearMenu="matMenu">
  <button mat-menu-item *ngFor="let item of $years | async"
          (click)="setYear(null, item)">
    <ion-label>{{item}}</ion-label>
  </button>
</mat-menu>

<ion-content>

  <!-- -->
  <ion-card color="light" class="bottom-left filter" [class.expanded]="filterExpansionPanel.expanded">
    <ion-card-content class="ion-no-padding">

      <mat-expansion-panel #filterExpansionPanel color="transparent" class="ion-no-padding" [hidden]="!type">
        <mat-expansion-panel-header color="transparent">
          <mat-panel-title>
            <ion-label>
              <!-- animation buttons -->
              <div *ngIf="hasData && !filterExpansionPanel.expanded">

                <div *ngTemplateOutlet="animationButtons"></div>

                <!-- year -->
                <button mat-stroked-button
                        [matMenuTriggerFor]="yearMenu"
                        (click)="$event.stopPropagation()">
                  <ion-text color="medium" translate>EXTRACTION.MAP.YEAR</ion-text>
                  <ion-text>&nbsp;{{year}}</ion-text>
                </button>
              </div>

              <!-- no data or panel expanded -->
              <ion-card-subtitle  padding-left>
                <ion-label *ngIf="filterExpansionPanel.expanded" color="primary100"><span translate>EXTRACTION.FILTER.TITLE</span>&nbsp;</ion-label>
                <ion-label color="danger" *ngIf="!hasData && !form.dirty" translate>COMMON.NO_RESULT</ion-label>
              </ion-card-subtitle>

            </ion-label>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div [hidden]="!filterExpansionPanel.expanded">
          <ng-container *ngIf="type?.sheetNames as sheetNames">
            <nav mat-tab-nav-bar *ngIf="sheetNames.length > 1">
              <a mat-tab-link *ngFor="let item of sheetNames"
                 (click)="setSheetName(item)"
                 [active]="item === sheetName">
                <ion-text>{{getI18nSheetName(item)}}</ion-text>
                <mat-icon *ngIf="hasFilterCriteria(item)">filter_list</mat-icon>
              </a>
            </nav>
          </ng-container>

          <form [formGroup]="form" class="form-container ion-padding">

            <ion-grid *ngIf="form.controls.strata as strataForm">
              <ion-row [formGroup]="strataForm">
                <!-- year -->
                <ion-col size="4" class="ion-no-padding" *ngIf="form.get('year') as yearControl">
                  <mat-form-field>
                    <mat-select [formControl]="yearControl" [placeholder]="'EXTRACTION.MAP.YEAR'|translate">
                      <mat-option *ngFor="let item of $years | async" [value]="item">{{item}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="yearControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
                  </mat-form-field>
                </ion-col>

                <!-- space -->
                <ion-col size="4" class="ion-no-padding" *ngIf="strataForm.get('spaceColumnName') as spaceControl">
                  <mat-form-field>
                    <mat-select [formControl]="spaceControl" [placeholder]="'EXTRACTION.MAP.SPACE'|translate">
                      <mat-option *ngFor="let column of $spaceColumns | async"
                                  [value]="column.columnName">{{column.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ion-col>

                <!-- agg -->
                <ion-col size="4" class="ion-no-padding" *ngIf="strataForm.get('aggColumnName') as aggControl">
                  <mat-form-field>
                    <mat-select [formControl]="aggControl"
                                [placeholder]="'EXTRACTION.MAP.AGG_VALUE'|translate"
                                required>
                      <mat-option *ngFor="let column of $aggColumns | async"
                                  [value]="column.columnName">{{column.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="aggControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>

                  </mat-form-field>
                </ion-col>

                <!-- tech
                <ion-col no-padding *ngIf="strataForm.get('techColumnName') as techControl">
                  <mat-form-field>
                    <mat-select [formControl]="techControl" [placeholder]="'EXTRACTION.MAP.TECH_VALUE'|translate">
                      <mat-option *ngFor="let column of $techColumns | async"
                                  [value]="column.columnName">{{column.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ion-col>-->
              </ion-row>
            </ion-grid>

            <!-- filter criteria -->
            <app-extraction-criteria-form #criteriaForm
                                          showSheetsTab="false"
                                          [columns]="$criteriaColumns|async"
                                          (onRefresh)="onRefresh.emit($event)">
            </app-extraction-criteria-form>
          </form>
        </div>

        <mat-action-row class="ion-no-padding">
          <!-- animation buttons -->
          <div *ngTemplateOutlet="animationButtons"></div>

          <span class="toolbar-spacer"></span>

          <ion-button mat-button
                      [color]="dirty ? 'tertiary' : undefined"
                      [fill]="dirty ? 'solid' : 'clear'"
                      (click)="onRefresh.emit($event)">
            <ion-text translate>COMMON.BTN_APPLY</ion-text>
          </ion-button>
        </mat-action-row>
      </mat-expansion-panel>

    </ion-card-content>
  </ion-card>

  <!-- Bottom right cards -->
  <ion-grid class="bottom-right">

    <ion-row>
      <ion-col></ion-col>

      <ion-col class="ion-align-self-end">

        <!-- Details card -->
        <ion-card color="light" class="details ng-hide" *ngIf="$details | async as details" [@fadeInOutAnimation]>

          <ion-card-header *ngIf="details.title">
            <ion-card-subtitle [innerHTML]="details.title"></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>
              <ng-container *ngFor="let item of details.properties">
                <ion-text color="primary100">{{item.name}}</ion-text>
                <ion-text>:&nbsp;</ion-text>
                <ion-text color="dark"><b>{{item.value}}</b></ion-text>
                <br/>
              </ng-container>
            </p>
          </ion-card-content>
        </ion-card>

        <!-- global stats -->
        <ion-card color="light" *ngIf="$stats | async as stats" @fadeInAnimation>
          <ion-card-header>
            <ion-card-subtitle><span translate>EXTRACTION.MAP.STATS</span></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <p>
              <ng-container *ngFor="let item of stats.properties">
                <ion-text color="primary100">{{getI18nColumnName(item.name)}}</ion-text>
                <ion-text>:&nbsp;</ion-text>
                <ion-text>{{item.value}}</ion-text>
                <br/>
              </ng-container>
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="auto" class="ion-no-padding ion-align-self-end">

        <!-- Legend card -->
        <ion-card color="light" class="legend" *ngIf="showLegend" @fadeInAnimation>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-label>
                <span translate>EXTRACTION.MAP.LEGEND</span>
                <div hidden-xs hidden-sm *ngIf="!showLegendForm">
                  <ion-icon mat-icon-button (click)="openLegendForm($event)" name="create"></ion-icon>
                </div>
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-row *ngFor="let item of $legendItems | async">
              <ion-col class="ion-no-padding" style="max-width: 10px !important;"
                       [ngStyle]="{'background-color': item.color}">
              </ion-col>
              <ion-col size="auto">
                <ion-label nowrap>{{item.label}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- Legend edition form -->
    <ion-row>
      <ion-col>
        <ion-card color="light" *ngIf="showLegendForm" @fadeInAnimation class="legend-form">

          <ion-card-header>
            <ion-card-subtitle>
              <ion-label translate>EXTRACTION.MAP.LEGEND_FORM.TITLE</ion-label>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <form [formGroup]="legendForm" class="form-container">
              <ion-grid>

                <!-- Min -->
                <ion-row>
                  <ion-col size="4">
                    <ion-label float-end translate>EXTRACTION.MAP.LEGEND_FORM.MIN</ion-label>
                  </ion-col>
                  <ion-col class="rgb">
                    <mat-form-field>

                      <ion-icon margin-right name="color-fill" matPrefix></ion-icon>

                      <input matInput autocomplete="off"
                             formControlName="startColor"
                             [style.color]="'transparent'"
                             [style.background]="legendStartColor"
                             [(colorPicker)]="legendStartColor"
                             [cpPosition]="'top'"
                             [cpSaveClickOutside]="true"
                             [cpOutputFormat]="'rgba'"
                             [cpOKButton]="true"
                             [cpOKButtonText]="'COMMON.BTN_VALIDATE'|translate"
                             required/>
                      <mat-error *ngIf="legendForm.get('startColor').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="4">
                    <mat-form-field>
                      <ion-icon margin-right name="code" matPrefix></ion-icon>
                      <input matInput type="number"
                             autocomplete="off"
                             min="0"
                             placeholder="Min"
                             step="1"
                             formControlName="min"
                      >
                      <mat-error *ngIf="legendForm.get('min').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>

                <!-- max -->
                <ion-row>
                  <ion-col size="4">
                    <ion-label float-end translate>EXTRACTION.MAP.LEGEND_FORM.MAX</ion-label>
                  </ion-col>
                  <ion-col class="rgb">
                    <mat-form-field>
                      <ion-icon margin-right name="color-fill" matPrefix></ion-icon>
                      <input matInput autocomplete="off"
                             formControlName="endColor"
                             [style.color]="'transparent'"
                             [style.background]="legendEndColor"
                             [(colorPicker)]="legendEndColor"
                             [cpPosition]="'top'"
                             [cpSaveClickOutside]="true"
                             [cpOutputFormat]="'rgba'"
                             required/>
                      <mat-error *ngIf="legendForm.get('endColor').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="4">
                    <mat-form-field>
                      <ion-icon margin-right name="code" matPrefix></ion-icon>
                      <input matInput type="number"
                             autocomplete="off"
                             min="0"
                             placeholder="Max"
                             step="1"
                             formControlName="max">
                      <mat-error *ngIf="legendForm.get('max').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <mat-action-row class="ion-no-padding">
                <button mat-button (click)="cancelLegendForm($event)"><span translate>COMMON.BTN_CANCEL</span></button>
                <button mat-button (click)="applyLegendForm($event)"><span translate>COMMON.BTN_APPLY</span></button>
              </mat-action-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


  <!-- Leaflet map -->
  <div *ngIf="ready"
       leaflet
       (leafletMapReady)="onMapReady($event)"
       [leafletOptions]="options"
       [leafletLayersControl]="layersControl">

    <div *ngFor="let layer of $layers | async" [leafletLayer]="layer"></div>
  </div>


</ion-content>

<ng-template #animationButtons>
  <ng-container *ngIf="$years|async as years">
    <!-- play button -->
    <button mat-icon-button
            *ngIf="!animation && years.length > 1"
            (click)="toggleAnimation($event)"
            [title]="'EXTRACTION.MAP.BTN_ANIMATION_PLAY'|translate">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <!-- pause button -->
    <button mat-icon-button
            *ngIf="animation"
            (click)="toggleAnimation($event)"
            [title]="'EXTRACTION.MAP.BTN_ANIMATION_PAUSE'|translate">
      <mat-icon>pause</mat-icon>
    </button>
  </ng-container>
</ng-template>
