<app-toolbar [title]="$title | async" color="primary">

  <!--  <div slot="start">-->
  <!--    <ion-button mat-button (click)="openSelectTypeModal($event)">-->
  <!--      <ion-icon slot="start" name="create"></ion-icon>-->
  <!--      <ion-label translate>EXTRACTION.MAP.BTN_EDIT</ion-label>-->
  <!--    </ion-button>-->
  <!--  </div>-->

  <ion-button mat-button (click)="openSelectTypeModal($event)">
    <ion-label translate>EXTRACTION.MAP.BTN_SELECT_TYPE</ion-label>
    <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
  </ion-button>
  <!--  <ion-button mat-icon-button [matMenuTriggerFor]="optionmenu">-->
  <!--    <mat-icon slot="start">more_vert</mat-icon>-->
  <!--  </ion-button>-->
</app-toolbar>


<!-- options menu
<mat-menu #optionmenu="matMenu">
  <button mat-menu-item (click)="openSelectTypeModal($event)">
    <ion-label translate>EXTRACTION.MAP.BTN_SELECT_TYPE</ion-label>
  </button>
</mat-menu>-->

<ion-content>

  <!-- -->
  <ion-card color="light" class="bottom-left filter">
    <ion-card-content no-padding>

      <mat-expansion-panel #filterExpansionPanel color="transparent" no-padding>
        <mat-expansion-panel-header no-padding color="transparent">
          <mat-panel-title>
            <ion-label>
              <ion-card-title>

                <ion-label [hidden]="!hasData || filterExpansionPanel.expanded">
                  <ion-text color="medium" translate>EXTRACTION.MAP.YEAR</ion-text>&nbsp;

                  <button mat-stroked-button
                          *ngFor="let item of $quickYears | async"
                          [color]="item===year ? 'primary' : ''"
                          (click)="setYear($event, item)">
                    <ion-spinner style="vertical-align: middle;" name="dots"
                                 *ngIf="loading && item === year"></ion-spinner>
                    <span *ngIf="!loading || item !== year">{{item}}</span>
                  </button>

                  <!-- short cut for sheets
                  <ng-template [ngIf]="$sheetNames | async as items" >
                    <ng-template [ngIf]="items.length == 1">
                      <ion-button mat-button *ngFor="let item of items"
                                  (click)="onSheetChange(item)"
                                  [color]="(item === sheetName) ? 'primary' : 'medium'">
                        <ion-label>{{getI18nSheetName(item)}}</ion-label>
                        <mat-icon slot="end" *ngIf="hasFilterCriteria(item)">filter_list</mat-icon>
                      </ion-button>
                    </ng-template>
                  </ng-template>-->
                </ion-label>

                <!-- Loading spinner
                &nbsp;<ion-spinner style="vertical-align: middle;" name="dots" *ngIf="loading" [@fadeInOutAnimation]></ion-spinner>-->

              </ion-card-title>

              <!-- no data -->
              <ion-card-subtitle *ngIf="!loading">
                <ion-label color="danger" *ngIf="!hasData" translate>COMMON.NO_RESULT</ion-label>
                <ion-label *ngIf="hasData && filterExpansionPanel.expanded" translate>EXTRACTION.FILTER.TITLE
                </ion-label>
              </ion-card-subtitle>

            </ion-label>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let item of $sheetNames | async"
               (click)="onSheetChange(item)"
               [active]="item === sheetName">
              <ion-text>{{getI18nSheetName(item)}}</ion-text>
              <mat-icon *ngIf="hasFilterCriteria(item)">filter_list</mat-icon>
            </a>
          </nav>

          <form [formGroup]="form" padding>

            <ion-row no-padding>
              <!-- year -->
              <mat-form-field>
                <mat-select formControlName="year" [placeholder]=" 'EXTRACTION.MAP.YEAR'|translate">
                  <mat-option *ngFor="let item of $years | async" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>

              <div formGroupName="strata">
                <!-- space -->
                <mat-form-field>
                  <mat-select formControlName="space" [placeholder]=" 'EXTRACTION.MAP.SPACE'|translate">
                    <mat-option *ngFor="let column of $spaceColumns | async" [value]="column.columnName">
                      {{getI18nColumnName(column.name)}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- tech -->
                <mat-form-field>
                  <mat-select formControlName="tech" [placeholder]=" 'EXTRACTION.MAP.AGG_VALUE'|translate">
                    <mat-option *ngFor="let column of $techColumns | async"
                                [value]="column.columnName">{{column.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ion-row>

            <form [formGroup]="form.get('sheets')" (ngSubmit)="onRefresh.emit()"
                  *ngIf="form.get('sheets').get(sheetName) && true">
              <div [formArrayName]="sheetName">
                <ng-container *ngFor="let criterionForm of criteriaForm?.controls; let i=index">
                  <ion-row no-padding [formGroupName]="i">
                    <!-- column name -->
                    <mat-form-field>
                      <mat-select formControlName="name" [placeholder]=" 'EXTRACTION.FILTER.CRITERION_NAME'|translate">
                        <mat-option *ngFor="let column of $columns | async"
                                    [value]="column.columnName">{{column.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- operator -->
                    <mat-form-field class="operator">
                      <mat-select formControlName="operator">
                        <mat-option *ngFor="let operator of operators" [value]="operator.symbol">{{ (operator.name ||
                          operator.symbol) | translate }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- value -->
                    <mat-form-field>
                      <input matInput autocomplete="off"
                             [placeholder]="(criterionForm.controls['operator'].value == 'BETWEEN' && 'EXTRACTION.FILTER.CRITERION_START_VALUE' || 'EXTRACTION.FILTER.CRITERION_VALUE') |translate"
                             formControlName="value">
                    </mat-form-field>

                    <!-- second value (for between operator) -->
                    <mat-form-field *ngIf="criterionForm.controls['operator'].value === 'BETWEEN'">
                      <input matInput autocomplete="off"
                             [placeholder]=" 'EXTRACTION.FILTER.CRITERION_END_VALUE'|translate"
                             formControlName="endValue">
                    </mat-form-field>

                    <button type="button" mat-icon-button color="light" [disabled]="loading"
                            [title]="'COMMON.BTN_DELETE'|translate"
                            (click)="removeFilterCriterion($event, i)">
                      <mat-icon>close</mat-icon>
                    </button>

                    <button type="button" mat-icon-button color="light" [disabled]="loading"
                            *ngIf="i == criteriaForm?.length-1"
                            [title]="'EXTRACTION.FILTER.BTN_ADD_CRITERION'|translate"
                            (click)="addFilterCriterion()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </ion-row>
                </ng-container>
              </div>
            </form>

          </form>
        </div>

        <mat-action-row no-padding>
          <button mat-button
                  (click)="onRefresh.emit($event)"><span translate>COMMON.BTN_APPLY</span></button>
        </mat-action-row>
      </mat-expansion-panel>

    </ion-card-content>
  </ion-card>

  <!-- Bottom right cards -->
  <ion-grid class="bottom-right">

    <ion-row>
      <ion-col></ion-col>

      <ion-col align-self-end>

        <!-- Details card -->
        <ion-card color="light" class="details ng-hide" *ngIf="$details | async as details" [@fadeInOutAnimation]>

          <ion-card-header>
            <ion-card-subtitle [innerHTML]="details.title"></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>
              <ng-container *ngFor="let item of details.properties">
                <ion-text color="primary100">{{item.name}}</ion-text>
                <ion-text>:&nbsp;</ion-text>
                <ion-text color="dark"><b>{{item.value}}</b></ion-text>
                <br/>
              </ng-container>
            </p>
          </ion-card-content>
        </ion-card>

        <!-- global stats -->
        <ion-card color="light" *ngIf="$statsTitle | async" @fadeInAnimation>
          <ion-card-header>
            <ion-card-subtitle><span translate>EXTRACTION.MAP.STATS</span></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content no-padding>
            <p>
              <ng-container *ngFor="let item of $stats | async">
                <ion-text color="primary100">{{getI18nColumnName(item.name)}}</ion-text>
                <ion-text>:&nbsp;</ion-text>
                <ion-text>{{item.value}}</ion-text>
                <br/>
              </ng-container>
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="auto" no-padding align-self-end >

        <!-- Legend card -->
        <ion-card color="light" class="legend" *ngIf="data.total && techStrata" @fadeInAnimation>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-label>
                <span translate>EXTRACTION.MAP.LEGEND</span>
                <div hidden-xs hidden-sm *ngIf="!showLegendForm">
                  <ion-icon mat-icon-button (click)="openLegendForm($event)" name="create"></ion-icon>
                </div>
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-row *ngFor="let item of $legendItems | async">
              <ion-col size="2" [ngStyle]="{'background-color': item.color}"></ion-col>
              <ion-col>
                <ion-label nowrap>{{item.label}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <!-- Legend edition form -->
    <ion-row>
      <ion-col>
        <ion-card color="light" *ngIf="showLegendForm" @fadeInAnimation class="legend-form">

          <ion-card-header>
            <ion-card-subtitle>
              <ion-label translate>EXTRACTION.MAP.LEGEND_FORM.TITLE</ion-label>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content no-padding>
            <form [formGroup]="legendForm" class="form-container">
              <ion-grid>

                <!-- Min -->
                <ion-row>
                  <ion-col size="4">
                    <ion-label float-end translate>EXTRACTION.MAP.LEGEND_FORM.MIN</ion-label>
                  </ion-col>
                  <ion-col class="rgb">
                    <mat-form-field>

                      <ion-icon margin-right name="color-fill" matPrefix></ion-icon>

                      <input matInput autocomplete="off"
                             formControlName="startColor"
                             [style.color]="'transparent'"
                             [style.background]="legendStartColor"
                             [(colorPicker)]="legendStartColor"
                             [cpPosition]="'top'"
                             [cpSaveClickOutside]="true"
                             [cpOutputFormat]="'rgba'"
                             required/>
                      <mat-error *ngIf="legendForm.get('startColor').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="4">
                    <mat-form-field>
                      <ion-icon margin-right name="code" matPrefix></ion-icon>
                      <input matInput type="number"
                             autocomplete="off"
                             min="0"
                             placeholder="Min"
                             step="1"
                             formControlName="min"
                      >
                      <mat-error *ngIf="legendForm.get('min').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>

                <!-- max -->
                <ion-row>
                  <ion-col size="4">
                    <ion-label float-end translate>EXTRACTION.MAP.LEGEND_FORM.MAX</ion-label>
                  </ion-col>
                  <ion-col class="rgb">
                    <mat-form-field>
                      <ion-icon margin-right name="color-fill" matPrefix></ion-icon>
                      <input matInput autocomplete="off"
                             formControlName="endColor"
                             [style.color]="'transparent'"
                             [style.background]="legendEndColor"
                             [(colorPicker)]="legendEndColor"
                             [cpPosition]="'top'"
                             [cpSaveClickOutside]="true"
                             [cpOutputFormat]="'rgba'"
                             required/>
                      <mat-error *ngIf="legendForm.get('endColor').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="4">
                    <mat-form-field>
                      <ion-icon margin-right name="code" matPrefix></ion-icon>
                      <input matInput type="number"
                             autocomplete="off"
                             min="0"
                             placeholder="Max"
                             step="1"
                             formControlName="max">
                      <mat-error *ngIf="legendForm.get('max').hasError('required')" translate>
                        ERROR.FIELD_REQUIRED
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <mat-action-row no-padding>
                <button mat-button (click)="cancelLegendForm($event)"><span translate>COMMON.BTN_CANCEL</span></button>
                <button mat-button (click)="applyLegendForm($event)"><span translate>COMMON.BTN_APPLY</span></button>
              </mat-action-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


  <!-- Leaflet map -->
  <div *ngIf="ready"
       leaflet
       (leafletMapReady)="onMapReady($event)"
       [leafletOptions]="options"
       [leafletLayersControl]="layersControl">

    <div *ngFor="let layer of $layers | async" [leafletLayer]="layer"></div>
  </div>


</ion-content>
