
.mat-toolbar {
  form {
    .mat-form-field {
      min-width: 50px;
      width: 300px;
    }
  }
}

.mat-expansion-panel {
  margin-bottom: 5px;

  mat-action-row {
    height: 46px;

    ion-label {
      line-height: 36px;
    }
  }
}

mat-table  {
  .mat-cell-numeric {
    .ion-text {
      text-align: end;
    }
  }

  .mat-cell-header {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-cell {
    padding-left: 0.5em;
    text-overflow: ellipsis;
  }

  .mat-column-eu_metier_level6 {
    min-width: 120px;
  }

  .mat-cell {
    a {
      color: var(--ion-color-dark) !important;
    }
    a:hover {
      text-decoration: underline;
      text-decoration-color: var(--ion-color-primary) !important;
      color: var(--ion-color-primary) !important;
      cursor: pointer !important;
    }
  }
}
