
div[leaflet] {
  height: 100%;
  padding: 0;
}

.top-left {
  top: 0;
  left: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.top-left,
.bottom-left,
.bottom-right {
  position: absolute;
  z-index: 999;
  ion-card {
    position: relative;
  }
}



.filter {
  margin: 10px;
  z-index: 99999 !important;
  width: 300px;
  max-width: 400px;

  mat-accordion {
    --ion-item-background: var(--ion-color-transparent);
    --ion-item-background-selected: var(--ion-color-secondary100);
    --ion-item-text-color-selected: var(--ion-color-secondary100-contrast);
    --ion-item-icon-color-selected: var(--ion-color-secondary100-contrast);

    --expansion-panel-padding: 0!important;

    ion-item.selected {
      background: var(--ion-item-background-selected) !important;
      --color-hover:  var(--ion-item-background-selected) !important;

      mat-icon,
      ion-icon {
        color: var(--ion-item-icon-color-selected) !important;
        fill: currentColor;
        stroke: currentColor;
      }

      ion-text,
      ion-label {
        color: var(--ion-item-text-color-selected) !important;
      }

      &:hover {
        --color-hover:  var(--ion-item-background-selected) !important;
        --ion-item-icon-color-selected: var(--ion-item-icon-color) !important;
        --ion-item-text-color-selected: var(--ion-item-text-color) !important;
      }
    }

    mat-expansion-panel {
      mat-expansion-panel-header {
        padding-left: var(--ion-padding, 8px);
      }
    }

    .year-container {
      padding: var(--ion-padding);
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 1;

      .mat-stroked-button.selected {
        background-color: var(--ion-item-background-selected);
        color: var(--ion-item-text-color-selected);
      }
    }
  }

  &.expanded {
    max-height: inherit;
    width: 500px;
    max-width: calc(50vw);

    .strata-row {
      padding-top: var(--ion-padding);
      padding-left: var(--ion-padding);

      &.odd {
        background-color: var(--ion-color-light, grey);
      }
    }
  }
}
ion-card.no-margin-end {
  margin-right: unset;
  margin-inline-end: 0;
}

ion-card.chart-container {
  width: 260px;
  height: 213px;


  &.chart-bar {
    width: 360px;
  }

  ion-card-header,
  ion-card-content {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 8px;
    padding-inline-start: 8px;
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
  }

  ion-card-subtitle {

    ion-label {
      cursor: pointer;

      ion-icon,
      mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        vertical-align: text-bottom;
      }
    }

    &:hover {
      color: var(--ion-color-primary);
    }
  }
}

ion-card.legend {

  ion-card-header,
  ion-card-content {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 8px;
    padding-inline-start: 8px;
    -webkit-padding-end: 8px;
    padding-inline-end: 8px;
  }

  ion-card-subtitle {

    ion-label {
      cursor: pointer;

      ion-icon,
      mat-icon {
        visibility: hidden;
        height: 18px;
        width: 18px;
        font-size: 18px;
        vertical-align: text-bottom;
      }

      ion-icon:before,
      mat-icon:before {
        content: ' ';
      }

      &:hover {
        color: var(--ion-color-primary);
        ion-icon,
        mat-icon {
          visibility: visible;
        }
      }
    }

  }


  ion-row {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 20px;
    font-size: 10px;

    ion-col {
      padding-top: 0;
      padding-bottom: 0;

      ion-label {
        text-wrap: inherit;
      }
    }

  }
}

ion-card.legend-form {
  min-width: 320px;

  ion-row {
    max-width: 250px;
  }

  ion-col {
    padding: 0;
  }

  ion-col.rgb {
    max-width: 60px !important;
  }

  ion-col.rgb:has(ion-icon) {
    max-width: 65px !important;
  }
}

ion-grid {
  --ion-grid-padding: 0;
}

ion-card.details {
  width: auto;
  min-width: 250px;

  ion-item {
    background: transparent;
    height: 32px;
    font-size: 12px;

    ion-label {
      margin-top: 0;
    }

    ion-badge {
      font-size: 12px;
    }
  }
}



