<form [formGroup]="form" novalidate (ngSubmit)="doSubmit($event)" class="form-container ion-padding" (keyup.enter)="doSubmit($event)">

  <!-- error -->
  <ion-item lines="none" *ngIf="error && !loading" @slideUpDownAnimation>
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <!-- Username -->
  <mat-form-field>
    <input matInput [appAutofocus]="true" [autofocusDelay]="500"
           [placeholder]="usernamePlaceholder|translate"
           formControlName="username"
           autocomplete="off"
           required>
    <mat-error *ngIf="form.controls.username.hasError('required') && form.controls.username.dirty" translate>ERROR.FIELD_REQUIRED</mat-error>
    <mat-error *ngIf="form.controls.username.hasError('email') && form.controls.username.dirty">
      <span>{{'ERROR.FIELD_NOT_VALID_EMAIL' | translate }}</span>
    </mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field>
    <input matInput [placeholder]="'USER.PASSWORD'|translate"
           formControlName="password"
           autocomplete="section-red new-password"
           [type]="showPwd ? 'text' : 'password'"
           (keyup.enter)="doSubmit($event)"
           required>

    <!-- Show pwd button -->
    <button matSuffix type="button"
            mat-icon-button
            *ngIf="mobile"
            (click)="showPwd = !showPwd"
            tabindex="-1">
      <mat-icon>{{showPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.controls.password.hasError('required') && form.controls.password.touched" translate>ERROR.FIELD_REQUIRED</mat-error>
  </mat-form-field>

  <ng-container *ngIf="canWorkOffline">
    <!-- Force offline (desktop) -->
    <mat-form-field hidden-xs hidden-sm hidden-mobile color="medium">
      <input matInput hidden formControlName="offline" type="text">

      <!-- check box  -->
      <mat-checkbox
        [disabled]="network.offline"
        (change)="form.controls.offline.setValue($event.checked)"
        [checked]="form.controls.offline.value">
        <ion-text color="medium" translate>AUTH.OFFLINE_MODE</ion-text>
      </mat-checkbox>
    </mat-form-field>

    <!-- Force offline (mobile) -->
    <mat-form-field visible-xs visible-sm visible-mobile
                    color="medium">
      <input matInput hidden formControlName="offline" type="text">
      <!-- slide toggle  -->
      <ion-text color="medium" translate>AUTH.OFFLINE_MODE</ion-text>
      <mat-slide-toggle matSuffix
                        [disabled]="network.offline"
                        (change)="form.controls.offline.setValue($event.checked)"
                        [checked]="form.controls.offline.value">
      </mat-slide-toggle>
    </mat-form-field>
  </ng-container>

  <!-- Not register yet ? -->
  <p class="padding" style="text-align: center;">
    <span translate>AUTH.NO_ACCOUNT_QUESTION</span>
    <br />
    <a href="#" (click)="register()">
      <span translate>AUTH.BTN_REGISTER</span>
    </a>
  </p>
</form>
